In [1]:
import numpy as np
import pandas as pd

In [118]:
df = pd.read_pickle('final_data.pkl')

In [5]:
df.head(10)

           country continent  year   population life exp  gdp_cap
index
1001   Afghanistan      Asia  1952  8.42533e+06   28.801  779.445
1002   Afghanistan      Asia  1957  9.24093e+06      NaN  820.853
1003   Afghanistan      Asia  1962  1.02671e+07   31.997  853.101
1004   Afghanistan      Asia  1967   1.1538e+07    34.02  836.197
1005   Afghanistan      Asia  1972  1.30795e+07   36.088  739.981
1006   Afghanistan      Asia  1977  1.48804e+07   38.438  786.113
1007   Afghanistan      Asia  1982          NaN   39.854  978.011
1008   Afghanistan      Asia  1987   1.3868e+07   40.822  852.396
1009   Afghanistan      Asia  1992  1.63179e+07   41.674  649.341
1010   Afghanistan      Asia  1997  2.22274e+07   41.763  635.341

In [4]:
df['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [6]:
list(df['continent'].unique())

['Asia', 'Europe', 'Africa', 'Americas', 'Oceania']

In [7]:
df['continent'] == 'Asia'

index
1001     True
1002     True
1003     True
1004     True
1005     True
        ...
2700    False
2701    False
2702    False
2703    False
2704    False
Name: continent, Length: 1704, dtype: bool

In [8]:
asia = df['continent'] == 'Asia'

In [9]:
temp1 = df[asia]

In [10]:
df[df['continent']=='Asia']

           country continent  year   population life exp  gdp_cap
index
1001   Afghanistan      Asia  1952  8.42533e+06   28.801  779.445
1002   Afghanistan      Asia  1957  9.24093e+06      NaN  820.853
1003   Afghanistan      Asia  1962  1.02671e+07   31.997  853.101
1004   Afghanistan      Asia  1967   1.1538e+07    34.02  836.197
1005   Afghanistan      Asia  1972  1.30795e+07   36.088  739.981
...            ...       ...   ...          ...      ...      ...
2676   Yemen, Rep.      Asia  1987     11219340   52.922  1971.74
2677   Yemen, Rep.      Asia  1992     13367997   55.599   1879.5
2678   Yemen, Rep.      Asia  1997     15826497    58.02  2117.48
2679   Yemen, Rep.      Asia  2002     18701257   60.308  2234.82
2680   Yemen, Rep.      Asia  2007     22211743   62.698  2280.77

[396 rows x 6 columns]

In [11]:
temp = df[df['continent']=='Asia']

In [12]:
temp

           country continent  year   population life exp  gdp_cap
index
1001   Afghanistan      Asia  1952  8.42533e+06   28.801  779.445
1002   Afghanistan      Asia  1957  9.24093e+06      NaN  820.853
1003   Afghanistan      Asia  1962  1.02671e+07   31.997  853.101
1004   Afghanistan      Asia  1967   1.1538e+07    34.02  836.197
1005   Afghanistan      Asia  1972  1.30795e+07   36.088  739.981
...            ...       ...   ...          ...      ...      ...
2676   Yemen, Rep.      Asia  1987     11219340   52.922  1971.74
2677   Yemen, Rep.      Asia  1992     13367997   55.599   1879.5
2678   Yemen, Rep.      Asia  1997     15826497    58.02  2117.48
2679   Yemen, Rep.      Asia  2002     18701257   60.308  2234.82
2680   Yemen, Rep.      Asia  2007     22211743   62.698  2280.77

[396 rows x 6 columns]

In [13]:
temp = df[df['year']==2002] #or temp = df[df['year']!=2002] for not equality check

In [14]:
temp

                  country continent  year   population life exp  gdp_cap
index
1011          Afghanistan      Asia  2002  2.52684e+07   42.129  726.734
1023              Albania    Europe  2002  3.50851e+06   75.651  4604.21
1035              Algeria    Africa  2002  3.12871e+07   70.994  5288.04
1047               Angola    Africa  2002  1.08661e+07   41.003  2773.29
1059            Argentina  Americas  2002  3.83311e+07    74.34  8797.64
...                   ...       ...   ...          ...      ...      ...
2655              Vietnam      Asia  2002     80908147   73.017  1764.46
2667   West Bank and Gaza      Asia  2002      3389578    72.37  4515.49
2679          Yemen, Rep.      Asia  2002     18701257   60.308  2234.82
2691               Zambia    Africa  2002     10595811   39.193  1071.61
2703             Zimbabwe    Africa  2002     11926563   39.989  672.039

[142 rows x 6 columns]

In [15]:
temp = df[df['year']==df['year'].max()]

In [16]:
temp

                  country continent  year   population life exp  gdp_cap
index
1012          Afghanistan      Asia  2007  3.18899e+07   43.828   974.58
1024              Albania    Europe  2007  3.60052e+06   76.423  5937.03
1036              Algeria    Africa  2007  3.33332e+07   72.301  6223.37
1048               Angola    Africa  2007  1.24205e+07   42.731  4797.23
1060            Argentina  Americas  2007  4.03019e+07    75.32  12779.4
...                   ...       ...   ...          ...      ...      ...
2656              Vietnam      Asia  2007     85262356   74.249  2441.58
2668   West Bank and Gaza      Asia  2007      4018332   73.422  3025.35
2680          Yemen, Rep.      Asia  2007     22211743   62.698  2280.77
2692               Zambia    Africa  2007     11746035   42.384  1271.21
2704             Zimbabwe    Africa  2007          NaN   43.487  469.709

[142 rows x 6 columns]

In [18]:
temp = df[(df['continent']=='Asia') & (df['year']>1982)]

In [19]:
temp

           country continent  year   population life exp  gdp_cap
index
1008   Afghanistan      Asia  1987   1.3868e+07   40.822  852.396
1009   Afghanistan      Asia  1992  1.63179e+07   41.674  649.341
1010   Afghanistan      Asia  1997  2.22274e+07   41.763  635.341
1011   Afghanistan      Asia  2002  2.52684e+07   42.129  726.734
1012   Afghanistan      Asia  2007  3.18899e+07   43.828   974.58
...            ...       ...   ...          ...      ...      ...
2676   Yemen, Rep.      Asia  1987     11219340   52.922  1971.74
2677   Yemen, Rep.      Asia  1992     13367997   55.599   1879.5
2678   Yemen, Rep.      Asia  1997     15826497    58.02  2117.48
2679   Yemen, Rep.      Asia  2002     18701257   60.308  2234.82
2680   Yemen, Rep.      Asia  2007     22211743   62.698  2280.77

[165 rows x 6 columns]

In [20]:
temp = df[(df['continent']=='Asia') | (df['year']==df['year'].max())]

In [21]:
temp

           country continent  year   population life exp  gdp_cap
index
1001   Afghanistan      Asia  1952  8.42533e+06   28.801  779.445
1002   Afghanistan      Asia  1957  9.24093e+06      NaN  820.853
1003   Afghanistan      Asia  1962  1.02671e+07   31.997  853.101
1004   Afghanistan      Asia  1967   1.1538e+07    34.02  836.197
1005   Afghanistan      Asia  1972  1.30795e+07   36.088  739.981
...            ...       ...   ...          ...      ...      ...
2678   Yemen, Rep.      Asia  1997     15826497    58.02  2117.48
2679   Yemen, Rep.      Asia  2002     18701257   60.308  2234.82
2680   Yemen, Rep.      Asia  2007     22211743   62.698  2280.77
2692        Zambia    Africa  2007     11746035   42.384  1271.21
2704      Zimbabwe    Africa  2007          NaN   43.487  469.709

[505 rows x 6 columns]

In [24]:
temp = df[(df['continent']=='Asia') & (df['life exp']>50)]

In [25]:
temp

           country continent  year population life exp  gdp_cap
index
1085       Bahrain      Asia  1952     120447   50.939  9867.08
1086       Bahrain      Asia  1957     138655   53.832  11635.8
1087       Bahrain      Asia  1962     171863   56.923  12753.3
1088       Bahrain      Asia  1967     202182   59.923  14804.7
1089       Bahrain      Asia  1972     230800     63.3  18268.7
...            ...       ...   ...        ...      ...      ...
2676   Yemen, Rep.      Asia  1987   11219340   52.922  1971.74
2677   Yemen, Rep.      Asia  1992   13367997   55.599   1879.5
2678   Yemen, Rep.      Asia  1997   15826497    58.02  2117.48
2679   Yemen, Rep.      Asia  2002   18701257   60.308  2234.82
2680   Yemen, Rep.      Asia  2007   22211743   62.698  2280.77

[305 rows x 6 columns]

In [26]:
df['continent'].isin(['Asia','Africa'])

index
1001    True
1002    True
1003    True
1004    True
1005    True
        ...
2700    True
2701    True
2702    True
2703    True
2704    True
Name: continent, Length: 1704, dtype: bool

In [27]:
temp = df[df['continent'].isin(['Asia','Africa'])]

In [28]:
temp

           country continent  year   population life exp  gdp_cap
index
1001   Afghanistan      Asia  1952  8.42533e+06   28.801  779.445
1002   Afghanistan      Asia  1957  9.24093e+06      NaN  820.853
1003   Afghanistan      Asia  1962  1.02671e+07   31.997  853.101
1004   Afghanistan      Asia  1967   1.1538e+07    34.02  836.197
1005   Afghanistan      Asia  1972  1.30795e+07   36.088  739.981
...            ...       ...   ...          ...      ...      ...
2700      Zimbabwe    Africa  1987      9216418   62.351  706.157
2701      Zimbabwe    Africa  1992     10704340   60.377  693.421
2702      Zimbabwe    Africa  1997     11404948   46.809   792.45
2703      Zimbabwe    Africa  2002     11926563   39.989  672.039
2704      Zimbabwe    Africa  2007          NaN   43.487  469.709

[1020 rows x 6 columns]

In [29]:
temp = df[~df['continent'].isin(['Asia','Africa'])]

In [30]:
temp

         country continent  year   population life exp  gdp_cap
index
1013     Albania    Europe  1952   1.2827e+06    55.23  1601.06
1014     Albania    Europe  1957  1.47650e+06    59.28  1942.28
1015     Albania    Europe  1962  1.72814e+06    64.82  2312.89
1016     Albania    Europe  1967  1.98406e+06    66.22   2760.2
1017     Albania    Europe  1972  2.26355e+06    67.69  3313.42
...          ...       ...   ...          ...      ...      ...
2640   Venezuela  Americas  1987     17910182    70.19  9883.58
2641   Venezuela  Americas  1992     20265563    71.15  10733.9
2642   Venezuela  Americas  1997     22374398   72.146  10165.5
2643   Venezuela  Americas  2002     24287670   72.766  8605.05
2644   Venezuela  Americas  2007     26084662   73.747  11415.8

[684 rows x 6 columns]

In [31]:
df.sort_values(['year'])

                  country continent  year   population life exp  gdp_cap
index
1001          Afghanistan      Asia  1952  8.42533e+06   28.801  779.445
1529               France    Europe  1952          NaN    67.41  7029.81
1541                Gabon    Africa  1952       420702   37.003  4293.48
2657   West Bank and Gaza      Asia  1952      1030585    43.16  1515.59
1553               Gambia    Africa  1952       284320       30  485.231
...                   ...       ...   ...          ...      ...      ...
2128                Niger    Africa  2007     12894865   56.867  619.677
2140              Nigeria    Africa  2007    135031164   46.859  2013.98
2152               Norway    Europe  2007      4627926   80.196  49357.2
2176             Pakistan      Asia  2007    169270617   65.483  2605.95
2704             Zimbabwe    Africa  2007          NaN   43.487  469.709

[1704 rows x 6 columns]

In [32]:
#?df.sort_values
df.sort_values(['year'],ascending=False)

                 country continent  year   population life exp  gdp_cap
index
2704            Zimbabwe    Africa  2007          NaN   43.487  469.709
1492   Equatorial Guinea    Africa  2007       551201   51.579  12154.1
1516            Ethiopia    Africa  2007  7.65119e+07   52.947  690.806
1528             Finland    Europe  2007  5.23846e+06   79.313  33207.1
1540              France    Europe  2007  6.10839e+07   80.657    30470
...                  ...       ...   ...          ...      ...      ...
2117               Niger    Africa  1952      3379468   37.444  761.879
2129             Nigeria    Africa  1952     33119096   36.324  1077.28
2141              Norway    Europe  1952      3327728    72.67  10095.4
2153                Oman      Asia  1952       507833   37.578  1828.23
1853              Kuwait      Asia  1952       160000   55.565   108382

[1704 rows x 6 columns]

In [33]:
df.sort_values(['population'],ascending=False,inplace=True,na_position='last')

In [34]:
df

                  country continent  year   population life exp  gdp_cap
index
1300                China      Asia  2007  1.31868e+09   72.961  4959.11
1299                China      Asia  2002   1.2804e+09   72.028  3119.28
1298                China      Asia  1997  1.23008e+09   70.426  2289.23
1708                India      Asia  2007   1110396331   64.698  2452.21
1296                China      Asia  1987  1.08404e+09   67.274   1378.9
...                   ...       ...   ...          ...      ...      ...
2630              Uruguay  Americas  1997          NaN   74.223  9230.24
2649              Vietnam      Asia  1972          NaN   50.254  699.502
2666   West Bank and Gaza      Asia  1997          NaN   71.096  7110.67
2682               Zambia    Africa  1957          NaN   44.077  1311.96
2704             Zimbabwe    Africa  2007          NaN   43.487  469.709

[1704 rows x 6 columns]

In [35]:
df.sort_values(['population'],ascending=False,inplace=True,na_position='first')

In [36]:
df

                     country continent  year population life exp  gdp_cap
index
1007             Afghanistan      Asia  1982        NaN   39.854  978.011
1123                   Benin    Africa  1962        NaN   42.618  949.499
1210                 Burundi    Africa  1977        NaN    45.91  556.103
1239                Cameroon    Africa  2002        NaN   49.856  1934.01
1268                    Chad    Africa  1967        NaN   43.601  1196.81
...                      ...       ...   ...        ...      ...      ...
2300   Sao Tome and Principe    Africa  1967      70787   54.425  1384.84
2299   Sao Tome and Principe    Africa  1962      65345   51.893  1071.55
1421                Djibouti    Africa  1952      63149   34.812  2669.53
2298   Sao Tome and Principe    Africa  1957      61325   48.945  860.737
2297   Sao Tome and Principe    Africa  1952      60011   46.471  879.584

[1704 rows x 6 columns]

In [37]:
df = df.sort_values(['year','country'],ascending=[False,True])

In [38]:
df

                  country continent  year   population life exp  gdp_cap
index
1012          Afghanistan      Asia  2007  3.18899e+07   43.828   974.58
1024              Albania    Europe  2007  3.60052e+06   76.423  5937.03
1036              Algeria    Africa  2007  3.33332e+07   72.301  6223.37
1048               Angola    Africa  2007  1.24205e+07   42.731  4797.23
1060            Argentina  Americas  2007  4.03019e+07    75.32  12779.4
...                   ...       ...   ...          ...      ...      ...
2645              Vietnam      Asia  1952     26246839   40.412  605.066
2657   West Bank and Gaza      Asia  1952      1030585    43.16  1515.59
2669          Yemen, Rep.      Asia  1952      4963829   32.548  781.718
2681               Zambia    Africa  1952      2672000   42.038  1147.39
2693             Zimbabwe    Africa  1952      3080907   48.451  406.884

[1704 rows x 6 columns]

In [39]:
#True applied to both the columns in sort_values
df = df.sort_values(['country','year'],ascending=True)

In [40]:
df

           country continent  year   population life exp  gdp_cap
index
1001   Afghanistan      Asia  1952  8.42533e+06   28.801  779.445
1002   Afghanistan      Asia  1957  9.24093e+06      NaN  820.853
1003   Afghanistan      Asia  1962  1.02671e+07   31.997  853.101
1004   Afghanistan      Asia  1967   1.1538e+07    34.02  836.197
1005   Afghanistan      Asia  1972  1.30795e+07   36.088  739.981
...            ...       ...   ...          ...      ...      ...
2700      Zimbabwe    Africa  1987      9216418   62.351  706.157
2701      Zimbabwe    Africa  1992     10704340   60.377  693.421
2702      Zimbabwe    Africa  1997     11404948   46.809   792.45
2703      Zimbabwe    Africa  2002     11926563   39.989  672.039
2704      Zimbabwe    Africa  2007          NaN   43.487  469.709

[1704 rows x 6 columns]

In [41]:
df = df.rename({'population':'pop'},axis=1)

In [42]:
df = df.rename({1001:1000},axis=0)

In [43]:
df

           country continent  year          pop life exp  gdp_cap
index
1000   Afghanistan      Asia  1952  8.42533e+06   28.801  779.445
1002   Afghanistan      Asia  1957  9.24093e+06      NaN  820.853
1003   Afghanistan      Asia  1962  1.02671e+07   31.997  853.101
1004   Afghanistan      Asia  1967   1.1538e+07    34.02  836.197
1005   Afghanistan      Asia  1972  1.30795e+07   36.088  739.981
...            ...       ...   ...          ...      ...      ...
2700      Zimbabwe    Africa  1987      9216418   62.351  706.157
2701      Zimbabwe    Africa  1992     10704340   60.377  693.421
2702      Zimbabwe    Africa  1997     11404948   46.809   792.45
2703      Zimbabwe    Africa  2002     11926563   39.989  672.039
2704      Zimbabwe    Africa  2007          NaN   43.487  469.709

[1704 rows x 6 columns]

In [44]:
df.columns

Index(['country', 'continent', 'year', 'pop', 'life exp', 'gdp_cap'], dtype='object')

In [133]:
df = df.rename({'population':'pop','life exp':'life'},axis=1)

In [46]:
df = df.rename({1001:1000,1002:1001},axis=0)

In [47]:
df

           country continent  year          pop    life  gdp_cap
index
1000   Afghanistan      Asia  1952  8.42533e+06  28.801  779.445
1001   Afghanistan      Asia  1957  9.24093e+06     NaN  820.853
1003   Afghanistan      Asia  1962  1.02671e+07  31.997  853.101
1004   Afghanistan      Asia  1967   1.1538e+07   34.02  836.197
1005   Afghanistan      Asia  1972  1.30795e+07  36.088  739.981
...            ...       ...   ...          ...     ...      ...
2700      Zimbabwe    Africa  1987      9216418  62.351  706.157
2701      Zimbabwe    Africa  1992     10704340  60.377  693.421
2702      Zimbabwe    Africa  1997     11404948  46.809   792.45
2703      Zimbabwe    Africa  2002     11926563  39.989  672.039
2704      Zimbabwe    Africa  2007          NaN  43.487  469.709

[1704 rows x 6 columns]

In [51]:
df.columns = ['country', 'continent', 'year', 'pop', 'life', 'gdp']

In [52]:
df

           country continent  year          pop    life      gdp
index
1000   Afghanistan      Asia  1952  8.42533e+06  28.801  779.445
1001   Afghanistan      Asia  1957  9.24093e+06     NaN  820.853
1003   Afghanistan      Asia  1962  1.02671e+07  31.997  853.101
1004   Afghanistan      Asia  1967   1.1538e+07   34.02  836.197
1005   Afghanistan      Asia  1972  1.30795e+07  36.088  739.981
...            ...       ...   ...          ...     ...      ...
2700      Zimbabwe    Africa  1987      9216418  62.351  706.157
2701      Zimbabwe    Africa  1992     10704340  60.377  693.421
2702      Zimbabwe    Africa  1997     11404948  46.809   792.45
2703      Zimbabwe    Africa  2002     11926563  39.989  672.039
2704      Zimbabwe    Africa  2007          NaN  43.487  469.709

[1704 rows x 6 columns]

In [53]:
df = df[['country', 'year', 'pop', 'life', 'gdp','continent']]

In [54]:
df

           country  year          pop    life      gdp continent
index
1000   Afghanistan  1952  8.42533e+06  28.801  779.445      Asia
1001   Afghanistan  1957  9.24093e+06     NaN  820.853      Asia
1003   Afghanistan  1962  1.02671e+07  31.997  853.101      Asia
1004   Afghanistan  1967   1.1538e+07   34.02  836.197      Asia
1005   Afghanistan  1972  1.30795e+07  36.088  739.981      Asia
...            ...   ...          ...     ...      ...       ...
2700      Zimbabwe  1987      9216418  62.351  706.157    Africa
2701      Zimbabwe  1992     10704340  60.377  693.421    Africa
2702      Zimbabwe  1997     11404948  46.809   792.45    Africa
2703      Zimbabwe  2002     11926563  39.989  672.039    Africa
2704      Zimbabwe  2007          NaN  43.487  469.709    Africa

[1704 rows x 6 columns]

In [55]:
df.isna()

       country   year    pop   life    gdp  continent
index
1000     False  False  False  False  False      False
1001     False  False  False   True  False      False
1003     False  False  False  False  False      False
1004     False  False  False  False  False      False
1005     False  False  False  False  False      False
...        ...    ...    ...    ...    ...        ...
2700     False  False  False  False  False      False
2701     False  False  False  False  False      False
2702     False  False  False  False  False      False
2703     False  False  False  False  False      False
2704     False  False   True  False  False      False

[1704 rows x 6 columns]

In [56]:
df.isna().any()

country      False
year         False
pop           True
life          True
gdp           True
continent    False
dtype: bool

In [57]:
temp = df.dropna(axis=1)

In [58]:
temp

           country  year continent
index
1000   Afghanistan  1952      Asia
1001   Afghanistan  1957      Asia
1003   Afghanistan  1962      Asia
1004   Afghanistan  1967      Asia
1005   Afghanistan  1972      Asia
...            ...   ...       ...
2700      Zimbabwe  1987    Africa
2701      Zimbabwe  1992    Africa
2702      Zimbabwe  1997    Africa
2703      Zimbabwe  2002    Africa
2704      Zimbabwe  2007    Africa

[1704 rows x 3 columns]

In [59]:
temp = df.dropna(axis=0)

In [60]:
temp

           country  year          pop    life      gdp continent
index
1000   Afghanistan  1952  8.42533e+06  28.801  779.445      Asia
1003   Afghanistan  1962  1.02671e+07  31.997  853.101      Asia
1004   Afghanistan  1967   1.1538e+07   34.02  836.197      Asia
1005   Afghanistan  1972  1.30795e+07  36.088  739.981      Asia
1006   Afghanistan  1977  1.48804e+07  38.438  786.113      Asia
...            ...   ...          ...     ...      ...       ...
2699      Zimbabwe  1982      7636524  60.363  788.855    Africa
2700      Zimbabwe  1987      9216418  62.351  706.157    Africa
2701      Zimbabwe  1992     10704340  60.377  693.421    Africa
2702      Zimbabwe  1997     11404948  46.809   792.45    Africa
2703      Zimbabwe  2002     11926563  39.989  672.039    Africa

[1650 rows x 6 columns]

In [61]:
#set a threshold if 2% or more of the data is na then only drop
temp = df.dropna(axis=1,thresh = len(df)*0.98)

In [62]:
temp

           country  year    life      gdp continent
index
1000   Afghanistan  1952  28.801  779.445      Asia
1001   Afghanistan  1957     NaN  820.853      Asia
1003   Afghanistan  1962  31.997  853.101      Asia
1004   Afghanistan  1967   34.02  836.197      Asia
1005   Afghanistan  1972  36.088  739.981      Asia
...            ...   ...     ...      ...       ...
2700      Zimbabwe  1987  62.351  706.157    Africa
2701      Zimbabwe  1992  60.377  693.421    Africa
2702      Zimbabwe  1997  46.809   792.45    Africa
2703      Zimbabwe  2002  39.989  672.039    Africa
2704      Zimbabwe  2007  43.487  469.709    Africa

[1704 rows x 5 columns]

In [63]:
df.count()

country      1704
year         1704
pop          1669
life         1687
gdp          1699
continent    1704
dtype: int64

In [64]:
temp = df.copy()

In [65]:
temp['pop'].fillna(0,inplace=True)

In [68]:
temp.count()

country      1704
year         1704
pop          1704
life         1687
gdp          1699
continent    1704
dtype: int64

In [69]:
temp = df.copy()

In [71]:
#Forward Fill = ffill and backward fill = bfill
temp['pop'].fillna(method='ffill',inplace=True)

In [72]:
temp

           country  year         pop    life      gdp continent
index
1000   Afghanistan  1952   8425333.0  28.801  779.445      Asia
1001   Afghanistan  1957   9240934.0     NaN  820.853      Asia
1003   Afghanistan  1962  10267083.0  31.997  853.101      Asia
1004   Afghanistan  1967  11537966.0   34.02  836.197      Asia
1005   Afghanistan  1972  13079460.0  36.088  739.981      Asia
...            ...   ...         ...     ...      ...       ...
2700      Zimbabwe  1987   9216418.0  62.351  706.157    Africa
2701      Zimbabwe  1992  10704340.0  60.377  693.421    Africa
2702      Zimbabwe  1997  11404948.0  46.809   792.45    Africa
2703      Zimbabwe  2002  11926563.0  39.989  672.039    Africa
2704      Zimbabwe  2007  11926563.0  43.487  469.709    Africa

[1704 rows x 6 columns]

In [73]:
temp = df.copy()

In [74]:
temp.count()

country      1704
year         1704
pop          1669
life         1687
gdp          1699
continent    1704
dtype: int64

In [75]:
temp['gdp'].bfill(inplace=True)

In [76]:
temp.count()

country      1704
year         1704
pop          1669
life         1687
gdp          1704
continent    1704
dtype: int64

In [78]:
df.iterrows()

In [79]:
for index,row in df.iterrows():
    print(row[['gdp']])

gdp    779.445
Name: 1000, dtype: object
gdp    820.853
Name: 1001, dtype: object
gdp    853.101
Name: 1003, dtype: object
gdp    836.197
Name: 1004, dtype: object
gdp    739.981
Name: 1005, dtype: object
gdp    786.113
Name: 1006, dtype: object
gdp    978.011
Name: 1007, dtype: object
gdp    852.396
Name: 1008, dtype: object
gdp    649.341
Name: 1009, dtype: object
gdp    635.341
Name: 1010, dtype: object
gdp    726.734
Name: 1011, dtype: object
gdp    974.58
Name: 1012, dtype: object
gdp    1601.06
Name: 1013, dtype: object
gdp    1942.28
Name: 1014, dtype: object
gdp    2312.89
Name: 1015, dtype: object
gdp    2760.2
Name: 1016, dtype: object
gdp    3313.42
Name: 1017, dtype: object
gdp    3533
Name: 1018, dtype: object
gdp    3630.88
Name: 1019, dtype: object
gdp    3738.93
Name: 1020, dtype: object
gdp    2497.44
Name: 1021, dtype: object
gdp    3193.05
Name: 1022, dtype: object
gdp    4604.21
Name: 1023, dtype: object
gdp    5937.03
Name: 1024, dtype: object
gdp    2449.01
Name: 1025, dtype: object
gdp    3013.98
Name: 1026, dtype: object
gdp    2550.82
Name: 1027, dtype: object
gdp    3246.99
Name: 1028, dtype: object
gdp    4182.66
Name: 1029, dtype: object
gdp    4910.42
Name: 1030, dtype: object
gdp    5745.16
Name: 1031, dtype: object
gdp    5681.36
Name: 1032, dtype: object
gdp    5023.22
Name: 1033, dtype: object
gdp    4797.3
Name: 1034, dtype: object
gdp    5288.04
Name: 1035, dtype: object
gdp    6223.37
Name: 1036, dtype: object
gdp    3520.61
Name: 1037, dtype: object
gdp    3827.94
Name: 1038, dtype: object
gdp    4269.28
Name: 1039, dtype: object
gdp    5522.78
Name: 1040, dtype: object
gdp    5473.29
Name: 1041, dtype: object
gdp    3008.65
Name: 1042, dtype: object
gdp    2756.95
Name: 1043, dtype: object
gdp    2430.21
Name: 1044, dtype: object
gdp    2627.85
Name: 1045, dtype: object
gdp    2277.14
Name: 1046, dtype: object
gdp    2773.29
Name: 1047, dtype: object
gdp    4797.23
Name: 1048, dtype: object
gdp    5911.32
Name: 1049, dtype: object
gdp    6856.86
Name: 1050, dtype: object
gdp    7133.17
Name: 1051, dtype: object
gdp    8052.95
Name: 1052, dtype: object
gdp    9443.04
Name: 1053, dtype: object
gdp    10079
Name: 1054, dtype: object
gdp    8997.9
Name: 1055, dtype: object
gdp    9139.67
Name: 1056, dtype: object
gdp    9308.42
Name: 1057, dtype: object
gdp    10967.3
Name: 1058, dtype: object
gdp    8797.64
Name: 1059, dtype: object
gdp    12779.4
Name: 1060, dtype: object
gdp    10039.6
Name: 1061, dtype: object
gdp    10949.6
Name: 1062, dtype: object
gdp    12217.2
Name: 1063, dtype: object
gdp    14526.1
Name: 1064, dtype: object
gdp    16788.6
Name: 1065, dtype: object
gdp    18334.2
Name: 1066, dtype: object
gdp    19477
Name: 1067, dtype: object
gdp    21888.9
Name: 1068, dtype: object
gdp    23424.8
Name: 1069, dtype: object
gdp    26997.9
Name: 1070, dtype: object
gdp    30687.8
Name: 1071, dtype: object
gdp    34435.4
Name: 1072, dtype: object
gdp    6137.08
Name: 1073, dtype: object
gdp    8842.6
Name: 1074, dtype: object
gdp    10750.7
Name: 1075, dtype: object
gdp    12834.6
Name: 1076, dtype: object
gdp    16661.6
Name: 1077, dtype: object
gdp    19749.4
Name: 1078, dtype: object
gdp    21597.1
Name: 1079, dtype: object
gdp    23687.8
Name: 1080, dtype: object
gdp    27042
Name: 1081, dtype: object
gdp    29095.9
Name: 1082, dtype: object
gdp    32417.6
Name: 1083, dtype: object
gdp    36126.5
Name: 1084, dtype: object
gdp    9867.08
Name: 1085, dtype: object
gdp    11635.8
Name: 1086, dtype: object
gdp    12753.3
Name: 1087, dtype: object
gdp    14804.7
Name: 1088, dtype: object
gdp    18268.7
Name: 1089, dtype: object
gdp    19340.1
Name: 1090, dtype: object
gdp    19211.1
Name: 1091, dtype: object
gdp    18524
Name: 1092, dtype: object
gdp    19035.6
Name: 1093, dtype: object
gdp    20292
Name: 1094, dtype: object
gdp    23403.6
Name: 1095, dtype: object
gdp    29796
Name: 1096, dtype: object
gdp    684.244
Name: 1097, dtype: object
gdp    661.637
Name: 1098, dtype: object
gdp    686.342
Name: 1099, dtype: object
gdp    721.186
Name: 1100, dtype: object
gdp    630.234
Name: 1101, dtype: object
gdp    659.877
Name: 1102, dtype: object
gdp    676.982
Name: 1103, dtype: object
gdp    751.979
Name: 1104, dtype: object
gdp    837.81
Name: 1105, dtype: object
gdp    972.77
Name: 1106, dtype: object
gdp    1136.39
Name: 1107, dtype: object
gdp    1391.25
Name: 1108, dtype: object
gdp    8343.11
Name: 1109, dtype: object
gdp    9714.96
Name: 1110, dtype: object
gdp    10991.2
Name: 1111, dtype: object
gdp    13149
Name: 1112, dtype: object
gdp    16672.1
Name: 1113, dtype: object
gdp    19118
Name: 1114, dtype: object
gdp    20979.8
Name: 1115, dtype: object
gdp    22525.6
Name: 1116, dtype: object
gdp    25575.6
Name: 1117, dtype: object
gdp    27561.2
Name: 1118, dtype: object
gdp    30485.9
Name: 1119, dtype: object
gdp    33692.6
Name: 1120, dtype: object
gdp    1062.75
Name: 1121, dtype: object
gdp    959.601
Name: 1122, dtype: object
gdp    949.499
Name: 1123, dtype: object
gdp    1035.83
Name: 1124, dtype: object
gdp    1085.8
Name: 1125, dtype: object
gdp    1029.16
Name: 1126, dtype: object
gdp    1277.9
Name: 1127, dtype: object
gdp    1225.86
Name: 1128, dtype: object
gdp    1191.21
Name: 1129, dtype: object
gdp    1232.98
Name: 1130, dtype: object
gdp    1372.88
Name: 1131, dtype: object
gdp    1441.28
Name: 1132, dtype: object
gdp    2677.33
Name: 1133, dtype: object
gdp    2127.69
Name: 1134, dtype: object
gdp    2180.97
Name: 1135, dtype: object
gdp    2586.89
Name: 1136, dtype: object
gdp    2980.33
Name: 1137, dtype: object
gdp    3548.1
Name: 1138, dtype: object
gdp    3156.51
Name: 1139, dtype: object
gdp    2753.69
Name: 1140, dtype: object
gdp    2961.7
Name: 1141, dtype: object
gdp    3326.14
Name: 1142, dtype: object
gdp    3413.26
Name: 1143, dtype: object
gdp    3822.14
Name: 1144, dtype: object
gdp    973.533
Name: 1145, dtype: object
gdp    1353.99
Name: 1146, dtype: object
gdp    1709.68
Name: 1147, dtype: object
gdp    2172.35
Name: 1148, dtype: object
gdp    2860.17
Name: 1149, dtype: object
gdp    3528.48
Name: 1150, dtype: object
gdp    4126.61
Name: 1151, dtype: object
gdp    4314.11
Name: 1152, dtype: object
gdp    2546.78
Name: 1153, dtype: object
gdp    4766.36
Name: 1154, dtype: object
gdp    6018.98
Name: 1155, dtype: object
gdp    7446.3
Name: 1156, dtype: object
gdp    851.241
Name: 1157, dtype: object
gdp    918.233
Name: 1158, dtype: object
gdp    983.654
Name: 1159, dtype: object
gdp    1214.71
Name: 1160, dtype: object
gdp    2263.61
Name: 1161, dtype: object
gdp    3214.86
Name: 1162, dtype: object
gdp    4551.14
Name: 1163, dtype: object
gdp    6205.88
Name: 1164, dtype: object
gdp    7954.11
Name: 1165, dtype: object
gdp    8647.14
Name: 1166, dtype: object
gdp    11003.6
Name: 1167, dtype: object
gdp    12569.9
Name: 1168, dtype: object
gdp    2108.94
Name: 1169, dtype: object
gdp    2487.37
Name: 1170, dtype: object
gdp    3336.59
Name: 1171, dtype: object
gdp    3429.86
Name: 1172, dtype: object
gdp    4985.71
Name: 1173, dtype: object
gdp    6660.12
Name: 1174, dtype: object
gdp    7030.84
Name: 1175, dtype: object
gdp    7807.1
Name: 1176, dtype: object
gdp    6950.28
Name: 1177, dtype: object
gdp    7957.98
Name: 1178, dtype: object
gdp    8131.21
Name: 1179, dtype: object
gdp    9065.8
Name: 1180, dtype: object
gdp    2444.29
Name: 1181, dtype: object
gdp    3008.67
Name: 1182, dtype: object
gdp    4254.34
Name: 1183, dtype: object
gdp    5577
Name: 1184, dtype: object
gdp    6597.49
Name: 1185, dtype: object
gdp    7612.24
Name: 1186, dtype: object
gdp    8224.19
Name: 1187, dtype: object
gdp    8239.85
Name: 1188, dtype: object
gdp    6302.62
Name: 1189, dtype: object
gdp    5970.39
Name: 1190, dtype: object
gdp    7696.78
Name: 1191, dtype: object
gdp    10680.8
Name: 1192, dtype: object
gdp    543.255
Name: 1193, dtype: object
gdp    617.183
Name: 1194, dtype: object
gdp    722.512
Name: 1195, dtype: object
gdp    794.827
Name: 1196, dtype: object
gdp    854.736
Name: 1197, dtype: object
gdp    743.387
Name: 1198, dtype: object
gdp    807.199
Name: 1199, dtype: object
gdp    912.063
Name: 1200, dtype: object
gdp    931.753
Name: 1201, dtype: object
gdp    946.295
Name: 1202, dtype: object
gdp    1037.65
Name: 1203, dtype: object
gdp    1217.03
Name: 1204, dtype: object
gdp    339.296
Name: 1205, dtype: object
gdp    379.565
Name: 1206, dtype: object
gdp    355.203
Name: 1207, dtype: object
gdp    412.978
Name: 1208, dtype: object
gdp    464.1
Name: 1209, dtype: object
gdp    556.103
Name: 1210, dtype: object
gdp    559.603
Name: 1211, dtype: object
gdp    621.819
Name: 1212, dtype: object
gdp    631.7
Name: 1213, dtype: object
gdp    463.115
Name: 1214, dtype: object
gdp    446.404
Name: 1215, dtype: object
gdp    430.071
Name: 1216, dtype: object
gdp    368.469
Name: 1217, dtype: object
gdp    434.038
Name: 1218, dtype: object
gdp    496.914
Name: 1219, dtype: object
gdp    523.432
Name: 1220, dtype: object
gdp    421.624
Name: 1221, dtype: object
gdp    524.972
Name: 1222, dtype: object
gdp    624.475
Name: 1223, dtype: object
gdp    683.896
Name: 1224, dtype: object
gdp    682.303
Name: 1225, dtype: object
gdp    734.285
Name: 1226, dtype: object
gdp    896.226
Name: 1227, dtype: object
gdp    1713.78
Name: 1228, dtype: object
gdp    1172.67
Name: 1229, dtype: object
gdp    1313.05
Name: 1230, dtype: object
gdp    1399.61
Name: 1231, dtype: object
gdp    1508.45
Name: 1232, dtype: object
gdp    1684.15
Name: 1233, dtype: object
gdp    1783.43
Name: 1234, dtype: object
gdp    2367.98
Name: 1235, dtype: object
gdp    2602.66
Name: 1236, dtype: object
gdp    1793.16
Name: 1237, dtype: object
gdp    1694.34
Name: 1238, dtype: object
gdp    1934.01
Name: 1239, dtype: object
gdp    2042.1
Name: 1240, dtype: object
gdp    11367.2
Name: 1241, dtype: object
gdp    12490
Name: 1242, dtype: object
gdp    13462.5
Name: 1243, dtype: object
gdp    16076.6
Name: 1244, dtype: object
gdp    18970.6
Name: 1245, dtype: object
gdp    22090.9
Name: 1246, dtype: object
gdp    22898.8

Name: 1247, dtype: object
gdp    26626.5
Name: 1248, dtype: object
gdp    26342.9
Name: 1249, dtype: object
gdp    28954.9
Name: 1250, dtype: object
gdp    33329
Name: 1251, dtype: object
gdp    36319.2
Name: 1252, dtype: object
gdp    1071.31
Name: 1253, dtype: object
gdp    1190.84
Name: 1254, dtype: object
gdp    1193.07
Name: 1255, dtype: object
gdp    1136.06
Name: 1256, dtype: object
gdp    1070.01
Name: 1257, dtype: object
gdp    1109.37
Name: 1258, dtype: object
gdp    956.753
Name: 1259, dtype: object
gdp    844.876
Name: 1260, dtype: object
gdp    747.906
Name: 1261, dtype: object
gdp    740.506
Name: 1262, dtype: object
gdp    738.691
Name: 1263, dtype: object
gdp    706.017
Name: 1264, dtype: object
gdp    1178.67
Name: 1265, dtype: object
gdp    1308.5
Name: 1266, dtype: object
gdp    1389.82
Name: 1267, dtype: object
gdp    1196.81
Name: 1268, dtype: object
gdp    1104.1
Name: 1269, dtype: object
gdp    1133.98
Name: 1270, dtype: object
gdp    797.908
Name: 1271, dtype: object
gdp    952.386
Name: 1272, dtype: object
gdp    1058.06
Name: 1273, dtype: object
gdp    1004.96
Name: 1274, dtype: object
gdp    1156.18
Name: 1275, dtype: object
gdp    1704.06
Name: 1276, dtype: object
gdp    3939.98
Name: 1277, dtype: object
gdp    4315.62
Name: 1278, dtype: object
gdp    4519.09
Name: 1279, dtype: object
gdp    5106.65
Name: 1280, dtype: object
gdp    5494.02
Name: 1281, dtype: object
gdp    4756.76
Name: 1282, dtype: object
gdp    5095.67
Name: 1283, dtype: object
gdp    5547.06
Name: 1284, dtype: object
gdp    7596.13
Name: 1285, dtype: object
gdp    10118.1
Name: 1286, dtype: object
gdp    10778.8
Name: 1287, dtype: object
gdp    13171.6
Name: 1288, dtype: object
gdp    400.449
Name: 1289, dtype: object
gdp    575.987
Name: 1290, dtype: object
gdp    487.674
Name: 1291, dtype: object
gdp    612.706
Name: 1292, dtype: object
gdp    676.9
Name: 1293, dtype: object
gdp    741.237
Name: 1294, dtype: object
gdp    962.421
Name: 1295, dtype: object
gdp    1378.9
Name: 1296, dtype: object
gdp    1655.78
Name: 1297, dtype: object
gdp    2289.23
Name: 1298, dtype: object
gdp    3119.28
Name: 1299, dtype: object
gdp    4959.11
Name: 1300, dtype: object
gdp    2144.12
Name: 1301, dtype: object
gdp    2323.81
Name: 1302, dtype: object
gdp    2492.35
Name: 1303, dtype: object
gdp    2678.73
Name: 1304, dtype: object
gdp    3264.66
Name: 1305, dtype: object
gdp    3815.81
Name: 1306, dtype: object
gdp    4397.58
Name: 1307, dtype: object
gdp    4903.22
Name: 1308, dtype: object
gdp    5444.65
Name: 1309, dtype: object
gdp    6117.36
Name: 1310, dtype: object
gdp    5755.26
Name: 1311, dtype: object
gdp    7006.58
Name: 1312, dtype: object
gdp    1102.99
Name: 1313, dtype: object
gdp    1211.15
Name: 1314, dtype: object
gdp    1406.65
Name: 1315, dtype: object
gdp    1876.03
Name: 1316, dtype: object
gdp    1937.58
Name: 1317, dtype: object
gdp    1172.6
Name: 1318, dtype: object
gdp    1267.1
Name: 1319, dtype: object
gdp    1315.98
Name: 1320, dtype: object
gdp    1246.91
Name: 1321, dtype: object
gdp    1173.62
Name: 1322, dtype: object
gdp    1075.81
Name: 1323, dtype: object
gdp    986.148
Name: 1324, dtype: object
gdp    780.542
Name: 1325, dtype: object
gdp    905.86
Name: 1326, dtype: object
gdp    896.315
Name: 1327, dtype: object
gdp    861.593
Name: 1328, dtype: object
gdp    904.896
Name: 1329, dtype: object
gdp    NaN
Name: 1330, dtype: object
gdp    673.748
Name: 1331, dtype: object
gdp    672.775
Name: 1332, dtype: object
gdp    457.719
Name: 1333, dtype: object
gdp    312.188
Name: 1334, dtype: object
gdp    241.166
Name: 1335, dtype: object
gdp    277.552
Name: 1336, dtype: object
gdp    2125.62
Name: 1337, dtype: object
gdp    2315.06
Name: 1338, dtype: object
gdp    2464.78
Name: 1339, dtype: object
gdp    2677.94
Name: 1340, dtype: object
gdp    3213.15
Name: 1341, dtype: object
gdp    3259.18
Name: 1342, dtype: object
gdp    4879.51
Name: 1343, dtype: object
gdp    4201.19
Name: 1344, dtype: object
gdp    4016.24
Name: 1345, dtype: object
gdp    3484.16
Name: 1346, dtype: object
gdp    3484.06
Name: 1347, dtype: object
gdp    3632.56
Name: 1348, dtype: object
gdp    2627.01
Name: 1349, dtype: object
gdp    2990.01
Name: 1350, dtype: object
gdp    3460.94
Name: 1351, dtype: object
gdp    4161.73
Name: 1352, dtype: object
gdp    5118.15
Name: 1353, dtype: object
gdp    5926.88
Name: 1354, dtype: object
gdp    5262.73
Name: 1355, dtype: object
gdp    5629.92
Name: 1356, dtype: object
gdp    6160.42
Name: 1357, dtype: object
gdp    6677.05
Name: 1358, dtype: object
gdp    7723.45
Name: 1359, dtype: object
gdp    9645.06
Name: 1360, dtype: object
gdp    1388.59
Name: 1361, dtype: object
gdp    1500.9
Name: 1362, dtype: object
gdp    1728.87
Name: 1363, dtype: object
gdp    2052.05
Name: 1364, dtype: object
gdp    2378.2
Name: 1365, dtype: object
gdp    2517.74
Name: 1366, dtype: object
gdp    2602.71
Name: 1367, dtype: object
gdp    2156.96
Name: 1368, dtype: object
gdp    1648.07
Name: 1369, dtype: object
gdp    1786.27
Name: 1370, dtype: object
gdp    1648.8
Name: 1371, dtype: object
gdp    1544.75
Name: 1372, dtype: object
gdp    3119.24
Name: 1373, dtype: object
gdp    4338.23
Name: 1374, dtype: object
gdp    5477.89
Name: 1375, dtype: object
gdp    6960.3
Name: 1376, dtype: object
gdp    9164.09
Name: 1377, dtype: object
gdp    11305.4
Name: 1378, dtype: object
gdp    13221.8
Name: 1379, dtype: object
gdp    13822.6
Name: 1380, dtype: object
gdp    8447.79
Name: 1381, dtype: object
gdp    9875.6
Name: 1382, dtype: object
gdp    11628.4
Name: 1383, dtype: object
gdp    14619.2
Name: 1384, dtype: object
gdp    5586.54
Name: 1385, dtype: object
gdp    6092.17
Name: 1386, dtype: object
gdp    5180.76
Name: 1387, dtype: object
gdp    5690.27
Name: 1388, dtype: object
gdp    5305.45
Name: 1389, dtype: object
gdp    6380.49
Name: 1390, dtype: object
gdp    7316.92
Name: 1391, dtype: object
gdp    7532.92
Name: 1392, dtype: object
gdp    5592.84
Name: 1393, dtype: object
gdp    5431.99
Name: 1394, dtype: object
gdp    6340.65
Name: 1395, dtype: object
gdp    8948.1
Name: 1396, dtype: object
gdp    6876.14
Name: 1397, dtype: object
gdp    8256.34
Name: 1398, dtype: object
gdp    10136.9
Name: 1399, dtype: object
gdp    11399.4
Name: 1400, dtype: object
gdp    13108.5
Name: 1401, dtype: object
gdp    14800.2
Name: 1402, dtype: object
gdp    15377.2
Name: 1403, dtype: object
gdp    16310.4
Name: 1404, dtype: object
gdp    14297
Name: 1405, dtype: object
gdp    16048.5
Name: 1406, dtype: object
gdp    17596.2
Name: 1407, dtype: object
gdp    22833.3
Name: 1408, dtype: object
gdp    9692.39
Name: 1409, dtype: object
gdp    11099.7
Name: 1410, dtype: object
gdp    13583.3
Name: 1411, dtype: object
gdp    15937.2
Name: 1412, dtype: object
gdp    18866.2
Name: 1413, dtype: object
gdp    20422.9
Name: 1414, dtype: object
gdp    21688
Name: 1415, dtype: object
gdp    25116.2
Name: 1416, dtype: object
gdp    26406.7
Name: 1417, dtype: object
gdp    29804.3
Name: 1418, dtype: object
gdp    32166.5
Name: 1419, dtype: object
gdp    35278.4
Name: 1420, dtype: object
gdp    2669.53
Name: 1421, dtype: object
gdp    2864.97
Name: 1422, dtype: object
gdp    3020.99
Name: 1423, dtype: object
gdp    3020.05
Name: 1424, dtype: object
gdp    3694.21
Name: 1425, dtype: object
gdp    3081.76
Name: 1426, dtype: object
gdp    2879.47
Name: 1427, dtype: object
gdp    2880.1
Name: 1428, dtype: object
gdp    2377.16
Name: 1429, dtype: object
gdp    1895.02
Name: 1430, dtype: object
gdp    1908.26
Name: 1431, dtype: object
gdp    2082.48
Name: 1432, dtype: object
gdp    1397.72
Name: 1433, dtype: object
gdp    1544.4
Name: 1434, dtype: object
gdp    1662.14
Name: 1435, dtype: object
gdp    1653.72
Name: 1436, dtype: object
gdp    2189.87
Name: 1437, dtype: object
gdp    2681.99
Name: 1438, dtype: object
gdp    2861.09
Name: 1439, dtype: object
gdp    2899.84
Name: 1440, dtype: object
gdp    3044.21
Name: 1441, dtype: object
gdp    3614.1
Name: 1442, dtype: object
gdp    4563.81
Name: 1443, dtype: object
gdp    6025.37
Name: 1444, dtype: object
gdp    3522.11
Name: 1445, dtype: object
gdp    3780.55
Name: 1446, dtype: object
gdp    4086.11
Name: 1447, dtype: object
gdp    4579.07
Name: 1448, dtype: object
gdp    5280.99
Name: 1449, dtype: object
gdp    6679.62
Name: 1450, dtype: object
gdp    7213.79
Name: 1451, dtype: object
gdp    6481.78
Name: 1452, dtype: object
gdp    7103.7
Name: 1453, dtype: object
gdp    7429.46
Name: 1454, dtype: object
gdp    5773.04
Name: 1455, dtype: object
gdp    6873.26
Name: 1456, dtype: object
gdp    1418.82
Name: 1457, dtype: object
gdp    1458.92
Name: 1458, dtype: object
gdp    1693.34
Name: 1459, dtype: object
gdp    1814.88
Name: 1460, dtype: object
gdp    2024.01
Name: 1461, dtype: object
gdp    2785.49
Name: 1462, dtype: object
gdp    3503.73
Name: 1463, dtype: object
gdp    3885.46
Name: 1464, dtype: object
gdp    3794.76
Name: 1465, dtype: object
gdp    4173.18
Name: 1466, dtype: object
gdp    4754.6
Name: 1467, dtype: object
gdp    5581.18
Name: 1468, dtype: object
gdp    3048.3
Name: 1469, dtype: object
gdp    3421.52
Name: 1470, dtype: object
gdp    3776.8
Name: 1471, dtype: object
gdp    4358.6
Name: 1472, dtype: object
gdp    4520.25
Name: 1473, dtype: object
gdp    5138.92
Name: 1474, dtype: object
gdp    4098.34
Name: 1475, dtype: object

gdp    4140.44
Name: 1476, dtype: object
gdp    4444.23
Name: 1477, dtype: object
gdp    5154.83
Name: 1478, dtype: object
gdp    5351.57
Name: 1479, dtype: object
gdp    5728.35
Name: 1480, dtype: object
gdp    375.643
Name: 1481, dtype: object
gdp    426.096
Name: 1482, dtype: object
gdp    582.842
Name: 1483, dtype: object
gdp    915.596
Name: 1484, dtype: object
gdp    672.412
Name: 1485, dtype: object
gdp    958.567
Name: 1486, dtype: object
gdp    927.825
Name: 1487, dtype: object
gdp    966.897
Name: 1488, dtype: object
gdp    1132.06
Name: 1489, dtype: object
gdp    2814.48
Name: 1490, dtype: object
gdp    7703.5
Name: 1491, dtype: object
gdp    12154.1
Name: 1492, dtype: object
gdp    328.941
Name: 1493, dtype: object
gdp    344.162
Name: 1494, dtype: object
gdp    380.996
Name: 1495, dtype: object
gdp    468.795
Name: 1496, dtype: object
gdp    514.324
Name: 1497, dtype: object
gdp    505.754
Name: 1498, dtype: object
gdp    524.876
Name: 1499, dtype: object
gdp    521.134
Name: 1500, dtype: object
gdp    582.859
Name: 1501, dtype: object
gdp    913.471
Name: 1502, dtype: object
gdp    765.35
Name: 1503, dtype: object
gdp    641.37
Name: 1504, dtype: object
gdp    362.146
Name: 1505, dtype: object
gdp    378.904
Name: 1506, dtype: object
gdp    419.456
Name: 1507, dtype: object
gdp    516.119
Name: 1508, dtype: object
gdp    566.244
Name: 1509, dtype: object
gdp    556.808
Name: 1510, dtype: object
gdp    577.861
Name: 1511, dtype: object
gdp    573.741
Name: 1512, dtype: object
gdp    421.353
Name: 1513, dtype: object
gdp    515.889
Name: 1514, dtype: object
gdp    530.054
Name: 1515, dtype: object
gdp    690.806
Name: 1516, dtype: object
gdp    6424.52
Name: 1517, dtype: object
gdp    7545.42
Name: 1518, dtype: object
gdp    9371.84
Name: 1519, dtype: object
gdp    10921.6
Name: 1520, dtype: object
gdp    14358.9
Name: 1521, dtype: object
gdp    15605.4
Name: 1522, dtype: object
gdp    18533.2
Name: 1523, dtype: object
gdp    21141
Name: 1524, dtype: object
gdp    20647.2
Name: 1525, dtype: object
gdp    23724
Name: 1526, dtype: object
gdp    28204.6
Name: 1527, dtype: object
gdp    33207.1
Name: 1528, dtype: object
gdp    7029.81
Name: 1529, dtype: object
gdp    8662.83
Name: 1530, dtype: object
gdp    10560.5
Name: 1531, dtype: object
gdp    12999.9
Name: 1532, dtype: object
gdp    16107.2
Name: 1533, dtype: object
gdp    18292.6
Name: 1534, dtype: object
gdp    20293.9
Name: 1535, dtype: object
gdp    22066.4
Name: 1536, dtype: object
gdp    24703.8
Name: 1537, dtype: object
gdp    25889.8
Name: 1538, dtype: object
gdp    28926
Name: 1539, dtype: object
gdp    30470
Name: 1540, dtype: object
gdp    4293.48
Name: 1541, dtype: object
gdp    4976.2
Name: 1542, dtype: object
gdp    6631.46
Name: 1543, dtype: object
gdp    8358.76
Name: 1544, dtype: object
gdp    11401.9
Name: 1545, dtype: object
gdp    21745.6
Name: 1546, dtype: object
gdp    15113.4
Name: 1547, dtype: object
gdp    11864.4
Name: 1548, dtype: object
gdp    13522.2
Name: 1549, dtype: object
gdp    14722.8
Name: 1550, dtype: object
gdp    12521.7
Name: 1551, dtype: object
gdp    13206.5
Name: 1552, dtype: object
gdp    485.231
Name: 1553, dtype: object
gdp    520.927
Name: 1554, dtype: object
gdp    599.65
Name: 1555, dtype: object
gdp    734.783
Name: 1556, dtype: object
gdp    756.087
Name: 1557, dtype: object
gdp    884.755
Name: 1558, dtype: object
gdp    835.81
Name: 1559, dtype: object
gdp    611.659
Name: 1560, dtype: object
gdp    665.624
Name: 1561, dtype: object
gdp    653.73
Name: 1562, dtype: object
gdp    NaN
Name: 1563, dtype: object
gdp    752.75
Name: 1564, dtype: object
gdp    7144.11
Name: 1565, dtype: object
gdp    10187.8
Name: 1566, dtype: object
gdp    12902.5
Name: 1567, dtype: object
gdp    14745.6
Name: 1568, dtype: object
gdp    18016.2
Name: 1569, dtype: object
gdp    20512.9
Name: 1570, dtype: object
gdp    22031.5
Name: 1571, dtype: object
gdp    24639.2
Name: 1572, dtype: object
gdp    26505.3
Name: 1573, dtype: object
gdp    27788.9
Name: 1574, dtype: object
gdp    30035.8
Name: 1575, dtype: object
gdp    32170.4
Name: 1576, dtype: object
gdp    911.299
Name: 1577, dtype: object
gdp    1043.56
Name: 1578, dtype: object
gdp    1190.04
Name: 1579, dtype: object
gdp    NaN
Name: 1580, dtype: object
gdp    1178.22
Name: 1581, dtype: object
gdp    993.224
Name: 1582, dtype: object
gdp    876.033
Name: 1583, dtype: object
gdp    847.006
Name: 1584, dtype: object
gdp    925.06
Name: 1585, dtype: object
gdp    1005.25
Name: 1586, dtype: object
gdp    1111.98
Name: 1587, dtype: object
gdp    1327.61
Name: 1588, dtype: object
gdp    3530.69
Name: 1589, dtype: object
gdp    4916.3
Name: 1590, dtype: object
gdp    6017.19
Name: 1591, dtype: object
gdp    8513.1
Name: 1592, dtype: object
gdp    12724.8
Name: 1593, dtype: object
gdp    14195.5
Name: 1594, dtype: object
gdp    15268.4
Name: 1595, dtype: object
gdp    16120.5
Name: 1596, dtype: object
gdp    17541.5
Name: 1597, dtype: object
gdp    18747.7
Name: 1598, dtype: object
gdp    22514.3
Name: 1599, dtype: object
gdp    27538.4
Name: 1600, dtype: object
gdp    2428.24
Name: 1601, dtype: object
gdp    2617.16
Name: 1602, dtype: object
gdp    2750.36
Name: 1603, dtype: object
gdp    3242.53
Name: 1604, dtype: object
gdp    4031.41
Name: 1605, dtype: object
gdp    4879.99
Name: 1606, dtype: object
gdp    4820.49
Name: 1607, dtype: object
gdp    4246.49
Name: 1608, dtype: object
gdp    4439.45
Name: 1609, dtype: object
gdp    4684.31
Name: 1610, dtype: object
gdp    4858.35
Name: 1611, dtype: object
gdp    5186.05
Name: 1612, dtype: object
gdp    510.196
Name: 1613, dtype: object
gdp    576.267
Name: 1614, dtype: object
gdp    686.374
Name: 1615, dtype: object
gdp    708.76
Name: 1616, dtype: object
gdp    741.666
Name: 1617, dtype: object
gdp    NaN
Name: 1618, dtype: object
gdp    857.25
Name: 1619, dtype: object
gdp    805.572
Name: 1620, dtype: object
gdp    794.348
Name: 1621, dtype: object
gdp    869.45
Name: 1622, dtype: object
gdp    945.584
Name: 1623, dtype: object
gdp    942.654
Name: 1624, dtype: object
gdp    299.85
Name: 1625, dtype: object
gdp    431.79
Name: 1626, dtype: object
gdp    522.034
Name: 1627, dtype: object
gdp    715.581
Name: 1628, dtype: object
gdp    820.225
Name: 1629, dtype: object
gdp    764.726
Name: 1630, dtype: object
gdp    838.124
Name: 1631, dtype: object
gdp    736.415
Name: 1632, dtype: object
gdp    745.54
Name: 1633, dtype: object
gdp    796.664
Name: 1634, dtype: object
gdp    575.705
Name: 1635, dtype: object
gdp    579.232
Name: 1636, dtype: object
gdp    1840.37
Name: 1637, dtype: object
gdp    1726.89
Name: 1638, dtype: object
gdp    1796.59
Name: 1639, dtype: object
gdp    1452.06
Name: 1640, dtype: object
gdp    1654.46
Name: 1641, dtype: object
gdp    1874.3
Name: 1642, dtype: object
gdp    2011.16
Name: 1643, dtype: object
gdp    1823.02
Name: 1644, dtype: object
gdp    1456.31
Name: 1645, dtype: object
gdp    1341.73
Name: 1646, dtype: object
gdp    1270.36
Name: 1647, dtype: object
gdp    1201.64
Name: 1648, dtype: object
gdp    2194.93
Name: 1649, dtype: object
gdp    2220.49
Name: 1650, dtype: object
gdp    2291.16
Name: 1651, dtype: object
gdp    2538.27
Name: 1652, dtype: object
gdp    2529.84
Name: 1653, dtype: object
gdp    3203.21
Name: 1654, dtype: object
gdp    3121.76
Name: 1655, dtype: object
gdp    3023.1
Name: 1656, dtype: object
gdp    3081.69
Name: 1657, dtype: object
gdp    3160.45
Name: 1658, dtype: object
gdp    3099.73
Name: 1659, dtype: object
gdp    3548.33
Name: 1660, dtype: object
gdp    3054.42
Name: 1661, dtype: object
gdp    3629.08
Name: 1662, dtype: object
gdp    4692.65
Name: 1663, dtype: object
gdp    6197.96
Name: 1664, dtype: object
gdp    8315.93
Name: 1665, dtype: object
gdp    11186.1
Name: 1666, dtype: object
gdp    14560.5
Name: 1667, dtype: object
gdp    20038.5
Name: 1668, dtype: object
gdp    24757.6
Name: 1669, dtype: object
gdp    28377.6
Name: 1670, dtype: object
gdp    30209
Name: 1671, dtype: object
gdp    39725
Name: 1672, dtype: object
gdp    5263.67
Name: 1673, dtype: object
gdp    6040.18
Name: 1674, dtype: object
gdp    7550.36
Name: 1675, dtype: object
gdp    9326.64
Name: 1676, dtype: object
gdp    10168.7
Name: 1677, dtype: object
gdp    11674.8
Name: 1678, dtype: object
gdp    12546
Name: 1679, dtype: object
gdp    12986.5
Name: 1680, dtype: object
gdp    10535.6
Name: 1681, dtype: object
gdp    11712.8
Name: 1682, dtype: object
gdp    14843.9
Name: 1683, dtype: object
gdp    18008.9
Name: 1684, dtype: object
gdp    7267.69
Name: 1685, dtype: object
gdp    9244
Name: 1686, dtype: object
gdp    10350.2
Name: 1687, dtype: object
gdp    13319.9
Name: 1688, dtype: object
gdp    15798.1
Name: 1689, dtype: object
gdp    19655
Name: 1690, dtype: object
gdp    23269.6
Name: 1691, dtype: object
gdp    26923.2
Name: 1692, dtype: object
gdp    25144.4
Name: 1693, dtype: object
gdp    28061.1
Name: 1694, dtype: object
gdp    31163.2
Name: 1695, dtype: object
gdp    36180.8
Name: 1696, dtype: object
gdp    546.566
Name: 1697, dtype: object
gdp    590.062
Name: 1698, dtype: object
gdp    658.347
Name: 1699, dtype: object
gdp    700.771
Name: 1700, dtype: object
gdp    724.033
Name: 1701, dtype: object
gdp    813.337
Name: 1702, dtype: object
gdp    855.724
Name: 1703, dtype: object
gdp    976.513
Name: 1704, dtype: object
gdp    1164.41
Name: 1705, dtype: object
gdp    1458.82
Name: 1706, dtype: object
gdp    1746.77
Name: 1707, dtype: object
gdp    2452.21
Name: 1708, dtype: object
gdp    749.682
Name: 1709, dtype: object
gdp    858.9
Name: 1710, dtype: object
gdp    849.29
Name: 1711, dtype: object
gdp    762.432
Name: 1712, dtype: object
gdp    1111.11
Name: 1713, dtype: object
gdp    1382.7
Name: 1714, dtype: object
gdp    1516.87

Name: 1715, dtype: object
gdp    1748.36
Name: 1716, dtype: object
gdp    2383.14
Name: 1717, dtype: object
gdp    3119.34
Name: 1718, dtype: object
gdp    2873.91
Name: 1719, dtype: object
gdp    3540.65
Name: 1720, dtype: object
gdp    3035.33
Name: 1721, dtype: object
gdp    3290.26
Name: 1722, dtype: object
gdp    4187.33
Name: 1723, dtype: object
gdp    5906.73
Name: 1724, dtype: object
gdp    9613.82
Name: 1725, dtype: object
gdp    11888.6
Name: 1726, dtype: object
gdp    7608.33
Name: 1727, dtype: object
gdp    6642.88
Name: 1728, dtype: object
gdp    7235.65
Name: 1729, dtype: object
gdp    8263.59
Name: 1730, dtype: object
gdp    9240.76
Name: 1731, dtype: object
gdp    11605.7
Name: 1732, dtype: object
gdp    4129.77
Name: 1733, dtype: object
gdp    6229.33
Name: 1734, dtype: object
gdp    8341.74
Name: 1735, dtype: object
gdp    8931.46
Name: 1736, dtype: object
gdp    9576.04
Name: 1737, dtype: object
gdp    14688.2
Name: 1738, dtype: object
gdp    14517.9
Name: 1739, dtype: object
gdp    11643.6
Name: 1740, dtype: object
gdp    3745.64
Name: 1741, dtype: object
gdp    3076.24
Name: 1742, dtype: object
gdp    4390.72
Name: 1743, dtype: object
gdp    4471.06
Name: 1744, dtype: object
gdp    5210.28
Name: 1745, dtype: object
gdp    5599.08
Name: 1746, dtype: object
gdp    6631.6
Name: 1747, dtype: object
gdp    7655.57
Name: 1748, dtype: object
gdp    9530.77
Name: 1749, dtype: object
gdp    11151
Name: 1750, dtype: object
gdp    12618.3
Name: 1751, dtype: object
gdp    13872.9
Name: 1752, dtype: object
gdp    17558.8
Name: 1753, dtype: object
gdp    24521.9
Name: 1754, dtype: object
gdp    34077
Name: 1755, dtype: object
gdp    40676
Name: 1756, dtype: object
gdp    4086.52
Name: 1757, dtype: object
gdp    5385.28
Name: 1758, dtype: object
gdp    7105.63
Name: 1759, dtype: object
gdp    8393.74
Name: 1760, dtype: object
gdp    12786.9
Name: 1761, dtype: object
gdp    13306.6
Name: 1762, dtype: object
gdp    15367
Name: 1763, dtype: object
gdp    17122.5
Name: 1764, dtype: object
gdp    18051.5
Name: 1765, dtype: object
gdp    20896.6
Name: 1766, dtype: object
gdp    21905.6
Name: 1767, dtype: object
gdp    25523.3
Name: 1768, dtype: object
gdp    4931.4
Name: 1769, dtype: object
gdp    6248.66
Name: 1770, dtype: object
gdp    8243.58
Name: 1771, dtype: object
gdp    10022.4
Name: 1772, dtype: object
gdp    12269.3
Name: 1773, dtype: object
gdp    14256
Name: 1774, dtype: object
gdp    16537.5
Name: 1775, dtype: object
gdp    19207.2
Name: 1776, dtype: object
gdp    22013.6
Name: 1777, dtype: object
gdp    24675
Name: 1778, dtype: object
gdp    27968.1
Name: 1779, dtype: object
gdp    28569.7
Name: 1780, dtype: object
gdp    2898.53
Name: 1781, dtype: object
gdp    4756.53
Name: 1782, dtype: object
gdp    5246.11
Name: 1783, dtype: object
gdp    6124.7
Name: 1784, dtype: object
gdp    7433.89
Name: 1785, dtype: object
gdp    6650.2
Name: 1786, dtype: object
gdp    6068.05
Name: 1787, dtype: object
gdp    6351.24
Name: 1788, dtype: object
gdp    7404.92
Name: 1789, dtype: object
gdp    7121.92
Name: 1790, dtype: object
gdp    6994.77
Name: 1791, dtype: object
gdp    7320.88
Name: 1792, dtype: object
gdp    3216.96
Name: 1793, dtype: object
gdp    4317.69
Name: 1794, dtype: object
gdp    6576.65
Name: 1795, dtype: object
gdp    9847.79
Name: 1796, dtype: object
gdp    14778.8
Name: 1797, dtype: object
gdp    16610.4
Name: 1798, dtype: object
gdp    19384.1
Name: 1799, dtype: object
gdp    22375.9
Name: 1800, dtype: object
gdp    26824.9
Name: 1801, dtype: object
gdp    28816.6
Name: 1802, dtype: object
gdp    28604.6
Name: 1803, dtype: object
gdp    31656.1
Name: 1804, dtype: object
gdp    1546.91
Name: 1805, dtype: object
gdp    1886.08
Name: 1806, dtype: object
gdp    2348.01
Name: 1807, dtype: object
gdp    2741.8
Name: 1808, dtype: object
gdp    2110.86
Name: 1809, dtype: object
gdp    2852.35
Name: 1810, dtype: object
gdp    4161.42
Name: 1811, dtype: object
gdp    4448.68
Name: 1812, dtype: object
gdp    3431.59
Name: 1813, dtype: object
gdp    3645.38
Name: 1814, dtype: object
gdp    3844.92
Name: 1815, dtype: object
gdp    4519.46
Name: 1816, dtype: object
gdp    853.541
Name: 1817, dtype: object
gdp    944.438
Name: 1818, dtype: object
gdp    896.966
Name: 1819, dtype: object
gdp    1056.74
Name: 1820, dtype: object
gdp    1222.36
Name: 1821, dtype: object
gdp    1267.61
Name: 1822, dtype: object
gdp    1348.23
Name: 1823, dtype: object
gdp    1361.94
Name: 1824, dtype: object
gdp    1341.92
Name: 1825, dtype: object
gdp    1360.49
Name: 1826, dtype: object
gdp    1287.51
Name: 1827, dtype: object
gdp    1463.25
Name: 1828, dtype: object
gdp    1088.28
Name: 1829, dtype: object
gdp    1571.13
Name: 1830, dtype: object
gdp    1621.69
Name: 1831, dtype: object
gdp    2143.54
Name: 1832, dtype: object
gdp    3701.62
Name: 1833, dtype: object
gdp    4106.3
Name: 1834, dtype: object
gdp    4106.53
Name: 1835, dtype: object
gdp    4106.49
Name: 1836, dtype: object
gdp    3726.06
Name: 1837, dtype: object
gdp    1690.76
Name: 1838, dtype: object
gdp    1646.76
Name: 1839, dtype: object
gdp    1593.07
Name: 1840, dtype: object
gdp    1030.59
Name: 1841, dtype: object
gdp    1487.59
Name: 1842, dtype: object
gdp    1536.34
Name: 1843, dtype: object
gdp    2029.23
Name: 1844, dtype: object
gdp    3030.88
Name: 1845, dtype: object
gdp    4657.22
Name: 1846, dtype: object
gdp    5622.94
Name: 1847, dtype: object
gdp    8533.09
Name: 1848, dtype: object
gdp    12104.3
Name: 1849, dtype: object
gdp    15993.5
Name: 1850, dtype: object
gdp    19234
Name: 1851, dtype: object
gdp    23348.1
Name: 1852, dtype: object
gdp    108382
Name: 1853, dtype: object
gdp    113523
Name: 1854, dtype: object
gdp    95458.1
Name: 1855, dtype: object
gdp    80894.9
Name: 1856, dtype: object
gdp    109348
Name: 1857, dtype: object
gdp    59265.5
Name: 1858, dtype: object
gdp    31354
Name: 1859, dtype: object
gdp    28118.4
Name: 1860, dtype: object
gdp    34932.9
Name: 1861, dtype: object
gdp    40300.6
Name: 1862, dtype: object
gdp    35110.1
Name: 1863, dtype: object
gdp    47307
Name: 1864, dtype: object
gdp    4834.8
Name: 1865, dtype: object
gdp    6089.79
Name: 1866, dtype: object
gdp    5714.56
Name: 1867, dtype: object
gdp    6006.98
Name: 1868, dtype: object
gdp    7486.38
Name: 1869, dtype: object
gdp    8659.7
Name: 1870, dtype: object
gdp    7640.52
Name: 1871, dtype: object
gdp    5377.09
Name: 1872, dtype: object
gdp    6890.81
Name: 1873, dtype: object
gdp    8754.96
Name: 1874, dtype: object
gdp    9313.94
Name: 1875, dtype: object
gdp    10461.1
Name: 1876, dtype: object
gdp    298.846
Name: 1877, dtype: object
gdp    335.997
Name: 1878, dtype: object
gdp    411.801
Name: 1879, dtype: object
gdp    498.639
Name: 1880, dtype: object
gdp    496.582
Name: 1881, dtype: object
gdp    745.37
Name: 1882, dtype: object
gdp    797.263
Name: 1883, dtype: object
gdp    773.993
Name: 1884, dtype: object
gdp    977.486
Name: 1885, dtype: object
gdp    1186.15
Name: 1886, dtype: object
gdp    1275.18
Name: 1887, dtype: object
gdp    1569.33
Name: 1888, dtype: object
gdp    575.573
Name: 1889, dtype: object
gdp    620.97
Name: 1890, dtype: object
gdp    634.195
Name: 1891, dtype: object
gdp    713.604
Name: 1892, dtype: object
gdp    803.005
Name: 1893, dtype: object
gdp    640.322
Name: 1894, dtype: object
gdp    572.2
Name: 1895, dtype: object
gdp    506.114
Name: 1896, dtype: object
gdp    636.623
Name: 1897, dtype: object
gdp    609.174
Name: 1898, dtype: object
gdp    531.482
Name: 1899, dtype: object
gdp    414.507
Name: 1900, dtype: object
gdp    2387.55
Name: 1901, dtype: object
gdp    3448.28
Name: 1902, dtype: object
gdp    6757.03
Name: 1903, dtype: object
gdp    18772.8
Name: 1904, dtype: object
gdp    21011.5
Name: 1905, dtype: object
gdp    21951.2
Name: 1906, dtype: object
gdp    17364.3
Name: 1907, dtype: object
gdp    11770.6
Name: 1908, dtype: object
gdp    9640.14
Name: 1909, dtype: object
gdp    9467.45
Name: 1910, dtype: object
gdp    9534.68
Name: 1911, dtype: object
gdp    12057.5
Name: 1912, dtype: object
gdp    1443.01
Name: 1913, dtype: object
gdp    1589.2
Name: 1914, dtype: object
gdp    1643.39
Name: 1915, dtype: object
gdp    1634.05
Name: 1916, dtype: object
gdp    1748.56
Name: 1917, dtype: object
gdp    1544.23
Name: 1918, dtype: object
gdp    1302.88
Name: 1919, dtype: object
gdp    1155.44
Name: 1920, dtype: object
gdp    1040.68
Name: 1921, dtype: object
gdp    986.296
Name: 1922, dtype: object
gdp    894.637
Name: 1923, dtype: object
gdp    1044.77
Name: 1924, dtype: object
gdp    369.165
Name: 1925, dtype: object
gdp    416.37
Name: 1926, dtype: object
gdp    427.901
Name: 1927, dtype: object
gdp    495.515
Name: 1928, dtype: object
gdp    584.622
Name: 1929, dtype: object
gdp    663.224
Name: 1930, dtype: object
gdp    632.804
Name: 1931, dtype: object
gdp    635.517
Name: 1932, dtype: object
gdp    563.2
Name: 1933, dtype: object
gdp    692.276

Name: 1934, dtype: object
gdp    665.423
Name: 1935, dtype: object
gdp    759.35
Name: 1936, dtype: object
gdp    1831.13
Name: 1937, dtype: object
gdp    1810.07
Name: 1938, dtype: object
gdp    2036.88
Name: 1939, dtype: object
gdp    2277.74
Name: 1940, dtype: object
gdp    2849.09
Name: 1941, dtype: object
gdp    3827.92
Name: 1942, dtype: object
gdp    4920.36
Name: 1943, dtype: object
gdp    5249.8
Name: 1944, dtype: object
gdp    7277.91
Name: 1945, dtype: object
gdp    10132.9
Name: 1946, dtype: object
gdp    10207
Name: 1947, dtype: object
gdp    12451.7
Name: 1948, dtype: object
gdp    452.337
Name: 1949, dtype: object
gdp    490.382
Name: 1950, dtype: object
gdp    496.174
Name: 1951, dtype: object
gdp    545.01
Name: 1952, dtype: object
gdp    581.369
Name: 1953, dtype: object
gdp    686.395
Name: 1954, dtype: object
gdp    618.014
Name: 1955, dtype: object
gdp    684.172
Name: 1956, dtype: object
gdp    739.014
Name: 1957, dtype: object
gdp    790.258
Name: 1958, dtype: object
gdp    951.41
Name: 1959, dtype: object
gdp    1042.58
Name: 1960, dtype: object
gdp    743.116
Name: 1961, dtype: object
gdp    846.12
Name: 1962, dtype: object
gdp    1055.9
Name: 1963, dtype: object
gdp    1421.15
Name: 1964, dtype: object
gdp    1586.85
Name: 1965, dtype: object
gdp    1497.49
Name: 1966, dtype: object
gdp    1481.15
Name: 1967, dtype: object
gdp    1421.6
Name: 1968, dtype: object
gdp    1361.37
Name: 1969, dtype: object
gdp    1483.14
Name: 1970, dtype: object
gdp    1579.02
Name: 1971, dtype: object
gdp    1803.15
Name: 1972, dtype: object
gdp    1967.96
Name: 1973, dtype: object
gdp    2034.04
Name: 1974, dtype: object
gdp    2529.07
Name: 1975, dtype: object
gdp    2475.39
Name: 1976, dtype: object
gdp    2575.48
Name: 1977, dtype: object
gdp    3710.98
Name: 1978, dtype: object
gdp    3688.04
Name: 1979, dtype: object
gdp    4783.59
Name: 1980, dtype: object
gdp    6058.25
Name: 1981, dtype: object
gdp    7425.71
Name: 1982, dtype: object
gdp    9021.82
Name: 1983, dtype: object
gdp    10957
Name: 1984, dtype: object
gdp    3478.13
Name: 1985, dtype: object
gdp    4131.55
Name: 1986, dtype: object
gdp    4581.61
Name: 1987, dtype: object
gdp    5754.73
Name: 1988, dtype: object
gdp    6809.41
Name: 1989, dtype: object
gdp    7674.93
Name: 1990, dtype: object
gdp    9611.15
Name: 1991, dtype: object
gdp    8688.16
Name: 1992, dtype: object
gdp    9472.38
Name: 1993, dtype: object
gdp    9767.3
Name: 1994, dtype: object
gdp    10742.4
Name: 1995, dtype: object
gdp    11977.6
Name: 1996, dtype: object
gdp    786.567
Name: 1997, dtype: object
gdp    912.663
Name: 1998, dtype: object
gdp    1056.35
Name: 1999, dtype: object
gdp    1226.04
Name: 2000, dtype: object
gdp    1421.74
Name: 2001, dtype: object
gdp    1647.51
Name: 2002, dtype: object
gdp    2000.6
Name: 2003, dtype: object
gdp    2338.01
Name: 2004, dtype: object
gdp    1785.4
Name: 2005, dtype: object
gdp    1902.25
Name: 2006, dtype: object
gdp    2140.74
Name: 2007, dtype: object
gdp    3095.77
Name: 2008, dtype: object
gdp    2647.59
Name: 2009, dtype: object
gdp    3682.26
Name: 2010, dtype: object
gdp    4649.59
Name: 2011, dtype: object
gdp    5907.85
Name: 2012, dtype: object
gdp    7778.41
Name: 2013, dtype: object
gdp    9595.93
Name: 2014, dtype: object
gdp    11222.6
Name: 2015, dtype: object
gdp    11732.5
Name: 2016, dtype: object
gdp    7003.34
Name: 2017, dtype: object
gdp    6465.61
Name: 2018, dtype: object
gdp    6557.19
Name: 2019, dtype: object
gdp    9253.9
Name: 2020, dtype: object
gdp    1688.2
Name: 2021, dtype: object
gdp    1642
Name: 2022, dtype: object
gdp    1566.35
Name: 2023, dtype: object
gdp    1711.04
Name: 2024, dtype: object
gdp    1930.19
Name: 2025, dtype: object
gdp    2370.62
Name: 2026, dtype: object
gdp    2702.62
Name: 2027, dtype: object
gdp    2755.05
Name: 2028, dtype: object
gdp    2948.05
Name: 2029, dtype: object
gdp    2982.1
Name: 2030, dtype: object
gdp    3258.5
Name: 2031, dtype: object
gdp    3820.18
Name: 2032, dtype: object
gdp    468.526
Name: 2033, dtype: object
gdp    495.587
Name: 2034, dtype: object
gdp    556.686
Name: 2035, dtype: object
gdp    566.669
Name: 2036, dtype: object
gdp    724.918
Name: 2037, dtype: object
gdp    502.32
Name: 2038, dtype: object
gdp    462.211
Name: 2039, dtype: object
gdp    389.876
Name: 2040, dtype: object
gdp    410.897
Name: 2041, dtype: object
gdp    472.346
Name: 2042, dtype: object
gdp    633.618
Name: 2043, dtype: object
gdp    823.686
Name: 2044, dtype: object
gdp    331
Name: 2045, dtype: object
gdp    350
Name: 2046, dtype: object
gdp    388
Name: 2047, dtype: object
gdp    349
Name: 2048, dtype: object
gdp    357
Name: 2049, dtype: object
gdp    371
Name: 2050, dtype: object
gdp    424
Name: 2051, dtype: object
gdp    385
Name: 2052, dtype: object
gdp    347
Name: 2053, dtype: object
gdp    415
Name: 2054, dtype: object
gdp    611
Name: 2055, dtype: object
gdp    944
Name: 2056, dtype: object
gdp    2423.78
Name: 2057, dtype: object
gdp    2621.45
Name: 2058, dtype: object
gdp    3173.22
Name: 2059, dtype: object
gdp    3793.69
Name: 2060, dtype: object
gdp    3746.08
Name: 2061, dtype: object
gdp    3876.49
Name: 2062, dtype: object
gdp    4191.1
Name: 2063, dtype: object
gdp    3693.73
Name: 2064, dtype: object
gdp    3804.54
Name: 2065, dtype: object
gdp    3899.52
Name: 2066, dtype: object
gdp    4072.32
Name: 2067, dtype: object
gdp    4811.06
Name: 2068, dtype: object
gdp    545.866
Name: 2069, dtype: object
gdp    597.936
Name: 2070, dtype: object
gdp    652.397
Name: 2071, dtype: object
gdp    676.442
Name: 2072, dtype: object
gdp    674.788
Name: 2073, dtype: object
gdp    694.112
Name: 2074, dtype: object
gdp    718.373
Name: 2075, dtype: object
gdp    775.632
Name: 2076, dtype: object
gdp    897.74
Name: 2077, dtype: object
gdp    1010.89
Name: 2078, dtype: object
gdp    1057.21
Name: 2079, dtype: object
gdp    1091.36
Name: 2080, dtype: object
gdp    8941.57
Name: 2081, dtype: object
gdp    11276.2
Name: 2082, dtype: object
gdp    12790.8
Name: 2083, dtype: object
gdp    15363.3
Name: 2084, dtype: object
gdp    18794.7
Name: 2085, dtype: object
gdp    21209.1
Name: 2086, dtype: object
gdp    21399.5
Name: 2087, dtype: object
gdp    23651.3
Name: 2088, dtype: object
gdp    26790.9
Name: 2089, dtype: object
gdp    30246.1
Name: 2090, dtype: object
gdp    33724.8
Name: 2091, dtype: object
gdp    36797.9
Name: 2092, dtype: object
gdp    10556.6
Name: 2093, dtype: object
gdp    12247.4
Name: 2094, dtype: object
gdp    13175.7
Name: 2095, dtype: object
gdp    14463.9
Name: 2096, dtype: object
gdp    16046
Name: 2097, dtype: object
gdp    16233.7
Name: 2098, dtype: object
gdp    17632.4
Name: 2099, dtype: object
gdp    19007.2
Name: 2100, dtype: object
gdp    18363.3
Name: 2101, dtype: object
gdp    21050.4
Name: 2102, dtype: object
gdp    23189.8
Name: 2103, dtype: object
gdp    25185
Name: 2104, dtype: object
gdp    3112.36
Name: 2105, dtype: object
gdp    3457.42
Name: 2106, dtype: object
gdp    3634.36
Name: 2107, dtype: object
gdp    4643.39
Name: 2108, dtype: object
gdp    4688.59
Name: 2109, dtype: object
gdp    5486.37
Name: 2110, dtype: object
gdp    3470.34
Name: 2111, dtype: object
gdp    2955.98
Name: 2112, dtype: object
gdp    2170.15
Name: 2113, dtype: object
gdp    2253.02
Name: 2114, dtype: object
gdp    2474.55
Name: 2115, dtype: object
gdp    2749.32
Name: 2116, dtype: object
gdp    761.879
Name: 2117, dtype: object
gdp    835.523
Name: 2118, dtype: object
gdp    997.766
Name: 2119, dtype: object
gdp    1054.38
Name: 2120, dtype: object
gdp    954.209
Name: 2121, dtype: object
gdp    808.897
Name: 2122, dtype: object
gdp    909.722
Name: 2123, dtype: object
gdp    668.3
Name: 2124, dtype: object
gdp    581.183
Name: 2125, dtype: object
gdp    580.305
Name: 2126, dtype: object
gdp    601.075
Name: 2127, dtype: object
gdp    619.677
Name: 2128, dtype: object
gdp    1077.28
Name: 2129, dtype: object
gdp    1100.59
Name: 2130, dtype: object
gdp    1150.93
Name: 2131, dtype: object
gdp    1014.51
Name: 2132, dtype: object
gdp    1698.39
Name: 2133, dtype: object
gdp    1981.95
Name: 2134, dtype: object
gdp    1576.97
Name: 2135, dtype: object
gdp    1385.03
Name: 2136, dtype: object
gdp    1619.85
Name: 2137, dtype: object
gdp    1624.94
Name: 2138, dtype: object
gdp    1615.29
Name: 2139, dtype: object
gdp    2013.98
Name: 2140, dtype: object
gdp    10095.4
Name: 2141, dtype: object
gdp    11654
Name: 2142, dtype: object
gdp    13450.4
Name: 2143, dtype: object
gdp    16361.9
Name: 2144, dtype: object
gdp    18965.1
Name: 2145, dtype: object
gdp    23311.3
Name: 2146, dtype: object
gdp    26298.6
Name: 2147, dtype: object
gdp    31541
Name: 2148, dtype: object
gdp    33965.7
Name: 2149, dtype: object
gdp    41283.2
Name: 2150, dtype: object
gdp    44684
Name: 2151, dtype: object
gdp    49357.2
Name: 2152, dtype: object
gdp    1828.23
Name: 2153, dtype: object
gdp    2242.75
Name: 2154, dtype: object
gdp    2924.64
Name: 2155, dtype: object
gdp    4720.94
Name: 2156, dtype: object
gdp    10618
Name: 2157, dtype: object
gdp    11848.3
Name: 2158, dtype: object
gdp    12954.8
Name: 2159, dtype: object
gdp    18115.2
Name: 2160, dtype: object
gdp    18616.7
Name: 2161, dtype: object
gdp    19702.1
Name: 2162, dtype: object
gdp    19774.8
Name: 2163, dtype: object
gdp    22316.2
Name: 2164, dtype: object
gdp    684.597
Name: 2165, dtype: object
gdp    747.084
Name: 2166, dtype: object
gdp    803.343
Name: 2167, dtype: object
gdp    942.408
Name: 2168, dtype: object
gdp    1049.94
Name: 2169, dtype: object
gdp    1175.92
Name: 2170, dtype: object
gdp    1443.43
Name: 2171, dtype: object
gdp    1704.69
Name: 2172, dtype: object
gdp    1971.83
Name: 2173, dtype: object
gdp    2049.35
Name: 2174, dtype: object
gdp    2092.71
Name: 2175, dtype: object
gdp    2605.95
Name: 2176, dtype: object
gdp    2480.38
Name: 2177, dtype: object
gdp    2961.8
Name: 2178, dtype: object
gdp    3536.54
Name: 2179, dtype: object
gdp    4421.01
Name: 2180, dtype: object
gdp    5364.25
Name: 2181, dtype: object
gdp    5351.91
Name: 2182, dtype: object
gdp    7009.6
Name: 2183, dtype: object
gdp    7034.78
Name: 2184, dtype: object
gdp    6618.74
Name: 2185, dtype: object
gdp    7113.69
Name: 2186, dtype: object
gdp    7356.03
Name: 2187, dtype: object
gdp    9809.19
Name: 2188, dtype: object
gdp    1952.31
Name: 2189, dtype: object
gdp    2046.15
Name: 2190, dtype: object
gdp    2148.03
Name: 2191, dtype: object
gdp    2299.38
Name: 2192, dtype: object
gdp    2523.34
Name: 2193, dtype: object
gdp    3248.37
Name: 2194, dtype: object
gdp    4258.5
Name: 2195, dtype: object
gdp    3998.88
Name: 2196, dtype: object
gdp    4196.41
Name: 2197, dtype: object
gdp    4247.4
Name: 2198, dtype: object
gdp    3783.67
Name: 2199, dtype: object
gdp    4172.84
Name: 2200, dtype: object
gdp    3758.52
Name: 2201, dtype: object
gdp    4245.26
Name: 2202, dtype: object
gdp    4957.04
Name: 2203, dtype: object
gdp    5788.09
Name: 2204, dtype: object
gdp    5937.83
Name: 2205, dtype: object
gdp    6281.29
Name: 2206, dtype: object
gdp    6434.5
Name: 2207, dtype: object
gdp    6360.94
Name: 2208, dtype: object
gdp    4446.38
Name: 2209, dtype: object
gdp    5838.35
Name: 2210, dtype: object
gdp    5909.02
Name: 2211, dtype: object
gdp    7408.91
Name: 2212, dtype: object
gdp    1272.88
Name: 2213, dtype: object
gdp    1547.94
Name: 2214, dtype: object
gdp    1649.55
Name: 2215, dtype: object
gdp    1814.13
Name: 2216, dtype: object
gdp    1989.37
Name: 2217, dtype: object
gdp    2373.2
Name: 2218, dtype: object
gdp    2603.27
Name: 2219, dtype: object
gdp    2189.63
Name: 2220, dtype: object
gdp    2279.32
Name: 2221, dtype: object
gdp    2536.53
Name: 2222, dtype: object
gdp    2650.92
Name: 2223, dtype: object
gdp    3190.48
Name: 2224, dtype: object
gdp    4029.33
Name: 2225, dtype: object
gdp    4734.25
Name: 2226, dtype: object
gdp    5338.75
Name: 2227, dtype: object
gdp    6557.15
Name: 2228, dtype: object
gdp    8006.51
Name: 2229, dtype: object
gdp    9508.14
Name: 2230, dtype: object
gdp    8451.53
Name: 2231, dtype: object
gdp    9082.35
Name: 2232, dtype: object
gdp    7738.88
Name: 2233, dtype: object
gdp    10159.6
Name: 2234, dtype: object
gdp    12002.2
Name: 2235, dtype: object
gdp    15389.9
Name: 2236, dtype: object
gdp    3068.32
Name: 2237, dtype: object
gdp    3774.57
Name: 2238, dtype: object
gdp    4727.95
Name: 2239, dtype: object
gdp    6361.52
Name: 2240, dtype: object
gdp    9022.25
Name: 2241, dtype: object
gdp    10172.5
Name: 2242, dtype: object
gdp    11753.8
Name: 2243, dtype: object
gdp    13039.3
Name: 2244, dtype: object
gdp    16207.3
Name: 2245, dtype: object
gdp    17641
Name: 2246, dtype: object
gdp    19970.9
Name: 2247, dtype: object
gdp    20509.6
Name: 2248, dtype: object
gdp    3081.96
Name: 2249, dtype: object
gdp    3907.16
Name: 2250, dtype: object
gdp    5108.34
Name: 2251, dtype: object
gdp    6929.28
Name: 2252, dtype: object
gdp    9123.04
Name: 2253, dtype: object
gdp    9770.52
Name: 2254, dtype: object
gdp    10331
Name: 2255, dtype: object
gdp    12281.3
Name: 2256, dtype: object
gdp    14641.6
Name: 2257, dtype: object
gdp    16999.4
Name: 2258, dtype: object
gdp    18855.6
Name: 2259, dtype: object
gdp    19328.7
Name: 2260, dtype: object
gdp    2718.89
Name: 2261, dtype: object
gdp    2769.45
Name: 2262, dtype: object
gdp    3173.72
Name: 2263, dtype: object
gdp    4021.18
Name: 2264, dtype: object
gdp    5047.66
Name: 2265, dtype: object
gdp    4319.8
Name: 2266, dtype: object
gdp    5267.22
Name: 2267, dtype: object
gdp    5303.38
Name: 2268, dtype: object
gdp    6101.26
Name: 2269, dtype: object
gdp    6071.94
Name: 2270, dtype: object
gdp    6316.17
Name: 2271, dtype: object
gdp    7670.12
Name: 2272, dtype: object
gdp    3144.61
Name: 2273, dtype: object
gdp    3943.37
Name: 2274, dtype: object
gdp    4735
Name: 2275, dtype: object
gdp    6470.87

Name: 2276, dtype: object
gdp    8011.41
Name: 2277, dtype: object
gdp    9356.4
Name: 2278, dtype: object
gdp    9605.31
Name: 2279, dtype: object
gdp    9696.27
Name: 2280, dtype: object
gdp    6598.41
Name: 2281, dtype: object
gdp    7346.55
Name: 2282, dtype: object
gdp    7885.36
Name: 2283, dtype: object
gdp    10808.5
Name: 2284, dtype: object
gdp    NaN
Name: 2285, dtype: object
gdp    540.289
Name: 2286, dtype: object
gdp    597.473
Name: 2287, dtype: object
gdp    510.964
Name: 2288, dtype: object
gdp    590.581
Name: 2289, dtype: object
gdp    670.081
Name: 2290, dtype: object
gdp    881.571
Name: 2291, dtype: object
gdp    847.991
Name: 2292, dtype: object
gdp    737.069
Name: 2293, dtype: object
gdp    589.945
Name: 2294, dtype: object
gdp    785.654
Name: 2295, dtype: object
gdp    863.088
Name: 2296, dtype: object
gdp    879.584
Name: 2297, dtype: object
gdp    860.737
Name: 2298, dtype: object
gdp    1071.55
Name: 2299, dtype: object
gdp    1384.84
Name: 2300, dtype: object
gdp    1532.99
Name: 2301, dtype: object
gdp    1737.56
Name: 2302, dtype: object
gdp    1890.22
Name: 2303, dtype: object
gdp    1516.53
Name: 2304, dtype: object
gdp    1428.78
Name: 2305, dtype: object
gdp    1339.08
Name: 2306, dtype: object
gdp    1353.09
Name: 2307, dtype: object
gdp    1598.44
Name: 2308, dtype: object
gdp    6459.55
Name: 2309, dtype: object
gdp    8157.59
Name: 2310, dtype: object
gdp    11626.4
Name: 2311, dtype: object
gdp    16903
Name: 2312, dtype: object
gdp    24837.4
Name: 2313, dtype: object
gdp    34167.8
Name: 2314, dtype: object
gdp    33693.2
Name: 2315, dtype: object
gdp    21198.3
Name: 2316, dtype: object
gdp    24841.6
Name: 2317, dtype: object
gdp    20586.7
Name: 2318, dtype: object
gdp    19014.5
Name: 2319, dtype: object
gdp    21654.8
Name: 2320, dtype: object
gdp    1450.36
Name: 2321, dtype: object
gdp    1567.65
Name: 2322, dtype: object
gdp    1654.99
Name: 2323, dtype: object
gdp    1612.4
Name: 2324, dtype: object
gdp    1597.71
Name: 2325, dtype: object
gdp    1561.77
Name: 2326, dtype: object
gdp    1518.48
Name: 2327, dtype: object
gdp    1441.72
Name: 2328, dtype: object
gdp    1367.9
Name: 2329, dtype: object
gdp    1392.37
Name: 2330, dtype: object
gdp    1519.64
Name: 2331, dtype: object
gdp    1712.47
Name: 2332, dtype: object
gdp    3581.46
Name: 2333, dtype: object
gdp    4981.09
Name: 2334, dtype: object
gdp    6289.63
Name: 2335, dtype: object
gdp    7991.71
Name: 2336, dtype: object
gdp    10522.1
Name: 2337, dtype: object
gdp    12980.7
Name: 2338, dtype: object
gdp    15181.1
Name: 2339, dtype: object
gdp    15870.9
Name: 2340, dtype: object
gdp    9325.07
Name: 2341, dtype: object
gdp    7914.32
Name: 2342, dtype: object
gdp    7236.08
Name: 2343, dtype: object
gdp    9786.53
Name: 2344, dtype: object
gdp    879.788
Name: 2345, dtype: object
gdp    1004.48
Name: 2346, dtype: object
gdp    1116.64
Name: 2347, dtype: object
gdp    1206.04
Name: 2348, dtype: object
gdp    1353.76
Name: 2349, dtype: object
gdp    1348.29
Name: 2350, dtype: object
gdp    1465.01
Name: 2351, dtype: object
gdp    1294.45
Name: 2352, dtype: object
gdp    1068.7
Name: 2353, dtype: object
gdp    574.648
Name: 2354, dtype: object
gdp    699.49
Name: 2355, dtype: object
gdp    862.541
Name: 2356, dtype: object
gdp    2315.14
Name: 2357, dtype: object
gdp    2843.1
Name: 2358, dtype: object
gdp    3674.74
Name: 2359, dtype: object
gdp    4977.42
Name: 2360, dtype: object
gdp    8597.76
Name: 2361, dtype: object
gdp    11210.1
Name: 2362, dtype: object
gdp    15169.2
Name: 2363, dtype: object
gdp    18861.5
Name: 2364, dtype: object
gdp    24769.9
Name: 2365, dtype: object
gdp    33519.5
Name: 2366, dtype: object
gdp    36023.1
Name: 2367, dtype: object
gdp    47143.2
Name: 2368, dtype: object
gdp    5074.66
Name: 2369, dtype: object
gdp    6093.26
Name: 2370, dtype: object
gdp    7481.11
Name: 2371, dtype: object
gdp    8412.9
Name: 2372, dtype: object
gdp    9674.17
Name: 2373, dtype: object
gdp    10922.7
Name: 2374, dtype: object
gdp    11348.5
Name: 2375, dtype: object
gdp    12037.3
Name: 2376, dtype: object
gdp    9498.47
Name: 2377, dtype: object
gdp    12126.2
Name: 2378, dtype: object
gdp    13638.8
Name: 2379, dtype: object
gdp    18678.3
Name: 2380, dtype: object
gdp    4215.04
Name: 2381, dtype: object
gdp    5862.28
Name: 2382, dtype: object
gdp    7402.3
Name: 2383, dtype: object
gdp    9405.49
Name: 2384, dtype: object
gdp    12383.5
Name: 2385, dtype: object
gdp    15277
Name: 2386, dtype: object
gdp    17866.7
Name: 2387, dtype: object
gdp    18678.5
Name: 2388, dtype: object
gdp    14214.7
Name: 2389, dtype: object
gdp    17161.1
Name: 2390, dtype: object
gdp    20660
Name: 2391, dtype: object
gdp    25768.3
Name: 2392, dtype: object
gdp    1135.75
Name: 2393, dtype: object
gdp    1258.15
Name: 2394, dtype: object
gdp    1369.49
Name: 2395, dtype: object
gdp    1284.73
Name: 2396, dtype: object
gdp    1254.58
Name: 2397, dtype: object
gdp    1450.99
Name: 2398, dtype: object
gdp    1176.81
Name: 2399, dtype: object
gdp    1093.24
Name: 2400, dtype: object
gdp    926.96
Name: 2401, dtype: object
gdp    930.596
Name: 2402, dtype: object
gdp    882.082
Name: 2403, dtype: object
gdp    926.141
Name: 2404, dtype: object
gdp    4725.3
Name: 2405, dtype: object
gdp    5487.1
Name: 2406, dtype: object
gdp    5768.73
Name: 2407, dtype: object
gdp    7114.48
Name: 2408, dtype: object
gdp    7765.96
Name: 2409, dtype: object
gdp    8028.65
Name: 2410, dtype: object
gdp    8568.27
Name: 2411, dtype: object
gdp    7825.82
Name: 2412, dtype: object
gdp    7225.07
Name: 2413, dtype: object
gdp    7479.19
Name: 2414, dtype: object
gdp    7710.95
Name: 2415, dtype: object
gdp    9269.66
Name: 2416, dtype: object
gdp    3834.03
Name: 2417, dtype: object
gdp    4564.8
Name: 2418, dtype: object
gdp    5693.84
Name: 2419, dtype: object
gdp    7993.51
Name: 2420, dtype: object
gdp    10638.8
Name: 2421, dtype: object
gdp    13236.9
Name: 2422, dtype: object
gdp    13926.2
Name: 2423, dtype: object
gdp    15765
Name: 2424, dtype: object
gdp    18603.1
Name: 2425, dtype: object
gdp    20445.3
Name: 2426, dtype: object
gdp    24835.5
Name: 2427, dtype: object
gdp    28821.1
Name: 2428, dtype: object
gdp    1083.53
Name: 2429, dtype: object
gdp    1072.55
Name: 2430, dtype: object
gdp    1074.47
Name: 2431, dtype: object
gdp    1135.51
Name: 2432, dtype: object
gdp    1213.4
Name: 2433, dtype: object
gdp    1348.78
Name: 2434, dtype: object
gdp    1648.08
Name: 2435, dtype: object
gdp    1876.77
Name: 2436, dtype: object
gdp    2153.74
Name: 2437, dtype: object
gdp    2664.48
Name: 2438, dtype: object
gdp    3015.38
Name: 2439, dtype: object
gdp    3970.1
Name: 2440, dtype: object
gdp    1615.99
Name: 2441, dtype: object
gdp    1770.34
Name: 2442, dtype: object
gdp    1959.59
Name: 2443, dtype: object
gdp    1688
Name: 2444, dtype: object
gdp    1659.65
Name: 2445, dtype: object
gdp    2202.99
Name: 2446, dtype: object
gdp    1895.54
Name: 2447, dtype: object
gdp    1507.82
Name: 2448, dtype: object
gdp    1492.2
Name: 2449, dtype: object
gdp    1632.21
Name: 2450, dtype: object
gdp    1993.4
Name: 2451, dtype: object
gdp    2602.39
Name: 2452, dtype: object
gdp    1148.38
Name: 2453, dtype: object
gdp    1244.71
Name: 2454, dtype: object
gdp    1856.18
Name: 2455, dtype: object
gdp    2613.1
Name: 2456, dtype: object
gdp    3364.84
Name: 2457, dtype: object
gdp    3781.41
Name: 2458, dtype: object
gdp    3895.38
Name: 2459, dtype: object
gdp    3984.84
Name: 2460, dtype: object
gdp    3553.02
Name: 2461, dtype: object
gdp    3876.77
Name: 2462, dtype: object
gdp    4128.12
Name: 2463, dtype: object
gdp    4513.48
Name: 2464, dtype: object
gdp    8527.84
Name: 2465, dtype: object
gdp    9911.88
Name: 2466, dtype: object
gdp    12329.4
Name: 2467, dtype: object
gdp    15258.3
Name: 2468, dtype: object
gdp    17832
Name: 2469, dtype: object
gdp    18855.7
Name: 2470, dtype: object
gdp    20667.4
Name: 2471, dtype: object
gdp    23586.9
Name: 2472, dtype: object
gdp    23880
Name: 2473, dtype: object
gdp    25266.6
Name: 2474, dtype: object
gdp    29341.6
Name: 2475, dtype: object
gdp    33859.7
Name: 2476, dtype: object
gdp    14734.2
Name: 2477, dtype: object
gdp    17909.5
Name: 2478, dtype: object
gdp    20431.1
Name: 2479, dtype: object
gdp    22966.1
Name: 2480, dtype: object
gdp    27195.1
Name: 2481, dtype: object
gdp    26982.3
Name: 2482, dtype: object
gdp    28397.7
Name: 2483, dtype: object
gdp    30281.7
Name: 2484, dtype: object
gdp    31871.5
Name: 2485, dtype: object
gdp    32135.3
Name: 2486, dtype: object
gdp    34481
Name: 2487, dtype: object
gdp    37506.4
Name: 2488, dtype: object
gdp    1643.49
Name: 2489, dtype: object
gdp    2117.23

Name: 2490, dtype: object
gdp    2193.04
Name: 2491, dtype: object
gdp    1881.92
Name: 2492, dtype: object
gdp    2571.42
Name: 2493, dtype: object
gdp    3195.48
Name: 2494, dtype: object
gdp    3761.84
Name: 2495, dtype: object
gdp    3116.77
Name: 2496, dtype: object
gdp    3340.54
Name: 2497, dtype: object
gdp    4014.24
Name: 2498, dtype: object
gdp    4090.93
Name: 2499, dtype: object
gdp    4184.55
Name: 2500, dtype: object
gdp    1206.95
Name: 2501, dtype: object
gdp    1507.86
Name: 2502, dtype: object
gdp    1822.88
Name: 2503, dtype: object
gdp    2643.86
Name: 2504, dtype: object
gdp    4062.52
Name: 2505, dtype: object
gdp    5596.52
Name: 2506, dtype: object
gdp    7426.35
Name: 2507, dtype: object
gdp    11054.6
Name: 2508, dtype: object
gdp    15215.7
Name: 2509, dtype: object
gdp    20206.8
Name: 2510, dtype: object
gdp    23235.4
Name: 2511, dtype: object
gdp    28718.3
Name: 2512, dtype: object
gdp    716.65
Name: 2513, dtype: object
gdp    698.536
Name: 2514, dtype: object
gdp    722.004
Name: 2515, dtype: object
gdp    848.219
Name: 2516, dtype: object
gdp    915.985
Name: 2517, dtype: object
gdp    962.492
Name: 2518, dtype: object
gdp    874.243
Name: 2519, dtype: object
gdp    831.822
Name: 2520, dtype: object
gdp    825.682
Name: 2521, dtype: object
gdp    789.186
Name: 2522, dtype: object
gdp    899.074
Name: 2523, dtype: object
gdp    1107.48
Name: 2524, dtype: object
gdp    757.797
Name: 2525, dtype: object
gdp    793.577
Name: 2526, dtype: object
gdp    1002.2
Name: 2527, dtype: object
gdp    1295.46
Name: 2528, dtype: object
gdp    1524.36
Name: 2529, dtype: object
gdp    1961.22
Name: 2530, dtype: object
gdp    2393.22
Name: 2531, dtype: object
gdp    2982.65
Name: 2532, dtype: object
gdp    4616.9
Name: 2533, dtype: object
gdp    5852.63
Name: 2534, dtype: object
gdp    5913.19
Name: 2535, dtype: object
gdp    7458.4
Name: 2536, dtype: object
gdp    859.809
Name: 2537, dtype: object
gdp    925.908
Name: 2538, dtype: object
gdp    1067.53
Name: 2539, dtype: object
gdp    1477.6
Name: 2540, dtype: object
gdp    1649.66
Name: 2541, dtype: object
gdp    1532.78
Name: 2542, dtype: object
gdp    1344.58
Name: 2543, dtype: object
gdp    1202.2
Name: 2544, dtype: object
gdp    1034.3
Name: 2545, dtype: object
gdp    982.287
Name: 2546, dtype: object
gdp    886.221
Name: 2547, dtype: object
gdp    882.97
Name: 2548, dtype: object
gdp    3023.27
Name: 2549, dtype: object
gdp    4100.39
Name: 2550, dtype: object
gdp    4997.52
Name: 2551, dtype: object
gdp    5621.37
Name: 2552, dtype: object
gdp    6619.55
Name: 2553, dtype: object
gdp    7899.55
Name: 2554, dtype: object
gdp    9119.53
Name: 2555, dtype: object
gdp    7388.6
Name: 2556, dtype: object
gdp    7370.99
Name: 2557, dtype: object
gdp    8792.57
Name: 2558, dtype: object
gdp    11460.6
Name: 2559, dtype: object
gdp    18008.5
Name: 2560, dtype: object
gdp    1468.48
Name: 2561, dtype: object
gdp    1395.23
Name: 2562, dtype: object
gdp    1660.3
Name: 2563, dtype: object
gdp    1932.36
Name: 2564, dtype: object
gdp    2753.29
Name: 2565, dtype: object
gdp    3120.88
Name: 2566, dtype: object
gdp    3560.23
Name: 2567, dtype: object
gdp    3810.42
Name: 2568, dtype: object
gdp    4332.72
Name: 2569, dtype: object
gdp    4876.8
Name: 2570, dtype: object
gdp    5722.9
Name: 2571, dtype: object
gdp    7092.92
Name: 2572, dtype: object
gdp    1969.1
Name: 2573, dtype: object
gdp    2218.75
Name: 2574, dtype: object
gdp    2322.87
Name: 2575, dtype: object
gdp    2826.36
Name: 2576, dtype: object
gdp    3450.7
Name: 2577, dtype: object
gdp    4269.12
Name: 2578, dtype: object
gdp    4241.36
Name: 2579, dtype: object
gdp    5089.04
Name: 2580, dtype: object
gdp    5678.35
Name: 2581, dtype: object
gdp    6601.43
Name: 2582, dtype: object
gdp    6508.09
Name: 2583, dtype: object
gdp    8458.28
Name: 2584, dtype: object
gdp    734.753
Name: 2585, dtype: object
gdp    774.371
Name: 2586, dtype: object
gdp    767.272
Name: 2587, dtype: object
gdp    908.919
Name: 2588, dtype: object
gdp    950.736
Name: 2589, dtype: object
gdp    843.733
Name: 2590, dtype: object
gdp    682.266
Name: 2591, dtype: object
gdp    617.724
Name: 2592, dtype: object
gdp    644.171
Name: 2593, dtype: object
gdp    816.559
Name: 2594, dtype: object
gdp    927.721
Name: 2595, dtype: object
gdp    1056.38
Name: 2596, dtype: object
gdp    9979.51
Name: 2597, dtype: object
gdp    11283.2
Name: 2598, dtype: object
gdp    12477.2
Name: 2599, dtype: object
gdp    14142.9
Name: 2600, dtype: object
gdp    15895.1
Name: 2601, dtype: object
gdp    17428.7
Name: 2602, dtype: object
gdp    18232.4
Name: 2603, dtype: object
gdp    21664.8
Name: 2604, dtype: object
gdp    22705.1
Name: 2605, dtype: object
gdp    26074.5
Name: 2606, dtype: object
gdp    29479
Name: 2607, dtype: object
gdp    33203.3
Name: 2608, dtype: object
gdp    13990.5
Name: 2609, dtype: object
gdp    14847.1
Name: 2610, dtype: object
gdp    16173.1
Name: 2611, dtype: object
gdp    19530.4
Name: 2612, dtype: object
gdp    21806
Name: 2613, dtype: object
gdp    24072.6
Name: 2614, dtype: object
gdp    25009.6
Name: 2615, dtype: object
gdp    29884.4
Name: 2616, dtype: object
gdp    32003.9
Name: 2617, dtype: object
gdp    35767.4
Name: 2618, dtype: object
gdp    39097.1
Name: 2619, dtype: object
gdp    42951.7
Name: 2620, dtype: object
gdp    5716.77
Name: 2621, dtype: object
gdp    6150.77
Name: 2622, dtype: object
gdp    5603.36
Name: 2623, dtype: object
gdp    5444.62
Name: 2624, dtype: object
gdp    5703.41
Name: 2625, dtype: object
gdp    6504.34
Name: 2626, dtype: object
gdp    6920.22
Name: 2627, dtype: object
gdp    7452.4
Name: 2628, dtype: object
gdp    8137
Name: 2629, dtype: object
gdp    9230.24
Name: 2630, dtype: object
gdp    7727
Name: 2631, dtype: object
gdp    10611.5
Name: 2632, dtype: object
gdp    7689.8
Name: 2633, dtype: object
gdp    9802.47
Name: 2634, dtype: object
gdp    8422.97
Name: 2635, dtype: object
gdp    9541.47
Name: 2636, dtype: object
gdp    10505.3
Name: 2637, dtype: object
gdp    13144
Name: 2638, dtype: object
gdp    11152.4
Name: 2639, dtype: object
gdp    9883.58
Name: 2640, dtype: object
gdp    10733.9
Name: 2641, dtype: object
gdp    10165.5
Name: 2642, dtype: object
gdp    8605.05
Name: 2643, dtype: object
gdp    11415.8
Name: 2644, dtype: object
gdp    605.066
Name: 2645, dtype: object
gdp    676.285
Name: 2646, dtype: object
gdp    772.049
Name: 2647, dtype: object
gdp    637.123
Name: 2648, dtype: object
gdp    699.502
Name: 2649, dtype: object
gdp    713.537
Name: 2650, dtype: object
gdp    707.236
Name: 2651, dtype: object
gdp    820.799
Name: 2652, dtype: object
gdp    989.023
Name: 2653, dtype: object
gdp    1385.9
Name: 2654, dtype: object
gdp    1764.46
Name: 2655, dtype: object
gdp    2441.58
Name: 2656, dtype: object
gdp    1515.59
Name: 2657, dtype: object
gdp    1827.07
Name: 2658, dtype: object
gdp    2198.96
Name: 2659, dtype: object
gdp    2649.72
Name: 2660, dtype: object
gdp    3133.41
Name: 2661, dtype: object
gdp    3682.83
Name: 2662, dtype: object
gdp    4336.03
Name: 2663, dtype: object
gdp    5107.2
Name: 2664, dtype: object
gdp    6017.65
Name: 2665, dtype: object
gdp    7110.67
Name: 2666, dtype: object
gdp    4515.49
Name: 2667, dtype: object
gdp    3025.35
Name: 2668, dtype: object
gdp    781.718
Name: 2669, dtype: object
gdp    804.83
Name: 2670, dtype: object
gdp    825.623
Name: 2671, dtype: object
gdp    862.442
Name: 2672, dtype: object
gdp    1265.05
Name: 2673, dtype: object
gdp    1829.77
Name: 2674, dtype: object
gdp    1977.56
Name: 2675, dtype: object
gdp    1971.74
Name: 2676, dtype: object
gdp    1879.5
Name: 2677, dtype: object
gdp    2117.48
Name: 2678, dtype: object
gdp    2234.82
Name: 2679, dtype: object
gdp    2280.77
Name: 2680, dtype: object
gdp    1147.39
Name: 2681, dtype: object
gdp    1311.96
Name: 2682, dtype: object
gdp    1452.73
Name: 2683, dtype: object
gdp    1777.08
Name: 2684, dtype: object
gdp    1773.5
Name: 2685, dtype: object
gdp    1588.69
Name: 2686, dtype: object
gdp    1408.68
Name: 2687, dtype: object
gdp    1213.32
Name: 2688, dtype: object
gdp    1210.88
Name: 2689, dtype: object
gdp    1071.35
Name: 2690, dtype: object
gdp    1071.61
Name: 2691, dtype: object
gdp    1271.21
Name: 2692, dtype: object
gdp    406.884
Name: 2693, dtype: object
gdp    518.764
Name: 2694, dtype: object
gdp    527.272
Name: 2695, dtype: object
gdp    569.795
Name: 2696, dtype: object
gdp    799.362
Name: 2697, dtype: object
gdp    685.588
Name: 2698, dtype: object
gdp    788.855
Name: 2699, dtype: object
gdp    706.157
Name: 2700, dtype: object
gdp    693.421
Name: 2701, dtype: object
gdp    792.45
Name: 2702, dtype: object
gdp    672.039
Name: 2703, dtype: object
gdp    469.709

Name: 2704, dtype: object

In [80]:
for index,row in df.iterrows():
    if df.loc[index,'life']>50:
        df.loc[index,'lifecheck1'] = 'Greater than 50'
    else:
        df.loc[index,'lifecheck1'] = '50 or below'

D:\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
D:\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
D:\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-80-710598582739>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[index,'lifecheck1'] = '50 or below'
<ipython-input-80-710598582739>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[index,'lifecheck1'] = 'Greater than 50'

In [81]:
df

,country,year,pop,life,gdp,continent,lifecheck1
index,,,,,,,
1000,Afghanistan,1952,8.42533e+06,28.801,779.445,Asia,50 or below
1001,Afghanistan,1957,9.24093e+06,NaN,820.853,Asia,50 or below
1003,Afghanistan,1962,1.02671e+07,31.997,853.101,Asia,50 or below
1004,Afghanistan,1967,1.1538e+07,34.02,836.197,Asia,50 or below
1005,Afghanistan,1972,1.30795e+07,36.088,739.981,Asia,50 or below
...,...,...,...,...,...,...,...
2700,Zimbabwe,1987,9216418,62.351,706.157,Africa,Greater than 50
2701,Zimbabwe,1992,10704340,60.377,693.421,Africa,Greater than 50
2702,Zimbabwe,1997,11404948,46.809,792.45,Africa,50 or below
2703,Zimbabwe,2002,11926563,39.989,672.039,Africa,50 or below
2704,Zimbabwe,2007,NaN,43.487,469.709,Africa,50 or below

In [86]:
for index,(country,year,pop,life,gdp,continent,check) in df.iterrows():
    print(country,year,life,check)

Afghanistan 1952 28.801 50 or below
Afghanistan 1957 nan 50 or below
Afghanistan 1962 31.997 50 or below
Afghanistan 1967 34.02 50 or below
Afghanistan 1972 36.088 50 or below
Afghanistan 1977 38.438 50 or below
Afghanistan 1982 39.854 50 or below
Afghanistan 1987 40.822 50 or below
Afghanistan 1992 41.674 50 or below
Afghanistan 1997 41.763 50 or below
Afghanistan 2002 42.129 50 or below
Afghanistan 2007 43.828 50 or below
Albania 1952 55.23 Greater than 50
Albania 1957 59.28 Greater than 50
Albania 1962 64.82 Greater than 50
Albania 1967 66.22 Greater than 50
Albania 1972 67.69 Greater than 50
Albania 1977 68.93 Greater than 50
Albania 1982 70.42 Greater than 50
Albania 1987 72.0 Greater than 50
Albania 1992 71.581 Greater than 50
Albania 1997 72.95 Greater than 50
Albania 2002 75.651 Greater than 50
Albania 2007 76.423 Greater than 50
Algeria 1952 43.077 50 or below
Algeria 1957 45.685 50 or below
Algeria 1962 48.303 50 or below
Algeria 1967 51.407 Greater than 50
Algeria 1972 54.518 Greater than 50
Algeria 1977 58.014 Greater than 50
Algeria 1982 61.368 Greater than 50
Algeria 1987 65.799 Greater than 50
Algeria 1992 67.744 Greater than 50
Algeria 1997 69.152 Greater than 50
Algeria 2002 70.994 Greater than 50
Algeria 2007 72.301 Greater than 50
Angola 1952 30.015 50 or below
Angola 1957 31.999 50 or below
Angola 1962 34.0 50 or below
Angola 1967 35.985 50 or below
Angola 1972 37.928 50 or below
Angola 1977 39.483 50 or below
Angola 1982 39.942 50 or below
Angola 1987 39.906 50 or below
Angola 1992 40.647 50 or below
Angola 1997 40.963 50 or below
Angola 2002 41.003 50 or below
Angola 2007 42.731 50 or below
Argentina 1952 62.485 Greater than 50
Argentina 1957 64.399 Greater than 50
Argentina 1962 65.142 Greater than 50
Argentina 1967 65.634 Greater than 50
Argentina 1972 67.065 Greater than 50
Argentina 1977 68.481 Greater than 50
Argentina 1982 69.942 Greater than 50
Argentina 1987 70.774 Greater than 50
Argentina 1992 71.868 Greater than 50
Argentina 1997 73.275 Greater than 50
Argentina 2002 74.34 Greater than 50
Argentina 2007 75.32 Greater than 50
Australia 1952 69.12 Greater than 50
Australia 1957 70.33 Greater than 50
Australia 1962 70.93 Greater than 50
Australia 1967 71.1 Greater than 50
Australia 1972 71.93 Greater than 50
Australia 1977 73.49 Greater than 50
Australia 1982 74.74 Greater than 50
Australia 1987 76.32 Greater than 50
Australia 1992 77.56 Greater than 50
Australia 1997 78.83 Greater than 50
Australia 2002 80.37 Greater than 50
Australia 2007 81.235 Greater than 50
Austria 1952 66.8 Greater than 50
Austria 1957 67.48 Greater than 50
Austria 1962 69.54 Greater than 50
Austria 1967 70.14 Greater than 50
Austria 1972 70.63 Greater than 50
Austria 1977 72.17 Greater than 50
Austria 1982 73.18 Greater than 50
Austria 1987 74.94 Greater than 50
Austria 1992 76.04 Greater than 50
Austria 1997 77.51 Greater than 50
Austria 2002 78.98 Greater than 50
Austria 2007 79.829 Greater than 50
Bahrain 1952 50.939 Greater than 50
Bahrain 1957 53.832 Greater than 50
Bahrain 1962 56.923 Greater than 50
Bahrain 1967 59.923 Greater than 50
Bahrain 1972 63.3 Greater than 50
Bahrain 1977 65.593 Greater than 50
Bahrain 1982 69.052 Greater than 50
Bahrain 1987 70.75 Greater than 50
Bahrain 1992 72.601 Greater than 50
Bahrain 1997 73.925 Greater than 50
Bahrain 2002 74.795 Greater than 50
Bahrain 2007 75.635 Greater than 50
Bangladesh 1952 37.484 50 or below
Bangladesh 1957 39.348 50 or below
Bangladesh 1962 41.216 50 or below
Bangladesh 1967 43.453 50 or below
Bangladesh 1972 45.252 50 or below
Bangladesh 1977 46.923 50 or below
Bangladesh 1982 50.009 Greater than 50
Bangladesh 1987 52.819 Greater than 50
Bangladesh 1992 56.018 Greater than 50
Bangladesh 1997 59.412 Greater than 50
Bangladesh 2002 62.013 Greater than 50
Bangladesh 2007 64.062 Greater than 50
Belgium 1952 68.0 Greater than 50
Belgium 1957 69.24 Greater than 50
Belgium 1962 70.25 Greater than 50
Belgium 1967 70.94 Greater than 50
Belgium 1972 71.44 Greater than 50
Belgium 1977 72.8 Greater than 50
Belgium 1982 73.93 Greater than 50
Belgium 1987 75.35 Greater than 50
Belgium 1992 76.46 Greater than 50
Belgium 1997 77.53 Greater than 50
Belgium 2002 78.32 Greater than 50
Belgium 2007 79.441 Greater than 50
Benin 1952 38.223 50 or below
Benin 1957 40.358 50 or below
Benin 1962 42.618 50 or below
Benin 1967 44.885 50 or below
Benin 1972 47.014 50 or below
Benin 1977 49.19 50 or below
Benin 1982 50.904 Greater than 50
Benin 1987 52.337 Greater than 50
Benin 1992 53.919 Greater than 50
Benin 1997 54.777 Greater than 50
Benin 2002 54.406 Greater than 50
Benin 2007 56.728 Greater than 50
Bolivia 1952 40.414 50 or below
Bolivia 1957 41.89 50 or below
Bolivia 1962 43.428 50 or below
Bolivia 1967 45.032 50 or below
Bolivia 1972 46.714 50 or below
Bolivia 1977 50.023 Greater than 50
Bolivia 1982 53.859 Greater than 50
Bolivia 1987 57.251 Greater than 50
Bolivia 1992 59.957 Greater than 50
Bolivia 1997 62.05 Greater than 50
Bolivia 2002 63.883 Greater than 50
Bolivia 2007 65.554 Greater than 50
Bosnia and Herzegovina 1952 53.82 Greater than 50
Bosnia and Herzegovina 1957 58.45 Greater than 50
Bosnia and Herzegovina 1962 61.93 Greater than 50
Bosnia and Herzegovina 1967 64.79 Greater than 50
Bosnia and Herzegovina 1972 67.45 Greater than 50
Bosnia and Herzegovina 1977 69.86 Greater than 50
Bosnia and Herzegovina 1982 70.69 Greater than 50
Bosnia and Herzegovina 1987 71.14 Greater than 50
Bosnia and Herzegovina 1992 72.178 Greater than 50
Bosnia and Herzegovina 1997 73.244 Greater than 50
Bosnia and Herzegovina 2002 74.09 Greater than 50
Bosnia and Herzegovina 2007 74.852 Greater than 50
Botswana 1952 47.622 50 or below
Botswana 1957 49.618 50 or below
Botswana 1962 51.52 Greater than 50
Botswana 1967 53.298 Greater than 50
Botswana 1972 56.024 Greater than 50
Botswana 1977 59.319 Greater than 50
Botswana 1982 61.484 Greater than 50
Botswana 1987 63.622 Greater than 50
Botswana 1992 62.745 Greater than 50
Botswana 1997 52.556 Greater than 50
Botswana 2002 46.634 50 or below
Botswana 2007 50.728 Greater than 50
Brazil 1952 50.917 Greater than 50
Brazil 1957 53.285 Greater than 50
Brazil 1962 55.665 Greater than 50
Brazil 1967 57.632 Greater than 50
Brazil 1972 59.504 Greater than 50
Brazil 1977 61.489 Greater than 50
Brazil 1982 63.336 Greater than 50
Brazil 1987 65.205 Greater than 50
Brazil 1992 67.057 Greater than 50
Brazil 1997 69.388 Greater than 50
Brazil 2002 71.006 Greater than 50
Brazil 2007 72.39 Greater than 50
Bulgaria 1952 59.6 Greater than 50
Bulgaria 1957 66.61 Greater than 50
Bulgaria 1962 69.51 Greater than 50
Bulgaria 1967 70.42 Greater than 50
Bulgaria 1972 nan 50 or below
Bulgaria 1977 70.81 Greater than 50
Bulgaria 1982 71.08 Greater than 50
Bulgaria 1987 71.34 Greater than 50
Bulgaria 1992 71.19 Greater than 50
Bulgaria 1997 70.32 Greater than 50
Bulgaria 2002 72.14 Greater than 50
Bulgaria 2007 73.005 Greater than 50
Burkina Faso 1952 31.975 50 or below
Burkina Faso 1957 34.906 50 or below
Burkina Faso 1962 37.814 50 or below
Burkina Faso 1967 40.697 50 or below
Burkina Faso 1972 43.591 50 or below
Burkina Faso 1977 46.137 50 or below
Burkina Faso 1982 48.122 50 or below
Burkina Faso 1987 49.557 50 or below
Burkina Faso 1992 50.26 Greater than 50
Burkina Faso 1997 50.324 Greater than 50
Burkina Faso 2002 50.65 Greater than 50
Burkina Faso 2007 52.295 Greater than 50
Burundi 1952 39.031 50 or below
Burundi 1957 40.533 50 or below
Burundi 1962 42.045 50 or below
Burundi 1967 43.548 50 or below
Burundi 1972 44.057 50 or below
Burundi 1977 45.91 50 or below
Burundi 1982 47.471 50 or below
Burundi 1987 48.211 50 or below
Burundi 1992 44.736 50 or below
Burundi 1997 45.326 50 or below
Burundi 2002 47.36 50 or below
Burundi 2007 49.58 50 or below
Cambodia 1952 39.417 50 or below
Cambodia 1957 41.366 50 or below
Cambodia 1962 43.415 50 or below
Cambodia 1967 45.415 50 or below
Cambodia 1972 40.317 50 or below
Cambodia 1977 31.22 50 or below
Cambodia 1982 50.957 Greater than 50
Cambodia 1987 53.914 Greater than 50
Cambodia 1992 55.803 Greater than 50
Cambodia 1997 56.534 Greater than 50
Cambodia 2002 56.752 Greater than 50
Cambodia 2007 59.723 Greater than 50
Cameroon 1952 38.523 50 or below
Cameroon 1957 40.428 50 or below
Cameroon 1962 42.643 50 or below
Cameroon 1967 44.799 50 or below
Cameroon 1972 47.049 50 or below
Cameroon 1977 49.355 50 or below
Cameroon 1982 52.961 Greater than 50
Cameroon 1987 54.985 Greater than 50
Cameroon 1992 54.314 Greater than 50
Cameroon 1997 52.199 Greater than 50
Cameroon 2002 49.856 50 or below
Cameroon 2007 50.43 Greater than 50
Canada 1952 68.75 Greater than 50
Canada 1957 69.96 Greater than 50
Canada 1962 71.3 Greater than 50
Canada 1967 72.13 Greater than 50
Canada 1972 72.88 Greater than 50
Canada 1977 74.21 Greater than 50
Canada 1982 75.76 Greater than 50
Canada 1987 76.86 Greater than 50
Canada 1992 77.95 Greater than 50
Canada 1997 78.61 Greater than 50
Canada 2002 79.77 Greater than 50
Canada 2007 80.653 Greater than 50
Central African Republic 1952 35.463 50 or below
Central African Republic 1957 37.464 50 or below
Central African Republic 1962 39.475 50 or below
Central African Republic 1967 41.478 50 or below
Central African Republic 1972 43.457 50 or below
Central African Republic 1977 46.775 50 or below
Central African Republic 1982 48.295 50 or below
Central African Republic 1987 50.485 Greater than 50
Central African Republic 1992 49.396 50 or below
Central African Republic 1997 46.066 50 or below
Central African Republic 2002 43.308 50 or below
Central African Republic 2007 44.741 50 or below
Chad 1952 38.092 50 or below
Chad 1957 39.881 50 or below
Chad 1962 41.716 50 or below
Chad 1967 43.601 50 or below
Chad 1972 45.569 50 or below
Chad 1977 47.383 50 or below
Chad 1982 49.517 50 or below
Chad 1987 51.051 Greater than 50
Chad 1992 51.724 Greater than 50
Chad 1997 51.573 Greater than 50
Chad 2002 50.525 Greater than 50
Chad 2007 nan 50 or below
Chile 1952 54.745 Greater than 50
Chile 1957 56.074 Greater than 50
Chile 1962 57.924 Greater than 50
Chile 1967 60.523 Greater than 50
Chile 1972 63.441 Greater than 50
Chile 1977 67.052 Greater than 50
Chile 1982 70.565 Greater than 50
Chile 1987 72.492 Greater than 50
Chile 1992 74.126 Greater than 50
Chile 1997 75.816 Greater than 50
Chile 2002 77.86 Greater than 50
Chile 2007 78.553 Greater than 50
China 1952 44.0 50 or below
China 1957 50.54896 Greater than 50
China 1962 44.50136 50 or below
China 1967 58.38112 Greater than 50
China 1972 63.11888 Greater than 50
China 1977 63.96736 Greater than 50
China 1982 65.525 Greater than 50
China 1987 67.274 Greater than 50
China 1992 68.69 Greater than 50
China 1997 70.426 Greater than 50
China 2002 72.028 Greater than 50
China 2007 72.961 Greater than 50
Colombia 1952 50.643 Greater than 50
Colombia 1957 55.118 Greater than 50
Colombia 1962 57.863 Greater than 50
Colombia 1967 59.963 Greater than 50
Colombia 1972 61.623 Greater than 50
Colombia 1977 63.837 Greater than 50
Colombia 1982 66.653 Greater than 50
Colombia 1987 67.768 Greater than 50
Colombia 1992 68.421 Greater than 50
Colombia 1997 70.313 Greater than 50
Colombia 2002 71.682 Greater than 50
Colombia 2007 72.889 Greater than 50
Comoros 1952 40.715 50 or below
Comoros 1957 42.46 50 or below
Comoros 1962 44.467 50 or below
Comoros 1967 46.472 50 or below
Comoros 1972 48.944 50 or below
Comoros 1977 50.939 Greater than 50
Comoros 1982 52.933 Greater than 50
Comoros 1987 54.926 Greater than 50
Comoros 1992 57.939 Greater than 50
Comoros 1997 60.66 Greater than 50
Comoros 2002 62.974 Greater than 50
Comoros 2007 65.152 Greater than 50
Congo, Dem. Rep. 1952 39.143 50 or below
Congo, Dem. Rep. 1957 40.652 50 or below
Congo, Dem. Rep. 1962 42.122 50 or below
Congo, Dem. Rep. 1967 44.056 50 or below
Congo, Dem. Rep. 1972 45.989 50 or below
Congo, Dem. Rep. 1977 47.804 50 or below
Congo, Dem. Rep. 1982 47.784 50 or below
Congo, Dem. Rep. 1987 47.412 50 or below
Congo, Dem. Rep. 1992 45.548 50 or below
Congo, Dem. Rep. 1997 42.587 50 or below
Congo, Dem. Rep. 2002 44.966 50 or below
Congo, Dem. Rep. 2007 46.462 50 or below
Congo, Rep. 1952 42.111 50 or below
Congo, Rep. 1957 45.053 50 or below
Congo, Rep. 1962 48.435 50 or below
Congo, Rep. 1967 52.04 Greater than 50
Congo, Rep. 1972 54.907 Greater than 50
Congo, Rep. 1977 55.625 Greater than 50
Congo, Rep. 1982 56.695 Greater than 50
Congo, Rep. 1987 57.47 Greater than 50
Congo, Rep. 1992 56.433 Greater than 50
Congo, Rep. 1997 52.962 Greater than 50
Congo, Rep. 2002 52.97 Greater than 50
Congo, Rep. 2007 55.322 Greater than 50
Costa Rica 1952 57.206 Greater than 50
Costa Rica 1957 60.026 Greater than 50
Costa Rica 1962 62.842 Greater than 50
Costa Rica 1967 65.424 Greater than 50
Costa Rica 1972 67.849 Greater than 50
Costa Rica 1977 70.75 Greater than 50
Costa Rica 1982 73.45 Greater than 50
Costa Rica 1987 74.752 Greater than 50
Costa Rica 1992 75.713 Greater than 50
Costa Rica 1997 77.26 Greater than 50
Costa Rica 2002 78.123 Greater than 50
Costa Rica 2007 78.782 Greater than 50
Cote d'Ivoire 1952 40.477 50 or below
Cote d'Ivoire 1957 42.469 50 or below
Cote d'Ivoire 1962 44.93 50 or below
Cote d'Ivoire 1967 47.35 50 or below
Cote d'Ivoire 1972 49.801 50 or below
Cote d'Ivoire 1977 52.374 Greater than 50
Cote d'Ivoire 1982 53.983 Greater than 50
Cote d'Ivoire 1987 54.655 Greater than 50
Cote d'Ivoire 1992 52.044 Greater than 50
Cote d'Ivoire 1997 47.991 50 or below
Cote d'Ivoire 2002 46.832 50 or below
Cote d'Ivoire 2007 48.328 50 or below
Croatia 1952 61.21 Greater than 50
Croatia 1957 64.77 Greater than 50
Croatia 1962 67.13 Greater than 50
Croatia 1967 68.5 Greater than 50
Croatia 1972 69.61 Greater than 50
Croatia 1977 70.64 Greater than 50
Croatia 1982 70.46 Greater than 50
Croatia 1987 71.52 Greater than 50
Croatia 1992 72.527 Greater than 50
Croatia 1997 73.68 Greater than 50
Croatia 2002 74.876 Greater than 50
Croatia 2007 75.748 Greater than 50
Cuba 1952 59.421 Greater than 50
Cuba 1957 62.325 Greater than 50
Cuba 1962 65.246 Greater than 50
Cuba 1967 68.29 Greater than 50
Cuba 1972 70.723 Greater than 50
Cuba 1977 72.649 Greater than 50
Cuba 1982 73.717 Greater than 50
Cuba 1987 74.174 Greater than 50
Cuba 1992 74.414 Greater than 50
Cuba 1997 76.151 Greater than 50
Cuba 2002 77.158 Greater than 50
Cuba 2007 78.273 Greater than 50
Czech Republic 1952 66.87 Greater than 50

Czech Republic 1957 69.03 Greater than 50
Czech Republic 1962 69.9 Greater than 50
Czech Republic 1967 70.38 Greater than 50
Czech Republic 1972 70.29 Greater than 50
Czech Republic 1977 70.71 Greater than 50
Czech Republic 1982 70.96 Greater than 50
Czech Republic 1987 71.58 Greater than 50
Czech Republic 1992 72.4 Greater than 50
Czech Republic 1997 74.01 Greater than 50
Czech Republic 2002 75.51 Greater than 50
Czech Republic 2007 76.486 Greater than 50
Denmark 1952 70.78 Greater than 50
Denmark 1957 71.81 Greater than 50
Denmark 1962 72.35 Greater than 50
Denmark 1967 72.96 Greater than 50
Denmark 1972 73.47 Greater than 50
Denmark 1977 74.69 Greater than 50
Denmark 1982 74.63 Greater than 50
Denmark 1987 74.8 Greater than 50
Denmark 1992 75.33 Greater than 50
Denmark 1997 76.11 Greater than 50
Denmark 2002 77.18 Greater than 50
Denmark 2007 78.332 Greater than 50
Djibouti 1952 34.812 50 or below
Djibouti 1957 37.328 50 or below
Djibouti 1962 39.693 50 or below
Djibouti 1967 42.074 50 or below
Djibouti 1972 44.366 50 or below
Djibouti 1977 46.519 50 or below
Djibouti 1982 48.812 50 or below
Djibouti 1987 50.04 Greater than 50
Djibouti 1992 51.604 Greater than 50
Djibouti 1997 53.157 Greater than 50
Djibouti 2002 53.373 Greater than 50
Djibouti 2007 54.791 Greater than 50
Dominican Republic 1952 45.928 50 or below
Dominican Republic 1957 49.828 50 or below
Dominican Republic 1962 53.459 Greater than 50
Dominican Republic 1967 56.751 Greater than 50
Dominican Republic 1972 59.631 Greater than 50
Dominican Republic 1977 61.788 Greater than 50
Dominican Republic 1982 63.727 Greater than 50
Dominican Republic 1987 66.046 Greater than 50
Dominican Republic 1992 68.457 Greater than 50
Dominican Republic 1997 69.957 Greater than 50
Dominican Republic 2002 70.847 Greater than 50
Dominican Republic 2007 72.235 Greater than 50
Ecuador 1952 48.357 50 or below
Ecuador 1957 51.356 Greater than 50
Ecuador 1962 54.64 Greater than 50
Ecuador 1967 56.678 Greater than 50
Ecuador 1972 58.796 Greater than 50
Ecuador 1977 61.31 Greater than 50
Ecuador 1982 64.342 Greater than 50
Ecuador 1987 67.231 Greater than 50
Ecuador 1992 69.613 Greater than 50
Ecuador 1997 72.312 Greater than 50
Ecuador 2002 74.173 Greater than 50
Ecuador 2007 74.994 Greater than 50
Egypt 1952 41.893 50 or below
Egypt 1957 44.444 50 or below
Egypt 1962 46.992 50 or below
Egypt 1967 49.293 50 or below
Egypt 1972 51.137 Greater than 50
Egypt 1977 53.319 Greater than 50
Egypt 1982 56.006 Greater than 50
Egypt 1987 59.797 Greater than 50
Egypt 1992 63.674 Greater than 50
Egypt 1997 67.217 Greater than 50
Egypt 2002 69.806 Greater than 50
Egypt 2007 71.338 Greater than 50
El Salvador 1952 45.262 50 or below
El Salvador 1957 48.57 50 or below
El Salvador 1962 52.307 Greater than 50
El Salvador 1967 55.855 Greater than 50
El Salvador 1972 58.207 Greater than 50
El Salvador 1977 56.696 Greater than 50
El Salvador 1982 56.604 Greater than 50
El Salvador 1987 63.154 Greater than 50
El Salvador 1992 66.798 Greater than 50
El Salvador 1997 69.535 Greater than 50
El Salvador 2002 70.734 Greater than 50
El Salvador 2007 71.878 Greater than 50
Equatorial Guinea 1952 34.482 50 or below
Equatorial Guinea 1957 35.983 50 or below
Equatorial Guinea 1962 37.485 50 or below
Equatorial Guinea 1967 38.987 50 or below
Equatorial Guinea 1972 40.516 50 or below
Equatorial Guinea 1977 42.024 50 or below
Equatorial Guinea 1982 43.662 50 or below
Equatorial Guinea 1987 45.664 50 or below
Equatorial Guinea 1992 47.545 50 or below
Equatorial Guinea 1997 48.245 50 or below
Equatorial Guinea 2002 49.348 50 or below
Equatorial Guinea 2007 51.579 Greater than 50
Eritrea 1952 35.928 50 or below
Eritrea 1957 38.047 50 or below
Eritrea 1962 40.158 50 or below
Eritrea 1967 42.189 50 or below
Eritrea 1972 44.142 50 or below
Eritrea 1977 44.535 50 or below
Eritrea 1982 43.89 50 or below
Eritrea 1987 46.453 50 or below
Eritrea 1992 49.991 50 or below
Eritrea 1997 53.378 Greater than 50
Eritrea 2002 55.24 Greater than 50
Eritrea 2007 58.04 Greater than 50
Ethiopia 1952 34.078 50 or below
Ethiopia 1957 36.667 50 or below
Ethiopia 1962 40.059 50 or below
Ethiopia 1967 42.115 50 or below
Ethiopia 1972 43.515 50 or below
Ethiopia 1977 44.51 50 or below
Ethiopia 1982 44.916 50 or below
Ethiopia 1987 46.684 50 or below
Ethiopia 1992 48.091 50 or below
Ethiopia 1997 49.402 50 or below
Ethiopia 2002 50.725 Greater than 50
Ethiopia 2007 52.947 Greater than 50
Finland 1952 66.55 Greater than 50
Finland 1957 67.49 Greater than 50
Finland 1962 68.75 Greater than 50
Finland 1967 69.83 Greater than 50
Finland 1972 70.87 Greater than 50
Finland 1977 72.52 Greater than 50
Finland 1982 74.55 Greater than 50
Finland 1987 74.83 Greater than 50
Finland 1992 75.7 Greater than 50
Finland 1997 77.13 Greater than 50
Finland 2002 78.37 Greater than 50
Finland 2007 79.313 Greater than 50
France 1952 67.41 Greater than 50
France 1957 68.93 Greater than 50
France 1962 70.51 Greater than 50
France 1967 71.55 Greater than 50
France 1972 72.38 Greater than 50
France 1977 73.83 Greater than 50
France 1982 74.89 Greater than 50
France 1987 76.34 Greater than 50
France 1992 77.46 Greater than 50
France 1997 78.64 Greater than 50
France 2002 79.59 Greater than 50
France 2007 80.657 Greater than 50
Gabon 1952 37.003 50 or below
Gabon 1957 38.999 50 or below
Gabon 1962 40.489 50 or below
Gabon 1967 44.598 50 or below
Gabon 1972 48.69 50 or below
Gabon 1977 52.79 Greater than 50
Gabon 1982 56.564 Greater than 50
Gabon 1987 60.19 Greater than 50
Gabon 1992 61.366 Greater than 50
Gabon 1997 60.461 Greater than 50
Gabon 2002 56.761 Greater than 50
Gabon 2007 56.735 Greater than 50
Gambia 1952 30.0 50 or below
Gambia 1957 32.065 50 or below
Gambia 1962 33.896 50 or below
Gambia 1967 35.857 50 or below
Gambia 1972 38.308 50 or below
Gambia 1977 41.842 50 or below
Gambia 1982 45.58 50 or below
Gambia 1987 49.265 50 or below
Gambia 1992 52.644 Greater than 50
Gambia 1997 55.861 Greater than 50
Gambia 2002 58.041 Greater than 50
Gambia 2007 nan 50 or below
Germany 1952 67.5 Greater than 50
Germany 1957 69.1 Greater than 50
Germany 1962 70.3 Greater than 50
Germany 1967 70.8 Greater than 50
Germany 1972 71 Greater than 50
Germany 1977 72.5 Greater than 50
Germany 1982 73.8 Greater than 50
Germany 1987 74.847 Greater than 50
Germany 1992 76.07 Greater than 50
Germany 1997 77.34 Greater than 50
Germany 2002 78.67 Greater than 50
Germany 2007 79.406 Greater than 50
Ghana 1952 43.149 50 or below
Ghana 1957 44.779 50 or below
Ghana 1962 46.452 50 or below
Ghana 1967 48.072 50 or below
Ghana 1972 49.875 50 or below
Ghana 1977 51.756 Greater than 50
Ghana 1982 53.744 Greater than 50
Ghana 1987 55.729 Greater than 50
Ghana 1992 57.501 Greater than 50
Ghana 1997 58.556 Greater than 50
Ghana 2002 58.453 Greater than 50
Ghana 2007 60.022 Greater than 50
Greece 1952 65.86 Greater than 50
Greece 1957 67.86 Greater than 50
Greece 1962 69.51 Greater than 50
Greece 1967 71 Greater than 50
Greece 1972 72.34 Greater than 50
Greece 1977 73.68 Greater than 50
Greece 1982 nan 50 or below
Greece 1987 76.67 Greater than 50
Greece 1992 77.03 Greater than 50
Greece 1997 77.869 Greater than 50
Greece 2002 78.256 Greater than 50
Greece 2007 79.483 Greater than 50
Guatemala 1952 42.023 50 or below
Guatemala 1957 44.142 50 or below
Guatemala 1962 46.954 50 or below
Guatemala 1967 50.016 Greater than 50
Guatemala 1972 53.738 Greater than 50
Guatemala 1977 56.029 Greater than 50
Guatemala 1982 58.137 Greater than 50
Guatemala 1987 60.782 Greater than 50
Guatemala 1992 63.373 Greater than 50
Guatemala 1997 66.322 Greater than 50
Guatemala 2002 68.978 Greater than 50
Guatemala 2007 70.259 Greater than 50
Guinea 1952 33.609 50 or below
Guinea 1957 34.558 50 or below
Guinea 1962 35.753 50 or below
Guinea 1967 37.197 50 or below
Guinea 1972 38.842 50 or below
Guinea 1977 40.762 50 or below
Guinea 1982 42.891 50 or below
Guinea 1987 45.552 50 or below
Guinea 1992 48.576 50 or below
Guinea 1997 51.455 Greater than 50
Guinea 2002 53.676 Greater than 50
Guinea 2007 56.007 Greater than 50
Guinea-Bissau 1952 32.5 50 or below
Guinea-Bissau 1957 33.489 50 or below
Guinea-Bissau 1962 34.488 50 or below
Guinea-Bissau 1967 35.492 50 or below
Guinea-Bissau 1972 36.486 50 or below
Guinea-Bissau 1977 37.465 50 or below
Guinea-Bissau 1982 39.327 50 or below
Guinea-Bissau 1987 41.245 50 or below
Guinea-Bissau 1992 43.266 50 or below
Guinea-Bissau 1997 44.873 50 or below
Guinea-Bissau 2002 45.504 50 or below
Guinea-Bissau 2007 46.388 50 or below
Haiti 1952 37.579 50 or below
Haiti 1957 40.696 50 or below
Haiti 1962 43.59 50 or below
Haiti 1967 46.243 50 or below
Haiti 1972 48.042 50 or below
Haiti 1977 49.923 50 or below
Haiti 1982 51.461 Greater than 50
Haiti 1987 53.636 Greater than 50
Haiti 1992 55.089 Greater than 50
Haiti 1997 56.671 Greater than 50
Haiti 2002 58.137 Greater than 50
Haiti 2007 60.916 Greater than 50
Honduras 1952 41.912 50 or below
Honduras 1957 44.665 50 or below
Honduras 1962 48.041 50 or below
Honduras 1967 50.924 Greater than 50
Honduras 1972 53.884 Greater than 50
Honduras 1977 57.402 Greater than 50
Honduras 1982 60.909 Greater than 50
Honduras 1987 64.492 Greater than 50
Honduras 1992 66.399 Greater than 50
Honduras 1997 67.659 Greater than 50
Honduras 2002 68.565 Greater than 50
Honduras 2007 70.198 Greater than 50
Hong Kong, China 1952 60.96 Greater than 50
Hong Kong, China 1957 64.75 Greater than 50
Hong Kong, China 1962 67.65 Greater than 50
Hong Kong, China 1967 70 Greater than 50
Hong Kong, China 1972 72 Greater than 50
Hong Kong, China 1977 73.6 Greater than 50
Hong Kong, China 1982 75.45 Greater than 50
Hong Kong, China 1987 76.2 Greater than 50
Hong Kong, China 1992 77.601 Greater than 50
Hong Kong, China 1997 80 Greater than 50
Hong Kong, China 2002 81.495 Greater than 50
Hong Kong, China 2007 82.208 Greater than 50
Hungary 1952 64.03 Greater than 50
Hungary 1957 66.41 Greater than 50
Hungary 1962 67.96 Greater than 50
Hungary 1967 69.5 Greater than 50
Hungary 1972 69.76 Greater than 50
Hungary 1977 69.95 Greater than 50
Hungary 1982 69.39 Greater than 50
Hungary 1987 69.58 Greater than 50
Hungary 1992 69.17 Greater than 50
Hungary 1997 71.04 Greater than 50
Hungary 2002 72.59 Greater than 50
Hungary 2007 73.338 Greater than 50
Iceland 1952 72.49 Greater than 50
Iceland 1957 73.47 Greater than 50
Iceland 1962 73.68 Greater than 50
Iceland 1967 73.73 Greater than 50
Iceland 1972 74.46 Greater than 50
Iceland 1977 76.11 Greater than 50
Iceland 1982 76.99 Greater than 50
Iceland 1987 77.23 Greater than 50
Iceland 1992 78.77 Greater than 50
Iceland 1997 78.95 Greater than 50
Iceland 2002 80.5 Greater than 50
Iceland 2007 81.757 Greater than 50
India 1952 37.373 50 or below
India 1957 40.249 50 or below
India 1962 43.605 50 or below
India 1967 47.193 50 or below
India 1972 50.651 Greater than 50
India 1977 54.208 Greater than 50
India 1982 56.596 Greater than 50
India 1987 58.553 Greater than 50
India 1992 60.223 Greater than 50
India 1997 61.765 Greater than 50
India 2002 62.879 Greater than 50
India 2007 64.698 Greater than 50
Indonesia 1952 37.468 50 or below
Indonesia 1957 39.918 50 or below
Indonesia 1962 42.518 50 or below
Indonesia 1967 45.964 50 or below
Indonesia 1972 49.203 50 or below
Indonesia 1977 52.702 Greater than 50
Indonesia 1982 56.159 Greater than 50
Indonesia 1987 60.137 Greater than 50
Indonesia 1992 62.681 Greater than 50
Indonesia 1997 66.041 Greater than 50
Indonesia 2002 68.588 Greater than 50
Indonesia 2007 70.65 Greater than 50
Iran 1952 44.869 50 or below
Iran 1957 47.181 50 or below
Iran 1962 49.325 50 or below
Iran 1967 52.469 Greater than 50
Iran 1972 55.234 Greater than 50
Iran 1977 57.702 Greater than 50
Iran 1982 59.62 Greater than 50
Iran 1987 63.04 Greater than 50
Iran 1992 65.742 Greater than 50
Iran 1997 68.042 Greater than 50
Iran 2002 69.451 Greater than 50
Iran 2007 70.964 Greater than 50
Iraq 1952 45.32 50 or below
Iraq 1957 48.437 50 or below
Iraq 1962 51.457 Greater than 50
Iraq 1967 54.459 Greater than 50
Iraq 1972 56.95 Greater than 50
Iraq 1977 60.413 Greater than 50
Iraq 1982 62.038 Greater than 50
Iraq 1987 65.044 Greater than 50
Iraq 1992 59.461 Greater than 50
Iraq 1997 58.811 Greater than 50
Iraq 2002 57.046 Greater than 50
Iraq 2007 59.545 Greater than 50
Ireland 1952 66.91 Greater than 50
Ireland 1957 68.9 Greater than 50
Ireland 1962 70.29 Greater than 50
Ireland 1967 71.08 Greater than 50
Ireland 1972 71.28 Greater than 50
Ireland 1977 72.03 Greater than 50
Ireland 1982 73.1 Greater than 50
Ireland 1987 74.36 Greater than 50
Ireland 1992 75.467 Greater than 50
Ireland 1997 76.122 Greater than 50
Ireland 2002 77.783 Greater than 50
Ireland 2007 78.885 Greater than 50
Israel 1952 65.39 Greater than 50
Israel 1957 67.84 Greater than 50
Israel 1962 69.39 Greater than 50
Israel 1967 70.75 Greater than 50
Israel 1972 71.63 Greater than 50
Israel 1977 73.06 Greater than 50
Israel 1982 74.45 Greater than 50
Israel 1987 75.6 Greater than 50
Israel 1992 76.93 Greater than 50
Israel 1997 78.269 Greater than 50
Israel 2002 79.696 Greater than 50
Israel 2007 80.745 Greater than 50
Italy 1952 65.94 Greater than 50
Italy 1957 67.81 Greater than 50
Italy 1962 69.24 Greater than 50
Italy 1967 71.06 Greater than 50
Italy 1972 72.19 Greater than 50
Italy 1977 73.48 Greater than 50
Italy 1982 74.98 Greater than 50
Italy 1987 76.42 Greater than 50
Italy 1992 77.44 Greater than 50
Italy 1997 78.82 Greater than 50
Italy 2002 80.24 Greater than 50
Italy 2007 80.546 Greater than 50
Jamaica 1952 58.53 Greater than 50
Jamaica 1957 62.61 Greater than 50
Jamaica 1962 65.61 Greater than 50
Jamaica 1967 67.51 Greater than 50
Jamaica 1972 69 Greater than 50
Jamaica 1977 70.11 Greater than 50
Jamaica 1982 71.21 Greater than 50
Jamaica 1987 71.77 Greater than 50
Jamaica 1992 71.766 Greater than 50
Jamaica 1997 72.262 Greater than 50
Jamaica 2002 72.047 Greater than 50
Jamaica 2007 72.567 Greater than 50
Japan 1952 63.03 Greater than 50
Japan 1957 65.5 Greater than 50
Japan 1962 68.73 Greater than 50
Japan 1967 71.43 Greater than 50
Japan 1972 73.42 Greater than 50
Japan 1977 75.38 Greater than 50
Japan 1982 77.11 Greater than 50
Japan 1987 78.67 Greater than 50
Japan 1992 79.36 Greater than 50
Japan 1997 80.69 Greater than 50
Japan 2002 82 Greater than 50
Japan 2007 82.603 Greater than 50
Jordan 1952 43.158 50 or below
Jordan 1957 45.669 50 or below
Jordan 1962 48.126 50 or below
Jordan 1967 51.629 Greater than 50
Jordan 1972 56.528 Greater than 50
Jordan 1977 61.134 Greater than 50
Jordan 1982 63.739 Greater than 50
Jordan 1987 65.869 Greater than 50
Jordan 1992 68.015 Greater than 50
Jordan 1997 69.772 Greater than 50
Jordan 2002 71.263 Greater than 50
Jordan 2007 72.535 Greater than 50
Kenya 1952 42.27 50 or below
Kenya 1957 44.686 50 or below
Kenya 1962 47.949 50 or below
Kenya 1967 50.654 Greater than 50
Kenya 1972 53.559 Greater than 50
Kenya 1977 56.155 Greater than 50
Kenya 1982 58.766 Greater than 50
Kenya 1987 59.339 Greater than 50
Kenya 1992 59.285 Greater than 50
Kenya 1997 54.407 Greater than 50

Kenya 2002 50.992 Greater than 50
Kenya 2007 54.11 Greater than 50
Korea, Dem. Rep. 1952 50.056 Greater than 50
Korea, Dem. Rep. 1957 54.081 Greater than 50
Korea, Dem. Rep. 1962 56.656 Greater than 50
Korea, Dem. Rep. 1967 59.942 Greater than 50
Korea, Dem. Rep. 1972 63.983 Greater than 50
Korea, Dem. Rep. 1977 67.159 Greater than 50
Korea, Dem. Rep. 1982 69.1 Greater than 50
Korea, Dem. Rep. 1987 70.647 Greater than 50
Korea, Dem. Rep. 1992 69.978 Greater than 50
Korea, Dem. Rep. 1997 67.727 Greater than 50
Korea, Dem. Rep. 2002 66.662 Greater than 50
Korea, Dem. Rep. 2007 67.297 Greater than 50
Korea, Rep. 1952 47.453 50 or below
Korea, Rep. 1957 52.681 Greater than 50
Korea, Rep. 1962 55.292 Greater than 50
Korea, Rep. 1967 57.716 Greater than 50
Korea, Rep. 1972 62.612 Greater than 50
Korea, Rep. 1977 64.766 Greater than 50
Korea, Rep. 1982 67.123 Greater than 50
Korea, Rep. 1987 69.81 Greater than 50
Korea, Rep. 1992 72.244 Greater than 50
Korea, Rep. 1997 74.647 Greater than 50
Korea, Rep. 2002 77.045 Greater than 50
Korea, Rep. 2007 78.623 Greater than 50
Kuwait 1952 55.565 Greater than 50
Kuwait 1957 58.033 Greater than 50
Kuwait 1962 60.47 Greater than 50
Kuwait 1967 64.624 Greater than 50
Kuwait 1972 67.712 Greater than 50
Kuwait 1977 69.343 Greater than 50
Kuwait 1982 71.309 Greater than 50
Kuwait 1987 74.174 Greater than 50
Kuwait 1992 75.19 Greater than 50
Kuwait 1997 76.156 Greater than 50
Kuwait 2002 76.904 Greater than 50
Kuwait 2007 77.588 Greater than 50
Lebanon 1952 55.928 Greater than 50
Lebanon 1957 59.489 Greater than 50
Lebanon 1962 62.094 Greater than 50
Lebanon 1967 63.87 Greater than 50
Lebanon 1972 65.421 Greater than 50
Lebanon 1977 66.099 Greater than 50
Lebanon 1982 66.983 Greater than 50
Lebanon 1987 67.926 Greater than 50
Lebanon 1992 69.292 Greater than 50
Lebanon 1997 70.265 Greater than 50
Lebanon 2002 71.028 Greater than 50
Lebanon 2007 71.993 Greater than 50
Lesotho 1952 42.138 50 or below
Lesotho 1957 45.047 50 or below
Lesotho 1962 47.747 50 or below
Lesotho 1967 48.492 50 or below
Lesotho 1972 49.767 50 or below
Lesotho 1977 52.208 Greater than 50
Lesotho 1982 55.078 Greater than 50
Lesotho 1987 57.18 Greater than 50
Lesotho 1992 59.685 Greater than 50
Lesotho 1997 55.558 Greater than 50
Lesotho 2002 44.593 50 or below
Lesotho 2007 42.592 50 or below
Liberia 1952 38.48 50 or below
Liberia 1957 39.486 50 or below
Liberia 1962 40.502 50 or below
Liberia 1967 41.536 50 or below
Liberia 1972 42.614 50 or below
Liberia 1977 43.764 50 or below
Liberia 1982 44.852 50 or below
Liberia 1987 46.027 50 or below
Liberia 1992 40.802 50 or below
Liberia 1997 42.221 50 or below
Liberia 2002 43.753 50 or below
Liberia 2007 45.678 50 or below
Libya 1952 42.723 50 or below
Libya 1957 45.289 50 or below
Libya 1962 47.808 50 or below
Libya 1967 50.227 Greater than 50
Libya 1972 52.773 Greater than 50
Libya 1977 57.442 Greater than 50
Libya 1982 62.155 Greater than 50
Libya 1987 66.234 Greater than 50
Libya 1992 68.755 Greater than 50
Libya 1997 71.555 Greater than 50
Libya 2002 72.737 Greater than 50
Libya 2007 73.952 Greater than 50
Madagascar 1952 36.681 50 or below
Madagascar 1957 38.865 50 or below
Madagascar 1962 40.848 50 or below
Madagascar 1967 42.881 50 or below
Madagascar 1972 44.851 50 or below
Madagascar 1977 46.881 50 or below
Madagascar 1982 48.969 50 or below
Madagascar 1987 49.35 50 or below
Madagascar 1992 52.214 Greater than 50
Madagascar 1997 54.978 Greater than 50
Madagascar 2002 57.286 Greater than 50
Madagascar 2007 59.443 Greater than 50
Malawi 1952 36.256 50 or below
Malawi 1957 37.207 50 or below
Malawi 1962 38.41 50 or below
Malawi 1967 39.487 50 or below
Malawi 1972 41.766 50 or below
Malawi 1977 43.767 50 or below
Malawi 1982 45.642 50 or below
Malawi 1987 47.457 50 or below
Malawi 1992 49.42 50 or below
Malawi 1997 47.495 50 or below
Malawi 2002 45.009 50 or below
Malawi 2007 48.303 50 or below
Malaysia 1952 48.463 50 or below
Malaysia 1957 52.102 Greater than 50
Malaysia 1962 55.737 Greater than 50
Malaysia 1967 59.371 Greater than 50
Malaysia 1972 63.01 Greater than 50
Malaysia 1977 65.256 Greater than 50
Malaysia 1982 68 Greater than 50
Malaysia 1987 69.5 Greater than 50
Malaysia 1992 70.693 Greater than 50
Malaysia 1997 71.938 Greater than 50
Malaysia 2002 73.044 Greater than 50
Malaysia 2007 74.241 Greater than 50
Mali 1952 33.685 50 or below
Mali 1957 35.307 50 or below
Mali 1962 36.936 50 or below
Mali 1967 38.487 50 or below
Mali 1972 39.977 50 or below
Mali 1977 41.714 50 or below
Mali 1982 43.916 50 or below
Mali 1987 46.364 50 or below
Mali 1992 48.388 50 or below
Mali 1997 49.903 50 or below
Mali 2002 51.818 Greater than 50
Mali 2007 54.467 Greater than 50
Mauritania 1952 40.543 50 or below
Mauritania 1957 42.338 50 or below
Mauritania 1962 44.248 50 or below
Mauritania 1967 46.289 50 or below
Mauritania 1972 48.437 50 or below
Mauritania 1977 50.852 Greater than 50
Mauritania 1982 53.599 Greater than 50
Mauritania 1987 56.145 Greater than 50
Mauritania 1992 58.333 Greater than 50
Mauritania 1997 60.43 Greater than 50
Mauritania 2002 62.247 Greater than 50
Mauritania 2007 64.164 Greater than 50
Mauritius 1952 50.986 Greater than 50
Mauritius 1957 58.089 Greater than 50
Mauritius 1962 60.246 Greater than 50
Mauritius 1967 61.557 Greater than 50
Mauritius 1972 62.944 Greater than 50
Mauritius 1977 64.93 Greater than 50
Mauritius 1982 66.711 Greater than 50
Mauritius 1987 68.74 Greater than 50
Mauritius 1992 69.745 Greater than 50
Mauritius 1997 70.736 Greater than 50
Mauritius 2002 71.954 Greater than 50
Mauritius 2007 72.801 Greater than 50
Mexico 1952 50.789 Greater than 50
Mexico 1957 55.19 Greater than 50
Mexico 1962 58.299 Greater than 50
Mexico 1967 60.11 Greater than 50
Mexico 1972 62.361 Greater than 50
Mexico 1977 65.032 Greater than 50
Mexico 1982 67.405 Greater than 50
Mexico 1987 69.498 Greater than 50
Mexico 1992 71.455 Greater than 50
Mexico 1997 73.67 Greater than 50
Mexico 2002 74.902 Greater than 50
Mexico 2007 76.195 Greater than 50
Mongolia 1952 42.244 50 or below
Mongolia 1957 45.248 50 or below
Mongolia 1962 48.251 50 or below
Mongolia 1967 51.253 Greater than 50
Mongolia 1972 53.754 Greater than 50
Mongolia 1977 55.491 Greater than 50
Mongolia 1982 57.489 Greater than 50
Mongolia 1987 60.222 Greater than 50
Mongolia 1992 61.271 Greater than 50
Mongolia 1997 63.625 Greater than 50
Mongolia 2002 65.033 Greater than 50
Mongolia 2007 66.803 Greater than 50
Montenegro 1952 59.164 Greater than 50
Montenegro 1957 61.448 Greater than 50
Montenegro 1962 63.728 Greater than 50
Montenegro 1967 67.178 Greater than 50
Montenegro 1972 70.636 Greater than 50
Montenegro 1977 73.066 Greater than 50
Montenegro 1982 74.101 Greater than 50
Montenegro 1987 74.865 Greater than 50
Montenegro 1992 75.435 Greater than 50
Montenegro 1997 75.445 Greater than 50
Montenegro 2002 73.981 Greater than 50
Montenegro 2007 74.543 Greater than 50
Morocco 1952 42.873 50 or below
Morocco 1957 45.423 50 or below
Morocco 1962 47.924 50 or below
Morocco 1967 50.335 Greater than 50
Morocco 1972 52.862 Greater than 50
Morocco 1977 55.73 Greater than 50
Morocco 1982 59.65 Greater than 50
Morocco 1987 62.677 Greater than 50
Morocco 1992 65.393 Greater than 50
Morocco 1997 67.66 Greater than 50
Morocco 2002 69.615 Greater than 50
Morocco 2007 71.164 Greater than 50
Mozambique 1952 31.286 50 or below
Mozambique 1957 33.779 50 or below
Mozambique 1962 36.161 50 or below
Mozambique 1967 38.113 50 or below
Mozambique 1972 40.328 50 or below
Mozambique 1977 42.495 50 or below
Mozambique 1982 42.795 50 or below
Mozambique 1987 42.861 50 or below
Mozambique 1992 44.284 50 or below
Mozambique 1997 46.344 50 or below
Mozambique 2002 44.026 50 or below
Mozambique 2007 42.082 50 or below
Myanmar 1952 36.319 50 or below
Myanmar 1957 41.905 50 or below
Myanmar 1962 45.108 50 or below
Myanmar 1967 49.379 50 or below
Myanmar 1972 53.07 Greater than 50
Myanmar 1977 56.059 Greater than 50
Myanmar 1982 58.056 Greater than 50
Myanmar 1987 58.339 Greater than 50
Myanmar 1992 59.32 Greater than 50
Myanmar 1997 60.328 Greater than 50
Myanmar 2002 59.908 Greater than 50
Myanmar 2007 62.069 Greater than 50
Namibia 1952 41.725 50 or below
Namibia 1957 45.226 50 or below
Namibia 1962 48.386 50 or below
Namibia 1967 51.159 Greater than 50
Namibia 1972 53.867 Greater than 50
Namibia 1977 56.437 Greater than 50
Namibia 1982 58.968 Greater than 50
Namibia 1987 60.835 Greater than 50
Namibia 1992 61.999 Greater than 50
Namibia 1997 58.909 Greater than 50
Namibia 2002 51.479 Greater than 50
Namibia 2007 52.906 Greater than 50
Nepal 1952 36.157 50 or below
Nepal 1957 37.686 50 or below
Nepal 1962 39.393 50 or below
Nepal 1967 41.472 50 or below
Nepal 1972 43.971 50 or below
Nepal 1977 46.748 50 or below
Nepal 1982 49.594 50 or below
Nepal 1987 52.537 Greater than 50
Nepal 1992 55.727 Greater than 50
Nepal 1997 59.426 Greater than 50
Nepal 2002 61.34 Greater than 50
Nepal 2007 63.785 Greater than 50
Netherlands 1952 72.13 Greater than 50
Netherlands 1957 72.99 Greater than 50
Netherlands 1962 73.23 Greater than 50
Netherlands 1967 73.82 Greater than 50
Netherlands 1972 73.75 Greater than 50
Netherlands 1977 75.24 Greater than 50
Netherlands 1982 76.05 Greater than 50
Netherlands 1987 76.83 Greater than 50
Netherlands 1992 77.42 Greater than 50
Netherlands 1997 78.03 Greater than 50
Netherlands 2002 78.53 Greater than 50
Netherlands 2007 79.762 Greater than 50
New Zealand 1952 69.39 Greater than 50
New Zealand 1957 70.26 Greater than 50
New Zealand 1962 71.24 Greater than 50
New Zealand 1967 71.52 Greater than 50
New Zealand 1972 71.89 Greater than 50
New Zealand 1977 72.22 Greater than 50
New Zealand 1982 73.84 Greater than 50
New Zealand 1987 74.32 Greater than 50

New Zealand 1992 76.33 Greater than 50
New Zealand 1997 77.55 Greater than 50
New Zealand 2002 79.11 Greater than 50
New Zealand 2007 80.204 Greater than 50
Nicaragua 1952 42.314 50 or below
Nicaragua 1957 45.432 50 or below
Nicaragua 1962 48.632 50 or below
Nicaragua 1967 51.884 Greater than 50
Nicaragua 1972 55.151 Greater than 50
Nicaragua 1977 57.47 Greater than 50
Nicaragua 1982 59.298 Greater than 50
Nicaragua 1987 62.008 Greater than 50
Nicaragua 1992 65.843 Greater than 50
Nicaragua 1997 68.426 Greater than 50
Nicaragua 2002 70.836 Greater than 50
Nicaragua 2007 72.899 Greater than 50
Niger 1952 37.444 50 or below
Niger 1957 38.598 50 or below
Niger 1962 39.487 50 or below
Niger 1967 40.118 50 or below
Niger 1972 40.546 50 or below
Niger 1977 41.291 50 or below
Niger 1982 42.598 50 or below
Niger 1987 44.555 50 or below
Niger 1992 47.391 50 or below
Niger 1997 51.313 Greater than 50
Niger 2002 54.496 Greater than 50
Niger 2007 56.867 Greater than 50
Nigeria 1952 36.324 50 or below
Nigeria 1957 37.802 50 or below
Nigeria 1962 39.36 50 or below
Nigeria 1967 41.04 50 or below
Nigeria 1972 42.821 50 or below
Nigeria 1977 44.514 50 or below
Nigeria 1982 45.826 50 or below
Nigeria 1987 46.886 50 or below
Nigeria 1992 47.472 50 or below
Nigeria 1997 47.464 50 or below
Nigeria 2002 46.608 50 or below
Nigeria 2007 46.859 50 or below
Norway 1952 72.67 Greater than 50
Norway 1957 73.44 Greater than 50
Norway 1962 73.47 Greater than 50
Norway 1967 74.08 Greater than 50
Norway 1972 74.34 Greater than 50
Norway 1977 75.37 Greater than 50
Norway 1982 75.97 Greater than 50
Norway 1987 nan 50 or below
Norway 1992 77.32 Greater than 50
Norway 1997 78.32 Greater than 50
Norway 2002 79.05 Greater than 50
Norway 2007 80.196 Greater than 50
Oman 1952 37.578 50 or below
Oman 1957 40.08 50 or below
Oman 1962 43.165 50 or below
Oman 1967 46.988 50 or below
Oman 1972 nan 50 or below
Oman 1977 57.367 Greater than 50
Oman 1982 62.728 Greater than 50
Oman 1987 67.734 Greater than 50
Oman 1992 71.197 Greater than 50
Oman 1997 72.499 Greater than 50
Oman 2002 74.193 Greater than 50
Oman 2007 75.64 Greater than 50
Pakistan 1952 43.436 50 or below
Pakistan 1957 45.557 50 or below
Pakistan 1962 nan 50 or below
Pakistan 1967 49.8 50 or below
Pakistan 1972 51.929 Greater than 50
Pakistan 1977 54.043 Greater than 50
Pakistan 1982 56.158 Greater than 50
Pakistan 1987 58.245 Greater than 50
Pakistan 1992 60.838 Greater than 50
Pakistan 1997 61.818 Greater than 50
Pakistan 2002 nan 50 or below
Pakistan 2007 65.483 Greater than 50
Panama 1952 55.191 Greater than 50
Panama 1957 59.201 Greater than 50
Panama 1962 61.817 Greater than 50
Panama 1967 64.071 Greater than 50
Panama 1972 66.216 Greater than 50
Panama 1977 68.681 Greater than 50
Panama 1982 70.472 Greater than 50
Panama 1987 71.523 Greater than 50
Panama 1992 72.462 Greater than 50
Panama 1997 73.738 Greater than 50
Panama 2002 74.712 Greater than 50
Panama 2007 75.537 Greater than 50
Paraguay 1952 62.649 Greater than 50
Paraguay 1957 63.196 Greater than 50
Paraguay 1962 64.361 Greater than 50
Paraguay 1967 64.951 Greater than 50
Paraguay 1972 65.815 Greater than 50
Paraguay 1977 66.353 Greater than 50
Paraguay 1982 66.874 Greater than 50
Paraguay 1987 67.378 Greater than 50
Paraguay 1992 68.225 Greater than 50
Paraguay 1997 69.4 Greater than 50
Paraguay 2002 70.755 Greater than 50
Paraguay 2007 71.752 Greater than 50
Peru 1952 43.902 50 or below
Peru 1957 46.263 50 or below
Peru 1962 49.096 50 or below
Peru 1967 51.445 Greater than 50
Peru 1972 55.448 Greater than 50
Peru 1977 58.447 Greater than 50
Peru 1982 61.406 Greater than 50
Peru 1987 64.134 Greater than 50
Peru 1992 66.458 Greater than 50
Peru 1997 nan 50 or below
Peru 2002 69.906 Greater than 50
Peru 2007 71.421 Greater than 50
Philippines 1952 47.752 50 or below
Philippines 1957 51.334 Greater than 50
Philippines 1962 54.757 Greater than 50
Philippines 1967 56.393 Greater than 50
Philippines 1972 58.065 Greater than 50
Philippines 1977 60.06 Greater than 50
Philippines 1982 62.082 Greater than 50
Philippines 1987 64.151 Greater than 50
Philippines 1992 66.458 Greater than 50
Philippines 1997 68.564 Greater than 50
Philippines 2002 70.303 Greater than 50
Philippines 2007 71.688 Greater than 50
Poland 1952 61.31 Greater than 50
Poland 1957 65.77 Greater than 50
Poland 1962 67.64 Greater than 50
Poland 1967 69.61 Greater than 50
Poland 1972 70.85 Greater than 50
Poland 1977 70.67 Greater than 50
Poland 1982 71.32 Greater than 50
Poland 1987 70.98 Greater than 50
Poland 1992 nan 50 or below
Poland 1997 72.75 Greater than 50
Poland 2002 nan 50 or below
Poland 2007 75.563 Greater than 50
Portugal 1952 59.82 Greater than 50
Portugal 1957 61.51 Greater than 50
Portugal 1962 64.39 Greater than 50
Portugal 1967 66.6 Greater than 50
Portugal 1972 nan 50 or below
Portugal 1977 70.41 Greater than 50
Portugal 1982 72.77 Greater than 50
Portugal 1987 74.06 Greater than 50
Portugal 1992 74.86 Greater than 50
Portugal 1997 75.97 Greater than 50
Portugal 2002 77.29 Greater than 50
Portugal 2007 78.098 Greater than 50
Puerto Rico 1952 64.28 Greater than 50
Puerto Rico 1957 68.54 Greater than 50
Puerto Rico 1962 69.62 Greater than 50
Puerto Rico 1967 71.1 Greater than 50
Puerto Rico 1972 72.16 Greater than 50
Puerto Rico 1977 73.44 Greater than 50
Puerto Rico 1982 73.75 Greater than 50
Puerto Rico 1987 74.63 Greater than 50
Puerto Rico 1992 73.911 Greater than 50
Puerto Rico 1997 74.917 Greater than 50
Puerto Rico 2002 77.778 Greater than 50
Puerto Rico 2007 78.746 Greater than 50
Reunion 1952 52.724 Greater than 50
Reunion 1957 55.09 Greater than 50
Reunion 1962 57.666 Greater than 50
Reunion 1967 60.542 Greater than 50
Reunion 1972 64.274 Greater than 50
Reunion 1977 67.064 Greater than 50
Reunion 1982 69.885 Greater than 50
Reunion 1987 71.913 Greater than 50
Reunion 1992 73.615 Greater than 50
Reunion 1997 nan 50 or below
Reunion 2002 75.744 Greater than 50
Reunion 2007 76.442 Greater than 50
Romania 1952 61.05 Greater than 50
Romania 1957 64.1 Greater than 50
Romania 1962 66.8 Greater than 50
Romania 1967 66.8 Greater than 50
Romania 1972 69.21 Greater than 50
Romania 1977 69.46 Greater than 50
Romania 1982 69.66 Greater than 50
Romania 1987 69.53 Greater than 50
Romania 1992 69.36 Greater than 50
Romania 1997 69.72 Greater than 50
Romania 2002 71.322 Greater than 50
Romania 2007 72.476 Greater than 50
Rwanda 1952 nan 50 or below
Rwanda 1957 41.5 50 or below
Rwanda 1962 43 50 or below
Rwanda 1967 44.1 50 or below
Rwanda 1972 44.6 50 or below
Rwanda 1977 45 50 or below
Rwanda 1982 46.218 50 or below
Rwanda 1987 44.02 50 or below
Rwanda 1992 nan 50 or below
Rwanda 1997 36.087 50 or below
Rwanda 2002 43.413 50 or below
Rwanda 2007 46.242 50 or below
Sao Tome and Principe 1952 46.471 50 or below
Sao Tome and Principe 1957 48.945 50 or below
Sao Tome and Principe 1962 51.893 Greater than 50
Sao Tome and Principe 1967 54.425 Greater than 50
Sao Tome and Principe 1972 56.48 Greater than 50
Sao Tome and Principe 1977 58.55 Greater than 50
Sao Tome and Principe 1982 60.351 Greater than 50
Sao Tome and Principe 1987 61.728 Greater than 50
Sao Tome and Principe 1992 62.742 Greater than 50
Sao Tome and Principe 1997 63.306 Greater than 50
Sao Tome and Principe 2002 64.337 Greater than 50
Sao Tome and Principe 2007 65.528 Greater than 50
Saudi Arabia 1952 39.875 50 or below
Saudi Arabia 1957 42.868 50 or below
Saudi Arabia 1962 45.914 50 or below
Saudi Arabia 1967 49.901 50 or below
Saudi Arabia 1972 53.886 Greater than 50
Saudi Arabia 1977 58.69 Greater than 50
Saudi Arabia 1982 63.012 Greater than 50
Saudi Arabia 1987 66.295 Greater than 50
Saudi Arabia 1992 68.768 Greater than 50
Saudi Arabia 1997 70.533 Greater than 50
Saudi Arabia 2002 71.626 Greater than 50
Saudi Arabia 2007 nan 50 or below
Senegal 1952 37.278 50 or below
Senegal 1957 39.329 50 or below
Senegal 1962 41.454 50 or below
Senegal 1967 43.563 50 or below
Senegal 1972 45.815 50 or below
Senegal 1977 48.879 50 or below
Senegal 1982 52.379 Greater than 50
Senegal 1987 55.769 Greater than 50
Senegal 1992 58.196 Greater than 50
Senegal 1997 60.187 Greater than 50
Senegal 2002 61.6 Greater than 50
Senegal 2007 63.062 Greater than 50
Serbia 1952 57.996 Greater than 50
Serbia 1957 61.685 Greater than 50
Serbia 1962 64.531 Greater than 50
Serbia 1967 66.914 Greater than 50
Serbia 1972 68.7 Greater than 50
Serbia 1977 70.3 Greater than 50
Serbia 1982 70.162 Greater than 50
Serbia 1987 71.218 Greater than 50
Serbia 1992 71.659 Greater than 50
Serbia 1997 72.232 Greater than 50
Serbia 2002 73.213 Greater than 50
Serbia 2007 74.002 Greater than 50
Sierra Leone 1952 30.331 50 or below
Sierra Leone 1957 31.57 50 or below
Sierra Leone 1962 32.767 50 or below
Sierra Leone 1967 34.113 50 or below
Sierra Leone 1972 35.4 50 or below
Sierra Leone 1977 36.788 50 or below
Sierra Leone 1982 38.445 50 or below
Sierra Leone 1987 40.006 50 or below
Sierra Leone 1992 38.333 50 or below
Sierra Leone 1997 39.897 50 or below
Sierra Leone 2002 41.012 50 or below
Sierra Leone 2007 42.568 50 or below
Singapore 1952 60.396 Greater than 50
Singapore 1957 63.179 Greater than 50
Singapore 1962 65.798 Greater than 50
Singapore 1967 67.946 Greater than 50
Singapore 1972 69.521 Greater than 50
Singapore 1977 70.795 Greater than 50
Singapore 1982 71.76 Greater than 50
Singapore 1987 73.56 Greater than 50
Singapore 1992 75.788 Greater than 50
Singapore 1997 77.158 Greater than 50
Singapore 2002 78.77 Greater than 50
Singapore 2007 79.972 Greater than 50
Slovak Republic 1952 64.36 Greater than 50
Slovak Republic 1957 67.45 Greater than 50
Slovak Republic 1962 70.33 Greater than 50
Slovak Republic 1967 70.98 Greater than 50
Slovak Republic 1972 70.35 Greater than 50
Slovak Republic 1977 70.45 Greater than 50
Slovak Republic 1982 70.8 Greater than 50
Slovak Republic 1987 71.08 Greater than 50
Slovak Republic 1992 71.38 Greater than 50
Slovak Republic 1997 72.71 Greater than 50
Slovak Republic 2002 73.8 Greater than 50
Slovak Republic 2007 74.663 Greater than 50
Slovenia 1952 65.57 Greater than 50
Slovenia 1957 67.85 Greater than 50
Slovenia 1962 69.15 Greater than 50
Slovenia 1967 69.18 Greater than 50
Slovenia 1972 69.82 Greater than 50
Slovenia 1977 70.97 Greater than 50
Slovenia 1982 71.063 Greater than 50
Slovenia 1987 72.25 Greater than 50
Slovenia 1992 73.64 Greater than 50
Slovenia 1997 75.13 Greater than 50
Slovenia 2002 76.66 Greater than 50
Slovenia 2007 77.926 Greater than 50
Somalia 1952 32.978 50 or below
Somalia 1957 34.977 50 or below
Somalia 1962 36.981 50 or below
Somalia 1967 38.977 50 or below
Somalia 1972 40.973 50 or below
Somalia 1977 41.974 50 or below
Somalia 1982 42.955 50 or below
Somalia 1987 44.501 50 or below
Somalia 1992 39.658 50 or below
Somalia 1997 43.795 50 or below
Somalia 2002 45.936 50 or below
Somalia 2007 48.159 50 or below
South Africa 1952 45.009 50 or below
South Africa 1957 47.985 50 or below
South Africa 1962 49.951 50 or below
South Africa 1967 51.927 Greater than 50
South Africa 1972 53.696 Greater than 50
South Africa 1977 55.527 Greater than 50
South Africa 1982 58.161 Greater than 50
South Africa 1987 60.834 Greater than 50
South Africa 1992 61.888 Greater than 50
South Africa 1997 60.236 Greater than 50
South Africa 2002 53.365 Greater than 50
South Africa 2007 49.339 50 or below
Spain 1952 64.94 Greater than 50
Spain 1957 66.66 Greater than 50
Spain 1962 69.69 Greater than 50
Spain 1967 71.44 Greater than 50
Spain 1972 73.06 Greater than 50
Spain 1977 74.39 Greater than 50
Spain 1982 76.3 Greater than 50
Spain 1987 76.9 Greater than 50
Spain 1992 77.57 Greater than 50
Spain 1997 78.77 Greater than 50
Spain 2002 79.78 Greater than 50
Spain 2007 80.941 Greater than 50
Sri Lanka 1952 57.593 Greater than 50
Sri Lanka 1957 61.456 Greater than 50
Sri Lanka 1962 62.192 Greater than 50
Sri Lanka 1967 64.266 Greater than 50
Sri Lanka 1972 65.042 Greater than 50
Sri Lanka 1977 65.949 Greater than 50
Sri Lanka 1982 68.757 Greater than 50
Sri Lanka 1987 69.011 Greater than 50
Sri Lanka 1992 70.379 Greater than 50
Sri Lanka 1997 70.457 Greater than 50
Sri Lanka 2002 70.815 Greater than 50
Sri Lanka 2007 72.396 Greater than 50
Sudan 1952 38.635 50 or below
Sudan 1957 39.624 50 or below
Sudan 1962 40.87 50 or below
Sudan 1967 42.858 50 or below
Sudan 1972 45.083 50 or below
Sudan 1977 47.8 50 or below
Sudan 1982 50.338 Greater than 50
Sudan 1987 51.744 Greater than 50
Sudan 1992 53.556 Greater than 50
Sudan 1997 55.373 Greater than 50
Sudan 2002 56.369 Greater than 50
Sudan 2007 58.556 Greater than 50
Swaziland 1952 41.407 50 or below
Swaziland 1957 43.424 50 or below
Swaziland 1962 44.992 50 or below
Swaziland 1967 46.633 50 or below
Swaziland 1972 49.552 50 or below
Swaziland 1977 52.537 Greater than 50
Swaziland 1982 55.561 Greater than 50
Swaziland 1987 57.678 Greater than 50
Swaziland 1992 58.474 Greater than 50
Swaziland 1997 54.289 Greater than 50
Swaziland 2002 43.869 50 or below
Swaziland 2007 39.613 50 or below
Sweden 1952 71.86 Greater than 50
Sweden 1957 72.49 Greater than 50
Sweden 1962 73.37 Greater than 50
Sweden 1967 74.16 Greater than 50
Sweden 1972 74.72 Greater than 50
Sweden 1977 75.44 Greater than 50
Sweden 1982 76.42 Greater than 50
Sweden 1987 77.19 Greater than 50
Sweden 1992 78.16 Greater than 50
Sweden 1997 79.39 Greater than 50
Sweden 2002 80.04 Greater than 50
Sweden 2007 80.884 Greater than 50
Switzerland 1952 69.62 Greater than 50
Switzerland 1957 70.56 Greater than 50
Switzerland 1962 71.32 Greater than 50
Switzerland 1967 72.77 Greater than 50
Switzerland 1972 73.78 Greater than 50
Switzerland 1977 75.39 Greater than 50
Switzerland 1982 76.21 Greater than 50
Switzerland 1987 77.41 Greater than 50
Switzerland 1992 78.03 Greater than 50
Switzerland 1997 79.37 Greater than 50
Switzerland 2002 80.62 Greater than 50
Switzerland 2007 81.701 Greater than 50
Syria 1952 45.883 50 or below

Syria 1957 48.284 50 or below
Syria 1962 50.305 Greater than 50
Syria 1967 53.655 Greater than 50
Syria 1972 57.296 Greater than 50
Syria 1977 61.195 Greater than 50
Syria 1982 64.59 Greater than 50
Syria 1987 66.974 Greater than 50
Syria 1992 69.249 Greater than 50
Syria 1997 71.527 Greater than 50
Syria 2002 73.053 Greater than 50
Syria 2007 74.143 Greater than 50
Taiwan 1952 58.5 Greater than 50
Taiwan 1957 62.4 Greater than 50
Taiwan 1962 65.2 Greater than 50
Taiwan 1967 67.5 Greater than 50
Taiwan 1972 69.39 Greater than 50
Taiwan 1977 70.59 Greater than 50
Taiwan 1982 72.16 Greater than 50
Taiwan 1987 73.4 Greater than 50
Taiwan 1992 74.26 Greater than 50
Taiwan 1997 75.25 Greater than 50
Taiwan 2002 76.99 Greater than 50
Taiwan 2007 78.4 Greater than 50
Tanzania 1952 41.215 50 or below
Tanzania 1957 42.974 50 or below
Tanzania 1962 44.246 50 or below
Tanzania 1967 45.757 50 or below
Tanzania 1972 47.62 50 or below
Tanzania 1977 49.919 50 or below
Tanzania 1982 50.608 Greater than 50
Tanzania 1987 51.535 Greater than 50
Tanzania 1992 50.44 Greater than 50
Tanzania 1997 48.466 50 or below
Tanzania 2002 49.651 50 or below
Tanzania 2007 52.517 Greater than 50
Thailand 1952 50.848 Greater than 50
Thailand 1957 53.63 Greater than 50
Thailand 1962 56.061 Greater than 50
Thailand 1967 58.285 Greater than 50
Thailand 1972 60.405 Greater than 50
Thailand 1977 62.494 Greater than 50
Thailand 1982 64.597 Greater than 50
Thailand 1987 66.084 Greater than 50
Thailand 1992 67.298 Greater than 50
Thailand 1997 67.521 Greater than 50
Thailand 2002 68.564 Greater than 50
Thailand 2007 70.616 Greater than 50
Togo 1952 38.596 50 or below
Togo 1957 41.208 50 or below
Togo 1962 43.922 50 or below
Togo 1967 46.769 50 or below
Togo 1972 49.759 50 or below
Togo 1977 52.887 Greater than 50
Togo 1982 55.471 Greater than 50
Togo 1987 56.941 Greater than 50
Togo 1992 58.061 Greater than 50
Togo 1997 58.39 Greater than 50
Togo 2002 57.561 Greater than 50
Togo 2007 58.42 Greater than 50
Trinidad and Tobago 1952 59.1 Greater than 50
Trinidad and Tobago 1957 61.8 Greater than 50
Trinidad and Tobago 1962 64.9 Greater than 50
Trinidad and Tobago 1967 65.4 Greater than 50
Trinidad and Tobago 1972 65.9 Greater than 50
Trinidad and Tobago 1977 68.3 Greater than 50
Trinidad and Tobago 1982 68.832 Greater than 50
Trinidad and Tobago 1987 69.582 Greater than 50
Trinidad and Tobago 1992 69.862 Greater than 50
Trinidad and Tobago 1997 69.465 Greater than 50
Trinidad and Tobago 2002 68.976 Greater than 50
Trinidad and Tobago 2007 69.819 Greater than 50
Tunisia 1952 44.6 50 or below
Tunisia 1957 47.1 50 or below
Tunisia 1962 49.579 50 or below
Tunisia 1967 52.053 Greater than 50
Tunisia 1972 55.602 Greater than 50
Tunisia 1977 59.837 Greater than 50
Tunisia 1982 64.048 Greater than 50
Tunisia 1987 66.894 Greater than 50
Tunisia 1992 70.001 Greater than 50
Tunisia 1997 71.973 Greater than 50
Tunisia 2002 73.042 Greater than 50
Tunisia 2007 73.923 Greater than 50
Turkey 1952 43.585 50 or below
Turkey 1957 48.079 50 or below
Turkey 1962 52.098 Greater than 50
Turkey 1967 54.336 Greater than 50
Turkey 1972 57.005 Greater than 50
Turkey 1977 59.507 Greater than 50
Turkey 1982 61.036 Greater than 50
Turkey 1987 63.108 Greater than 50
Turkey 1992 66.146 Greater than 50
Turkey 1997 68.835 Greater than 50
Turkey 2002 70.845 Greater than 50
Turkey 2007 71.777 Greater than 50
Uganda 1952 39.978 50 or below
Uganda 1957 42.571 50 or below
Uganda 1962 45.344 50 or below
Uganda 1967 48.051 50 or below
Uganda 1972 51.016 Greater than 50
Uganda 1977 50.35 Greater than 50
Uganda 1982 49.849 50 or below
Uganda 1987 51.509 Greater than 50
Uganda 1992 48.825 50 or below
Uganda 1997 44.578 50 or below
Uganda 2002 47.813 50 or below
Uganda 2007 51.542 Greater than 50
United Kingdom 1952 69.18 Greater than 50
United Kingdom 1957 70.42 Greater than 50
United Kingdom 1962 70.76 Greater than 50
United Kingdom 1967 71.36 Greater than 50
United Kingdom 1972 72.01 Greater than 50
United Kingdom 1977 72.76 Greater than 50
United Kingdom 1982 74.04 Greater than 50
United Kingdom 1987 75.007 Greater than 50
United Kingdom 1992 76.42 Greater than 50
United Kingdom 1997 77.218 Greater than 50
United Kingdom 2002 78.471 Greater than 50
United Kingdom 2007 79.425 Greater than 50
United States 1952 68.44 Greater than 50
United States 1957 69.49 Greater than 50
United States 1962 70.21 Greater than 50
United States 1967 70.76 Greater than 50
United States 1972 71.34 Greater than 50
United States 1977 73.38 Greater than 50
United States 1982 74.65 Greater than 50
United States 1987 75.02 Greater than 50
United States 1992 76.09 Greater than 50
United States 1997 76.81 Greater than 50
United States 2002 77.31 Greater than 50
United States 2007 78.242 Greater than 50
Uruguay 1952 66.071 Greater than 50
Uruguay 1957 67.044 Greater than 50
Uruguay 1962 68.253 Greater than 50
Uruguay 1967 68.468 Greater than 50
Uruguay 1972 68.673 Greater than 50
Uruguay 1977 69.481 Greater than 50
Uruguay 1982 70.805 Greater than 50
Uruguay 1987 71.918 Greater than 50
Uruguay 1992 72.752 Greater than 50
Uruguay 1997 74.223 Greater than 50
Uruguay 2002 75.307 Greater than 50
Uruguay 2007 76.384 Greater than 50
Venezuela 1952 55.088 Greater than 50
Venezuela 1957 57.907 Greater than 50
Venezuela 1962 60.77 Greater than 50
Venezuela 1967 63.479 Greater than 50
Venezuela 1972 65.712 Greater than 50
Venezuela 1977 67.456 Greater than 50
Venezuela 1982 68.557 Greater than 50
Venezuela 1987 70.19 Greater than 50
Venezuela 1992 71.15 Greater than 50
Venezuela 1997 72.146 Greater than 50
Venezuela 2002 72.766 Greater than 50
Venezuela 2007 73.747 Greater than 50
Vietnam 1952 40.412 50 or below
Vietnam 1957 42.887 50 or below
Vietnam 1962 45.363 50 or below
Vietnam 1967 47.838 50 or below
Vietnam 1972 50.254 Greater than 50
Vietnam 1977 55.764 Greater than 50
Vietnam 1982 58.816 Greater than 50
Vietnam 1987 62.82 Greater than 50
Vietnam 1992 67.662 Greater than 50
Vietnam 1997 70.672 Greater than 50
Vietnam 2002 73.017 Greater than 50
Vietnam 2007 74.249 Greater than 50
West Bank and Gaza 1952 43.16 50 or below
West Bank and Gaza 1957 45.671 50 or below
West Bank and Gaza 1962 48.127 50 or below
West Bank and Gaza 1967 51.631 Greater than 50
West Bank and Gaza 1972 56.532 Greater than 50
West Bank and Gaza 1977 60.765 Greater than 50
West Bank and Gaza 1982 64.406 Greater than 50
West Bank and Gaza 1987 67.046 Greater than 50
West Bank and Gaza 1992 69.718 Greater than 50
West Bank and Gaza 1997 71.096 Greater than 50
West Bank and Gaza 2002 72.37 Greater than 50
West Bank and Gaza 2007 73.422 Greater than 50
Yemen, Rep. 1952 32.548 50 or below
Yemen, Rep. 1957 33.97 50 or below
Yemen, Rep. 1962 35.18 50 or below
Yemen, Rep. 1967 36.984 50 or below
Yemen, Rep. 1972 39.848 50 or below
Yemen, Rep. 1977 44.175 50 or below
Yemen, Rep. 1982 49.113 50 or below
Yemen, Rep. 1987 52.922 Greater than 50
Yemen, Rep. 1992 55.599 Greater than 50
Yemen, Rep. 1997 58.02 Greater than 50
Yemen, Rep. 2002 60.308 Greater than 50
Yemen, Rep. 2007 62.698 Greater than 50
Zambia 1952 42.038 50 or below
Zambia 1957 44.077 50 or below
Zambia 1962 46.023 50 or below
Zambia 1967 47.768 50 or below
Zambia 1972 50.107 Greater than 50
Zambia 1977 51.386 Greater than 50
Zambia 1982 51.821 Greater than 50
Zambia 1987 50.821 Greater than 50
Zambia 1992 46.1 50 or below
Zambia 1997 40.238 50 or below
Zambia 2002 39.193 50 or below
Zambia 2007 42.384 50 or below
Zimbabwe 1952 48.451 50 or below
Zimbabwe 1957 50.469 Greater than 50
Zimbabwe 1962 52.358 Greater than 50
Zimbabwe 1967 53.995 Greater than 50
Zimbabwe 1972 55.635 Greater than 50
Zimbabwe 1977 57.674 Greater than 50
Zimbabwe 1982 60.363 Greater than 50
Zimbabwe 1987 62.351 Greater than 50
Zimbabwe 1992 60.377 Greater than 50
Zimbabwe 1997 46.809 50 or below
Zimbabwe 2002 39.989 50 or below
Zimbabwe 2007 43.487 50 or below

In [87]:
for row in df.itertuples():
    print(row)

Pandas(Index=1000, country='Afghanistan', year=1952, pop=8425333.0, life=28.801, gdp=779.4453145, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1001, country='Afghanistan', year=1957, pop=9240934.0, life=nan, gdp=820.8530296, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1003, country='Afghanistan', year=1962, pop=10267083.0, life=31.997, gdp=853.10071, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1004, country='Afghanistan', year=1967, pop=11537966.0, life=34.02, gdp=836.1971382, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1005, country='Afghanistan', year=1972, pop=13079460.0, life=36.088, gdp=739.9811058, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1006, country='Afghanistan', year=1977, pop=14880372.0, life=38.438, gdp=786.11336, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1007, country='Afghanistan', year=1982, pop=nan, life=39.854, gdp=978.0114388, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1008, country='Afghanistan', year=1987, pop=13867957.0, life=40.822, gdp=852.3959448, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1009, country='Afghanistan', year=1992, pop=16317921.0, life=41.674, gdp=649.3413952, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1010, country='Afghanistan', year=1997, pop=22227415.0, life=41.763, gdp=635.341351, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1011, country='Afghanistan', year=2002, pop=25268405.0, life=42.129, gdp=726.7340548, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1012, country='Afghanistan', year=2007, pop=31889923.0, life=43.828, gdp=974.5803384, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1013, country='Albania', year=1952, pop=1282697.0, life=55.23, gdp=1601.056136, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1014, country='Albania', year=1957, pop=1476505.0, life=59.28, gdp=1942.284244, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1015, country='Albania', year=1962, pop=1728137.0, life=64.82, gdp=2312.888958, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1016, country='Albania', year=1967, pop=1984060.0, life=66.22, gdp=2760.196931, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1017, country='Albania', year=1972, pop=2263554.0, life=67.69, gdp=3313.422188, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1018, country='Albania', year=1977, pop=2509048.0, life=68.93, gdp=3533.00391, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1019, country='Albania', year=1982, pop=2780097.0, life=70.42, gdp=3630.880722, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1020, country='Albania', year=1987, pop=3075321.0, life=72.0, gdp=3738.932735, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1021, country='Albania', year=1992, pop=3326498.0, life=71.581, gdp=2497.437901, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1022, country='Albania', year=1997, pop=3428038.0, life=72.95, gdp=3193.054604, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1023, country='Albania', year=2002, pop=3508512.0, life=75.651, gdp=4604.211737, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1024, country='Albania', year=2007, pop=3600523.0, life=76.423, gdp=5937.029526, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1025, country='Algeria', year=1952, pop=9279525.0, life=43.077, gdp=2449.008185, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1026, country='Algeria', year=1957, pop=10270856.0, life=45.685, gdp=3013.976023, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1027, country='Algeria', year=1962, pop=11000948.0, life=48.303, gdp=2550.81688, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1028, country='Algeria', year=1967, pop=12760499.0, life=51.407, gdp=3246.991771, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1029, country='Algeria', year=1972, pop=14760787.0, life=54.518, gdp=4182.663766, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1030, country='Algeria', year=1977, pop=17152804.0, life=58.014, gdp=4910.416756, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1031, country='Algeria', year=1982, pop=20033753.0, life=61.368, gdp=5745.160213, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1032, country='Algeria', year=1987, pop=23254956.0, life=65.799, gdp=5681.358539, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1033, country='Algeria', year=1992, pop=26298373.0, life=67.744, gdp=5023.216647, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1034, country='Algeria', year=1997, pop=29072015.0, life=69.152, gdp=4797.295051, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1035, country='Algeria', year=2002, pop=31287142.0, life=70.994, gdp=5288.040382, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1036, country='Algeria', year=2007, pop=33333216.0, life=72.301, gdp=6223.367465, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1037, country='Angola', year=1952, pop=4232095.0, life=30.015, gdp=3520.610273, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1038, country='Angola', year=1957, pop=4561361.0, life=31.999, gdp=3827.940465, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1039, country='Angola', year=1962, pop=4826015.0, life=34.0, gdp=4269.276742, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1040, country='Angola', year=1967, pop=5247469.0, life=35.985, gdp=5522.776375, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1041, country='Angola', year=1972, pop=5894858.0, life=37.928, gdp=5473.288005, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1042, country='Angola', year=1977, pop=6162675.0, life=39.483, gdp=3008.647355, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1043, country='Angola', year=1982, pop=7016384.0, life=39.942, gdp=2756.953672, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1044, country='Angola', year=1987, pop=7874230.0, life=39.906, gdp=2430.208311, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1045, country='Angola', year=1992, pop=8735988.0, life=40.647, gdp=2627.845685, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1046, country='Angola', year=1997, pop=9875024.0, life=40.963, gdp=2277.140884, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1047, country='Angola', year=2002, pop=10866106.0, life=41.003, gdp=2773.287312, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1048, country='Angola', year=2007, pop=12420476.0, life=42.731, gdp=4797.231267, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1049, country='Argentina', year=1952, pop=17876956.0, life=62.485, gdp=5911.315053, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1050, country='Argentina', year=1957, pop=19610538.0, life=64.399, gdp=6856.856212, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1051, country='Argentina', year=1962, pop=21283783.0, life=65.142, gdp=7133.166023, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1052, country='Argentina', year=1967, pop=22934225.0, life=65.634, gdp=8052.953021, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1053, country='Argentina', year=1972, pop=24779799.0, life=67.065, gdp=9443.038526, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1054, country='Argentina', year=1977, pop=26983828.0, life=68.481, gdp=10079.02674, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1055, country='Argentina', year=1982, pop=29341374.0, life=69.942, gdp=8997.897412, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1056, country='Argentina', year=1987, pop=31620918.0, life=70.774, gdp=9139.671389, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1057, country='Argentina', year=1992, pop=33958947.0, life=71.868, gdp=9308.41871, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1058, country='Argentina', year=1997, pop=36203463.0, life=73.275, gdp=10967.28195, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1059, country='Argentina', year=2002, pop=38331121.0, life=74.34, gdp=8797.640716, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1060, country='Argentina', year=2007, pop=40301927.0, life=75.32, gdp=12779.37964, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1061, country='Australia', year=1952, pop=8691212.0, life=69.12, gdp=10039.59564, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1062, country='Australia', year=1957, pop=9712569.0, life=70.33, gdp=10949.64959, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1063, country='Australia', year=1962, pop=10794968.0, life=70.93, gdp=12217.22686, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1064, country='Australia', year=1967, pop=11872264.0, life=71.1, gdp=14526.12465, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1065, country='Australia', year=1972, pop=13177000.0, life=71.93, gdp=16788.62948, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1066, country='Australia', year=1977, pop=14074100.0, life=73.49, gdp=18334.19751, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1067, country='Australia', year=1982, pop=15184200.0, life=74.74, gdp=19477.00928, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1068, country='Australia', year=1987, pop=16257249.0, life=76.32, gdp=21888.88903, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1069, country='Australia', year=1992, pop=17481977.0, life=77.56, gdp=23424.76683, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1070, country='Australia', year=1997, pop=18565243.0, life=78.83, gdp=26997.93657, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1071, country='Australia', year=2002, pop=19546792.0, life=80.37, gdp=30687.75473, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1072, country='Australia', year=2007, pop=20434176.0, life=81.235, gdp=34435.36744, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1073, country='Austria', year=1952, pop=6927772.0, life=66.8, gdp=6137.076492, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1074, country='Austria', year=1957, pop=6965860.0, life=67.48, gdp=8842.59803, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1075, country='Austria', year=1962, pop=7129864.0, life=69.54, gdp=10750.72111, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1076, country='Austria', year=1967, pop=7376998.0, life=70.14, gdp=12834.6024, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1077, country='Austria', year=1972, pop=7544201.0, life=70.63, gdp=16661.6256, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1078, country='Austria', year=1977, pop=7568430.0, life=72.17, gdp=19749.4223, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1079, country='Austria', year=1982, pop=7574613.0, life=73.18, gdp=21597.08362, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1080, country='Austria', year=1987, pop=7578903.0, life=74.94, gdp=23687.82607, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1081, country='Austria', year=1992, pop=7914969.0, life=76.04, gdp=27042.01868, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1082, country='Austria', year=1997, pop=8069876.0, life=77.51, gdp=29095.92066, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1083, country='Austria', year=2002, pop=8148312.0, life=78.98, gdp=32417.60769, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1084, country='Austria', year=2007, pop=8199783.0, life=79.829, gdp=36126.4927, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1085, country='Bahrain', year=1952, pop=120447.0, life=50.939, gdp=9867.084765, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1086, country='Bahrain', year=1957, pop=138655.0, life=53.832, gdp=11635.79945, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1087, country='Bahrain', year=1962, pop=171863.0, life=56.923, gdp=12753.27514, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1088, country='Bahrain', year=1967, pop=202182.0, life=59.923, gdp=14804.6727, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1089, country='Bahrain', year=1972, pop=230800.0, life=63.3, gdp=18268.65839, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1090, country='Bahrain', year=1977, pop=297410.0, life=65.593, gdp=19340.10196, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1091, country='Bahrain', year=1982, pop=377967.0, life=69.052, gdp=19211.14731, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1092, country='Bahrain', year=1987, pop=454612.0, life=70.75, gdp=18524.02406, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1093, country='Bahrain', year=1992, pop=529491.0, life=72.601, gdp=19035.57917, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1094, country='Bahrain', year=1997, pop=598561.0, life=73.925, gdp=20292.01679, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1095, country='Bahrain', year=2002, pop=656397.0, life=74.795, gdp=23403.55927, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1096, country='Bahrain', year=2007, pop=708573.0, life=75.635, gdp=29796.04834, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1097, country='Bangladesh', year=1952, pop=46886859.0, life=37.484, gdp=684.2441716, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1098, country='Bangladesh', year=1957, pop=51365468.0, life=39.348, gdp=661.6374577, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1099, country='Bangladesh', year=1962, pop=56839289.0, life=41.216, gdp=686.3415538, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1100, country='Bangladesh', year=1967, pop=62821884.0, life=43.453, gdp=721.1860862, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1101, country='Bangladesh', year=1972, pop=70759295.0, life=45.252, gdp=630.2336265, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1102, country='Bangladesh', year=1977, pop=80428306.0, life=46.923, gdp=659.8772322, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1103, country='Bangladesh', year=1982, pop=93074406.0, life=50.009, gdp=676.9818656, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1104, country='Bangladesh', year=1987, pop=103764241.0, life=52.819, gdp=751.9794035, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1105, country='Bangladesh', year=1992, pop=113704579.0, life=56.018, gdp=837.8101643, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1106, country='Bangladesh', year=1997, pop=123315288.0, life=59.412, gdp=972.7700352, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1107, country='Bangladesh', year=2002, pop=135656790.0, life=62.013, gdp=1136.39043, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1108, country='Bangladesh', year=2007, pop=150448339.0, life=64.062, gdp=1391.253792, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1109, country='Belgium', year=1952, pop=8730405.0, life=68.0, gdp=8343.105127, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1110, country='Belgium', year=1957, pop=8989111.0, life=69.24, gdp=9714.960623, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1111, country='Belgium', year=1962, pop=9218400.0, life=70.25, gdp=10991.20676, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1112, country='Belgium', year=1967, pop=9556500.0, life=70.94, gdp=13149.04119, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1113, country='Belgium', year=1972, pop=9709100.0, life=71.44, gdp=16672.14356, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1114, country='Belgium', year=1977, pop=9821800.0, life=72.8, gdp=19117.97448, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1115, country='Belgium', year=1982, pop=9856303.0, life=73.93, gdp=20979.84589, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1116, country='Belgium', year=1987, pop=9870200.0, life=75.35, gdp=22525.56308, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1117, country='Belgium', year=1992, pop=10045622.0, life=76.46, gdp=25575.57069, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1118, country='Belgium', year=1997, pop=10199787.0, life=77.53, gdp=27561.19663, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1119, country='Belgium', year=2002, pop=10311970.0, life=78.32, gdp=30485.88375, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1120, country='Belgium', year=2007, pop=10392226.0, life=79.441, gdp=33692.60508, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1121, country='Benin', year=1952, pop=1738315.0, life=38.223, gdp=1062.7522, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1122, country='Benin', year=1957, pop=1925173.0, life=40.358, gdp=959.6010805, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1123, country='Benin', year=1962, pop=nan, life=42.618, gdp=949.4990641, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1124, country='Benin', year=1967, pop=2427334.0, life=44.885, gdp=1035.831411, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1125, country='Benin', year=1972, pop=2761407.0, life=47.014, gdp=1085.796879, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1126, country='Benin', year=1977, pop=3168267.0, life=49.19, gdp=1029.161251, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1127, country='Benin', year=1982, pop=3641603.0, life=50.904, gdp=1277.897616, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1128, country='Benin', year=1987, pop=4243788.0, life=52.337, gdp=1225.85601, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1129, country='Benin', year=1992, pop=4981671.0, life=53.919, gdp=1191.207681, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1130, country='Benin', year=1997, pop=6066080.0, life=54.777, gdp=1232.975292, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1131, country='Benin', year=2002, pop=7026113.0, life=54.406, gdp=1372.877931, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1132, country='Benin', year=2007, pop=8078314.0, life=56.728, gdp=1441.284873, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1133, country='Bolivia', year=1952, pop=2883315.0, life=40.414, gdp=2677.326347, continent='Americas', lifecheck1='50 or below')
Pandas(Index=1134, country='Bolivia', year=1957, pop=3211738.0, life=41.89, gdp=2127.686326, continent='Americas', lifecheck1='50 or below')
Pandas(Index=1135, country='Bolivia', year=1962, pop=3593918.0, life=43.428, gdp=2180.972546, continent='Americas', lifecheck1='50 or below')
Pandas(Index=1136, country='Bolivia', year=1967, pop=4040665.0, life=45.032, gdp=2586.886053, continent='Americas', lifecheck1='50 or below')
Pandas(Index=1137, country='Bolivia', year=1972, pop=4565872.0, life=46.714, gdp=2980.331339, continent='Americas', lifecheck1='50 or below')
Pandas(Index=1138, country='Bolivia', year=1977, pop=5079716.0, life=50.023, gdp=3548.097832, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1139, country='Bolivia', year=1982, pop=5642224.0, life=53.859, gdp=3156.510452, continent='Americas', lifecheck1='Greater than 50')

Pandas(Index=2448, country='Sudan', year=1987, pop=24725960, life=51.744, gdp=1507.819159, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2449, country='Sudan', year=1992, pop=28227588, life=53.556, gdp=1492.197043, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2450, country='Sudan', year=1997, pop=32160729, life=55.373, gdp=1632.210764, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2451, country='Sudan', year=2002, pop=37090298, life=56.369, gdp=1993.398314, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2452, country='Sudan', year=2007, pop=42292929, life=58.556, gdp=2602.394995, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2453, country='Swaziland', year=1952, pop=290243, life=41.407, gdp=1148.376626, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2454, country='Swaziland', year=1957, pop=326741, life=43.424, gdp=1244.708364, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2455, country='Swaziland', year=1962, pop=370006, life=44.992, gdp=1856.182125, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2456, country='Swaziland', year=1967, pop=420690, life=46.633, gdp=2613.101665, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2457, country='Swaziland', year=1972, pop=480105, life=49.552, gdp=3364.836625, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2458, country='Swaziland', year=1977, pop=551425, life=52.537, gdp=3781.410618, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2459, country='Swaziland', year=1982, pop=649901, life=55.561, gdp=3895.384018, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2460, country='Swaziland', year=1987, pop=779348, life=57.678, gdp=3984.839812, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2461, country='Swaziland', year=1992, pop=962344, life=58.474, gdp=3553.0224, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2462, country='Swaziland', year=1997, pop=1054486, life=54.289, gdp=3876.76846, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2463, country='Swaziland', year=2002, pop=1130269, life=43.869, gdp=4128.116943, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2464, country='Swaziland', year=2007, pop=1133066, life=39.613, gdp=4513.480643, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2465, country='Sweden', year=1952, pop=7124673, life=71.86, gdp=8527.844662, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2466, country='Sweden', year=1957, pop=7363802, life=72.49, gdp=9911.878226, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2467, country='Sweden', year=1962, pop=7561588, life=73.37, gdp=12329.44192, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2468, country='Sweden', year=1967, pop=7867931, life=74.16, gdp=15258.29697, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2469, country='Sweden', year=1972, pop=nan, life=74.72, gdp=17832.02464, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2470, country='Sweden', year=1977, pop=8251648, life=75.44, gdp=18855.72521, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2471, country='Sweden', year=1982, pop=8325260, life=76.42, gdp=20667.38125, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2472, country='Sweden', year=1987, pop=8421403, life=77.19, gdp=23586.92927, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2473, country='Sweden', year=1992, pop=8718867, life=78.16, gdp=23880.01683, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2474, country='Sweden', year=1997, pop=8897619, life=79.39, gdp=25266.59499, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2475, country='Sweden', year=2002, pop=8954175, life=80.04, gdp=29341.63093, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2476, country='Sweden', year=2007, pop=9031088, life=80.884, gdp=33859.74835, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2477, country='Switzerland', year=1952, pop=4815000, life=69.62, gdp=14734.23275, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2478, country='Switzerland', year=1957, pop=5126000, life=70.56, gdp=17909.48973, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2479, country='Switzerland', year=1962, pop=5666000, life=71.32, gdp=20431.0927, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2480, country='Switzerland', year=1967, pop=6063000, life=72.77, gdp=22966.14432, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2481, country='Switzerland', year=1972, pop=6401400, life=73.78, gdp=27195.11304, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2482, country='Switzerland', year=1977, pop=6316424, life=75.39, gdp=26982.29052, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2483, country='Switzerland', year=1982, pop=6468126, life=76.21, gdp=28397.71512, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2484, country='Switzerland', year=1987, pop=6649942, life=77.41, gdp=30281.70459, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2485, country='Switzerland', year=1992, pop=6995447, life=78.03, gdp=31871.5303, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2486, country='Switzerland', year=1997, pop=7193761, life=79.37, gdp=32135.32301, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2487, country='Switzerland', year=2002, pop=7361757, life=80.62, gdp=34480.95771, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2488, country='Switzerland', year=2007, pop=7554661, life=81.701, gdp=37506.41907, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2489, country='Syria', year=1952, pop=3661549, life=45.883, gdp=1643.485354, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2490, country='Syria', year=1957, pop=4149908, life=48.284, gdp=2117.234893, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2491, country='Syria', year=1962, pop=4834621, life=50.305, gdp=2193.037133, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2492, country='Syria', year=1967, pop=5680812, life=53.655, gdp=1881.923632, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2493, country='Syria', year=1972, pop=6701172, life=57.296, gdp=2571.423014, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2494, country='Syria', year=1977, pop=7932503, life=61.195, gdp=3195.484582, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2495, country='Syria', year=1982, pop=nan, life=64.59, gdp=3761.837715, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2496, country='Syria', year=1987, pop=11242847, life=66.974, gdp=3116.774285, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2497, country='Syria', year=1992, pop=13219062, life=69.249, gdp=3340.542768, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2498, country='Syria', year=1997, pop=15081016, life=71.527, gdp=4014.238972, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2499, country='Syria', year=2002, pop=17155814, life=73.053, gdp=4090.925331, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2500, country='Syria', year=2007, pop=19314747, life=74.143, gdp=4184.548089, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2501, country='Taiwan', year=1952, pop=8550362, life=58.5, gdp=1206.947913, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2502, country='Taiwan', year=1957, pop=10164215, life=62.4, gdp=1507.86129, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2503, country='Taiwan', year=1962, pop=11918938, life=65.2, gdp=1822.879028, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2504, country='Taiwan', year=1967, pop=13648692, life=67.5, gdp=2643.858681, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2505, country='Taiwan', year=1972, pop=15226039, life=69.39, gdp=4062.523897, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2506, country='Taiwan', year=1977, pop=16785196, life=70.59, gdp=5596.519826, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2507, country='Taiwan', year=1982, pop=18501390, life=72.16, gdp=7426.354774, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2508, country='Taiwan', year=1987, pop=19757799, life=73.4, gdp=11054.56175, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2509, country='Taiwan', year=1992, pop=20686918, life=74.26, gdp=15215.6579, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2510, country='Taiwan', year=1997, pop=21628605, life=75.25, gdp=20206.82098, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2511, country='Taiwan', year=2002, pop=22454239, life=76.99, gdp=23235.42329, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2512, country='Taiwan', year=2007, pop=23174294, life=78.4, gdp=28718.27684, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2513, country='Tanzania', year=1952, pop=8322925, life=41.215, gdp=716.6500721, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2514, country='Tanzania', year=1957, pop=9452826, life=42.974, gdp=698.5356073, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2515, country='Tanzania', year=1962, pop=10863958, life=44.246, gdp=722.0038073, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2516, country='Tanzania', year=1967, pop=nan, life=45.757, gdp=848.2186575, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2517, country='Tanzania', year=1972, pop=14706593, life=47.62, gdp=915.9850592, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2518, country='Tanzania', year=1977, pop=17129565, life=49.919, gdp=962.4922932, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2519, country='Tanzania', year=1982, pop=19844382, life=50.608, gdp=874.2426069, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2520, country='Tanzania', year=1987, pop=23040630, life=51.535, gdp=831.8220794, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2521, country='Tanzania', year=1992, pop=26605473, life=50.44, gdp=825.682454, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2522, country='Tanzania', year=1997, pop=30686889, life=48.466, gdp=789.1862231, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2523, country='Tanzania', year=2002, pop=34593779, life=49.651, gdp=899.0742111, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2524, country='Tanzania', year=2007, pop=38139640, life=52.517, gdp=1107.482182, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2525, country='Thailand', year=1952, pop=21289402, life=50.848, gdp=757.7974177, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2526, country='Thailand', year=1957, pop=25041917, life=53.63, gdp=793.5774148, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2527, country='Thailand', year=1962, pop=29263397, life=56.061, gdp=1002.199172, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2528, country='Thailand', year=1967, pop=34024249, life=58.285, gdp=1295.46066, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2529, country='Thailand', year=1972, pop=39276153, life=60.405, gdp=1524.358936, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2530, country='Thailand', year=1977, pop=44148285, life=62.494, gdp=1961.224635, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2531, country='Thailand', year=1982, pop=48827160, life=64.597, gdp=2393.219781, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2532, country='Thailand', year=1987, pop=52910342, life=66.084, gdp=2982.653773, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2533, country='Thailand', year=1992, pop=56667095, life=67.298, gdp=4616.896545, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2534, country='Thailand', year=1997, pop=60216677, life=67.521, gdp=5852.625497, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2535, country='Thailand', year=2002, pop=62806748, life=68.564, gdp=5913.187529, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2536, country='Thailand', year=2007, pop=65068149, life=70.616, gdp=7458.396327, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2537, country='Togo', year=1952, pop=nan, life=38.596, gdp=859.8086567, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2538, country='Togo', year=1957, pop=1357445, life=41.208, gdp=925.9083202, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2539, country='Togo', year=1962, pop=1528098, life=43.922, gdp=1067.53481, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2540, country='Togo', year=1967, pop=1735550, life=46.769, gdp=1477.59676, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2541, country='Togo', year=1972, pop=2056351, life=49.759, gdp=1649.660188, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2542, country='Togo', year=1977, pop=2308582, life=52.887, gdp=1532.776998, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2543, country='Togo', year=1982, pop=2644765, life=55.471, gdp=1344.577953, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2544, country='Togo', year=1987, pop=3154264, life=56.941, gdp=1202.201361, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2545, country='Togo', year=1992, pop=3747553, life=58.061, gdp=1034.298904, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2546, country='Togo', year=1997, pop=4320890, life=58.39, gdp=982.2869243, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2547, country='Togo', year=2002, pop=4977378, life=57.561, gdp=886.2205765, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2548, country='Togo', year=2007, pop=5701579, life=58.42, gdp=882.9699438, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2549, country='Trinidad and Tobago', year=1952, pop=662850, life=59.1, gdp=3023.271928, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2550, country='Trinidad and Tobago', year=1957, pop=764900, life=61.8, gdp=4100.3934, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2551, country='Trinidad and Tobago', year=1962, pop=887498, life=64.9, gdp=4997.523971, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2552, country='Trinidad and Tobago', year=1967, pop=960155, life=65.4, gdp=5621.368472, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2553, country='Trinidad and Tobago', year=1972, pop=975199, life=65.9, gdp=6619.551419, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2554, country='Trinidad and Tobago', year=1977, pop=1039009, life=68.3, gdp=7899.554209, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2555, country='Trinidad and Tobago', year=1982, pop=1116479, life=68.832, gdp=9119.528607, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2556, country='Trinidad and Tobago', year=1987, pop=1191336, life=69.582, gdp=7388.597823, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2557, country='Trinidad and Tobago', year=1992, pop=1183669, life=69.862, gdp=7370.990932, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2558, country='Trinidad and Tobago', year=1997, pop=1138101, life=69.465, gdp=8792.573126, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2559, country='Trinidad and Tobago', year=2002, pop=nan, life=68.976, gdp=11460.60023, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2560, country='Trinidad and Tobago', year=2007, pop=1056608, life=69.819, gdp=18008.50924, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2561, country='Tunisia', year=1952, pop=3647735, life=44.6, gdp=1468.475631, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2562, country='Tunisia', year=1957, pop=3950849, life=47.1, gdp=1395.232468, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2563, country='Tunisia', year=1962, pop=4286552, life=49.579, gdp=1660.30321, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2564, country='Tunisia', year=1967, pop=4786986, life=52.053, gdp=1932.360167, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2565, country='Tunisia', year=1972, pop=5303507, life=55.602, gdp=2753.285994, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2566, country='Tunisia', year=1977, pop=6005061, life=59.837, gdp=3120.876811, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2567, country='Tunisia', year=1982, pop=6734098, life=64.048, gdp=3560.233174, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2568, country='Tunisia', year=1987, pop=7724976, life=66.894, gdp=3810.419296, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2569, country='Tunisia', year=1992, pop=8523077, life=70.001, gdp=4332.720164, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2570, country='Tunisia', year=1997, pop=9231669, life=71.973, gdp=4876.798614, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2571, country='Tunisia', year=2002, pop=9770575, life=73.042, gdp=5722.895655, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2572, country='Tunisia', year=2007, pop=10276158, life=73.923, gdp=7092.923025, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2573, country='Turkey', year=1952, pop=22235677, life=43.585, gdp=1969.10098, continent='Europe', lifecheck1='50 or below')
Pandas(Index=2574, country='Turkey', year=1957, pop=25670939, life=48.079, gdp=2218.754257, continent='Europe', lifecheck1='50 or below')
Pandas(Index=2575, country='Turkey', year=1962, pop=29788695, life=52.098, gdp=2322.869908, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2576, country='Turkey', year=1967, pop=33411317, life=54.336, gdp=2826.356387, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2577, country='Turkey', year=1972, pop=37492953, life=57.005, gdp=3450.69638, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2578, country='Turkey', year=1977, pop=42404033, life=59.507, gdp=4269.122326, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2579, country='Turkey', year=1982, pop=nan, life=61.036, gdp=4241.356344, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2580, country='Turkey', year=1987, pop=52881328, life=63.108, gdp=5089.043686, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2581, country='Turkey', year=1992, pop=58179144, life=66.146, gdp=5678.348271, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2582, country='Turkey', year=1997, pop=63047647, life=68.835, gdp=6601.429915, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2583, country='Turkey', year=2002, pop=67308928, life=70.845, gdp=6508.085718, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2584, country='Turkey', year=2007, pop=71158647, life=71.777, gdp=8458.276384, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2585, country='Uganda', year=1952, pop=5824797, life=39.978, gdp=734.753484, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2586, country='Uganda', year=1957, pop=6675501, life=42.571, gdp=774.3710692, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2587, country='Uganda', year=1962, pop=7688797, life=45.344, gdp=767.2717398, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2588, country='Uganda', year=1967, pop=8900294, life=48.051, gdp=908.9185217, continent='Africa', lifecheck1='50 or below')

In [88]:
for (index,country,year,pop,life,gdp,continent,check) in df.itertuples():
    print(country,year,life,check)

Afghanistan 1952 28.801 50 or below
Afghanistan 1957 nan 50 or below
Afghanistan 1962 31.997 50 or below
Afghanistan 1967 34.02 50 or below
Afghanistan 1972 36.088 50 or below
Afghanistan 1977 38.438 50 or below
Afghanistan 1982 39.854 50 or below
Afghanistan 1987 40.822 50 or below
Afghanistan 1992 41.674 50 or below
Afghanistan 1997 41.763 50 or below
Afghanistan 2002 42.129 50 or below
Afghanistan 2007 43.828 50 or below
Albania 1952 55.23 Greater than 50
Albania 1957 59.28 Greater than 50
Albania 1962 64.82 Greater than 50
Albania 1967 66.22 Greater than 50
Albania 1972 67.69 Greater than 50
Albania 1977 68.93 Greater than 50
Albania 1982 70.42 Greater than 50
Albania 1987 72.0 Greater than 50
Albania 1992 71.581 Greater than 50
Albania 1997 72.95 Greater than 50
Albania 2002 75.651 Greater than 50
Albania 2007 76.423 Greater than 50
Algeria 1952 43.077 50 or below
Algeria 1957 45.685 50 or below
Algeria 1962 48.303 50 or below
Algeria 1967 51.407 Greater than 50
Algeria 1972 54.518 Greater than 50
Algeria 1977 58.014 Greater than 50
Algeria 1982 61.368 Greater than 50
Algeria 1987 65.799 Greater than 50
Algeria 1992 67.744 Greater than 50
Algeria 1997 69.152 Greater than 50
Algeria 2002 70.994 Greater than 50
Algeria 2007 72.301 Greater than 50
Angola 1952 30.015 50 or below
Angola 1957 31.999 50 or below
Angola 1962 34.0 50 or below
Angola 1967 35.985 50 or below
Angola 1972 37.928 50 or below
Angola 1977 39.483 50 or below
Angola 1982 39.942 50 or below
Angola 1987 39.906 50 or below
Angola 1992 40.647 50 or below
Angola 1997 40.963 50 or below
Angola 2002 41.003 50 or below
Angola 2007 42.731 50 or below
Argentina 1952 62.485 Greater than 50
Argentina 1957 64.399 Greater than 50
Argentina 1962 65.142 Greater than 50
Argentina 1967 65.634 Greater than 50
Argentina 1972 67.065 Greater than 50
Argentina 1977 68.481 Greater than 50
Argentina 1982 69.942 Greater than 50
Argentina 1987 70.774 Greater than 50
Argentina 1992 71.868 Greater than 50
Argentina 1997 73.275 Greater than 50
Argentina 2002 74.34 Greater than 50
Argentina 2007 75.32 Greater than 50
Australia 1952 69.12 Greater than 50
Australia 1957 70.33 Greater than 50
Australia 1962 70.93 Greater than 50
Australia 1967 71.1 Greater than 50
Australia 1972 71.93 Greater than 50
Australia 1977 73.49 Greater than 50
Australia 1982 74.74 Greater than 50
Australia 1987 76.32 Greater than 50
Australia 1992 77.56 Greater than 50
Australia 1997 78.83 Greater than 50
Australia 2002 80.37 Greater than 50
Australia 2007 81.235 Greater than 50
Austria 1952 66.8 Greater than 50
Austria 1957 67.48 Greater than 50
Austria 1962 69.54 Greater than 50
Austria 1967 70.14 Greater than 50
Austria 1972 70.63 Greater than 50
Austria 1977 72.17 Greater than 50
Austria 1982 73.18 Greater than 50
Austria 1987 74.94 Greater than 50
Austria 1992 76.04 Greater than 50
Austria 1997 77.51 Greater than 50
Austria 2002 78.98 Greater than 50
Austria 2007 79.829 Greater than 50
Bahrain 1952 50.939 Greater than 50
Bahrain 1957 53.832 Greater than 50
Bahrain 1962 56.923 Greater than 50
Bahrain 1967 59.923 Greater than 50
Bahrain 1972 63.3 Greater than 50
Bahrain 1977 65.593 Greater than 50
Bahrain 1982 69.052 Greater than 50
Bahrain 1987 70.75 Greater than 50
Bahrain 1992 72.601 Greater than 50
Bahrain 1997 73.925 Greater than 50
Bahrain 2002 74.795 Greater than 50
Bahrain 2007 75.635 Greater than 50
Bangladesh 1952 37.484 50 or below
Bangladesh 1957 39.348 50 or below
Bangladesh 1962 41.216 50 or below
Bangladesh 1967 43.453 50 or below
Bangladesh 1972 45.252 50 or below
Bangladesh 1977 46.923 50 or below
Bangladesh 1982 50.009 Greater than 50
Bangladesh 1987 52.819 Greater than 50
Bangladesh 1992 56.018 Greater than 50
Bangladesh 1997 59.412 Greater than 50
Bangladesh 2002 62.013 Greater than 50
Bangladesh 2007 64.062 Greater than 50
Belgium 1952 68.0 Greater than 50
Belgium 1957 69.24 Greater than 50
Belgium 1962 70.25 Greater than 50
Belgium 1967 70.94 Greater than 50
Belgium 1972 71.44 Greater than 50
Belgium 1977 72.8 Greater than 50
Belgium 1982 73.93 Greater than 50
Belgium 1987 75.35 Greater than 50
Belgium 1992 76.46 Greater than 50
Belgium 1997 77.53 Greater than 50
Belgium 2002 78.32 Greater than 50
Belgium 2007 79.441 Greater than 50
Benin 1952 38.223 50 or below
Benin 1957 40.358 50 or below
Benin 1962 42.618 50 or below
Benin 1967 44.885 50 or below
Benin 1972 47.014 50 or below
Benin 1977 49.19 50 or below
Benin 1982 50.904 Greater than 50
Benin 1987 52.337 Greater than 50
Benin 1992 53.919 Greater than 50
Benin 1997 54.777 Greater than 50
Benin 2002 54.406 Greater than 50
Benin 2007 56.728 Greater than 50
Bolivia 1952 40.414 50 or below
Bolivia 1957 41.89 50 or below
Bolivia 1962 43.428 50 or below
Bolivia 1967 45.032 50 or below
Bolivia 1972 46.714 50 or below
Bolivia 1977 50.023 Greater than 50
Bolivia 1982 53.859 Greater than 50
Bolivia 1987 57.251 Greater than 50
Bolivia 1992 59.957 Greater than 50
Bolivia 1997 62.05 Greater than 50
Bolivia 2002 63.883 Greater than 50
Bolivia 2007 65.554 Greater than 50
Bosnia and Herzegovina 1952 53.82 Greater than 50
Bosnia and Herzegovina 1957 58.45 Greater than 50
Bosnia and Herzegovina 1962 61.93 Greater than 50
Bosnia and Herzegovina 1967 64.79 Greater than 50
Bosnia and Herzegovina 1972 67.45 Greater than 50
Bosnia and Herzegovina 1977 69.86 Greater than 50
Bosnia and Herzegovina 1982 70.69 Greater than 50
Bosnia and Herzegovina 1987 71.14 Greater than 50
Bosnia and Herzegovina 1992 72.178 Greater than 50
Bosnia and Herzegovina 1997 73.244 Greater than 50
Bosnia and Herzegovina 2002 74.09 Greater than 50
Bosnia and Herzegovina 2007 74.852 Greater than 50
Botswana 1952 47.622 50 or below
Botswana 1957 49.618 50 or below
Botswana 1962 51.52 Greater than 50
Botswana 1967 53.298 Greater than 50
Botswana 1972 56.024 Greater than 50
Botswana 1977 59.319 Greater than 50
Botswana 1982 61.484 Greater than 50
Botswana 1987 63.622 Greater than 50
Botswana 1992 62.745 Greater than 50
Botswana 1997 52.556 Greater than 50
Botswana 2002 46.634 50 or below
Botswana 2007 50.728 Greater than 50
Brazil 1952 50.917 Greater than 50
Brazil 1957 53.285 Greater than 50
Brazil 1962 55.665 Greater than 50
Brazil 1967 57.632 Greater than 50
Brazil 1972 59.504 Greater than 50
Brazil 1977 61.489 Greater than 50
Brazil 1982 63.336 Greater than 50
Brazil 1987 65.205 Greater than 50
Brazil 1992 67.057 Greater than 50
Brazil 1997 69.388 Greater than 50
Brazil 2002 71.006 Greater than 50
Brazil 2007 72.39 Greater than 50
Bulgaria 1952 59.6 Greater than 50
Bulgaria 1957 66.61 Greater than 50
Bulgaria 1962 69.51 Greater than 50
Bulgaria 1967 70.42 Greater than 50
Bulgaria 1972 nan 50 or below
Bulgaria 1977 70.81 Greater than 50
Bulgaria 1982 71.08 Greater than 50
Bulgaria 1987 71.34 Greater than 50
Bulgaria 1992 71.19 Greater than 50
Bulgaria 1997 70.32 Greater than 50
Bulgaria 2002 72.14 Greater than 50
Bulgaria 2007 73.005 Greater than 50
Burkina Faso 1952 31.975 50 or below
Burkina Faso 1957 34.906 50 or below
Burkina Faso 1962 37.814 50 or below
Burkina Faso 1967 40.697 50 or below
Burkina Faso 1972 43.591 50 or below
Burkina Faso 1977 46.137 50 or below
Burkina Faso 1982 48.122 50 or below
Burkina Faso 1987 49.557 50 or below
Burkina Faso 1992 50.26 Greater than 50
Burkina Faso 1997 50.324 Greater than 50
Burkina Faso 2002 50.65 Greater than 50
Burkina Faso 2007 52.295 Greater than 50
Burundi 1952 39.031 50 or below
Burundi 1957 40.533 50 or below
Burundi 1962 42.045 50 or below
Burundi 1967 43.548 50 or below
Burundi 1972 44.057 50 or below
Burundi 1977 45.91 50 or below
Burundi 1982 47.471 50 or below
Burundi 1987 48.211 50 or below
Burundi 1992 44.736 50 or below
Burundi 1997 45.326 50 or below
Burundi 2002 47.36 50 or below
Burundi 2007 49.58 50 or below
Cambodia 1952 39.417 50 or below
Cambodia 1957 41.366 50 or below
Cambodia 1962 43.415 50 or below
Cambodia 1967 45.415 50 or below
Cambodia 1972 40.317 50 or below
Cambodia 1977 31.22 50 or below
Cambodia 1982 50.957 Greater than 50
Cambodia 1987 53.914 Greater than 50
Cambodia 1992 55.803 Greater than 50
Cambodia 1997 56.534 Greater than 50
Cambodia 2002 56.752 Greater than 50
Cambodia 2007 59.723 Greater than 50
Cameroon 1952 38.523 50 or below
Cameroon 1957 40.428 50 or below
Cameroon 1962 42.643 50 or below
Cameroon 1967 44.799 50 or below
Cameroon 1972 47.049 50 or below
Cameroon 1977 49.355 50 or below
Cameroon 1982 52.961 Greater than 50
Cameroon 1987 54.985 Greater than 50
Cameroon 1992 54.314 Greater than 50
Cameroon 1997 52.199 Greater than 50
Cameroon 2002 49.856 50 or below
Cameroon 2007 50.43 Greater than 50
Canada 1952 68.75 Greater than 50
Canada 1957 69.96 Greater than 50
Canada 1962 71.3 Greater than 50
Canada 1967 72.13 Greater than 50
Canada 1972 72.88 Greater than 50
Canada 1977 74.21 Greater than 50
Canada 1982 75.76 Greater than 50
Canada 1987 76.86 Greater than 50
Canada 1992 77.95 Greater than 50
Canada 1997 78.61 Greater than 50
Canada 2002 79.77 Greater than 50
Canada 2007 80.653 Greater than 50
Central African Republic 1952 35.463 50 or below
Central African Republic 1957 37.464 50 or below
Central African Republic 1962 39.475 50 or below
Central African Republic 1967 41.478 50 or below
Central African Republic 1972 43.457 50 or below
Central African Republic 1977 46.775 50 or below
Central African Republic 1982 48.295 50 or below
Central African Republic 1987 50.485 Greater than 50
Central African Republic 1992 49.396 50 or below
Central African Republic 1997 46.066 50 or below
Central African Republic 2002 43.308 50 or below
Central African Republic 2007 44.741 50 or below
Chad 1952 38.092 50 or below
Chad 1957 39.881 50 or below
Chad 1962 41.716 50 or below
Chad 1967 43.601 50 or below
Chad 1972 45.569 50 or below
Chad 1977 47.383 50 or below
Chad 1982 49.517 50 or below
Chad 1987 51.051 Greater than 50
Chad 1992 51.724 Greater than 50
Chad 1997 51.573 Greater than 50
Chad 2002 50.525 Greater than 50
Chad 2007 nan 50 or below
Chile 1952 54.745 Greater than 50
Chile 1957 56.074 Greater than 50
Chile 1962 57.924 Greater than 50
Chile 1967 60.523 Greater than 50
Chile 1972 63.441 Greater than 50
Chile 1977 67.052 Greater than 50
Chile 1982 70.565 Greater than 50
Chile 1987 72.492 Greater than 50
Chile 1992 74.126 Greater than 50
Chile 1997 75.816 Greater than 50
Chile 2002 77.86 Greater than 50
Chile 2007 78.553 Greater than 50
China 1952 44.0 50 or below
China 1957 50.54896 Greater than 50
China 1962 44.50136 50 or below
China 1967 58.38112 Greater than 50
China 1972 63.11888 Greater than 50
China 1977 63.96736 Greater than 50
China 1982 65.525 Greater than 50
China 1987 67.274 Greater than 50
China 1992 68.69 Greater than 50
China 1997 70.426 Greater than 50
China 2002 72.028 Greater than 50
China 2007 72.961 Greater than 50
Colombia 1952 50.643 Greater than 50
Colombia 1957 55.118 Greater than 50
Colombia 1962 57.863 Greater than 50
Colombia 1967 59.963 Greater than 50
Colombia 1972 61.623 Greater than 50
Colombia 1977 63.837 Greater than 50
Colombia 1982 66.653 Greater than 50
Colombia 1987 67.768 Greater than 50
Colombia 1992 68.421 Greater than 50
Colombia 1997 70.313 Greater than 50
Colombia 2002 71.682 Greater than 50
Colombia 2007 72.889 Greater than 50
Comoros 1952 40.715 50 or below
Comoros 1957 42.46 50 or below
Comoros 1962 44.467 50 or below
Comoros 1967 46.472 50 or below
Comoros 1972 48.944 50 or below
Comoros 1977 50.939 Greater than 50
Comoros 1982 52.933 Greater than 50
Comoros 1987 54.926 Greater than 50
Comoros 1992 57.939 Greater than 50
Comoros 1997 60.66 Greater than 50
Comoros 2002 62.974 Greater than 50
Comoros 2007 65.152 Greater than 50
Congo, Dem. Rep. 1952 39.143 50 or below
Congo, Dem. Rep. 1957 40.652 50 or below
Congo, Dem. Rep. 1962 42.122 50 or below
Congo, Dem. Rep. 1967 44.056 50 or below
Congo, Dem. Rep. 1972 45.989 50 or below
Congo, Dem. Rep. 1977 47.804 50 or below
Congo, Dem. Rep. 1982 47.784 50 or below
Congo, Dem. Rep. 1987 47.412 50 or below
Congo, Dem. Rep. 1992 45.548 50 or below
Congo, Dem. Rep. 1997 42.587 50 or below
Congo, Dem. Rep. 2002 44.966 50 or below
Congo, Dem. Rep. 2007 46.462 50 or below
Congo, Rep. 1952 42.111 50 or below
Congo, Rep. 1957 45.053 50 or below
Congo, Rep. 1962 48.435 50 or below
Congo, Rep. 1967 52.04 Greater than 50
Congo, Rep. 1972 54.907 Greater than 50
Congo, Rep. 1977 55.625 Greater than 50
Congo, Rep. 1982 56.695 Greater than 50
Congo, Rep. 1987 57.47 Greater than 50
Congo, Rep. 1992 56.433 Greater than 50
Congo, Rep. 1997 52.962 Greater than 50
Congo, Rep. 2002 52.97 Greater than 50
Congo, Rep. 2007 55.322 Greater than 50
Costa Rica 1952 57.206 Greater than 50
Costa Rica 1957 60.026 Greater than 50
Costa Rica 1962 62.842 Greater than 50
Costa Rica 1967 65.424 Greater than 50
Costa Rica 1972 67.849 Greater than 50
Costa Rica 1977 70.75 Greater than 50
Costa Rica 1982 73.45 Greater than 50
Costa Rica 1987 74.752 Greater than 50
Costa Rica 1992 75.713 Greater than 50
Costa Rica 1997 77.26 Greater than 50
Costa Rica 2002 78.123 Greater than 50
Costa Rica 2007 78.782 Greater than 50
Cote d'Ivoire 1952 40.477 50 or below
Cote d'Ivoire 1957 42.469 50 or below
Cote d'Ivoire 1962 44.93 50 or below
Cote d'Ivoire 1967 47.35 50 or below
Cote d'Ivoire 1972 49.801 50 or below
Cote d'Ivoire 1977 52.374 Greater than 50
Cote d'Ivoire 1982 53.983 Greater than 50
Cote d'Ivoire 1987 54.655 Greater than 50
Cote d'Ivoire 1992 52.044 Greater than 50
Cote d'Ivoire 1997 47.991 50 or below
Cote d'Ivoire 2002 46.832 50 or below
Cote d'Ivoire 2007 48.328 50 or below
Croatia 1952 61.21 Greater than 50
Croatia 1957 64.77 Greater than 50
Croatia 1962 67.13 Greater than 50
Croatia 1967 68.5 Greater than 50
Croatia 1972 69.61 Greater than 50
Croatia 1977 70.64 Greater than 50
Croatia 1982 70.46 Greater than 50
Croatia 1987 71.52 Greater than 50
Croatia 1992 72.527 Greater than 50
Croatia 1997 73.68 Greater than 50
Croatia 2002 74.876 Greater than 50

Croatia 2007 75.748 Greater than 50
Cuba 1952 59.421 Greater than 50
Cuba 1957 62.325 Greater than 50
Cuba 1962 65.246 Greater than 50
Cuba 1967 68.29 Greater than 50
Cuba 1972 70.723 Greater than 50
Cuba 1977 72.649 Greater than 50
Cuba 1982 73.717 Greater than 50
Cuba 1987 74.174 Greater than 50
Cuba 1992 74.414 Greater than 50
Cuba 1997 76.151 Greater than 50
Cuba 2002 77.158 Greater than 50
Cuba 2007 78.273 Greater than 50
Czech Republic 1952 66.87 Greater than 50
Czech Republic 1957 69.03 Greater than 50
Czech Republic 1962 69.9 Greater than 50
Czech Republic 1967 70.38 Greater than 50
Czech Republic 1972 70.29 Greater than 50
Czech Republic 1977 70.71 Greater than 50
Czech Republic 1982 70.96 Greater than 50
Czech Republic 1987 71.58 Greater than 50
Czech Republic 1992 72.4 Greater than 50
Czech Republic 1997 74.01 Greater than 50
Czech Republic 2002 75.51 Greater than 50
Czech Republic 2007 76.486 Greater than 50
Denmark 1952 70.78 Greater than 50
Denmark 1957 71.81 Greater than 50
Denmark 1962 72.35 Greater than 50
Denmark 1967 72.96 Greater than 50
Denmark 1972 73.47 Greater than 50
Denmark 1977 74.69 Greater than 50
Denmark 1982 74.63 Greater than 50
Denmark 1987 74.8 Greater than 50
Denmark 1992 75.33 Greater than 50
Denmark 1997 76.11 Greater than 50
Denmark 2002 77.18 Greater than 50
Denmark 2007 78.332 Greater than 50
Djibouti 1952 34.812 50 or below
Djibouti 1957 37.328 50 or below
Djibouti 1962 39.693 50 or below
Djibouti 1967 42.074 50 or below
Djibouti 1972 44.366 50 or below
Djibouti 1977 46.519 50 or below
Djibouti 1982 48.812 50 or below
Djibouti 1987 50.04 Greater than 50
Djibouti 1992 51.604 Greater than 50
Djibouti 1997 53.157 Greater than 50
Djibouti 2002 53.373 Greater than 50
Djibouti 2007 54.791 Greater than 50
Dominican Republic 1952 45.928 50 or below
Dominican Republic 1957 49.828 50 or below
Dominican Republic 1962 53.459 Greater than 50
Dominican Republic 1967 56.751 Greater than 50
Dominican Republic 1972 59.631 Greater than 50
Dominican Republic 1977 61.788 Greater than 50
Dominican Republic 1982 63.727 Greater than 50
Dominican Republic 1987 66.046 Greater than 50
Dominican Republic 1992 68.457 Greater than 50
Dominican Republic 1997 69.957 Greater than 50
Dominican Republic 2002 70.847 Greater than 50
Dominican Republic 2007 72.235 Greater than 50
Ecuador 1952 48.357 50 or below
Ecuador 1957 51.356 Greater than 50
Ecuador 1962 54.64 Greater than 50
Ecuador 1967 56.678 Greater than 50
Ecuador 1972 58.796 Greater than 50
Ecuador 1977 61.31 Greater than 50
Ecuador 1982 64.342 Greater than 50
Ecuador 1987 67.231 Greater than 50
Ecuador 1992 69.613 Greater than 50
Ecuador 1997 72.312 Greater than 50
Ecuador 2002 74.173 Greater than 50
Ecuador 2007 74.994 Greater than 50
Egypt 1952 41.893 50 or below
Egypt 1957 44.444 50 or below
Egypt 1962 46.992 50 or below
Egypt 1967 49.293 50 or below
Egypt 1972 51.137 Greater than 50
Egypt 1977 53.319 Greater than 50
Egypt 1982 56.006 Greater than 50
Egypt 1987 59.797 Greater than 50
Egypt 1992 63.674 Greater than 50
Egypt 1997 67.217 Greater than 50
Egypt 2002 69.806 Greater than 50
Egypt 2007 71.338 Greater than 50
El Salvador 1952 45.262 50 or below
El Salvador 1957 48.57 50 or below
El Salvador 1962 52.307 Greater than 50
El Salvador 1967 55.855 Greater than 50
El Salvador 1972 58.207 Greater than 50
El Salvador 1977 56.696 Greater than 50
El Salvador 1982 56.604 Greater than 50
El Salvador 1987 63.154 Greater than 50
El Salvador 1992 66.798 Greater than 50
El Salvador 1997 69.535 Greater than 50
El Salvador 2002 70.734 Greater than 50
El Salvador 2007 71.878 Greater than 50
Equatorial Guinea 1952 34.482 50 or below
Equatorial Guinea 1957 35.983 50 or below
Equatorial Guinea 1962 37.485 50 or below
Equatorial Guinea 1967 38.987 50 or below
Equatorial Guinea 1972 40.516 50 or below
Equatorial Guinea 1977 42.024 50 or below
Equatorial Guinea 1982 43.662 50 or below
Equatorial Guinea 1987 45.664 50 or below
Equatorial Guinea 1992 47.545 50 or below
Equatorial Guinea 1997 48.245 50 or below
Equatorial Guinea 2002 49.348 50 or below
Equatorial Guinea 2007 51.579 Greater than 50
Eritrea 1952 35.928 50 or below
Eritrea 1957 38.047 50 or below
Eritrea 1962 40.158 50 or below
Eritrea 1967 42.189 50 or below
Eritrea 1972 44.142 50 or below
Eritrea 1977 44.535 50 or below
Eritrea 1982 43.89 50 or below
Eritrea 1987 46.453 50 or below
Eritrea 1992 49.991 50 or below
Eritrea 1997 53.378 Greater than 50
Eritrea 2002 55.24 Greater than 50
Eritrea 2007 58.04 Greater than 50
Ethiopia 1952 34.078 50 or below
Ethiopia 1957 36.667 50 or below
Ethiopia 1962 40.059 50 or below
Ethiopia 1967 42.115 50 or below
Ethiopia 1972 43.515 50 or below
Ethiopia 1977 44.51 50 or below
Ethiopia 1982 44.916 50 or below
Ethiopia 1987 46.684 50 or below
Ethiopia 1992 48.091 50 or below
Ethiopia 1997 49.402 50 or below
Ethiopia 2002 50.725 Greater than 50
Ethiopia 2007 52.947 Greater than 50
Finland 1952 66.55 Greater than 50
Finland 1957 67.49 Greater than 50
Finland 1962 68.75 Greater than 50
Finland 1967 69.83 Greater than 50
Finland 1972 70.87 Greater than 50
Finland 1977 72.52 Greater than 50
Finland 1982 74.55 Greater than 50
Finland 1987 74.83 Greater than 50
Finland 1992 75.7 Greater than 50
Finland 1997 77.13 Greater than 50
Finland 2002 78.37 Greater than 50
Finland 2007 79.313 Greater than 50
France 1952 67.41 Greater than 50
France 1957 68.93 Greater than 50
France 1962 70.51 Greater than 50
France 1967 71.55 Greater than 50
France 1972 72.38 Greater than 50
France 1977 73.83 Greater than 50
France 1982 74.89 Greater than 50
France 1987 76.34 Greater than 50
France 1992 77.46 Greater than 50
France 1997 78.64 Greater than 50
France 2002 79.59 Greater than 50
France 2007 80.657 Greater than 50
Gabon 1952 37.003 50 or below
Gabon 1957 38.999 50 or below
Gabon 1962 40.489 50 or below
Gabon 1967 44.598 50 or below
Gabon 1972 48.69 50 or below
Gabon 1977 52.79 Greater than 50
Gabon 1982 56.564 Greater than 50
Gabon 1987 60.19 Greater than 50
Gabon 1992 61.366 Greater than 50
Gabon 1997 60.461 Greater than 50
Gabon 2002 56.761 Greater than 50
Gabon 2007 56.735 Greater than 50
Gambia 1952 30.0 50 or below
Gambia 1957 32.065 50 or below
Gambia 1962 33.896 50 or below
Gambia 1967 35.857 50 or below
Gambia 1972 38.308 50 or below
Gambia 1977 41.842 50 or below
Gambia 1982 45.58 50 or below
Gambia 1987 49.265 50 or below
Gambia 1992 52.644 Greater than 50
Gambia 1997 55.861 Greater than 50
Gambia 2002 58.041 Greater than 50
Gambia 2007 nan 50 or below
Germany 1952 67.5 Greater than 50
Germany 1957 69.1 Greater than 50
Germany 1962 70.3 Greater than 50
Germany 1967 70.8 Greater than 50
Germany 1972 71 Greater than 50
Germany 1977 72.5 Greater than 50
Germany 1982 73.8 Greater than 50
Germany 1987 74.847 Greater than 50
Germany 1992 76.07 Greater than 50
Germany 1997 77.34 Greater than 50
Germany 2002 78.67 Greater than 50
Germany 2007 79.406 Greater than 50
Ghana 1952 43.149 50 or below
Ghana 1957 44.779 50 or below
Ghana 1962 46.452 50 or below
Ghana 1967 48.072 50 or below
Ghana 1972 49.875 50 or below
Ghana 1977 51.756 Greater than 50
Ghana 1982 53.744 Greater than 50
Ghana 1987 55.729 Greater than 50
Ghana 1992 57.501 Greater than 50
Ghana 1997 58.556 Greater than 50
Ghana 2002 58.453 Greater than 50
Ghana 2007 60.022 Greater than 50
Greece 1952 65.86 Greater than 50
Greece 1957 67.86 Greater than 50
Greece 1962 69.51 Greater than 50
Greece 1967 71 Greater than 50
Greece 1972 72.34 Greater than 50
Greece 1977 73.68 Greater than 50
Greece 1982 nan 50 or below
Greece 1987 76.67 Greater than 50
Greece 1992 77.03 Greater than 50
Greece 1997 77.869 Greater than 50
Greece 2002 78.256 Greater than 50
Greece 2007 79.483 Greater than 50
Guatemala 1952 42.023 50 or below
Guatemala 1957 44.142 50 or below
Guatemala 1962 46.954 50 or below
Guatemala 1967 50.016 Greater than 50
Guatemala 1972 53.738 Greater than 50
Guatemala 1977 56.029 Greater than 50
Guatemala 1982 58.137 Greater than 50
Guatemala 1987 60.782 Greater than 50
Guatemala 1992 63.373 Greater than 50
Guatemala 1997 66.322 Greater than 50
Guatemala 2002 68.978 Greater than 50
Guatemala 2007 70.259 Greater than 50
Guinea 1952 33.609 50 or below
Guinea 1957 34.558 50 or below
Guinea 1962 35.753 50 or below
Guinea 1967 37.197 50 or below
Guinea 1972 38.842 50 or below
Guinea 1977 40.762 50 or below
Guinea 1982 42.891 50 or below
Guinea 1987 45.552 50 or below
Guinea 1992 48.576 50 or below
Guinea 1997 51.455 Greater than 50
Guinea 2002 53.676 Greater than 50
Guinea 2007 56.007 Greater than 50
Guinea-Bissau 1952 32.5 50 or below
Guinea-Bissau 1957 33.489 50 or below
Guinea-Bissau 1962 34.488 50 or below
Guinea-Bissau 1967 35.492 50 or below
Guinea-Bissau 1972 36.486 50 or below
Guinea-Bissau 1977 37.465 50 or below
Guinea-Bissau 1982 39.327 50 or below
Guinea-Bissau 1987 41.245 50 or below
Guinea-Bissau 1992 43.266 50 or below
Guinea-Bissau 1997 44.873 50 or below
Guinea-Bissau 2002 45.504 50 or below
Guinea-Bissau 2007 46.388 50 or below
Haiti 1952 37.579 50 or below
Haiti 1957 40.696 50 or below
Haiti 1962 43.59 50 or below
Haiti 1967 46.243 50 or below
Haiti 1972 48.042 50 or below
Haiti 1977 49.923 50 or below
Haiti 1982 51.461 Greater than 50
Haiti 1987 53.636 Greater than 50
Haiti 1992 55.089 Greater than 50
Haiti 1997 56.671 Greater than 50
Haiti 2002 58.137 Greater than 50
Haiti 2007 60.916 Greater than 50
Honduras 1952 41.912 50 or below
Honduras 1957 44.665 50 or below
Honduras 1962 48.041 50 or below
Honduras 1967 50.924 Greater than 50
Honduras 1972 53.884 Greater than 50
Honduras 1977 57.402 Greater than 50
Honduras 1982 60.909 Greater than 50
Honduras 1987 64.492 Greater than 50
Honduras 1992 66.399 Greater than 50
Honduras 1997 67.659 Greater than 50
Honduras 2002 68.565 Greater than 50
Honduras 2007 70.198 Greater than 50
Hong Kong, China 1952 60.96 Greater than 50
Hong Kong, China 1957 64.75 Greater than 50
Hong Kong, China 1962 67.65 Greater than 50
Hong Kong, China 1967 70 Greater than 50
Hong Kong, China 1972 72 Greater than 50
Hong Kong, China 1977 73.6 Greater than 50
Hong Kong, China 1982 75.45 Greater than 50
Hong Kong, China 1987 76.2 Greater than 50
Hong Kong, China 1992 77.601 Greater than 50
Hong Kong, China 1997 80 Greater than 50
Hong Kong, China 2002 81.495 Greater than 50
Hong Kong, China 2007 82.208 Greater than 50
Hungary 1952 64.03 Greater than 50
Hungary 1957 66.41 Greater than 50
Hungary 1962 67.96 Greater than 50
Hungary 1967 69.5 Greater than 50

Hungary 1972 69.76 Greater than 50
Hungary 1977 69.95 Greater than 50
Hungary 1982 69.39 Greater than 50
Hungary 1987 69.58 Greater than 50
Hungary 1992 69.17 Greater than 50
Hungary 1997 71.04 Greater than 50
Hungary 2002 72.59 Greater than 50
Hungary 2007 73.338 Greater than 50
Iceland 1952 72.49 Greater than 50
Iceland 1957 73.47 Greater than 50
Iceland 1962 73.68 Greater than 50
Iceland 1967 73.73 Greater than 50
Iceland 1972 74.46 Greater than 50
Iceland 1977 76.11 Greater than 50
Iceland 1982 76.99 Greater than 50
Iceland 1987 77.23 Greater than 50
Iceland 1992 78.77 Greater than 50
Iceland 1997 78.95 Greater than 50
Iceland 2002 80.5 Greater than 50
Iceland 2007 81.757 Greater than 50
India 1952 37.373 50 or below
India 1957 40.249 50 or below
India 1962 43.605 50 or below
India 1967 47.193 50 or below
India 1972 50.651 Greater than 50
India 1977 54.208 Greater than 50
India 1982 56.596 Greater than 50
India 1987 58.553 Greater than 50
India 1992 60.223 Greater than 50
India 1997 61.765 Greater than 50
India 2002 62.879 Greater than 50
India 2007 64.698 Greater than 50
Indonesia 1952 37.468 50 or below
Indonesia 1957 39.918 50 or below
Indonesia 1962 42.518 50 or below
Indonesia 1967 45.964 50 or below
Indonesia 1972 49.203 50 or below
Indonesia 1977 52.702 Greater than 50
Indonesia 1982 56.159 Greater than 50
Indonesia 1987 60.137 Greater than 50
Indonesia 1992 62.681 Greater than 50
Indonesia 1997 66.041 Greater than 50
Indonesia 2002 68.588 Greater than 50
Indonesia 2007 70.65 Greater than 50
Iran 1952 44.869 50 or below
Iran 1957 47.181 50 or below
Iran 1962 49.325 50 or below
Iran 1967 52.469 Greater than 50
Iran 1972 55.234 Greater than 50
Iran 1977 57.702 Greater than 50
Iran 1982 59.62 Greater than 50
Iran 1987 63.04 Greater than 50
Iran 1992 65.742 Greater than 50
Iran 1997 68.042 Greater than 50
Iran 2002 69.451 Greater than 50
Iran 2007 70.964 Greater than 50
Iraq 1952 45.32 50 or below
Iraq 1957 48.437 50 or below
Iraq 1962 51.457 Greater than 50
Iraq 1967 54.459 Greater than 50
Iraq 1972 56.95 Greater than 50
Iraq 1977 60.413 Greater than 50
Iraq 1982 62.038 Greater than 50
Iraq 1987 65.044 Greater than 50
Iraq 1992 59.461 Greater than 50
Iraq 1997 58.811 Greater than 50
Iraq 2002 57.046 Greater than 50
Iraq 2007 59.545 Greater than 50
Ireland 1952 66.91 Greater than 50
Ireland 1957 68.9 Greater than 50
Ireland 1962 70.29 Greater than 50
Ireland 1967 71.08 Greater than 50
Ireland 1972 71.28 Greater than 50
Ireland 1977 72.03 Greater than 50
Ireland 1982 73.1 Greater than 50
Ireland 1987 74.36 Greater than 50
Ireland 1992 75.467 Greater than 50
Ireland 1997 76.122 Greater than 50
Ireland 2002 77.783 Greater than 50
Ireland 2007 78.885 Greater than 50
Israel 1952 65.39 Greater than 50
Israel 1957 67.84 Greater than 50
Israel 1962 69.39 Greater than 50
Israel 1967 70.75 Greater than 50
Israel 1972 71.63 Greater than 50
Israel 1977 73.06 Greater than 50
Israel 1982 74.45 Greater than 50
Israel 1987 75.6 Greater than 50
Israel 1992 76.93 Greater than 50
Israel 1997 78.269 Greater than 50
Israel 2002 79.696 Greater than 50
Israel 2007 80.745 Greater than 50
Italy 1952 65.94 Greater than 50
Italy 1957 67.81 Greater than 50
Italy 1962 69.24 Greater than 50
Italy 1967 71.06 Greater than 50
Italy 1972 72.19 Greater than 50
Italy 1977 73.48 Greater than 50
Italy 1982 74.98 Greater than 50
Italy 1987 76.42 Greater than 50
Italy 1992 77.44 Greater than 50
Italy 1997 78.82 Greater than 50
Italy 2002 80.24 Greater than 50
Italy 2007 80.546 Greater than 50
Jamaica 1952 58.53 Greater than 50
Jamaica 1957 62.61 Greater than 50
Jamaica 1962 65.61 Greater than 50
Jamaica 1967 67.51 Greater than 50
Jamaica 1972 69 Greater than 50
Jamaica 1977 70.11 Greater than 50
Jamaica 1982 71.21 Greater than 50
Jamaica 1987 71.77 Greater than 50
Jamaica 1992 71.766 Greater than 50
Jamaica 1997 72.262 Greater than 50
Jamaica 2002 72.047 Greater than 50
Jamaica 2007 72.567 Greater than 50
Japan 1952 63.03 Greater than 50
Japan 1957 65.5 Greater than 50
Japan 1962 68.73 Greater than 50
Japan 1967 71.43 Greater than 50
Japan 1972 73.42 Greater than 50
Japan 1977 75.38 Greater than 50
Japan 1982 77.11 Greater than 50
Japan 1987 78.67 Greater than 50
Japan 1992 79.36 Greater than 50
Japan 1997 80.69 Greater than 50
Japan 2002 82 Greater than 50
Japan 2007 82.603 Greater than 50
Jordan 1952 43.158 50 or below
Jordan 1957 45.669 50 or below
Jordan 1962 48.126 50 or below
Jordan 1967 51.629 Greater than 50
Jordan 1972 56.528 Greater than 50
Jordan 1977 61.134 Greater than 50
Jordan 1982 63.739 Greater than 50
Jordan 1987 65.869 Greater than 50
Jordan 1992 68.015 Greater than 50
Jordan 1997 69.772 Greater than 50
Jordan 2002 71.263 Greater than 50
Jordan 2007 72.535 Greater than 50
Kenya 1952 42.27 50 or below
Kenya 1957 44.686 50 or below
Kenya 1962 47.949 50 or below
Kenya 1967 50.654 Greater than 50
Kenya 1972 53.559 Greater than 50
Kenya 1977 56.155 Greater than 50
Kenya 1982 58.766 Greater than 50
Kenya 1987 59.339 Greater than 50
Kenya 1992 59.285 Greater than 50
Kenya 1997 54.407 Greater than 50
Kenya 2002 50.992 Greater than 50
Kenya 2007 54.11 Greater than 50
Korea, Dem. Rep. 1952 50.056 Greater than 50
Korea, Dem. Rep. 1957 54.081 Greater than 50
Korea, Dem. Rep. 1962 56.656 Greater than 50
Korea, Dem. Rep. 1967 59.942 Greater than 50
Korea, Dem. Rep. 1972 63.983 Greater than 50
Korea, Dem. Rep. 1977 67.159 Greater than 50
Korea, Dem. Rep. 1982 69.1 Greater than 50
Korea, Dem. Rep. 1987 70.647 Greater than 50
Korea, Dem. Rep. 1992 69.978 Greater than 50
Korea, Dem. Rep. 1997 67.727 Greater than 50
Korea, Dem. Rep. 2002 66.662 Greater than 50
Korea, Dem. Rep. 2007 67.297 Greater than 50
Korea, Rep. 1952 47.453 50 or below
Korea, Rep. 1957 52.681 Greater than 50
Korea, Rep. 1962 55.292 Greater than 50
Korea, Rep. 1967 57.716 Greater than 50
Korea, Rep. 1972 62.612 Greater than 50
Korea, Rep. 1977 64.766 Greater than 50
Korea, Rep. 1982 67.123 Greater than 50
Korea, Rep. 1987 69.81 Greater than 50
Korea, Rep. 1992 72.244 Greater than 50
Korea, Rep. 1997 74.647 Greater than 50
Korea, Rep. 2002 77.045 Greater than 50
Korea, Rep. 2007 78.623 Greater than 50
Kuwait 1952 55.565 Greater than 50
Kuwait 1957 58.033 Greater than 50
Kuwait 1962 60.47 Greater than 50
Kuwait 1967 64.624 Greater than 50
Kuwait 1972 67.712 Greater than 50
Kuwait 1977 69.343 Greater than 50
Kuwait 1982 71.309 Greater than 50
Kuwait 1987 74.174 Greater than 50
Kuwait 1992 75.19 Greater than 50
Kuwait 1997 76.156 Greater than 50
Kuwait 2002 76.904 Greater than 50
Kuwait 2007 77.588 Greater than 50
Lebanon 1952 55.928 Greater than 50
Lebanon 1957 59.489 Greater than 50
Lebanon 1962 62.094 Greater than 50
Lebanon 1967 63.87 Greater than 50
Lebanon 1972 65.421 Greater than 50
Lebanon 1977 66.099 Greater than 50
Lebanon 1982 66.983 Greater than 50
Lebanon 1987 67.926 Greater than 50
Lebanon 1992 69.292 Greater than 50
Lebanon 1997 70.265 Greater than 50
Lebanon 2002 71.028 Greater than 50
Lebanon 2007 71.993 Greater than 50
Lesotho 1952 42.138 50 or below
Lesotho 1957 45.047 50 or below
Lesotho 1962 47.747 50 or below
Lesotho 1967 48.492 50 or below
Lesotho 1972 49.767 50 or below
Lesotho 1977 52.208 Greater than 50
Lesotho 1982 55.078 Greater than 50
Lesotho 1987 57.18 Greater than 50
Lesotho 1992 59.685 Greater than 50
Lesotho 1997 55.558 Greater than 50
Lesotho 2002 44.593 50 or below
Lesotho 2007 42.592 50 or below
Liberia 1952 38.48 50 or below
Liberia 1957 39.486 50 or below
Liberia 1962 40.502 50 or below
Liberia 1967 41.536 50 or below
Liberia 1972 42.614 50 or below
Liberia 1977 43.764 50 or below
Liberia 1982 44.852 50 or below
Liberia 1987 46.027 50 or below
Liberia 1992 40.802 50 or below
Liberia 1997 42.221 50 or below
Liberia 2002 43.753 50 or below
Liberia 2007 45.678 50 or below
Libya 1952 42.723 50 or below
Libya 1957 45.289 50 or below
Libya 1962 47.808 50 or below
Libya 1967 50.227 Greater than 50
Libya 1972 52.773 Greater than 50
Libya 1977 57.442 Greater than 50
Libya 1982 62.155 Greater than 50
Libya 1987 66.234 Greater than 50
Libya 1992 68.755 Greater than 50
Libya 1997 71.555 Greater than 50
Libya 2002 72.737 Greater than 50
Libya 2007 73.952 Greater than 50
Madagascar 1952 36.681 50 or below
Madagascar 1957 38.865 50 or below
Madagascar 1962 40.848 50 or below
Madagascar 1967 42.881 50 or below
Madagascar 1972 44.851 50 or below
Madagascar 1977 46.881 50 or below
Madagascar 1982 48.969 50 or below
Madagascar 1987 49.35 50 or below
Madagascar 1992 52.214 Greater than 50
Madagascar 1997 54.978 Greater than 50
Madagascar 2002 57.286 Greater than 50
Madagascar 2007 59.443 Greater than 50
Malawi 1952 36.256 50 or below
Malawi 1957 37.207 50 or below
Malawi 1962 38.41 50 or below
Malawi 1967 39.487 50 or below
Malawi 1972 41.766 50 or below
Malawi 1977 43.767 50 or below
Malawi 1982 45.642 50 or below
Malawi 1987 47.457 50 or below
Malawi 1992 49.42 50 or below
Malawi 1997 47.495 50 or below
Malawi 2002 45.009 50 or below
Malawi 2007 48.303 50 or below
Malaysia 1952 48.463 50 or below
Malaysia 1957 52.102 Greater than 50
Malaysia 1962 55.737 Greater than 50
Malaysia 1967 59.371 Greater than 50
Malaysia 1972 63.01 Greater than 50
Malaysia 1977 65.256 Greater than 50
Malaysia 1982 68 Greater than 50
Malaysia 1987 69.5 Greater than 50
Malaysia 1992 70.693 Greater than 50
Malaysia 1997 71.938 Greater than 50
Malaysia 2002 73.044 Greater than 50
Malaysia 2007 74.241 Greater than 50
Mali 1952 33.685 50 or below
Mali 1957 35.307 50 or below
Mali 1962 36.936 50 or below
Mali 1967 38.487 50 or below
Mali 1972 39.977 50 or below
Mali 1977 41.714 50 or below
Mali 1982 43.916 50 or below
Mali 1987 46.364 50 or below
Mali 1992 48.388 50 or below
Mali 1997 49.903 50 or below
Mali 2002 51.818 Greater than 50
Mali 2007 54.467 Greater than 50
Mauritania 1952 40.543 50 or below
Mauritania 1957 42.338 50 or below
Mauritania 1962 44.248 50 or below

Mauritania 1967 46.289 50 or below
Mauritania 1972 48.437 50 or below
Mauritania 1977 50.852 Greater than 50
Mauritania 1982 53.599 Greater than 50
Mauritania 1987 56.145 Greater than 50
Mauritania 1992 58.333 Greater than 50
Mauritania 1997 60.43 Greater than 50
Mauritania 2002 62.247 Greater than 50
Mauritania 2007 64.164 Greater than 50
Mauritius 1952 50.986 Greater than 50
Mauritius 1957 58.089 Greater than 50
Mauritius 1962 60.246 Greater than 50
Mauritius 1967 61.557 Greater than 50
Mauritius 1972 62.944 Greater than 50
Mauritius 1977 64.93 Greater than 50
Mauritius 1982 66.711 Greater than 50
Mauritius 1987 68.74 Greater than 50
Mauritius 1992 69.745 Greater than 50
Mauritius 1997 70.736 Greater than 50
Mauritius 2002 71.954 Greater than 50
Mauritius 2007 72.801 Greater than 50
Mexico 1952 50.789 Greater than 50
Mexico 1957 55.19 Greater than 50
Mexico 1962 58.299 Greater than 50
Mexico 1967 60.11 Greater than 50
Mexico 1972 62.361 Greater than 50
Mexico 1977 65.032 Greater than 50
Mexico 1982 67.405 Greater than 50
Mexico 1987 69.498 Greater than 50
Mexico 1992 71.455 Greater than 50
Mexico 1997 73.67 Greater than 50
Mexico 2002 74.902 Greater than 50
Mexico 2007 76.195 Greater than 50
Mongolia 1952 42.244 50 or below
Mongolia 1957 45.248 50 or below
Mongolia 1962 48.251 50 or below
Mongolia 1967 51.253 Greater than 50
Mongolia 1972 53.754 Greater than 50
Mongolia 1977 55.491 Greater than 50
Mongolia 1982 57.489 Greater than 50
Mongolia 1987 60.222 Greater than 50
Mongolia 1992 61.271 Greater than 50
Mongolia 1997 63.625 Greater than 50
Mongolia 2002 65.033 Greater than 50
Mongolia 2007 66.803 Greater than 50
Montenegro 1952 59.164 Greater than 50
Montenegro 1957 61.448 Greater than 50
Montenegro 1962 63.728 Greater than 50
Montenegro 1967 67.178 Greater than 50
Montenegro 1972 70.636 Greater than 50
Montenegro 1977 73.066 Greater than 50
Montenegro 1982 74.101 Greater than 50
Montenegro 1987 74.865 Greater than 50
Montenegro 1992 75.435 Greater than 50
Montenegro 1997 75.445 Greater than 50
Montenegro 2002 73.981 Greater than 50
Montenegro 2007 74.543 Greater than 50
Morocco 1952 42.873 50 or below
Morocco 1957 45.423 50 or below
Morocco 1962 47.924 50 or below
Morocco 1967 50.335 Greater than 50
Morocco 1972 52.862 Greater than 50
Morocco 1977 55.73 Greater than 50
Morocco 1982 59.65 Greater than 50
Morocco 1987 62.677 Greater than 50
Morocco 1992 65.393 Greater than 50
Morocco 1997 67.66 Greater than 50
Morocco 2002 69.615 Greater than 50
Morocco 2007 71.164 Greater than 50
Mozambique 1952 31.286 50 or below
Mozambique 1957 33.779 50 or below
Mozambique 1962 36.161 50 or below
Mozambique 1967 38.113 50 or below
Mozambique 1972 40.328 50 or below
Mozambique 1977 42.495 50 or below
Mozambique 1982 42.795 50 or below
Mozambique 1987 42.861 50 or below
Mozambique 1992 44.284 50 or below
Mozambique 1997 46.344 50 or below
Mozambique 2002 44.026 50 or below
Mozambique 2007 42.082 50 or below
Myanmar 1952 36.319 50 or below
Myanmar 1957 41.905 50 or below
Myanmar 1962 45.108 50 or below
Myanmar 1967 49.379 50 or below
Myanmar 1972 53.07 Greater than 50
Myanmar 1977 56.059 Greater than 50
Myanmar 1982 58.056 Greater than 50
Myanmar 1987 58.339 Greater than 50
Myanmar 1992 59.32 Greater than 50
Myanmar 1997 60.328 Greater than 50
Myanmar 2002 59.908 Greater than 50
Myanmar 2007 62.069 Greater than 50
Namibia 1952 41.725 50 or below
Namibia 1957 45.226 50 or below
Namibia 1962 48.386 50 or below
Namibia 1967 51.159 Greater than 50
Namibia 1972 53.867 Greater than 50
Namibia 1977 56.437 Greater than 50
Namibia 1982 58.968 Greater than 50
Namibia 1987 60.835 Greater than 50
Namibia 1992 61.999 Greater than 50
Namibia 1997 58.909 Greater than 50
Namibia 2002 51.479 Greater than 50
Namibia 2007 52.906 Greater than 50
Nepal 1952 36.157 50 or below
Nepal 1957 37.686 50 or below
Nepal 1962 39.393 50 or below
Nepal 1967 41.472 50 or below
Nepal 1972 43.971 50 or below
Nepal 1977 46.748 50 or below
Nepal 1982 49.594 50 or below
Nepal 1987 52.537 Greater than 50
Nepal 1992 55.727 Greater than 50
Nepal 1997 59.426 Greater than 50
Nepal 2002 61.34 Greater than 50
Nepal 2007 63.785 Greater than 50
Netherlands 1952 72.13 Greater than 50
Netherlands 1957 72.99 Greater than 50
Netherlands 1962 73.23 Greater than 50
Netherlands 1967 73.82 Greater than 50
Netherlands 1972 73.75 Greater than 50
Netherlands 1977 75.24 Greater than 50
Netherlands 1982 76.05 Greater than 50
Netherlands 1987 76.83 Greater than 50
Netherlands 1992 77.42 Greater than 50
Netherlands 1997 78.03 Greater than 50
Netherlands 2002 78.53 Greater than 50
Netherlands 2007 79.762 Greater than 50
New Zealand 1952 69.39 Greater than 50
New Zealand 1957 70.26 Greater than 50
New Zealand 1962 71.24 Greater than 50
New Zealand 1967 71.52 Greater than 50
New Zealand 1972 71.89 Greater than 50
New Zealand 1977 72.22 Greater than 50
New Zealand 1982 73.84 Greater than 50
New Zealand 1987 74.32 Greater than 50
New Zealand 1992 76.33 Greater than 50
New Zealand 1997 77.55 Greater than 50
New Zealand 2002 79.11 Greater than 50
New Zealand 2007 80.204 Greater than 50
Nicaragua 1952 42.314 50 or below
Nicaragua 1957 45.432 50 or below
Nicaragua 1962 48.632 50 or below
Nicaragua 1967 51.884 Greater than 50
Nicaragua 1972 55.151 Greater than 50
Nicaragua 1977 57.47 Greater than 50
Nicaragua 1982 59.298 Greater than 50
Nicaragua 1987 62.008 Greater than 50
Nicaragua 1992 65.843 Greater than 50
Nicaragua 1997 68.426 Greater than 50
Nicaragua 2002 70.836 Greater than 50
Nicaragua 2007 72.899 Greater than 50
Niger 1952 37.444 50 or below
Niger 1957 38.598 50 or below
Niger 1962 39.487 50 or below
Niger 1967 40.118 50 or below
Niger 1972 40.546 50 or below
Niger 1977 41.291 50 or below
Niger 1982 42.598 50 or below
Niger 1987 44.555 50 or below
Niger 1992 47.391 50 or below
Niger 1997 51.313 Greater than 50
Niger 2002 54.496 Greater than 50
Niger 2007 56.867 Greater than 50
Nigeria 1952 36.324 50 or below
Nigeria 1957 37.802 50 or below
Nigeria 1962 39.36 50 or below
Nigeria 1967 41.04 50 or below
Nigeria 1972 42.821 50 or below
Nigeria 1977 44.514 50 or below
Nigeria 1982 45.826 50 or below
Nigeria 1987 46.886 50 or below
Nigeria 1992 47.472 50 or below
Nigeria 1997 47.464 50 or below
Nigeria 2002 46.608 50 or below
Nigeria 2007 46.859 50 or below
Norway 1952 72.67 Greater than 50
Norway 1957 73.44 Greater than 50
Norway 1962 73.47 Greater than 50
Norway 1967 74.08 Greater than 50
Norway 1972 74.34 Greater than 50
Norway 1977 75.37 Greater than 50
Norway 1982 75.97 Greater than 50
Norway 1987 nan 50 or below
Norway 1992 77.32 Greater than 50
Norway 1997 78.32 Greater than 50
Norway 2002 79.05 Greater than 50
Norway 2007 80.196 Greater than 50
Oman 1952 37.578 50 or below
Oman 1957 40.08 50 or below
Oman 1962 43.165 50 or below
Oman 1967 46.988 50 or below
Oman 1972 nan 50 or below
Oman 1977 57.367 Greater than 50
Oman 1982 62.728 Greater than 50
Oman 1987 67.734 Greater than 50
Oman 1992 71.197 Greater than 50
Oman 1997 72.499 Greater than 50
Oman 2002 74.193 Greater than 50
Oman 2007 75.64 Greater than 50
Pakistan 1952 43.436 50 or below
Pakistan 1957 45.557 50 or below
Pakistan 1962 nan 50 or below
Pakistan 1967 49.8 50 or below
Pakistan 1972 51.929 Greater than 50
Pakistan 1977 54.043 Greater than 50
Pakistan 1982 56.158 Greater than 50
Pakistan 1987 58.245 Greater than 50
Pakistan 1992 60.838 Greater than 50
Pakistan 1997 61.818 Greater than 50
Pakistan 2002 nan 50 or below
Pakistan 2007 65.483 Greater than 50
Panama 1952 55.191 Greater than 50
Panama 1957 59.201 Greater than 50
Panama 1962 61.817 Greater than 50
Panama 1967 64.071 Greater than 50
Panama 1972 66.216 Greater than 50
Panama 1977 68.681 Greater than 50
Panama 1982 70.472 Greater than 50
Panama 1987 71.523 Greater than 50
Panama 1992 72.462 Greater than 50
Panama 1997 73.738 Greater than 50
Panama 2002 74.712 Greater than 50
Panama 2007 75.537 Greater than 50
Paraguay 1952 62.649 Greater than 50
Paraguay 1957 63.196 Greater than 50
Paraguay 1962 64.361 Greater than 50
Paraguay 1967 64.951 Greater than 50
Paraguay 1972 65.815 Greater than 50
Paraguay 1977 66.353 Greater than 50
Paraguay 1982 66.874 Greater than 50
Paraguay 1987 67.378 Greater than 50
Paraguay 1992 68.225 Greater than 50
Paraguay 1997 69.4 Greater than 50
Paraguay 2002 70.755 Greater than 50
Paraguay 2007 71.752 Greater than 50
Peru 1952 43.902 50 or below
Peru 1957 46.263 50 or below
Peru 1962 49.096 50 or below
Peru 1967 51.445 Greater than 50
Peru 1972 55.448 Greater than 50
Peru 1977 58.447 Greater than 50
Peru 1982 61.406 Greater than 50
Peru 1987 64.134 Greater than 50
Peru 1992 66.458 Greater than 50
Peru 1997 nan 50 or below
Peru 2002 69.906 Greater than 50
Peru 2007 71.421 Greater than 50
Philippines 1952 47.752 50 or below
Philippines 1957 51.334 Greater than 50
Philippines 1962 54.757 Greater than 50
Philippines 1967 56.393 Greater than 50
Philippines 1972 58.065 Greater than 50
Philippines 1977 60.06 Greater than 50
Philippines 1982 62.082 Greater than 50
Philippines 1987 64.151 Greater than 50
Philippines 1992 66.458 Greater than 50
Philippines 1997 68.564 Greater than 50
Philippines 2002 70.303 Greater than 50
Philippines 2007 71.688 Greater than 50
Poland 1952 61.31 Greater than 50
Poland 1957 65.77 Greater than 50
Poland 1962 67.64 Greater than 50
Poland 1967 69.61 Greater than 50
Poland 1972 70.85 Greater than 50
Poland 1977 70.67 Greater than 50
Poland 1982 71.32 Greater than 50
Poland 1987 70.98 Greater than 50
Poland 1992 nan 50 or below
Poland 1997 72.75 Greater than 50
Poland 2002 nan 50 or below
Poland 2007 75.563 Greater than 50
Portugal 1952 59.82 Greater than 50
Portugal 1957 61.51 Greater than 50
Portugal 1962 64.39 Greater than 50
Portugal 1967 66.6 Greater than 50
Portugal 1972 nan 50 or below
Portugal 1977 70.41 Greater than 50
Portugal 1982 72.77 Greater than 50
Portugal 1987 74.06 Greater than 50
Portugal 1992 74.86 Greater than 50
Portugal 1997 75.97 Greater than 50
Portugal 2002 77.29 Greater than 50
Portugal 2007 78.098 Greater than 50
Puerto Rico 1952 64.28 Greater than 50
Puerto Rico 1957 68.54 Greater than 50
Puerto Rico 1962 69.62 Greater than 50
Puerto Rico 1967 71.1 Greater than 50
Puerto Rico 1972 72.16 Greater than 50
Puerto Rico 1977 73.44 Greater than 50
Puerto Rico 1982 73.75 Greater than 50
Puerto Rico 1987 74.63 Greater than 50
Puerto Rico 1992 73.911 Greater than 50
Puerto Rico 1997 74.917 Greater than 50
Puerto Rico 2002 77.778 Greater than 50
Puerto Rico 2007 78.746 Greater than 50
Reunion 1952 52.724 Greater than 50
Reunion 1957 55.09 Greater than 50
Reunion 1962 57.666 Greater than 50
Reunion 1967 60.542 Greater than 50
Reunion 1972 64.274 Greater than 50
Reunion 1977 67.064 Greater than 50
Reunion 1982 69.885 Greater than 50
Reunion 1987 71.913 Greater than 50
Reunion 1992 73.615 Greater than 50
Reunion 1997 nan 50 or below
Reunion 2002 75.744 Greater than 50
Reunion 2007 76.442 Greater than 50
Romania 1952 61.05 Greater than 50
Romania 1957 64.1 Greater than 50
Romania 1962 66.8 Greater than 50
Romania 1967 66.8 Greater than 50
Romania 1972 69.21 Greater than 50
Romania 1977 69.46 Greater than 50
Romania 1982 69.66 Greater than 50
Romania 1987 69.53 Greater than 50
Romania 1992 69.36 Greater than 50
Romania 1997 69.72 Greater than 50
Romania 2002 71.322 Greater than 50
Romania 2007 72.476 Greater than 50
Rwanda 1952 nan 50 or below
Rwanda 1957 41.5 50 or below
Rwanda 1962 43 50 or below
Rwanda 1967 44.1 50 or below
Rwanda 1972 44.6 50 or below
Rwanda 1977 45 50 or below
Rwanda 1982 46.218 50 or below
Rwanda 1987 44.02 50 or below
Rwanda 1992 nan 50 or below
Rwanda 1997 36.087 50 or below
Rwanda 2002 43.413 50 or below
Rwanda 2007 46.242 50 or below
Sao Tome and Principe 1952 46.471 50 or below
Sao Tome and Principe 1957 48.945 50 or below
Sao Tome and Principe 1962 51.893 Greater than 50
Sao Tome and Principe 1967 54.425 Greater than 50
Sao Tome and Principe 1972 56.48 Greater than 50
Sao Tome and Principe 1977 58.55 Greater than 50
Sao Tome and Principe 1982 60.351 Greater than 50
Sao Tome and Principe 1987 61.728 Greater than 50
Sao Tome and Principe 1992 62.742 Greater than 50
Sao Tome and Principe 1997 63.306 Greater than 50
Sao Tome and Principe 2002 64.337 Greater than 50
Sao Tome and Principe 2007 65.528 Greater than 50
Saudi Arabia 1952 39.875 50 or below
Saudi Arabia 1957 42.868 50 or below
Saudi Arabia 1962 45.914 50 or below
Saudi Arabia 1967 49.901 50 or below
Saudi Arabia 1972 53.886 Greater than 50
Saudi Arabia 1977 58.69 Greater than 50
Saudi Arabia 1982 63.012 Greater than 50
Saudi Arabia 1987 66.295 Greater than 50
Saudi Arabia 1992 68.768 Greater than 50
Saudi Arabia 1997 70.533 Greater than 50
Saudi Arabia 2002 71.626 Greater than 50
Saudi Arabia 2007 nan 50 or below
Senegal 1952 37.278 50 or below
Senegal 1957 39.329 50 or below
Senegal 1962 41.454 50 or below
Senegal 1967 43.563 50 or below
Senegal 1972 45.815 50 or below
Senegal 1977 48.879 50 or below
Senegal 1982 52.379 Greater than 50
Senegal 1987 55.769 Greater than 50
Senegal 1992 58.196 Greater than 50
Senegal 1997 60.187 Greater than 50
Senegal 2002 61.6 Greater than 50
Senegal 2007 63.062 Greater than 50
Serbia 1952 57.996 Greater than 50
Serbia 1957 61.685 Greater than 50
Serbia 1962 64.531 Greater than 50
Serbia 1967 66.914 Greater than 50
Serbia 1972 68.7 Greater than 50
Serbia 1977 70.3 Greater than 50
Serbia 1982 70.162 Greater than 50
Serbia 1987 71.218 Greater than 50
Serbia 1992 71.659 Greater than 50
Serbia 1997 72.232 Greater than 50
Serbia 2002 73.213 Greater than 50
Serbia 2007 74.002 Greater than 50
Sierra Leone 1952 30.331 50 or below
Sierra Leone 1957 31.57 50 or below
Sierra Leone 1962 32.767 50 or below
Sierra Leone 1967 34.113 50 or below
Sierra Leone 1972 35.4 50 or below
Sierra Leone 1977 36.788 50 or below
Sierra Leone 1982 38.445 50 or below
Sierra Leone 1987 40.006 50 or below
Sierra Leone 1992 38.333 50 or below
Sierra Leone 1997 39.897 50 or below
Sierra Leone 2002 41.012 50 or below

Sierra Leone 2007 42.568 50 or below
Singapore 1952 60.396 Greater than 50
Singapore 1957 63.179 Greater than 50
Singapore 1962 65.798 Greater than 50
Singapore 1967 67.946 Greater than 50
Singapore 1972 69.521 Greater than 50
Singapore 1977 70.795 Greater than 50
Singapore 1982 71.76 Greater than 50
Singapore 1987 73.56 Greater than 50
Singapore 1992 75.788 Greater than 50
Singapore 1997 77.158 Greater than 50
Singapore 2002 78.77 Greater than 50
Singapore 2007 79.972 Greater than 50
Slovak Republic 1952 64.36 Greater than 50
Slovak Republic 1957 67.45 Greater than 50
Slovak Republic 1962 70.33 Greater than 50
Slovak Republic 1967 70.98 Greater than 50
Slovak Republic 1972 70.35 Greater than 50
Slovak Republic 1977 70.45 Greater than 50
Slovak Republic 1982 70.8 Greater than 50
Slovak Republic 1987 71.08 Greater than 50
Slovak Republic 1992 71.38 Greater than 50
Slovak Republic 1997 72.71 Greater than 50
Slovak Republic 2002 73.8 Greater than 50
Slovak Republic 2007 74.663 Greater than 50
Slovenia 1952 65.57 Greater than 50
Slovenia 1957 67.85 Greater than 50
Slovenia 1962 69.15 Greater than 50
Slovenia 1967 69.18 Greater than 50
Slovenia 1972 69.82 Greater than 50
Slovenia 1977 70.97 Greater than 50
Slovenia 1982 71.063 Greater than 50
Slovenia 1987 72.25 Greater than 50
Slovenia 1992 73.64 Greater than 50
Slovenia 1997 75.13 Greater than 50
Slovenia 2002 76.66 Greater than 50
Slovenia 2007 77.926 Greater than 50
Somalia 1952 32.978 50 or below
Somalia 1957 34.977 50 or below
Somalia 1962 36.981 50 or below
Somalia 1967 38.977 50 or below
Somalia 1972 40.973 50 or below
Somalia 1977 41.974 50 or below
Somalia 1982 42.955 50 or below
Somalia 1987 44.501 50 or below
Somalia 1992 39.658 50 or below
Somalia 1997 43.795 50 or below
Somalia 2002 45.936 50 or below
Somalia 2007 48.159 50 or below
South Africa 1952 45.009 50 or below
South Africa 1957 47.985 50 or below
South Africa 1962 49.951 50 or below
South Africa 1967 51.927 Greater than 50
South Africa 1972 53.696 Greater than 50
South Africa 1977 55.527 Greater than 50
South Africa 1982 58.161 Greater than 50
South Africa 1987 60.834 Greater than 50
South Africa 1992 61.888 Greater than 50
South Africa 1997 60.236 Greater than 50
South Africa 2002 53.365 Greater than 50
South Africa 2007 49.339 50 or below
Spain 1952 64.94 Greater than 50
Spain 1957 66.66 Greater than 50
Spain 1962 69.69 Greater than 50
Spain 1967 71.44 Greater than 50
Spain 1972 73.06 Greater than 50
Spain 1977 74.39 Greater than 50
Spain 1982 76.3 Greater than 50
Spain 1987 76.9 Greater than 50
Spain 1992 77.57 Greater than 50
Spain 1997 78.77 Greater than 50
Spain 2002 79.78 Greater than 50
Spain 2007 80.941 Greater than 50
Sri Lanka 1952 57.593 Greater than 50
Sri Lanka 1957 61.456 Greater than 50
Sri Lanka 1962 62.192 Greater than 50
Sri Lanka 1967 64.266 Greater than 50
Sri Lanka 1972 65.042 Greater than 50
Sri Lanka 1977 65.949 Greater than 50
Sri Lanka 1982 68.757 Greater than 50
Sri Lanka 1987 69.011 Greater than 50
Sri Lanka 1992 70.379 Greater than 50
Sri Lanka 1997 70.457 Greater than 50
Sri Lanka 2002 70.815 Greater than 50
Sri Lanka 2007 72.396 Greater than 50
Sudan 1952 38.635 50 or below
Sudan 1957 39.624 50 or below
Sudan 1962 40.87 50 or below
Sudan 1967 42.858 50 or below
Sudan 1972 45.083 50 or below
Sudan 1977 47.8 50 or below
Sudan 1982 50.338 Greater than 50
Sudan 1987 51.744 Greater than 50
Sudan 1992 53.556 Greater than 50
Sudan 1997 55.373 Greater than 50
Sudan 2002 56.369 Greater than 50
Sudan 2007 58.556 Greater than 50
Swaziland 1952 41.407 50 or below
Swaziland 1957 43.424 50 or below
Swaziland 1962 44.992 50 or below
Swaziland 1967 46.633 50 or below
Swaziland 1972 49.552 50 or below
Swaziland 1977 52.537 Greater than 50
Swaziland 1982 55.561 Greater than 50
Swaziland 1987 57.678 Greater than 50
Swaziland 1992 58.474 Greater than 50
Swaziland 1997 54.289 Greater than 50
Swaziland 2002 43.869 50 or below
Swaziland 2007 39.613 50 or below
Sweden 1952 71.86 Greater than 50
Sweden 1957 72.49 Greater than 50
Sweden 1962 73.37 Greater than 50
Sweden 1967 74.16 Greater than 50
Sweden 1972 74.72 Greater than 50
Sweden 1977 75.44 Greater than 50
Sweden 1982 76.42 Greater than 50
Sweden 1987 77.19 Greater than 50
Sweden 1992 78.16 Greater than 50
Sweden 1997 79.39 Greater than 50
Sweden 2002 80.04 Greater than 50
Sweden 2007 80.884 Greater than 50
Switzerland 1952 69.62 Greater than 50
Switzerland 1957 70.56 Greater than 50
Switzerland 1962 71.32 Greater than 50
Switzerland 1967 72.77 Greater than 50
Switzerland 1972 73.78 Greater than 50
Switzerland 1977 75.39 Greater than 50
Switzerland 1982 76.21 Greater than 50
Switzerland 1987 77.41 Greater than 50
Switzerland 1992 78.03 Greater than 50
Switzerland 1997 79.37 Greater than 50
Switzerland 2002 80.62 Greater than 50
Switzerland 2007 81.701 Greater than 50
Syria 1952 45.883 50 or below
Syria 1957 48.284 50 or below
Syria 1962 50.305 Greater than 50
Syria 1967 53.655 Greater than 50
Syria 1972 57.296 Greater than 50
Syria 1977 61.195 Greater than 50
Syria 1982 64.59 Greater than 50
Syria 1987 66.974 Greater than 50
Syria 1992 69.249 Greater than 50
Syria 1997 71.527 Greater than 50
Syria 2002 73.053 Greater than 50
Syria 2007 74.143 Greater than 50
Taiwan 1952 58.5 Greater than 50
Taiwan 1957 62.4 Greater than 50
Taiwan 1962 65.2 Greater than 50
Taiwan 1967 67.5 Greater than 50
Taiwan 1972 69.39 Greater than 50
Taiwan 1977 70.59 Greater than 50
Taiwan 1982 72.16 Greater than 50
Taiwan 1987 73.4 Greater than 50
Taiwan 1992 74.26 Greater than 50
Taiwan 1997 75.25 Greater than 50
Taiwan 2002 76.99 Greater than 50
Taiwan 2007 78.4 Greater than 50
Tanzania 1952 41.215 50 or below
Tanzania 1957 42.974 50 or below
Tanzania 1962 44.246 50 or below
Tanzania 1967 45.757 50 or below
Tanzania 1972 47.62 50 or below
Tanzania 1977 49.919 50 or below
Tanzania 1982 50.608 Greater than 50
Tanzania 1987 51.535 Greater than 50
Tanzania 1992 50.44 Greater than 50
Tanzania 1997 48.466 50 or below
Tanzania 2002 49.651 50 or below
Tanzania 2007 52.517 Greater than 50
Thailand 1952 50.848 Greater than 50
Thailand 1957 53.63 Greater than 50
Thailand 1962 56.061 Greater than 50
Thailand 1967 58.285 Greater than 50
Thailand 1972 60.405 Greater than 50
Thailand 1977 62.494 Greater than 50
Thailand 1982 64.597 Greater than 50
Thailand 1987 66.084 Greater than 50
Thailand 1992 67.298 Greater than 50
Thailand 1997 67.521 Greater than 50
Thailand 2002 68.564 Greater than 50
Thailand 2007 70.616 Greater than 50
Togo 1952 38.596 50 or below
Togo 1957 41.208 50 or below
Togo 1962 43.922 50 or below
Togo 1967 46.769 50 or below
Togo 1972 49.759 50 or below
Togo 1977 52.887 Greater than 50
Togo 1982 55.471 Greater than 50
Togo 1987 56.941 Greater than 50
Togo 1992 58.061 Greater than 50
Togo 1997 58.39 Greater than 50
Togo 2002 57.561 Greater than 50
Togo 2007 58.42 Greater than 50
Trinidad and Tobago 1952 59.1 Greater than 50
Trinidad and Tobago 1957 61.8 Greater than 50
Trinidad and Tobago 1962 64.9 Greater than 50
Trinidad and Tobago 1967 65.4 Greater than 50
Trinidad and Tobago 1972 65.9 Greater than 50
Trinidad and Tobago 1977 68.3 Greater than 50
Trinidad and Tobago 1982 68.832 Greater than 50
Trinidad and Tobago 1987 69.582 Greater than 50
Trinidad and Tobago 1992 69.862 Greater than 50
Trinidad and Tobago 1997 69.465 Greater than 50
Trinidad and Tobago 2002 68.976 Greater than 50
Trinidad and Tobago 2007 69.819 Greater than 50
Tunisia 1952 44.6 50 or below
Tunisia 1957 47.1 50 or below
Tunisia 1962 49.579 50 or below
Tunisia 1967 52.053 Greater than 50
Tunisia 1972 55.602 Greater than 50
Tunisia 1977 59.837 Greater than 50
Tunisia 1982 64.048 Greater than 50
Tunisia 1987 66.894 Greater than 50
Tunisia 1992 70.001 Greater than 50
Tunisia 1997 71.973 Greater than 50
Tunisia 2002 73.042 Greater than 50
Tunisia 2007 73.923 Greater than 50
Turkey 1952 43.585 50 or below
Turkey 1957 48.079 50 or below
Turkey 1962 52.098 Greater than 50
Turkey 1967 54.336 Greater than 50
Turkey 1972 57.005 Greater than 50
Turkey 1977 59.507 Greater than 50
Turkey 1982 61.036 Greater than 50
Turkey 1987 63.108 Greater than 50
Turkey 1992 66.146 Greater than 50
Turkey 1997 68.835 Greater than 50
Turkey 2002 70.845 Greater than 50
Turkey 2007 71.777 Greater than 50
Uganda 1952 39.978 50 or below
Uganda 1957 42.571 50 or below
Uganda 1962 45.344 50 or below
Uganda 1967 48.051 50 or below
Uganda 1972 51.016 Greater than 50
Uganda 1977 50.35 Greater than 50
Uganda 1982 49.849 50 or below
Uganda 1987 51.509 Greater than 50
Uganda 1992 48.825 50 or below
Uganda 1997 44.578 50 or below
Uganda 2002 47.813 50 or below
Uganda 2007 51.542 Greater than 50
United Kingdom 1952 69.18 Greater than 50
United Kingdom 1957 70.42 Greater than 50
United Kingdom 1962 70.76 Greater than 50
United Kingdom 1967 71.36 Greater than 50
United Kingdom 1972 72.01 Greater than 50
United Kingdom 1977 72.76 Greater than 50
United Kingdom 1982 74.04 Greater than 50
United Kingdom 1987 75.007 Greater than 50
United Kingdom 1992 76.42 Greater than 50
United Kingdom 1997 77.218 Greater than 50
United Kingdom 2002 78.471 Greater than 50
United Kingdom 2007 79.425 Greater than 50
United States 1952 68.44 Greater than 50
United States 1957 69.49 Greater than 50
United States 1962 70.21 Greater than 50
United States 1967 70.76 Greater than 50
United States 1972 71.34 Greater than 50
United States 1977 73.38 Greater than 50
United States 1982 74.65 Greater than 50
United States 1987 75.02 Greater than 50
United States 1992 76.09 Greater than 50
United States 1997 76.81 Greater than 50
United States 2002 77.31 Greater than 50
United States 2007 78.242 Greater than 50
Uruguay 1952 66.071 Greater than 50
Uruguay 1957 67.044 Greater than 50
Uruguay 1962 68.253 Greater than 50
Uruguay 1967 68.468 Greater than 50
Uruguay 1972 68.673 Greater than 50
Uruguay 1977 69.481 Greater than 50
Uruguay 1982 70.805 Greater than 50
Uruguay 1987 71.918 Greater than 50
Uruguay 1992 72.752 Greater than 50
Uruguay 1997 74.223 Greater than 50
Uruguay 2002 75.307 Greater than 50
Uruguay 2007 76.384 Greater than 50
Venezuela 1952 55.088 Greater than 50
Venezuela 1957 57.907 Greater than 50
Venezuela 1962 60.77 Greater than 50
Venezuela 1967 63.479 Greater than 50
Venezuela 1972 65.712 Greater than 50
Venezuela 1977 67.456 Greater than 50
Venezuela 1982 68.557 Greater than 50
Venezuela 1987 70.19 Greater than 50
Venezuela 1992 71.15 Greater than 50
Venezuela 1997 72.146 Greater than 50
Venezuela 2002 72.766 Greater than 50
Venezuela 2007 73.747 Greater than 50
Vietnam 1952 40.412 50 or below
Vietnam 1957 42.887 50 or below
Vietnam 1962 45.363 50 or below
Vietnam 1967 47.838 50 or below
Vietnam 1972 50.254 Greater than 50
Vietnam 1977 55.764 Greater than 50
Vietnam 1982 58.816 Greater than 50
Vietnam 1987 62.82 Greater than 50
Vietnam 1992 67.662 Greater than 50
Vietnam 1997 70.672 Greater than 50
Vietnam 2002 73.017 Greater than 50
Vietnam 2007 74.249 Greater than 50
West Bank and Gaza 1952 43.16 50 or below
West Bank and Gaza 1957 45.671 50 or below
West Bank and Gaza 1962 48.127 50 or below
West Bank and Gaza 1967 51.631 Greater than 50
West Bank and Gaza 1972 56.532 Greater than 50
West Bank and Gaza 1977 60.765 Greater than 50
West Bank and Gaza 1982 64.406 Greater than 50
West Bank and Gaza 1987 67.046 Greater than 50
West Bank and Gaza 1992 69.718 Greater than 50
West Bank and Gaza 1997 71.096 Greater than 50
West Bank and Gaza 2002 72.37 Greater than 50
West Bank and Gaza 2007 73.422 Greater than 50
Yemen, Rep. 1952 32.548 50 or below
Yemen, Rep. 1957 33.97 50 or below

Yemen, Rep. 1962 35.18 50 or below
Yemen, Rep. 1967 36.984 50 or below
Yemen, Rep. 1972 39.848 50 or below
Yemen, Rep. 1977 44.175 50 or below
Yemen, Rep. 1982 49.113 50 or below
Yemen, Rep. 1987 52.922 Greater than 50
Yemen, Rep. 1992 55.599 Greater than 50
Yemen, Rep. 1997 58.02 Greater than 50
Yemen, Rep. 2002 60.308 Greater than 50
Yemen, Rep. 2007 62.698 Greater than 50
Zambia 1952 42.038 50 or below
Zambia 1957 44.077 50 or below
Zambia 1962 46.023 50 or below
Zambia 1967 47.768 50 or below
Zambia 1972 50.107 Greater than 50
Zambia 1977 51.386 Greater than 50
Zambia 1982 51.821 Greater than 50
Zambia 1987 50.821 Greater than 50
Zambia 1992 46.1 50 or below
Zambia 1997 40.238 50 or below
Zambia 2002 39.193 50 or below
Zambia 2007 42.384 50 or below
Zimbabwe 1952 48.451 50 or below
Zimbabwe 1957 50.469 Greater than 50
Zimbabwe 1962 52.358 Greater than 50
Zimbabwe 1967 53.995 Greater than 50
Zimbabwe 1972 55.635 Greater than 50
Zimbabwe 1977 57.674 Greater than 50
Zimbabwe 1982 60.363 Greater than 50
Zimbabwe 1987 62.351 Greater than 50
Zimbabwe 1992 60.377 Greater than 50
Zimbabwe 1997 46.809 50 or below
Zimbabwe 2002 39.989 50 or below
Zimbabwe 2007 43.487 50 or below

In [89]:
from datetime import datetime

In [91]:
start = datetime.now()
for index,row in df.iterrows():
    print(row)
print(datetime.now()-start)

country       Afghanistan
year                 1952
pop           8.42533e+06
life               28.801
gdp               779.445
continent            Asia
lifecheck1    50 or below
Name: 1000, dtype: object
country       Afghanistan
year                 1957
pop           9.24093e+06
life                  NaN
gdp               820.853
continent            Asia
lifecheck1    50 or below
Name: 1001, dtype: object
country       Afghanistan
year                 1962
pop           1.02671e+07
life               31.997
gdp               853.101
continent            Asia
lifecheck1    50 or below
Name: 1003, dtype: object
country       Afghanistan
year                 1967
pop            1.1538e+07
life                34.02
gdp               836.197
continent            Asia
lifecheck1    50 or below
Name: 1004, dtype: object
country       Afghanistan
year                 1972
pop           1.30795e+07
life               36.088
gdp               739.981
continent            Asia
lifecheck1    50 or below
Name: 1005, dtype: object
country       Afghanistan
year                 1977
pop           1.48804e+07
life               38.438
gdp               786.113
continent            Asia
lifecheck1    50 or below
Name: 1006, dtype: object
country       Afghanistan
year                 1982
pop                   NaN
life               39.854
gdp               978.011
continent            Asia
lifecheck1    50 or below
Name: 1007, dtype: object
country       Afghanistan
year                 1987
pop            1.3868e+07
life               40.822
gdp               852.396
continent            Asia
lifecheck1    50 or below
Name: 1008, dtype: object
country       Afghanistan
year                 1992
pop           1.63179e+07
life               41.674
gdp               649.341
continent            Asia
lifecheck1    50 or below
Name: 1009, dtype: object
country       Afghanistan
year                 1997
pop           2.22274e+07
life               41.763
gdp               635.341
continent            Asia
lifecheck1    50 or below
Name: 1010, dtype: object
country       Afghanistan
year                 2002
pop           2.52684e+07
life               42.129
gdp               726.734
continent            Asia
lifecheck1    50 or below
Name: 1011, dtype: object
country       Afghanistan
year                 2007
pop           3.18899e+07
life               43.828
gdp                974.58
continent            Asia
lifecheck1    50 or below
Name: 1012, dtype: object
country               Albania
year                     1952
pop                1.2827e+06
life                    55.23
gdp                   1601.06
continent              Europe
lifecheck1    Greater than 50
Name: 1013, dtype: object
country               Albania
year                     1957
pop               1.47650e+06
life                    59.28
gdp                   1942.28
continent              Europe
lifecheck1    Greater than 50
Name: 1014, dtype: object
country               Albania
year                     1962
pop               1.72814e+06
life                    64.82
gdp                   2312.89
continent              Europe
lifecheck1    Greater than 50
Name: 1015, dtype: object
country               Albania
year                     1967
pop               1.98406e+06
life                    66.22
gdp                    2760.2
continent              Europe
lifecheck1    Greater than 50
Name: 1016, dtype: object
country               Albania
year                     1972
pop               2.26355e+06
life                    67.69
gdp                   3313.42
continent              Europe
lifecheck1    Greater than 50
Name: 1017, dtype: object
country               Albania
year                     1977
pop               2.50905e+06
life                    68.93
gdp                      3533
continent              Europe
lifecheck1    Greater than 50
Name: 1018, dtype: object
country               Albania
year                     1982
pop                2.7801e+06
life                    70.42
gdp                   3630.88
continent              Europe
lifecheck1    Greater than 50
Name: 1019, dtype: object
country               Albania
year                     1987
pop               3.07532e+06
life                       72
gdp                   3738.93
continent              Europe
lifecheck1    Greater than 50
Name: 1020, dtype: object
country               Albania
year                     1992
pop                3.3265e+06
life                   71.581
gdp                   2497.44
continent              Europe
lifecheck1    Greater than 50
Name: 1021, dtype: object
country               Albania
year                     1997
pop               3.42804e+06
life                    72.95
gdp                   3193.05
continent              Europe
lifecheck1    Greater than 50
Name: 1022, dtype: object
country               Albania
year                     2002
pop               3.50851e+06
life                   75.651
gdp                   4604.21
continent              Europe
lifecheck1    Greater than 50
Name: 1023, dtype: object
country               Albania
year                     2007
pop               3.60052e+06
life                   76.423
gdp                   5937.03
continent              Europe
lifecheck1    Greater than 50
Name: 1024, dtype: object
country           Algeria
year                 1952
pop           9.27952e+06
life               43.077
gdp               2449.01
continent          Africa
lifecheck1    50 or below
Name: 1025, dtype: object
country           Algeria
year                 1957
pop           1.02709e+07
life               45.685
gdp               3013.98
continent          Africa
lifecheck1    50 or below
Name: 1026, dtype: object
country           Algeria
year                 1962
pop           1.10009e+07
life               48.303
gdp               2550.82
continent          Africa
lifecheck1    50 or below
Name: 1027, dtype: object
country               Algeria
year                     1967
pop               1.27605e+07
life                   51.407
gdp                   3246.99
continent              Africa
lifecheck1    Greater than 50
Name: 1028, dtype: object
country               Algeria
year                     1972
pop               1.47608e+07
life                   54.518
gdp                   4182.66
continent              Africa
lifecheck1    Greater than 50
Name: 1029, dtype: object
country               Algeria
year                     1977
pop               1.71528e+07
life                   58.014
gdp                   4910.42
continent              Africa
lifecheck1    Greater than 50
Name: 1030, dtype: object
country               Algeria
year                     1982
pop               2.00338e+07
life                   61.368
gdp                   5745.16
continent              Africa
lifecheck1    Greater than 50
Name: 1031, dtype: object
country               Algeria
year                     1987
pop                2.3255e+07
life                   65.799
gdp                   5681.36
continent              Africa
lifecheck1    Greater than 50
Name: 1032, dtype: object
country               Algeria
year                     1992
pop               2.62984e+07
life                   67.744
gdp                   5023.22
continent              Africa
lifecheck1    Greater than 50
Name: 1033, dtype: object
country               Algeria
year                     1997
pop                2.9072e+07
life                   69.152
gdp                    4797.3
continent              Africa
lifecheck1    Greater than 50
Name: 1034, dtype: object
country               Algeria
year                     2002
pop               3.12871e+07
life                   70.994
gdp                   5288.04
continent              Africa
lifecheck1    Greater than 50
Name: 1035, dtype: object
country               Algeria
year                     2007
pop               3.33332e+07
life                   72.301
gdp                   6223.37
continent              Africa
lifecheck1    Greater than 50
Name: 1036, dtype: object
country            Angola
year                 1952
pop            4.2321e+06
life               30.015
gdp               3520.61
continent          Africa
lifecheck1    50 or below
Name: 1037, dtype: object
country            Angola
year                 1957
pop           4.56136e+06
life               31.999
gdp               3827.94
continent          Africa
lifecheck1    50 or below
Name: 1038, dtype: object
country            Angola
year                 1962
pop           4.82602e+06
life                   34
gdp               4269.28
continent          Africa
lifecheck1    50 or below
Name: 1039, dtype: object
country            Angola
year                 1967
pop           5.24747e+06
life               35.985
gdp               5522.78
continent          Africa
lifecheck1    50 or below
Name: 1040, dtype: object
country            Angola
year                 1972
pop           5.89486e+06
life               37.928
gdp               5473.29
continent          Africa
lifecheck1    50 or below
Name: 1041, dtype: object
country            Angola
year                 1977
pop           6.16268e+06
life               39.483
gdp               3008.65
continent          Africa
lifecheck1    50 or below
Name: 1042, dtype: object
country            Angola
year                 1982
pop           7.01638e+06
life               39.942
gdp               2756.95
continent          Africa
lifecheck1    50 or below
Name: 1043, dtype: object
country            Angola
year                 1987
pop           7.87423e+06
life               39.906
gdp               2430.21
continent          Africa
lifecheck1    50 or below
Name: 1044, dtype: object
country            Angola
year                 1992
pop           8.73599e+06
life               40.647
gdp               2627.85
continent          Africa
lifecheck1    50 or below
Name: 1045, dtype: object
country            Angola
year                 1997
pop           9.87502e+06
life               40.963
gdp               2277.14
continent          Africa
lifecheck1    50 or below
Name: 1046, dtype: object
country            Angola
year                 2002
pop           1.08661e+07
life               41.003
gdp               2773.29
continent          Africa
lifecheck1    50 or below
Name: 1047, dtype: object
country            Angola
year                 2007
pop           1.24205e+07
life               42.731
gdp               4797.23
continent          Africa
lifecheck1    50 or below
Name: 1048, dtype: object
country             Argentina
year                     1952
pop                1.7877e+07
life                   62.485
gdp                   5911.32
continent            Americas
lifecheck1    Greater than 50
Name: 1049, dtype: object
country             Argentina
year                     1957
pop               1.96105e+07
life                   64.399
gdp                   6856.86
continent            Americas
lifecheck1    Greater than 50
Name: 1050, dtype: object
country             Argentina
year                     1962
pop               2.12838e+07
life                   65.142
gdp                   7133.17
continent            Americas
lifecheck1    Greater than 50
Name: 1051, dtype: object
country             Argentina
year                     1967
pop               2.29342e+07
life                   65.634
gdp                   8052.95
continent            Americas
lifecheck1    Greater than 50
Name: 1052, dtype: object
country             Argentina
year                     1972
pop               2.47798e+07
life                   67.065
gdp                   9443.04
continent            Americas
lifecheck1    Greater than 50
Name: 1053, dtype: object
country             Argentina
year                     1977
pop               2.69838e+07
life                   68.481
gdp                     10079
continent            Americas
lifecheck1    Greater than 50
Name: 1054, dtype: object
country             Argentina
year                     1982
pop               2.93414e+07
life                   69.942
gdp                    8997.9
continent            Americas
lifecheck1    Greater than 50
Name: 1055, dtype: object
country             Argentina
year                     1987
pop               3.16209e+07
life                   70.774
gdp                   9139.67
continent            Americas
lifecheck1    Greater than 50
Name: 1056, dtype: object
country             Argentina
year                     1992
pop               3.39589e+07
life                   71.868
gdp                   9308.42
continent            Americas
lifecheck1    Greater than 50
Name: 1057, dtype: object
country             Argentina
year                     1997
pop               3.62035e+07
life                   73.275
gdp                   10967.3
continent            Americas
lifecheck1    Greater than 50
Name: 1058, dtype: object
country             Argentina
year                     2002
pop               3.83311e+07
life                    74.34
gdp                   8797.64
continent            Americas
lifecheck1    Greater than 50
Name: 1059, dtype: object
country             Argentina
year                     2007
pop               4.03019e+07
life                    75.32
gdp                   12779.4
continent            Americas
lifecheck1    Greater than 50
Name: 1060, dtype: object
country             Australia
year                     1952
pop               8.69121e+06
life                    69.12
gdp                   10039.6
continent             Oceania
lifecheck1    Greater than 50
Name: 1061, dtype: object
country             Australia
year                     1957
pop               9.71257e+06
life                    70.33
gdp                   10949.6
continent             Oceania
lifecheck1    Greater than 50
Name: 1062, dtype: object
country             Australia
year                     1962
pop                1.0795e+07
life                    70.93
gdp                   12217.2
continent             Oceania
lifecheck1    Greater than 50
Name: 1063, dtype: object
country             Australia
year                     1967
pop               1.18723e+07
life                     71.1
gdp                   14526.1
continent             Oceania
lifecheck1    Greater than 50
Name: 1064, dtype: object
country             Australia
year                     1972
pop                1.3177e+07
life                    71.93
gdp                   16788.6
continent             Oceania
lifecheck1    Greater than 50
Name: 1065, dtype: object
country             Australia
year                     1977
pop               1.40741e+07
life                    73.49
gdp                   18334.2
continent             Oceania
lifecheck1    Greater than 50
Name: 1066, dtype: object
country             Australia
year                     1982
pop               1.51842e+07
life                    74.74
gdp                     19477
continent             Oceania
lifecheck1    Greater than 50
Name: 1067, dtype: object
country             Australia
year                     1987
pop               1.62572e+07
life                    76.32
gdp                   21888.9
continent             Oceania
lifecheck1    Greater than 50
Name: 1068, dtype: object
country             Australia
year                     1992
pop                1.7482e+07
life                    77.56
gdp                   23424.8
continent             Oceania
lifecheck1    Greater than 50
Name: 1069, dtype: object
country             Australia
year                     1997
pop               1.85652e+07
life                    78.83
gdp                   26997.9
continent             Oceania
lifecheck1    Greater than 50
Name: 1070, dtype: object
country             Australia
year                     2002
pop               1.95468e+07
life                    80.37
gdp                   30687.8
continent             Oceania
lifecheck1    Greater than 50
Name: 1071, dtype: object
country             Australia
year                     2007
pop               2.04342e+07
life                   81.235
gdp                   34435.4
continent             Oceania
lifecheck1    Greater than 50
Name: 1072, dtype: object
country               Austria
year                     1952
pop               6.92777e+06
life                     66.8
gdp                   6137.08
continent              Europe
lifecheck1    Greater than 50
Name: 1073, dtype: object
country               Austria
year                     1957
pop               6.96586e+06
life                    67.48
gdp                    8842.6
continent              Europe
lifecheck1    Greater than 50
Name: 1074, dtype: object
country               Austria
year                     1962
pop               7.12986e+06
life                    69.54
gdp                   10750.7
continent              Europe
lifecheck1    Greater than 50
Name: 1075, dtype: object
country               Austria
year                     1967
pop                 7.377e+06
life                    70.14
gdp                   12834.6
continent              Europe
lifecheck1    Greater than 50
Name: 1076, dtype: object
country               Austria
year                     1972
pop                7.5442e+06
life                    70.63
gdp                   16661.6
continent              Europe
lifecheck1    Greater than 50
Name: 1077, dtype: object
country               Austria
year                     1977
pop               7.56843e+06
life                    72.17
gdp                   19749.4
continent              Europe
lifecheck1    Greater than 50
Name: 1078, dtype: object
country               Austria
year                     1982
pop               7.57461e+06
life                    73.18
gdp                   21597.1
continent              Europe
lifecheck1    Greater than 50
Name: 1079, dtype: object
country               Austria
year                     1987
pop                7.5789e+06
life                    74.94
gdp                   23687.8
continent              Europe
lifecheck1    Greater than 50
Name: 1080, dtype: object
country               Austria
year                     1992
pop               7.91497e+06
life                    76.04
gdp                     27042
continent              Europe
lifecheck1    Greater than 50
Name: 1081, dtype: object
country               Austria
year                     1997
pop               8.06988e+06
life                    77.51
gdp                   29095.9
continent              Europe
lifecheck1    Greater than 50
Name: 1082, dtype: object
country               Austria
year                     2002
pop               8.14831e+06
life                    78.98
gdp                   32417.6
continent              Europe
lifecheck1    Greater than 50
Name: 1083, dtype: object
country               Austria
year                     2007
pop               8.19978e+06
life                   79.829
gdp                   36126.5
continent              Europe
lifecheck1    Greater than 50
Name: 1084, dtype: object
country               Bahrain
year                     1952
pop                    120447
life                   50.939
gdp                   9867.08
continent                Asia
lifecheck1    Greater than 50
Name: 1085, dtype: object
country               Bahrain
year                     1957
pop                    138655
life                   53.832
gdp                   11635.8
continent                Asia
lifecheck1    Greater than 50
Name: 1086, dtype: object
country               Bahrain
year                     1962
pop                    171863
life                   56.923
gdp                   12753.3
continent                Asia
lifecheck1    Greater than 50
Name: 1087, dtype: object
country               Bahrain
year                     1967
pop                    202182
life                   59.923
gdp                   14804.7
continent                Asia
lifecheck1    Greater than 50

Name: 1234, dtype: object
country              Cameroon
year                     1982
pop               9.25083e+06
life                   52.961
gdp                   2367.98
continent              Africa
lifecheck1    Greater than 50
Name: 1235, dtype: object
country              Cameroon
year                     1987
pop               1.07807e+07
life                   54.985
gdp                   2602.66
continent              Africa
lifecheck1    Greater than 50
Name: 1236, dtype: object
country              Cameroon
year                     1992
pop               1.24672e+07
life                   54.314
gdp                   1793.16
continent              Africa
lifecheck1    Greater than 50
Name: 1237, dtype: object
country              Cameroon
year                     1997
pop               1.41958e+07
life                   52.199
gdp                   1694.34
continent              Africa
lifecheck1    Greater than 50
Name: 1238, dtype: object
country          Cameroon
year                 2002
pop                   NaN
life               49.856
gdp               1934.01
continent          Africa
lifecheck1    50 or below
Name: 1239, dtype: object
country              Cameroon
year                     2007
pop               1.76963e+07
life                    50.43
gdp                    2042.1
continent              Africa
lifecheck1    Greater than 50
Name: 1240, dtype: object
country                Canada
year                     1952
pop               1.47856e+07
life                    68.75
gdp                   11367.2
continent            Americas
lifecheck1    Greater than 50
Name: 1241, dtype: object
country                Canada
year                     1957
pop               1.70102e+07
life                    69.96
gdp                     12490
continent            Americas
lifecheck1    Greater than 50
Name: 1242, dtype: object
country                Canada
year                     1962
pop               1.89858e+07
life                     71.3
gdp                   13462.5
continent            Americas
lifecheck1    Greater than 50
Name: 1243, dtype: object
country                Canada
year                     1967
pop               2.08198e+07
life                    72.13
gdp                   16076.6
continent            Americas
lifecheck1    Greater than 50
Name: 1244, dtype: object
country                Canada
year                     1972
pop               2.22845e+07
life                    72.88
gdp                   18970.6
continent            Americas
lifecheck1    Greater than 50
Name: 1245, dtype: object
country                Canada
year                     1977
pop               2.37964e+07
life                    74.21
gdp                   22090.9
continent            Americas
lifecheck1    Greater than 50
Name: 1246, dtype: object
country                Canada
year                     1982
pop               2.52019e+07
life                    75.76
gdp                   22898.8
continent            Americas
lifecheck1    Greater than 50
Name: 1247, dtype: object
country                Canada
year                     1987
pop               2.65497e+07
life                    76.86
gdp                   26626.5
continent            Americas
lifecheck1    Greater than 50
Name: 1248, dtype: object
country                Canada
year                     1992
pop               2.85235e+07
life                    77.95
gdp                   26342.9
continent            Americas
lifecheck1    Greater than 50
Name: 1249, dtype: object
country                Canada
year                     1997
pop               3.03058e+07
life                    78.61
gdp                   28954.9
continent            Americas
lifecheck1    Greater than 50
Name: 1250, dtype: object
country                Canada
year                     2002
pop               3.19023e+07
life                    79.77
gdp                     33329
continent            Americas
lifecheck1    Greater than 50
Name: 1251, dtype: object
country                Canada
year                     2007
pop               3.33901e+07
life                   80.653
gdp                   36319.2
continent            Americas
lifecheck1    Greater than 50
Name: 1252, dtype: object
country       Central African Republic
year                              1952
pop                         1.2917e+06
life                            35.463
gdp                            1071.31
continent                       Africa
lifecheck1                 50 or below
Name: 1253, dtype: object
country       Central African Republic
year                              1957
pop                        1.39228e+06
life                            37.464
gdp                            1190.84
continent                       Africa
lifecheck1                 50 or below
Name: 1254, dtype: object
country       Central African Republic
year                              1962
pop                        1.52348e+06
life                            39.475
gdp                            1193.07
continent                       Africa
lifecheck1                 50 or below
Name: 1255, dtype: object
country       Central African Republic
year                              1967
pop                        1.73364e+06
life                            41.478
gdp                            1136.06
continent                       Africa
lifecheck1                 50 or below
Name: 1256, dtype: object
country       Central African Republic
year                              1972
pop                        1.92726e+06
life                            43.457
gdp                            1070.01
continent                       Africa
lifecheck1                 50 or below
Name: 1257, dtype: object
country       Central African Republic
year                              1977
pop                        2.16753e+06
life                            46.775
gdp                            1109.37
continent                       Africa
lifecheck1                 50 or below
Name: 1258, dtype: object
country       Central African Republic
year                              1982
pop                        2.47697e+06
life                            48.295
gdp                            956.753
continent                       Africa
lifecheck1                 50 or below
Name: 1259, dtype: object
country       Central African Republic
year                              1987
pop                        2.84001e+06
life                            50.485
gdp                            844.876
continent                       Africa
lifecheck1             Greater than 50
Name: 1260, dtype: object
country       Central African Republic
year                              1992
pop                        3.26512e+06
life                            49.396
gdp                            747.906
continent                       Africa
lifecheck1                 50 or below
Name: 1261, dtype: object
country       Central African Republic
year                              1997
pop                        3.69651e+06
life                            46.066
gdp                            740.506
continent                       Africa
lifecheck1                 50 or below
Name: 1262, dtype: object
country       Central African Republic
year                              2002
pop                        4.04801e+06
life                            43.308
gdp                            738.691
continent                       Africa
lifecheck1                 50 or below
Name: 1263, dtype: object
country       Central African Republic
year                              2007
pop                        4.36904e+06
life                            44.741
gdp                            706.017
continent                       Africa
lifecheck1                 50 or below
Name: 1264, dtype: object
country              Chad
year                 1952
pop           2.68246e+06
life               38.092
gdp               1178.67
continent          Africa
lifecheck1    50 or below
Name: 1265, dtype: object
country              Chad
year                 1957
pop           2.89486e+06
life               39.881
gdp                1308.5
continent          Africa
lifecheck1    50 or below
Name: 1266, dtype: object
country              Chad
year                 1962
pop           3.15042e+06
life               41.716
gdp               1389.82
continent          Africa
lifecheck1    50 or below
Name: 1267, dtype: object
country              Chad
year                 1967
pop                   NaN
life               43.601
gdp               1196.81
continent          Africa
lifecheck1    50 or below
Name: 1268, dtype: object
country              Chad
year                 1972
pop           3.89907e+06
life               45.569
gdp                1104.1
continent          Africa
lifecheck1    50 or below
Name: 1269, dtype: object
country              Chad
year                 1977
pop           4.38826e+06
life               47.383
gdp               1133.98
continent          Africa
lifecheck1    50 or below
Name: 1270, dtype: object
country              Chad
year                 1982
pop           4.87512e+06
life               49.517
gdp               797.908
continent          Africa
lifecheck1    50 or below
Name: 1271, dtype: object
country                  Chad
year                     1987
pop               5.49896e+06
life                   51.051
gdp                   952.386
continent              Africa
lifecheck1    Greater than 50
Name: 1272, dtype: object
country                  Chad
year                     1992
pop               6.42942e+06
life                   51.724
gdp                   1058.06
continent              Africa
lifecheck1    Greater than 50
Name: 1273, dtype: object
country                  Chad
year                     1997
pop               7.56201e+06
life                   51.573
gdp                   1004.96
continent              Africa
lifecheck1    Greater than 50
Name: 1274, dtype: object
country                  Chad
year                     2002
pop               8.83574e+06
life                   50.525
gdp                   1156.18
continent              Africa
lifecheck1    Greater than 50
Name: 1275, dtype: object
country              Chad
year                 2007
pop           1.02388e+07
life                  NaN
gdp               1704.06
continent          Africa
lifecheck1    50 or below
Name: 1276, dtype: object
country                 Chile
year                     1952
pop               6.37762e+06
life                   54.745
gdp                   3939.98
continent            Americas
lifecheck1    Greater than 50
Name: 1277, dtype: object
country                 Chile
year                     1957
pop               7.04843e+06
life                   56.074
gdp                   4315.62
continent            Americas
lifecheck1    Greater than 50
Name: 1278, dtype: object
country                 Chile
year                     1962
pop               7.96126e+06
life                   57.924
gdp                   4519.09
continent            Americas
lifecheck1    Greater than 50
Name: 1279, dtype: object
country                 Chile
year                     1967
pop               8.85891e+06
life                   60.523
gdp                   5106.65
continent            Americas
lifecheck1    Greater than 50
Name: 1280, dtype: object
country                 Chile
year                     1972
pop               9.71752e+06
life                   63.441
gdp                   5494.02
continent            Americas
lifecheck1    Greater than 50
Name: 1281, dtype: object
country                 Chile
year                     1977
pop               1.05998e+07
life                   67.052
gdp                   4756.76
continent            Americas
lifecheck1    Greater than 50
Name: 1282, dtype: object
country                 Chile
year                     1982
pop               1.14871e+07
life                   70.565
gdp                   5095.67
continent            Americas
lifecheck1    Greater than 50
Name: 1283, dtype: object
country                 Chile
year                     1987
pop               1.24634e+07
life                   72.492
gdp                   5547.06
continent            Americas
lifecheck1    Greater than 50
Name: 1284, dtype: object
country                 Chile
year                     1992
pop                1.3573e+07
life                   74.126
gdp                   7596.13
continent            Americas
lifecheck1    Greater than 50
Name: 1285, dtype: object
country                 Chile
year                     1997
pop               1.45999e+07
life                   75.816
gdp                   10118.1
continent            Americas
lifecheck1    Greater than 50
Name: 1286, dtype: object
country                 Chile
year                     2002
pop                1.5497e+07
life                    77.86
gdp                   10778.8
continent            Americas
lifecheck1    Greater than 50
Name: 1287, dtype: object
country                 Chile
year                     2007
pop               1.62847e+07
life                   78.553
gdp                   13171.6
continent            Americas
lifecheck1    Greater than 50
Name: 1288, dtype: object
country             China
year                 1952
pop           5.56264e+08
life                   44
gdp               400.449
continent            Asia
lifecheck1    50 or below
Name: 1289, dtype: object
country                 China
year                     1957
pop               6.37408e+08
life                   50.549
gdp                   575.987
continent                Asia
lifecheck1    Greater than 50
Name: 1290, dtype: object
country             China
year                 1962
pop            6.6577e+08
life              44.5014
gdp               487.674
continent            Asia
lifecheck1    50 or below
Name: 1291, dtype: object
country                 China
year                     1967
pop                7.5455e+08
life                  58.3811
gdp                   612.706
continent                Asia
lifecheck1    Greater than 50
Name: 1292, dtype: object
country                 China
year                     1972
pop                8.6203e+08
life                  63.1189
gdp                     676.9
continent                Asia
lifecheck1    Greater than 50
Name: 1293, dtype: object
country                 China
year                     1977
pop               9.43455e+08
life                  63.9674
gdp                   741.237
continent                Asia
lifecheck1    Greater than 50
Name: 1294, dtype: object
country                 China
year                     1982
pop               1.00028e+09
life                   65.525
gdp                   962.421
continent                Asia
lifecheck1    Greater than 50
Name: 1295, dtype: object
country                 China
year                     1987
pop               1.08404e+09
life                   67.274
gdp                    1378.9
continent                Asia
lifecheck1    Greater than 50
Name: 1296, dtype: object
country                 China
year                     1992
pop                       NaN
life                    68.69
gdp                   1655.78
continent                Asia
lifecheck1    Greater than 50
Name: 1297, dtype: object
country                 China
year                     1997
pop               1.23008e+09
life                   70.426
gdp                   2289.23
continent                Asia
lifecheck1    Greater than 50
Name: 1298, dtype: object
country                 China
year                     2002
pop                1.2804e+09
life                   72.028
gdp                   3119.28
continent                Asia
lifecheck1    Greater than 50
Name: 1299, dtype: object
country                 China
year                     2007
pop               1.31868e+09
life                   72.961
gdp                   4959.11
continent                Asia
lifecheck1    Greater than 50
Name: 1300, dtype: object
country              Colombia
year                     1952
pop               1.23508e+07
life                   50.643
gdp                   2144.12
continent            Americas
lifecheck1    Greater than 50
Name: 1301, dtype: object
country              Colombia
year                     1957
pop                1.4486e+07
life                   55.118
gdp                   2323.81
continent            Americas
lifecheck1    Greater than 50
Name: 1302, dtype: object
country              Colombia
year                     1962
pop               1.70099e+07
life                   57.863
gdp                   2492.35
continent            Americas
lifecheck1    Greater than 50
Name: 1303, dtype: object
country              Colombia
year                     1967
pop                1.9764e+07
life                   59.963
gdp                   2678.73
continent            Americas
lifecheck1    Greater than 50
Name: 1304, dtype: object
country              Colombia
year                     1972
pop               2.25429e+07
life                   61.623
gdp                   3264.66
continent            Americas
lifecheck1    Greater than 50
Name: 1305, dtype: object
country              Colombia
year                     1977
pop               2.50944e+07
life                   63.837
gdp                   3815.81
continent            Americas
lifecheck1    Greater than 50
Name: 1306, dtype: object
country              Colombia
year                     1982
pop               2.77646e+07
life                   66.653
gdp                   4397.58
continent            Americas
lifecheck1    Greater than 50
Name: 1307, dtype: object
country              Colombia
year                     1987
pop               3.09642e+07
life                   67.768
gdp                   4903.22
continent            Americas
lifecheck1    Greater than 50
Name: 1308, dtype: object
country              Colombia
year                     1992
pop               3.42027e+07
life                   68.421
gdp                   5444.65
continent            Americas
lifecheck1    Greater than 50
Name: 1309, dtype: object
country              Colombia
year                     1997
pop               3.76578e+07
life                   70.313
gdp                   6117.36
continent            Americas
lifecheck1    Greater than 50
Name: 1310, dtype: object
country              Colombia
year                     2002
pop               4.10082e+07
life                   71.682
gdp                   5755.26
continent            Americas
lifecheck1    Greater than 50
Name: 1311, dtype: object
country              Colombia
year                     2007
pop               4.42276e+07
life                   72.889
gdp                   7006.58
continent            Americas
lifecheck1    Greater than 50
Name: 1312, dtype: object
country           Comoros
year                 1952
pop                153936
life               40.715
gdp               1102.99
continent          Africa
lifecheck1    50 or below
Name: 1313, dtype: object
country           Comoros
year                 1957
pop                170928
life                42.46
gdp               1211.15
continent          Africa
lifecheck1    50 or below
Name: 1314, dtype: object
country           Comoros
year                 1962
pop                191689
life               44.467
gdp               1406.65
continent          Africa
lifecheck1    50 or below
Name: 1315, dtype: object
country           Comoros
year                 1967
pop                217378
life               46.472
gdp               1876.03
continent          Africa
lifecheck1    50 or below
Name: 1316, dtype: object
country           Comoros
year                 1972
pop                250027
life               48.944
gdp               1937.58
continent          Africa
lifecheck1    50 or below
Name: 1317, dtype: object
country               Comoros
year                     1977

Name: 1450, dtype: object
country               Ecuador
year                     1982
pop               8.36585e+06
life                   64.342
gdp                   7213.79
continent            Americas
lifecheck1    Greater than 50
Name: 1451, dtype: object
country               Ecuador
year                     1987
pop               9.54516e+06
life                   67.231
gdp                   6481.78
continent            Americas
lifecheck1    Greater than 50
Name: 1452, dtype: object
country               Ecuador
year                     1992
pop               1.07484e+07
life                   69.613
gdp                    7103.7
continent            Americas
lifecheck1    Greater than 50
Name: 1453, dtype: object
country               Ecuador
year                     1997
pop               1.19118e+07
life                   72.312
gdp                   7429.46
continent            Americas
lifecheck1    Greater than 50
Name: 1454, dtype: object
country               Ecuador
year                     2002
pop               1.29212e+07
life                   74.173
gdp                   5773.04
continent            Americas
lifecheck1    Greater than 50
Name: 1455, dtype: object
country               Ecuador
year                     2007
pop               1.37557e+07
life                   74.994
gdp                   6873.26
continent            Americas
lifecheck1    Greater than 50
Name: 1456, dtype: object
country             Egypt
year                 1952
pop           2.22233e+07
life               41.893
gdp               1418.82
continent          Africa
lifecheck1    50 or below
Name: 1457, dtype: object
country             Egypt
year                 1957
pop           2.50097e+07
life               44.444
gdp               1458.92
continent          Africa
lifecheck1    50 or below
Name: 1458, dtype: object
country             Egypt
year                 1962
pop           2.81733e+07
life               46.992
gdp               1693.34
continent          Africa
lifecheck1    50 or below
Name: 1459, dtype: object
country             Egypt
year                 1967
pop           3.16812e+07
life               49.293
gdp               1814.88
continent          Africa
lifecheck1    50 or below
Name: 1460, dtype: object
country                 Egypt
year                     1972
pop               3.48074e+07
life                   51.137
gdp                   2024.01
continent              Africa
lifecheck1    Greater than 50
Name: 1461, dtype: object
country                 Egypt
year                     1977
pop               3.87839e+07
life                   53.319
gdp                   2785.49
continent              Africa
lifecheck1    Greater than 50
Name: 1462, dtype: object
country                 Egypt
year                     1982
pop               4.56818e+07
life                   56.006
gdp                   3503.73
continent              Africa
lifecheck1    Greater than 50
Name: 1463, dtype: object
country                 Egypt
year                     1987
pop               5.27991e+07
life                   59.797
gdp                   3885.46
continent              Africa
lifecheck1    Greater than 50
Name: 1464, dtype: object
country                 Egypt
year                     1992
pop               5.94022e+07
life                   63.674
gdp                   3794.76
continent              Africa
lifecheck1    Greater than 50
Name: 1465, dtype: object
country                 Egypt
year                     1997
pop               6.61343e+07
life                   67.217
gdp                   4173.18
continent              Africa
lifecheck1    Greater than 50
Name: 1466, dtype: object
country                 Egypt
year                     2002
pop               7.33126e+07
life                   69.806
gdp                    4754.6
continent              Africa
lifecheck1    Greater than 50
Name: 1467, dtype: object
country                 Egypt
year                     2007
pop               8.02645e+07
life                   71.338
gdp                   5581.18
continent              Africa
lifecheck1    Greater than 50
Name: 1468, dtype: object
country       El Salvador
year                 1952
pop           2.04286e+06
life               45.262
gdp                3048.3
continent        Americas
lifecheck1    50 or below
Name: 1469, dtype: object
country       El Salvador
year                 1957
pop           2.35580e+06
life                48.57
gdp               3421.52
continent        Americas
lifecheck1    50 or below
Name: 1470, dtype: object
country           El Salvador
year                     1962
pop               2.74769e+06
life                   52.307
gdp                    3776.8
continent            Americas
lifecheck1    Greater than 50
Name: 1471, dtype: object
country           El Salvador
year                     1967
pop               3.23293e+06
life                   55.855
gdp                    4358.6
continent            Americas
lifecheck1    Greater than 50
Name: 1472, dtype: object
country           El Salvador
year                     1972
pop                3.7909e+06
life                   58.207
gdp                   4520.25
continent            Americas
lifecheck1    Greater than 50
Name: 1473, dtype: object
country           El Salvador
year                     1977
pop               4.28259e+06
life                   56.696
gdp                   5138.92
continent            Americas
lifecheck1    Greater than 50
Name: 1474, dtype: object
country           El Salvador
year                     1982
pop               4.47487e+06
life                   56.604
gdp                   4098.34
continent            Americas
lifecheck1    Greater than 50
Name: 1475, dtype: object
country           El Salvador
year                     1987
pop               4.84219e+06
life                   63.154
gdp                   4140.44
continent            Americas
lifecheck1    Greater than 50
Name: 1476, dtype: object
country           El Salvador
year                     1992
pop               5.27465e+06
life                   66.798
gdp                   4444.23
continent            Americas
lifecheck1    Greater than 50
Name: 1477, dtype: object
country           El Salvador
year                     1997
pop               5.78344e+06
life                   69.535
gdp                   5154.83
continent            Americas
lifecheck1    Greater than 50
Name: 1478, dtype: object
country           El Salvador
year                     2002
pop               6.35368e+06
life                   70.734
gdp                   5351.57
continent            Americas
lifecheck1    Greater than 50
Name: 1479, dtype: object
country           El Salvador
year                     2007
pop               6.93969e+06
life                   71.878
gdp                   5728.35
continent            Americas
lifecheck1    Greater than 50
Name: 1480, dtype: object
country       Equatorial Guinea
year                       1952
pop                      216964
life                     34.482
gdp                     375.643
continent                Africa
lifecheck1          50 or below
Name: 1481, dtype: object
country       Equatorial Guinea
year                       1957
pop                      232922
life                     35.983
gdp                     426.096
continent                Africa
lifecheck1          50 or below
Name: 1482, dtype: object
country       Equatorial Guinea
year                       1962
pop                      249220
life                     37.485
gdp                     582.842
continent                Africa
lifecheck1          50 or below
Name: 1483, dtype: object
country       Equatorial Guinea
year                       1967
pop                      259864
life                     38.987
gdp                     915.596
continent                Africa
lifecheck1          50 or below
Name: 1484, dtype: object
country       Equatorial Guinea
year                       1972
pop                      277603
life                     40.516
gdp                     672.412
continent                Africa
lifecheck1          50 or below
Name: 1485, dtype: object
country       Equatorial Guinea
year                       1977
pop                      192675
life                     42.024
gdp                     958.567
continent                Africa
lifecheck1          50 or below
Name: 1486, dtype: object
country       Equatorial Guinea
year                       1982
pop                      285483
life                     43.662
gdp                     927.825
continent                Africa
lifecheck1          50 or below
Name: 1487, dtype: object
country       Equatorial Guinea
year                       1987
pop                      341244
life                     45.664
gdp                     966.897
continent                Africa
lifecheck1          50 or below
Name: 1488, dtype: object
country       Equatorial Guinea
year                       1992
pop                      387838
life                     47.545
gdp                     1132.06
continent                Africa
lifecheck1          50 or below
Name: 1489, dtype: object
country       Equatorial Guinea
year                       1997
pop                      439971
life                     48.245
gdp                     2814.48
continent                Africa
lifecheck1          50 or below
Name: 1490, dtype: object
country       Equatorial Guinea
year                       2002
pop                      495627
life                     49.348
gdp                      7703.5
continent                Africa
lifecheck1          50 or below
Name: 1491, dtype: object
country       Equatorial Guinea
year                       2007
pop                      551201
life                     51.579
gdp                     12154.1
continent                Africa
lifecheck1      Greater than 50
Name: 1492, dtype: object
country           Eritrea
year                 1952
pop           1.43876e+06
life               35.928
gdp               328.941
continent          Africa
lifecheck1    50 or below
Name: 1493, dtype: object
country           Eritrea
year                 1957
pop           1.54261e+06
life               38.047
gdp               344.162
continent          Africa
lifecheck1    50 or below
Name: 1494, dtype: object
country           Eritrea
year                 1962
pop           1.66662e+06
life               40.158
gdp               380.996
continent          Africa
lifecheck1    50 or below
Name: 1495, dtype: object
country           Eritrea
year                 1967
pop           1.82032e+06
life               42.189
gdp               468.795
continent          Africa
lifecheck1    50 or below
Name: 1496, dtype: object
country           Eritrea
year                 1972
pop           2.26019e+06
life               44.142
gdp               514.324
continent          Africa
lifecheck1    50 or below
Name: 1497, dtype: object
country           Eritrea
year                 1977
pop           2.51264e+06
life               44.535
gdp               505.754
continent          Africa
lifecheck1    50 or below
Name: 1498, dtype: object
country           Eritrea
year                 1982
pop            2.6373e+06
life                43.89
gdp               524.876
continent          Africa
lifecheck1    50 or below
Name: 1499, dtype: object
country           Eritrea
year                 1987
pop           2.91596e+06
life               46.453
gdp               521.134
continent          Africa
lifecheck1    50 or below
Name: 1500, dtype: object
country           Eritrea
year                 1992
pop           3.66844e+06
life               49.991
gdp               582.859
continent          Africa
lifecheck1    50 or below
Name: 1501, dtype: object
country               Eritrea
year                     1997
pop               4.05832e+06
life                   53.378
gdp                   913.471
continent              Africa
lifecheck1    Greater than 50
Name: 1502, dtype: object
country               Eritrea
year                     2002
pop               4.41486e+06
life                    55.24
gdp                    765.35
continent              Africa
lifecheck1    Greater than 50
Name: 1503, dtype: object
country               Eritrea
year                     2007
pop               4.90658e+06
life                    58.04
gdp                    641.37
continent              Africa
lifecheck1    Greater than 50
Name: 1504, dtype: object
country          Ethiopia
year                 1952
pop           2.08609e+07
life               34.078
gdp               362.146
continent          Africa
lifecheck1    50 or below
Name: 1505, dtype: object
country          Ethiopia
year                 1957
pop           2.28156e+07
life               36.667
gdp               378.904
continent          Africa
lifecheck1    50 or below
Name: 1506, dtype: object
country          Ethiopia
year                 1962
pop           2.51454e+07
life               40.059
gdp               419.456
continent          Africa
lifecheck1    50 or below
Name: 1507, dtype: object
country          Ethiopia
year                 1967
pop           2.78603e+07
life               42.115
gdp               516.119
continent          Africa
lifecheck1    50 or below
Name: 1508, dtype: object
country          Ethiopia
year                 1972
pop           3.07704e+07
life               43.515
gdp               566.244
continent          Africa
lifecheck1    50 or below
Name: 1509, dtype: object
country          Ethiopia
year                 1977
pop           3.46178e+07
life                44.51
gdp               556.808
continent          Africa
lifecheck1    50 or below
Name: 1510, dtype: object
country          Ethiopia
year                 1982
pop           3.81118e+07
life               44.916
gdp               577.861
continent          Africa
lifecheck1    50 or below
Name: 1511, dtype: object
country          Ethiopia
year                 1987
pop           4.29995e+07
life               46.684
gdp               573.741
continent          Africa
lifecheck1    50 or below
Name: 1512, dtype: object
country          Ethiopia
year                 1992
pop           5.20886e+07
life               48.091
gdp               421.353
continent          Africa
lifecheck1    50 or below
Name: 1513, dtype: object
country          Ethiopia
year                 1997
pop           5.98613e+07
life               49.402
gdp               515.889
continent          Africa
lifecheck1    50 or below
Name: 1514, dtype: object
country              Ethiopia
year                     2002
pop               6.79468e+07
life                   50.725
gdp                   530.054
continent              Africa
lifecheck1    Greater than 50
Name: 1515, dtype: object
country              Ethiopia
year                     2007
pop               7.65119e+07
life                   52.947
gdp                   690.806
continent              Africa
lifecheck1    Greater than 50
Name: 1516, dtype: object
country               Finland
year                     1952
pop                4.0905e+06
life                    66.55
gdp                   6424.52
continent              Europe
lifecheck1    Greater than 50
Name: 1517, dtype: object
country               Finland
year                     1957
pop                 4.324e+06
life                    67.49
gdp                   7545.42
continent              Europe
lifecheck1    Greater than 50
Name: 1518, dtype: object
country               Finland
year                     1962
pop               4.49144e+06
life                    68.75
gdp                   9371.84
continent              Europe
lifecheck1    Greater than 50
Name: 1519, dtype: object
country               Finland
year                     1967
pop               4.60574e+06
life                    69.83
gdp                   10921.6
continent              Europe
lifecheck1    Greater than 50
Name: 1520, dtype: object
country               Finland
year                     1972
pop               4.63966e+06
life                    70.87
gdp                   14358.9
continent              Europe
lifecheck1    Greater than 50
Name: 1521, dtype: object
country               Finland
year                     1977
pop                4.7389e+06
life                    72.52
gdp                   15605.4
continent              Europe
lifecheck1    Greater than 50
Name: 1522, dtype: object
country               Finland
year                     1982
pop               4.82693e+06
life                    74.55
gdp                   18533.2
continent              Europe
lifecheck1    Greater than 50
Name: 1523, dtype: object
country               Finland
year                     1987
pop               4.93173e+06
life                    74.83
gdp                     21141
continent              Europe
lifecheck1    Greater than 50
Name: 1524, dtype: object
country               Finland
year                     1992
pop               5.04104e+06
life                     75.7
gdp                   20647.2
continent              Europe
lifecheck1    Greater than 50
Name: 1525, dtype: object
country               Finland
year                     1997
pop               5.13441e+06
life                    77.13
gdp                     23724
continent              Europe
lifecheck1    Greater than 50
Name: 1526, dtype: object
country               Finland
year                     2002
pop               5.19304e+06
life                    78.37
gdp                   28204.6
continent              Europe
lifecheck1    Greater than 50
Name: 1527, dtype: object
country               Finland
year                     2007
pop               5.23846e+06
life                   79.313
gdp                   33207.1
continent              Europe
lifecheck1    Greater than 50
Name: 1528, dtype: object
country                France
year                     1952
pop                       NaN
life                    67.41
gdp                   7029.81
continent              Europe
lifecheck1    Greater than 50
Name: 1529, dtype: object
country                France
year                     1957
pop                       NaN
life                    68.93
gdp                   8662.83
continent              Europe
lifecheck1    Greater than 50
Name: 1530, dtype: object
country                France
year                     1962
pop                4.7124e+07
life                    70.51
gdp                   10560.5
continent              Europe
lifecheck1    Greater than 50
Name: 1531, dtype: object
country                France
year                     1967
pop                4.9569e+07
life                    71.55
gdp                   12999.9
continent              Europe
lifecheck1    Greater than 50
Name: 1532, dtype: object
country                France
year                     1972
pop                5.1732e+07
life                    72.38
gdp                   16107.2
continent              Europe
lifecheck1    Greater than 50
Name: 1533, dtype: object
country                France
year                     1977
pop                5.3165e+07
life                    73.83
gdp                   18292.6
continent              Europe
lifecheck1    Greater than 50
Name: 1534, dtype: object
country                France
year                     1982
pop               5.44336e+07
life                    74.89
gdp                   20293.9
continent              Europe
lifecheck1    Greater than 50
Name: 1535, dtype: object
country                France
year                     1987
pop               5.56301e+07
life                    76.34
gdp                   22066.4
continent              Europe
lifecheck1    Greater than 50
Name: 1536, dtype: object
country                France
year                     1992
pop               5.73742e+07
life                    77.46
gdp                   24703.8
continent              Europe
lifecheck1    Greater than 50

Name: 1663, dtype: object
country       Hong Kong, China
year                      1967
pop                    3722800
life                        70
gdp                    6197.96
continent                 Asia
lifecheck1     Greater than 50
Name: 1664, dtype: object
country       Hong Kong, China
year                      1972
pop                    4115700
life                        72
gdp                    8315.93
continent                 Asia
lifecheck1     Greater than 50
Name: 1665, dtype: object
country       Hong Kong, China
year                      1977
pop                    4583700
life                      73.6
gdp                    11186.1
continent                 Asia
lifecheck1     Greater than 50
Name: 1666, dtype: object
country       Hong Kong, China
year                      1982
pop                    5264500
life                     75.45
gdp                    14560.5
continent                 Asia
lifecheck1     Greater than 50
Name: 1667, dtype: object
country       Hong Kong, China
year                      1987
pop                    5584510
life                      76.2
gdp                    20038.5
continent                 Asia
lifecheck1     Greater than 50
Name: 1668, dtype: object
country       Hong Kong, China
year                      1992
pop                    5829696
life                    77.601
gdp                    24757.6
continent                 Asia
lifecheck1     Greater than 50
Name: 1669, dtype: object
country       Hong Kong, China
year                      1997
pop                    6495918
life                        80
gdp                    28377.6
continent                 Asia
lifecheck1     Greater than 50
Name: 1670, dtype: object
country       Hong Kong, China
year                      2002
pop                    6762476
life                    81.495
gdp                      30209
continent                 Asia
lifecheck1     Greater than 50
Name: 1671, dtype: object
country       Hong Kong, China
year                      2007
pop                    6980412
life                    82.208
gdp                      39725
continent                 Asia
lifecheck1     Greater than 50
Name: 1672, dtype: object
country               Hungary
year                     1952
pop                   9504000
life                    64.03
gdp                   5263.67
continent              Europe
lifecheck1    Greater than 50
Name: 1673, dtype: object
country               Hungary
year                     1957
pop                   9839000
life                    66.41
gdp                   6040.18
continent              Europe
lifecheck1    Greater than 50
Name: 1674, dtype: object
country               Hungary
year                     1962
pop                  10063000
life                    67.96
gdp                   7550.36
continent              Europe
lifecheck1    Greater than 50
Name: 1675, dtype: object
country               Hungary
year                     1967
pop                  10223422
life                     69.5
gdp                   9326.64
continent              Europe
lifecheck1    Greater than 50
Name: 1676, dtype: object
country               Hungary
year                     1972
pop                  10394091
life                    69.76
gdp                   10168.7
continent              Europe
lifecheck1    Greater than 50
Name: 1677, dtype: object
country               Hungary
year                     1977
pop                  10637171
life                    69.95
gdp                   11674.8
continent              Europe
lifecheck1    Greater than 50
Name: 1678, dtype: object
country               Hungary
year                     1982
pop                  10705535
life                    69.39
gdp                     12546
continent              Europe
lifecheck1    Greater than 50
Name: 1679, dtype: object
country               Hungary
year                     1987
pop                  10612740
life                    69.58
gdp                   12986.5
continent              Europe
lifecheck1    Greater than 50
Name: 1680, dtype: object
country               Hungary
year                     1992
pop                  10348684
life                    69.17
gdp                   10535.6
continent              Europe
lifecheck1    Greater than 50
Name: 1681, dtype: object
country               Hungary
year                     1997
pop                       NaN
life                    71.04
gdp                   11712.8
continent              Europe
lifecheck1    Greater than 50
Name: 1682, dtype: object
country               Hungary
year                     2002
pop                  10083313
life                    72.59
gdp                   14843.9
continent              Europe
lifecheck1    Greater than 50
Name: 1683, dtype: object
country               Hungary
year                     2007
pop                   9956108
life                   73.338
gdp                   18008.9
continent              Europe
lifecheck1    Greater than 50
Name: 1684, dtype: object
country               Iceland
year                     1952
pop                    147962
life                    72.49
gdp                   7267.69
continent              Europe
lifecheck1    Greater than 50
Name: 1685, dtype: object
country               Iceland
year                     1957
pop                    165110
life                    73.47
gdp                      9244
continent              Europe
lifecheck1    Greater than 50
Name: 1686, dtype: object
country               Iceland
year                     1962
pop                    182053
life                    73.68
gdp                   10350.2
continent              Europe
lifecheck1    Greater than 50
Name: 1687, dtype: object
country               Iceland
year                     1967
pop                    198676
life                    73.73
gdp                   13319.9
continent              Europe
lifecheck1    Greater than 50
Name: 1688, dtype: object
country               Iceland
year                     1972
pop                    209275
life                    74.46
gdp                   15798.1
continent              Europe
lifecheck1    Greater than 50
Name: 1689, dtype: object
country               Iceland
year                     1977
pop                    221823
life                    76.11
gdp                     19655
continent              Europe
lifecheck1    Greater than 50
Name: 1690, dtype: object
country               Iceland
year                     1982
pop                    233997
life                    76.99
gdp                   23269.6
continent              Europe
lifecheck1    Greater than 50
Name: 1691, dtype: object
country               Iceland
year                     1987
pop                    244676
life                    77.23
gdp                   26923.2
continent              Europe
lifecheck1    Greater than 50
Name: 1692, dtype: object
country               Iceland
year                     1992
pop                    259012
life                    78.77
gdp                   25144.4
continent              Europe
lifecheck1    Greater than 50
Name: 1693, dtype: object
country               Iceland
year                     1997
pop                    271192
life                    78.95
gdp                   28061.1
continent              Europe
lifecheck1    Greater than 50
Name: 1694, dtype: object
country               Iceland
year                     2002
pop                    288030
life                     80.5
gdp                   31163.2
continent              Europe
lifecheck1    Greater than 50
Name: 1695, dtype: object
country               Iceland
year                     2007
pop                    301931
life                   81.757
gdp                   36180.8
continent              Europe
lifecheck1    Greater than 50
Name: 1696, dtype: object
country             India
year                 1952
pop             372000000
life               37.373
gdp               546.566
continent            Asia
lifecheck1    50 or below
Name: 1697, dtype: object
country             India
year                 1957
pop             409000000
life               40.249
gdp               590.062
continent            Asia
lifecheck1    50 or below
Name: 1698, dtype: object
country             India
year                 1962
pop             454000000
life               43.605
gdp               658.347
continent            Asia
lifecheck1    50 or below
Name: 1699, dtype: object
country             India
year                 1967
pop             506000000
life               47.193
gdp               700.771
continent            Asia
lifecheck1    50 or below
Name: 1700, dtype: object
country                 India
year                     1972
pop                 567000000
life                   50.651
gdp                   724.033
continent                Asia
lifecheck1    Greater than 50
Name: 1701, dtype: object
country                 India
year                     1977
pop                 634000000
life                   54.208
gdp                   813.337
continent                Asia
lifecheck1    Greater than 50
Name: 1702, dtype: object
country                 India
year                     1982
pop                 708000000
life                   56.596
gdp                   855.724
continent                Asia
lifecheck1    Greater than 50
Name: 1703, dtype: object
country                 India
year                     1987
pop                 788000000
life                   58.553
gdp                   976.513
continent                Asia
lifecheck1    Greater than 50
Name: 1704, dtype: object
country                 India
year                     1992
pop                 872000000
life                   60.223
gdp                   1164.41
continent                Asia
lifecheck1    Greater than 50
Name: 1705, dtype: object
country                 India
year                     1997
pop                 959000000
life                   61.765
gdp                   1458.82
continent                Asia
lifecheck1    Greater than 50
Name: 1706, dtype: object
country                 India
year                     2002
pop                1034172547
life                   62.879
gdp                   1746.77
continent                Asia
lifecheck1    Greater than 50
Name: 1707, dtype: object
country                 India
year                     2007
pop                1110396331
life                   64.698
gdp                   2452.21
continent                Asia
lifecheck1    Greater than 50
Name: 1708, dtype: object
country         Indonesia
year                 1952
pop              82052000
life               37.468
gdp               749.682
continent            Asia
lifecheck1    50 or below
Name: 1709, dtype: object
country         Indonesia
year                 1957
pop              90124000
life               39.918
gdp                 858.9
continent            Asia
lifecheck1    50 or below
Name: 1710, dtype: object
country         Indonesia
year                 1962
pop              99028000
life               42.518
gdp                849.29
continent            Asia
lifecheck1    50 or below
Name: 1711, dtype: object
country         Indonesia
year                 1967
pop             109343000
life               45.964
gdp               762.432
continent            Asia
lifecheck1    50 or below
Name: 1712, dtype: object
country         Indonesia
year                 1972
pop             121282000
life               49.203
gdp               1111.11
continent            Asia
lifecheck1    50 or below
Name: 1713, dtype: object
country             Indonesia
year                     1977
pop                 136725000
life                   52.702
gdp                    1382.7
continent                Asia
lifecheck1    Greater than 50
Name: 1714, dtype: object
country             Indonesia
year                     1982
pop                 153343000
life                   56.159
gdp                   1516.87
continent                Asia
lifecheck1    Greater than 50
Name: 1715, dtype: object
country             Indonesia
year                     1987
pop                 169276000
life                   60.137
gdp                   1748.36
continent                Asia
lifecheck1    Greater than 50
Name: 1716, dtype: object
country             Indonesia
year                     1992
pop                 184816000
life                   62.681
gdp                   2383.14
continent                Asia
lifecheck1    Greater than 50
Name: 1717, dtype: object
country             Indonesia
year                     1997
pop                 199278000
life                   66.041
gdp                   3119.34
continent                Asia
lifecheck1    Greater than 50
Name: 1718, dtype: object
country             Indonesia
year                     2002
pop                 211060000
life                   68.588
gdp                   2873.91
continent                Asia
lifecheck1    Greater than 50
Name: 1719, dtype: object
country             Indonesia
year                     2007
pop                 223547000
life                    70.65
gdp                   3540.65
continent                Asia
lifecheck1    Greater than 50
Name: 1720, dtype: object
country              Iran
year                 1952
pop              17272000
life               44.869
gdp               3035.33
continent            Asia
lifecheck1    50 or below
Name: 1721, dtype: object
country              Iran
year                 1957
pop              19792000
life               47.181
gdp               3290.26
continent            Asia
lifecheck1    50 or below
Name: 1722, dtype: object
country              Iran
year                 1962
pop              22874000
life               49.325
gdp               4187.33
continent            Asia
lifecheck1    50 or below
Name: 1723, dtype: object
country                  Iran
year                     1967
pop                  26538000
life                   52.469
gdp                   5906.73
continent                Asia
lifecheck1    Greater than 50
Name: 1724, dtype: object
country                  Iran
year                     1972
pop                  30614000
life                   55.234
gdp                   9613.82
continent                Asia
lifecheck1    Greater than 50
Name: 1725, dtype: object
country                  Iran
year                     1977
pop                  35480679
life                   57.702
gdp                   11888.6
continent                Asia
lifecheck1    Greater than 50
Name: 1726, dtype: object
country                  Iran
year                     1982
pop                  43072751
life                    59.62
gdp                   7608.33
continent                Asia
lifecheck1    Greater than 50
Name: 1727, dtype: object
country                  Iran
year                     1987
pop                  51889696
life                    63.04
gdp                   6642.88
continent                Asia
lifecheck1    Greater than 50
Name: 1728, dtype: object
country                  Iran
year                     1992
pop                  60397973
life                   65.742
gdp                   7235.65
continent                Asia
lifecheck1    Greater than 50
Name: 1729, dtype: object
country                  Iran
year                     1997
pop                  63327987
life                   68.042
gdp                   8263.59
continent                Asia
lifecheck1    Greater than 50
Name: 1730, dtype: object
country                  Iran
year                     2002
pop                  66907826
life                   69.451
gdp                   9240.76
continent                Asia
lifecheck1    Greater than 50
Name: 1731, dtype: object
country                  Iran
year                     2007
pop                  69453570
life                   70.964
gdp                   11605.7
continent                Asia
lifecheck1    Greater than 50
Name: 1732, dtype: object
country              Iraq
year                 1952
pop               5441766
life                45.32
gdp               4129.77
continent            Asia
lifecheck1    50 or below
Name: 1733, dtype: object
country              Iraq
year                 1957
pop               6248643
life               48.437
gdp               6229.33
continent            Asia
lifecheck1    50 or below
Name: 1734, dtype: object
country                  Iraq
year                     1962
pop                   7240260
life                   51.457
gdp                   8341.74
continent                Asia
lifecheck1    Greater than 50
Name: 1735, dtype: object
country                  Iraq
year                     1967
pop                   8519282
life                   54.459
gdp                   8931.46
continent                Asia
lifecheck1    Greater than 50
Name: 1736, dtype: object
country                  Iraq
year                     1972
pop                  10061506
life                    56.95
gdp                   9576.04
continent                Asia
lifecheck1    Greater than 50
Name: 1737, dtype: object
country                  Iraq
year                     1977
pop                  11882916
life                   60.413
gdp                   14688.2
continent                Asia
lifecheck1    Greater than 50
Name: 1738, dtype: object
country                  Iraq
year                     1982
pop                  14173318
life                   62.038
gdp                   14517.9
continent                Asia
lifecheck1    Greater than 50
Name: 1739, dtype: object
country                  Iraq
year                     1987
pop                  16543189
life                   65.044
gdp                   11643.6
continent                Asia
lifecheck1    Greater than 50
Name: 1740, dtype: object
country                  Iraq
year                     1992
pop                  17861905
life                   59.461
gdp                   3745.64
continent                Asia
lifecheck1    Greater than 50
Name: 1741, dtype: object
country                  Iraq
year                     1997
pop                  20775703
life                   58.811
gdp                   3076.24
continent                Asia
lifecheck1    Greater than 50
Name: 1742, dtype: object
country                  Iraq
year                     2002
pop                  24001816
life                   57.046
gdp                   4390.72
continent                Asia
lifecheck1    Greater than 50
Name: 1743, dtype: object
country                  Iraq
year                     2007
pop                  27499638
life                   59.545
gdp                   4471.06
continent                Asia
lifecheck1    Greater than 50
Name: 1744, dtype: object
country               Ireland
year                     1952
pop                   2952156
life                    66.91
gdp                   5210.28
continent              Europe
lifecheck1    Greater than 50
Name: 1745, dtype: object
country               Ireland
year                     1957
pop                   2878220
life                     68.9
gdp                   5599.08
continent              Europe
lifecheck1    Greater than 50
Name: 1746, dtype: object
country               Ireland
year                     1962
pop                   2830000
life                    70.29
gdp                    6631.6
continent              Europe
lifecheck1    Greater than 50
Name: 1747, dtype: object
country               Ireland
year                     1967
pop                   2900100
life                    71.08
gdp                   7655.57
continent              Europe
lifecheck1    Greater than 50
Name: 1748, dtype: object
country               Ireland
year                     1972
pop                   3024400
life                    71.28
gdp                   9530.77
continent              Europe
lifecheck1    Greater than 50
Name: 1749, dtype: object

Name: 1879, dtype: object
country           Lesotho
year                 1967
pop                996380
life               48.492
gdp               498.639
continent          Africa
lifecheck1    50 or below
Name: 1880, dtype: object
country           Lesotho
year                 1972
pop               1116779
life               49.767
gdp               496.582
continent          Africa
lifecheck1    50 or below
Name: 1881, dtype: object
country               Lesotho
year                     1977
pop                   1251524
life                   52.208
gdp                    745.37
continent              Africa
lifecheck1    Greater than 50
Name: 1882, dtype: object
country               Lesotho
year                     1982
pop                   1411807
life                   55.078
gdp                   797.263
continent              Africa
lifecheck1    Greater than 50
Name: 1883, dtype: object
country               Lesotho
year                     1987
pop                   1599200
life                    57.18
gdp                   773.993
continent              Africa
lifecheck1    Greater than 50
Name: 1884, dtype: object
country               Lesotho
year                     1992
pop                   1803195
life                   59.685
gdp                   977.486
continent              Africa
lifecheck1    Greater than 50
Name: 1885, dtype: object
country               Lesotho
year                     1997
pop                   1982823
life                   55.558
gdp                   1186.15
continent              Africa
lifecheck1    Greater than 50
Name: 1886, dtype: object
country           Lesotho
year                 2002
pop               2046772
life               44.593
gdp               1275.18
continent          Africa
lifecheck1    50 or below
Name: 1887, dtype: object
country           Lesotho
year                 2007
pop               2012649
life               42.592
gdp               1569.33
continent          Africa
lifecheck1    50 or below
Name: 1888, dtype: object
country           Liberia
year                 1952
pop                863308
life                38.48
gdp               575.573
continent          Africa
lifecheck1    50 or below
Name: 1889, dtype: object
country           Liberia
year                 1957
pop                975950
life               39.486
gdp                620.97
continent          Africa
lifecheck1    50 or below
Name: 1890, dtype: object
country           Liberia
year                 1962
pop               1112796
life               40.502
gdp               634.195
continent          Africa
lifecheck1    50 or below
Name: 1891, dtype: object
country           Liberia
year                 1967
pop               1279406
life               41.536
gdp               713.604
continent          Africa
lifecheck1    50 or below
Name: 1892, dtype: object
country           Liberia
year                 1972
pop               1482628
life               42.614
gdp               803.005
continent          Africa
lifecheck1    50 or below
Name: 1893, dtype: object
country           Liberia
year                 1977
pop               1703617
life               43.764
gdp               640.322
continent          Africa
lifecheck1    50 or below
Name: 1894, dtype: object
country           Liberia
year                 1982
pop               1956875
life               44.852
gdp                 572.2
continent          Africa
lifecheck1    50 or below
Name: 1895, dtype: object
country           Liberia
year                 1987
pop               2269414
life               46.027
gdp               506.114
continent          Africa
lifecheck1    50 or below
Name: 1896, dtype: object
country           Liberia
year                 1992
pop               1912974
life               40.802
gdp               636.623
continent          Africa
lifecheck1    50 or below
Name: 1897, dtype: object
country           Liberia
year                 1997
pop               2200725
life               42.221
gdp               609.174
continent          Africa
lifecheck1    50 or below
Name: 1898, dtype: object
country           Liberia
year                 2002
pop               2814651
life               43.753
gdp               531.482
continent          Africa
lifecheck1    50 or below
Name: 1899, dtype: object
country           Liberia
year                 2007
pop               3193942
life               45.678
gdp               414.507
continent          Africa
lifecheck1    50 or below
Name: 1900, dtype: object
country             Libya
year                 1952
pop               1019729
life               42.723
gdp               2387.55
continent          Africa
lifecheck1    50 or below
Name: 1901, dtype: object
country             Libya
year                 1957
pop               1201578
life               45.289
gdp               3448.28
continent          Africa
lifecheck1    50 or below
Name: 1902, dtype: object
country             Libya
year                 1962
pop               1441863
life               47.808
gdp               6757.03
continent          Africa
lifecheck1    50 or below
Name: 1903, dtype: object
country                 Libya
year                     1967
pop                   1759224
life                   50.227
gdp                   18772.8
continent              Africa
lifecheck1    Greater than 50
Name: 1904, dtype: object
country                 Libya
year                     1972
pop                   2183877
life                   52.773
gdp                   21011.5
continent              Africa
lifecheck1    Greater than 50
Name: 1905, dtype: object
country                 Libya
year                     1977
pop                   2721783
life                   57.442
gdp                   21951.2
continent              Africa
lifecheck1    Greater than 50
Name: 1906, dtype: object
country                 Libya
year                     1982
pop                   3344074
life                   62.155
gdp                   17364.3
continent              Africa
lifecheck1    Greater than 50
Name: 1907, dtype: object
country                 Libya
year                     1987
pop                   3799845
life                   66.234
gdp                   11770.6
continent              Africa
lifecheck1    Greater than 50
Name: 1908, dtype: object
country                 Libya
year                     1992
pop                   4364501
life                   68.755
gdp                   9640.14
continent              Africa
lifecheck1    Greater than 50
Name: 1909, dtype: object
country                 Libya
year                     1997
pop                   4759670
life                   71.555
gdp                   9467.45
continent              Africa
lifecheck1    Greater than 50
Name: 1910, dtype: object
country                 Libya
year                     2002
pop                   5368585
life                   72.737
gdp                   9534.68
continent              Africa
lifecheck1    Greater than 50
Name: 1911, dtype: object
country                 Libya
year                     2007
pop                   6036914
life                   73.952
gdp                   12057.5
continent              Africa
lifecheck1    Greater than 50
Name: 1912, dtype: object
country        Madagascar
year                 1952
pop               4762912
life               36.681
gdp               1443.01
continent          Africa
lifecheck1    50 or below
Name: 1913, dtype: object
country        Madagascar
year                 1957
pop                   NaN
life               38.865
gdp                1589.2
continent          Africa
lifecheck1    50 or below
Name: 1914, dtype: object
country        Madagascar
year                 1962
pop               5703324
life               40.848
gdp               1643.39
continent          Africa
lifecheck1    50 or below
Name: 1915, dtype: object
country        Madagascar
year                 1967
pop               6334556
life               42.881
gdp               1634.05
continent          Africa
lifecheck1    50 or below
Name: 1916, dtype: object
country        Madagascar
year                 1972
pop               7082430
life               44.851
gdp               1748.56
continent          Africa
lifecheck1    50 or below
Name: 1917, dtype: object
country        Madagascar
year                 1977
pop               8007166
life               46.881
gdp               1544.23
continent          Africa
lifecheck1    50 or below
Name: 1918, dtype: object
country        Madagascar
year                 1982
pop               9171477
life               48.969
gdp               1302.88
continent          Africa
lifecheck1    50 or below
Name: 1919, dtype: object
country        Madagascar
year                 1987
pop              10568642
life                49.35
gdp               1155.44
continent          Africa
lifecheck1    50 or below
Name: 1920, dtype: object
country            Madagascar
year                     1992
pop                  12210395
life                   52.214
gdp                   1040.68
continent              Africa
lifecheck1    Greater than 50
Name: 1921, dtype: object
country            Madagascar
year                     1997
pop                  14165114
life                   54.978
gdp                   986.296
continent              Africa
lifecheck1    Greater than 50
Name: 1922, dtype: object
country            Madagascar
year                     2002
pop                  16473477
life                   57.286
gdp                   894.637
continent              Africa
lifecheck1    Greater than 50
Name: 1923, dtype: object
country            Madagascar
year                     2007
pop                  19167654
life                   59.443
gdp                   1044.77
continent              Africa
lifecheck1    Greater than 50
Name: 1924, dtype: object
country            Malawi
year                 1952
pop               2917802
life               36.256
gdp               369.165
continent          Africa
lifecheck1    50 or below
Name: 1925, dtype: object
country            Malawi
year                 1957
pop               3221238
life               37.207
gdp                416.37
continent          Africa
lifecheck1    50 or below
Name: 1926, dtype: object
country            Malawi
year                 1962
pop               3628608
life                38.41
gdp               427.901
continent          Africa
lifecheck1    50 or below
Name: 1927, dtype: object
country            Malawi
year                 1967
pop               4147252
life               39.487
gdp               495.515
continent          Africa
lifecheck1    50 or below
Name: 1928, dtype: object
country            Malawi
year                 1972
pop               4730997
life               41.766
gdp               584.622
continent          Africa
lifecheck1    50 or below
Name: 1929, dtype: object
country            Malawi
year                 1977
pop               5637246
life               43.767
gdp               663.224
continent          Africa
lifecheck1    50 or below
Name: 1930, dtype: object
country            Malawi
year                 1982
pop               6502825
life               45.642
gdp               632.804
continent          Africa
lifecheck1    50 or below
Name: 1931, dtype: object
country            Malawi
year                 1987
pop               7824747
life               47.457
gdp               635.517
continent          Africa
lifecheck1    50 or below
Name: 1932, dtype: object
country            Malawi
year                 1992
pop              10014249
life                49.42
gdp                 563.2
continent          Africa
lifecheck1    50 or below
Name: 1933, dtype: object
country            Malawi
year                 1997
pop              10419991
life               47.495
gdp               692.276
continent          Africa
lifecheck1    50 or below
Name: 1934, dtype: object
country            Malawi
year                 2002
pop              11824495
life               45.009
gdp               665.423
continent          Africa
lifecheck1    50 or below
Name: 1935, dtype: object
country            Malawi
year                 2007
pop              13327079
life               48.303
gdp                759.35
continent          Africa
lifecheck1    50 or below
Name: 1936, dtype: object
country          Malaysia
year                 1952
pop               6748378
life               48.463
gdp               1831.13
continent            Asia
lifecheck1    50 or below
Name: 1937, dtype: object
country              Malaysia
year                     1957
pop                   7739235
life                   52.102
gdp                   1810.07
continent                Asia
lifecheck1    Greater than 50
Name: 1938, dtype: object
country              Malaysia
year                     1962
pop                   8906385
life                   55.737
gdp                   2036.88
continent                Asia
lifecheck1    Greater than 50
Name: 1939, dtype: object
country              Malaysia
year                     1967
pop                  10154878
life                   59.371
gdp                   2277.74
continent                Asia
lifecheck1    Greater than 50
Name: 1940, dtype: object
country              Malaysia
year                     1972
pop                  11441462
life                    63.01
gdp                   2849.09
continent                Asia
lifecheck1    Greater than 50
Name: 1941, dtype: object
country              Malaysia
year                     1977
pop                  12845381
life                   65.256
gdp                   3827.92
continent                Asia
lifecheck1    Greater than 50
Name: 1942, dtype: object
country              Malaysia
year                     1982
pop                  14441916
life                       68
gdp                   4920.36
continent                Asia
lifecheck1    Greater than 50
Name: 1943, dtype: object
country              Malaysia
year                     1987
pop                  16331785
life                     69.5
gdp                    5249.8
continent                Asia
lifecheck1    Greater than 50
Name: 1944, dtype: object
country              Malaysia
year                     1992
pop                  18319502
life                   70.693
gdp                   7277.91
continent                Asia
lifecheck1    Greater than 50
Name: 1945, dtype: object
country              Malaysia
year                     1997
pop                  20476091
life                   71.938
gdp                   10132.9
continent                Asia
lifecheck1    Greater than 50
Name: 1946, dtype: object
country              Malaysia
year                     2002
pop                  22662365
life                   73.044
gdp                     10207
continent                Asia
lifecheck1    Greater than 50
Name: 1947, dtype: object
country              Malaysia
year                     2007
pop                  24821286
life                   74.241
gdp                   12451.7
continent                Asia
lifecheck1    Greater than 50
Name: 1948, dtype: object
country              Mali
year                 1952
pop               3838168
life               33.685
gdp               452.337
continent          Africa
lifecheck1    50 or below
Name: 1949, dtype: object
country              Mali
year                 1957
pop               4241884
life               35.307
gdp               490.382
continent          Africa
lifecheck1    50 or below
Name: 1950, dtype: object
country              Mali
year                 1962
pop               4690372
life               36.936
gdp               496.174
continent          Africa
lifecheck1    50 or below
Name: 1951, dtype: object
country              Mali
year                 1967
pop               5212416
life               38.487
gdp                545.01
continent          Africa
lifecheck1    50 or below
Name: 1952, dtype: object
country              Mali
year                 1972
pop               5828158
life               39.977
gdp               581.369
continent          Africa
lifecheck1    50 or below
Name: 1953, dtype: object
country              Mali
year                 1977
pop               6491649
life               41.714
gdp               686.395
continent          Africa
lifecheck1    50 or below
Name: 1954, dtype: object
country              Mali
year                 1982
pop               6998256
life               43.916
gdp               618.014
continent          Africa
lifecheck1    50 or below
Name: 1955, dtype: object
country              Mali
year                 1987
pop               7634008
life               46.364
gdp               684.172
continent          Africa
lifecheck1    50 or below
Name: 1956, dtype: object
country              Mali
year                 1992
pop               8416215
life               48.388
gdp               739.014
continent          Africa
lifecheck1    50 or below
Name: 1957, dtype: object
country              Mali
year                 1997
pop               9384984
life               49.903
gdp               790.258
continent          Africa
lifecheck1    50 or below
Name: 1958, dtype: object
country                  Mali
year                     2002
pop                  10580176
life                   51.818
gdp                    951.41
continent              Africa
lifecheck1    Greater than 50
Name: 1959, dtype: object
country                  Mali
year                     2007
pop                  12031795
life                   54.467
gdp                   1042.58
continent              Africa
lifecheck1    Greater than 50
Name: 1960, dtype: object
country        Mauritania
year                 1952
pop               1022556
life               40.543
gdp               743.116
continent          Africa
lifecheck1    50 or below
Name: 1961, dtype: object
country        Mauritania
year                 1957
pop               1076852
life               42.338
gdp                846.12
continent          Africa
lifecheck1    50 or below
Name: 1962, dtype: object
country        Mauritania
year                 1962
pop               1146757
life               44.248
gdp                1055.9
continent          Africa
lifecheck1    50 or below
Name: 1963, dtype: object
country        Mauritania
year                 1967
pop               1230542
life               46.289
gdp               1421.15
continent          Africa
lifecheck1    50 or below
Name: 1964, dtype: object
country        Mauritania
year                 1972
pop               1332786
life               48.437
gdp               1586.85
continent          Africa
lifecheck1    50 or below
Name: 1965, dtype: object
country            Mauritania
year                     1977
pop                   1456688
life                   50.852
gdp                   1497.49
continent              Africa
lifecheck1    Greater than 50
Name: 1966, dtype: object
country            Mauritania
year                     1982
pop                   1622136
life                   53.599
gdp                   1481.15
continent              Africa
lifecheck1    Greater than 50
Name: 1967, dtype: object
country            Mauritania
year                     1987
pop                   1841240
life                   56.145
gdp                    1421.6
continent              Africa
lifecheck1    Greater than 50
Name: 1968, dtype: object
country            Mauritania
year                     1992
pop                   2119465
life                   58.333
gdp                   1361.37
continent              Africa
lifecheck1    Greater than 50
Name: 1969, dtype: object
country            Mauritania
year                     1997
pop                   2444741
life                    60.43
gdp                   1483.14
continent              Africa
lifecheck1    Greater than 50
Name: 1970, dtype: object
country            Mauritania

Name: 2109, dtype: object
country             Nicaragua
year                     1977
pop                   2554598
life                    57.47
gdp                   5486.37
continent            Americas
lifecheck1    Greater than 50
Name: 2110, dtype: object
country             Nicaragua
year                     1982
pop                   2979423
life                   59.298
gdp                   3470.34
continent            Americas
lifecheck1    Greater than 50
Name: 2111, dtype: object
country             Nicaragua
year                     1987
pop                   3344353
life                   62.008
gdp                   2955.98
continent            Americas
lifecheck1    Greater than 50
Name: 2112, dtype: object
country             Nicaragua
year                     1992
pop                   4017939
life                   65.843
gdp                   2170.15
continent            Americas
lifecheck1    Greater than 50
Name: 2113, dtype: object
country             Nicaragua
year                     1997
pop                   4609572
life                   68.426
gdp                   2253.02
continent            Americas
lifecheck1    Greater than 50
Name: 2114, dtype: object
country             Nicaragua
year                     2002
pop                   5146848
life                   70.836
gdp                   2474.55
continent            Americas
lifecheck1    Greater than 50
Name: 2115, dtype: object
country             Nicaragua
year                     2007
pop                   5675356
life                   72.899
gdp                   2749.32
continent            Americas
lifecheck1    Greater than 50
Name: 2116, dtype: object
country             Niger
year                 1952
pop               3379468
life               37.444
gdp               761.879
continent          Africa
lifecheck1    50 or below
Name: 2117, dtype: object
country             Niger
year                 1957
pop               3692184
life               38.598
gdp               835.523
continent          Africa
lifecheck1    50 or below
Name: 2118, dtype: object
country             Niger
year                 1962
pop               4076008
life               39.487
gdp               997.766
continent          Africa
lifecheck1    50 or below
Name: 2119, dtype: object
country             Niger
year                 1967
pop               4534062
life               40.118
gdp               1054.38
continent          Africa
lifecheck1    50 or below
Name: 2120, dtype: object
country             Niger
year                 1972
pop               5060262
life               40.546
gdp               954.209
continent          Africa
lifecheck1    50 or below
Name: 2121, dtype: object
country             Niger
year                 1977
pop               5682086
life               41.291
gdp               808.897
continent          Africa
lifecheck1    50 or below
Name: 2122, dtype: object
country             Niger
year                 1982
pop               6437188
life               42.598
gdp               909.722
continent          Africa
lifecheck1    50 or below
Name: 2123, dtype: object
country             Niger
year                 1987
pop               7332638
life               44.555
gdp                 668.3
continent          Africa
lifecheck1    50 or below
Name: 2124, dtype: object
country             Niger
year                 1992
pop               8392818
life               47.391
gdp               581.183
continent          Africa
lifecheck1    50 or below
Name: 2125, dtype: object
country                 Niger
year                     1997
pop                   9666252
life                   51.313
gdp                   580.305
continent              Africa
lifecheck1    Greater than 50
Name: 2126, dtype: object
country                 Niger
year                     2002
pop                  11140655
life                   54.496
gdp                   601.075
continent              Africa
lifecheck1    Greater than 50
Name: 2127, dtype: object
country                 Niger
year                     2007
pop                  12894865
life                   56.867
gdp                   619.677
continent              Africa
lifecheck1    Greater than 50
Name: 2128, dtype: object
country           Nigeria
year                 1952
pop              33119096
life               36.324
gdp               1077.28
continent          Africa
lifecheck1    50 or below
Name: 2129, dtype: object
country           Nigeria
year                 1957
pop              37173340
life               37.802
gdp               1100.59
continent          Africa
lifecheck1    50 or below
Name: 2130, dtype: object
country           Nigeria
year                 1962
pop              41871351
life                39.36
gdp               1150.93
continent          Africa
lifecheck1    50 or below
Name: 2131, dtype: object
country           Nigeria
year                 1967
pop              47287752
life                41.04
gdp               1014.51
continent          Africa
lifecheck1    50 or below
Name: 2132, dtype: object
country           Nigeria
year                 1972
pop              53740085
life               42.821
gdp               1698.39
continent          Africa
lifecheck1    50 or below
Name: 2133, dtype: object
country           Nigeria
year                 1977
pop              62209173
life               44.514
gdp               1981.95
continent          Africa
lifecheck1    50 or below
Name: 2134, dtype: object
country           Nigeria
year                 1982
pop              73039376
life               45.826
gdp               1576.97
continent          Africa
lifecheck1    50 or below
Name: 2135, dtype: object
country           Nigeria
year                 1987
pop              81551520
life               46.886
gdp               1385.03
continent          Africa
lifecheck1    50 or below
Name: 2136, dtype: object
country           Nigeria
year                 1992
pop              93364244
life               47.472
gdp               1619.85
continent          Africa
lifecheck1    50 or below
Name: 2137, dtype: object
country           Nigeria
year                 1997
pop             106207839
life               47.464
gdp               1624.94
continent          Africa
lifecheck1    50 or below
Name: 2138, dtype: object
country           Nigeria
year                 2002
pop             119901274
life               46.608
gdp               1615.29
continent          Africa
lifecheck1    50 or below
Name: 2139, dtype: object
country           Nigeria
year                 2007
pop             135031164
life               46.859
gdp               2013.98
continent          Africa
lifecheck1    50 or below
Name: 2140, dtype: object
country                Norway
year                     1952
pop                   3327728
life                    72.67
gdp                   10095.4
continent              Europe
lifecheck1    Greater than 50
Name: 2141, dtype: object
country                Norway
year                     1957
pop                   3491938
life                    73.44
gdp                     11654
continent              Europe
lifecheck1    Greater than 50
Name: 2142, dtype: object
country                Norway
year                     1962
pop                   3638919
life                    73.47
gdp                   13450.4
continent              Europe
lifecheck1    Greater than 50
Name: 2143, dtype: object
country                Norway
year                     1967
pop                   3786019
life                    74.08
gdp                   16361.9
continent              Europe
lifecheck1    Greater than 50
Name: 2144, dtype: object
country                Norway
year                     1972
pop                   3933004
life                    74.34
gdp                   18965.1
continent              Europe
lifecheck1    Greater than 50
Name: 2145, dtype: object
country                Norway
year                     1977
pop                   4043205
life                    75.37
gdp                   23311.3
continent              Europe
lifecheck1    Greater than 50
Name: 2146, dtype: object
country                Norway
year                     1982
pop                   4114787
life                    75.97
gdp                   26298.6
continent              Europe
lifecheck1    Greater than 50
Name: 2147, dtype: object
country            Norway
year                 1987
pop               4186147
life                  NaN
gdp                 31541
continent          Europe
lifecheck1    50 or below
Name: 2148, dtype: object
country                Norway
year                     1992
pop                   4286357
life                    77.32
gdp                   33965.7
continent              Europe
lifecheck1    Greater than 50
Name: 2149, dtype: object
country                Norway
year                     1997
pop                   4405672
life                    78.32
gdp                   41283.2
continent              Europe
lifecheck1    Greater than 50
Name: 2150, dtype: object
country                Norway
year                     2002
pop                   4535591
life                    79.05
gdp                     44684
continent              Europe
lifecheck1    Greater than 50
Name: 2151, dtype: object
country                Norway
year                     2007
pop                   4627926
life                   80.196
gdp                   49357.2
continent              Europe
lifecheck1    Greater than 50
Name: 2152, dtype: object
country              Oman
year                 1952
pop                507833
life               37.578
gdp               1828.23
continent            Asia
lifecheck1    50 or below
Name: 2153, dtype: object
country              Oman
year                 1957
pop                561977
life                40.08
gdp               2242.75
continent            Asia
lifecheck1    50 or below
Name: 2154, dtype: object
country              Oman
year                 1962
pop                628164
life               43.165
gdp               2924.64
continent            Asia
lifecheck1    50 or below
Name: 2155, dtype: object
country              Oman
year                 1967
pop                714775
life               46.988
gdp               4720.94
continent            Asia
lifecheck1    50 or below
Name: 2156, dtype: object
country              Oman
year                 1972
pop                829050
life                  NaN
gdp                 10618
continent            Asia
lifecheck1    50 or below
Name: 2157, dtype: object
country                  Oman
year                     1977
pop                   1004533
life                   57.367
gdp                   11848.3
continent                Asia
lifecheck1    Greater than 50
Name: 2158, dtype: object
country                  Oman
year                     1982
pop                   1301048
life                   62.728
gdp                   12954.8
continent                Asia
lifecheck1    Greater than 50
Name: 2159, dtype: object
country                  Oman
year                     1987
pop                   1593882
life                   67.734
gdp                   18115.2
continent                Asia
lifecheck1    Greater than 50
Name: 2160, dtype: object
country                  Oman
year                     1992
pop                   1915208
life                   71.197
gdp                   18616.7
continent                Asia
lifecheck1    Greater than 50
Name: 2161, dtype: object
country                  Oman
year                     1997
pop                   2283635
life                   72.499
gdp                   19702.1
continent                Asia
lifecheck1    Greater than 50
Name: 2162, dtype: object
country                  Oman
year                     2002
pop                   2713462
life                   74.193
gdp                   19774.8
continent                Asia
lifecheck1    Greater than 50
Name: 2163, dtype: object
country                  Oman
year                     2007
pop                   3204897
life                    75.64
gdp                   22316.2
continent                Asia
lifecheck1    Greater than 50
Name: 2164, dtype: object
country          Pakistan
year                 1952
pop              41346560
life               43.436
gdp               684.597
continent            Asia
lifecheck1    50 or below
Name: 2165, dtype: object
country          Pakistan
year                 1957
pop              46679944
life               45.557
gdp               747.084
continent            Asia
lifecheck1    50 or below
Name: 2166, dtype: object
country          Pakistan
year                 1962
pop              53100671
life                  NaN
gdp               803.343
continent            Asia
lifecheck1    50 or below
Name: 2167, dtype: object
country          Pakistan
year                 1967
pop              60641899
life                 49.8
gdp               942.408
continent            Asia
lifecheck1    50 or below
Name: 2168, dtype: object
country              Pakistan
year                     1972
pop                  69325921
life                   51.929
gdp                   1049.94
continent                Asia
lifecheck1    Greater than 50
Name: 2169, dtype: object
country              Pakistan
year                     1977
pop                  78152686
life                   54.043
gdp                   1175.92
continent                Asia
lifecheck1    Greater than 50
Name: 2170, dtype: object
country              Pakistan
year                     1982
pop                  91462088
life                   56.158
gdp                   1443.43
continent                Asia
lifecheck1    Greater than 50
Name: 2171, dtype: object
country              Pakistan
year                     1987
pop                 105186881
life                   58.245
gdp                   1704.69
continent                Asia
lifecheck1    Greater than 50
Name: 2172, dtype: object
country              Pakistan
year                     1992
pop                 120065004
life                   60.838
gdp                   1971.83
continent                Asia
lifecheck1    Greater than 50
Name: 2173, dtype: object
country              Pakistan
year                     1997
pop                 135564834
life                   61.818
gdp                   2049.35
continent                Asia
lifecheck1    Greater than 50
Name: 2174, dtype: object
country          Pakistan
year                 2002
pop             153403524
life                  NaN
gdp               2092.71
continent            Asia
lifecheck1    50 or below
Name: 2175, dtype: object
country              Pakistan
year                     2007
pop                 169270617
life                   65.483
gdp                   2605.95
continent                Asia
lifecheck1    Greater than 50
Name: 2176, dtype: object
country                Panama
year                     1952
pop                    940080
life                   55.191
gdp                   2480.38
continent            Americas
lifecheck1    Greater than 50
Name: 2177, dtype: object
country                Panama
year                     1957
pop                   1063506
life                   59.201
gdp                    2961.8
continent            Americas
lifecheck1    Greater than 50
Name: 2178, dtype: object
country                Panama
year                     1962
pop                   1215725
life                   61.817
gdp                   3536.54
continent            Americas
lifecheck1    Greater than 50
Name: 2179, dtype: object
country                Panama
year                     1967
pop                   1405486
life                   64.071
gdp                   4421.01
continent            Americas
lifecheck1    Greater than 50
Name: 2180, dtype: object
country                Panama
year                     1972
pop                   1616384
life                   66.216
gdp                   5364.25
continent            Americas
lifecheck1    Greater than 50
Name: 2181, dtype: object
country                Panama
year                     1977
pop                   1839782
life                   68.681
gdp                   5351.91
continent            Americas
lifecheck1    Greater than 50
Name: 2182, dtype: object
country                Panama
year                     1982
pop                   2036305
life                   70.472
gdp                    7009.6
continent            Americas
lifecheck1    Greater than 50
Name: 2183, dtype: object
country                Panama
year                     1987
pop                   2253639
life                   71.523
gdp                   7034.78
continent            Americas
lifecheck1    Greater than 50
Name: 2184, dtype: object
country                Panama
year                     1992
pop                   2484997
life                   72.462
gdp                   6618.74
continent            Americas
lifecheck1    Greater than 50
Name: 2185, dtype: object
country                Panama
year                     1997
pop                   2734531
life                   73.738
gdp                   7113.69
continent            Americas
lifecheck1    Greater than 50
Name: 2186, dtype: object
country                Panama
year                     2002
pop                   2990875
life                   74.712
gdp                   7356.03
continent            Americas
lifecheck1    Greater than 50
Name: 2187, dtype: object
country                Panama
year                     2007
pop                   3242173
life                   75.537
gdp                   9809.19
continent            Americas
lifecheck1    Greater than 50
Name: 2188, dtype: object
country              Paraguay
year                     1952
pop                   1555876
life                   62.649
gdp                   1952.31
continent            Americas
lifecheck1    Greater than 50
Name: 2189, dtype: object
country              Paraguay
year                     1957
pop                   1770902
life                   63.196
gdp                   2046.15
continent            Americas
lifecheck1    Greater than 50
Name: 2190, dtype: object
country              Paraguay
year                     1962
pop                   2009813
life                   64.361
gdp                   2148.03
continent            Americas
lifecheck1    Greater than 50
Name: 2191, dtype: object
country              Paraguay
year                     1967
pop                   2287985
life                   64.951
gdp                   2299.38
continent            Americas
lifecheck1    Greater than 50
Name: 2192, dtype: object
country              Paraguay
year                     1972
pop                   2614104
life                   65.815
gdp                   2523.34
continent            Americas
lifecheck1    Greater than 50
Name: 2193, dtype: object
country              Paraguay
year                     1977
pop                   2984494
life                   66.353
gdp                   3248.37
continent            Americas
lifecheck1    Greater than 50
Name: 2194, dtype: object
country              Paraguay
year                     1982
pop                   3366439
life                   66.874
gdp                    4258.5
continent            Americas
lifecheck1    Greater than 50
Name: 2195, dtype: object
country              Paraguay
year                     1987
pop                   3886512
life                   67.378
gdp                   3998.88
continent            Americas
lifecheck1    Greater than 50
Name: 2196, dtype: object
country              Paraguay
year                     1992
pop                   4483945
life                   68.225
gdp                   4196.41
continent            Americas
lifecheck1    Greater than 50
Name: 2197, dtype: object
country              Paraguay
year                     1997
pop                   5154123

Name: 2285, dtype: object
country            Rwanda
year                 1957
pop               2822082
life                 41.5
gdp               540.289
continent          Africa
lifecheck1    50 or below
Name: 2286, dtype: object
country            Rwanda
year                 1962
pop               3051242
life                   43
gdp               597.473
continent          Africa
lifecheck1    50 or below
Name: 2287, dtype: object
country            Rwanda
year                 1967
pop               3451079
life                 44.1
gdp               510.964
continent          Africa
lifecheck1    50 or below
Name: 2288, dtype: object
country            Rwanda
year                 1972
pop               3992121
life                 44.6
gdp               590.581
continent          Africa
lifecheck1    50 or below
Name: 2289, dtype: object
country            Rwanda
year                 1977
pop               4657072
life                   45
gdp               670.081
continent          Africa
lifecheck1    50 or below
Name: 2290, dtype: object
country            Rwanda
year                 1982
pop               5507565
life               46.218
gdp               881.571
continent          Africa
lifecheck1    50 or below
Name: 2291, dtype: object
country            Rwanda
year                 1987
pop               6349365
life                44.02
gdp               847.991
continent          Africa
lifecheck1    50 or below
Name: 2292, dtype: object
country            Rwanda
year                 1992
pop               7290203
life                  NaN
gdp               737.069
continent          Africa
lifecheck1    50 or below
Name: 2293, dtype: object
country            Rwanda
year                 1997
pop               7212583
life               36.087
gdp               589.945
continent          Africa
lifecheck1    50 or below
Name: 2294, dtype: object
country            Rwanda
year                 2002
pop               7852401
life               43.413
gdp               785.654
continent          Africa
lifecheck1    50 or below
Name: 2295, dtype: object
country            Rwanda
year                 2007
pop               8860588
life               46.242
gdp               863.088
continent          Africa
lifecheck1    50 or below
Name: 2296, dtype: object
country       Sao Tome and Principe
year                           1952
pop                           60011
life                         46.471
gdp                         879.584
continent                    Africa
lifecheck1              50 or below
Name: 2297, dtype: object
country       Sao Tome and Principe
year                           1957
pop                           61325
life                         48.945
gdp                         860.737
continent                    Africa
lifecheck1              50 or below
Name: 2298, dtype: object
country       Sao Tome and Principe
year                           1962
pop                           65345
life                         51.893
gdp                         1071.55
continent                    Africa
lifecheck1          Greater than 50
Name: 2299, dtype: object
country       Sao Tome and Principe
year                           1967
pop                           70787
life                         54.425
gdp                         1384.84
continent                    Africa
lifecheck1          Greater than 50
Name: 2300, dtype: object
country       Sao Tome and Principe
year                           1972
pop                           76595
life                          56.48
gdp                         1532.99
continent                    Africa
lifecheck1          Greater than 50
Name: 2301, dtype: object
country       Sao Tome and Principe
year                           1977
pop                           86796
life                          58.55
gdp                         1737.56
continent                    Africa
lifecheck1          Greater than 50
Name: 2302, dtype: object
country       Sao Tome and Principe
year                           1982
pop                           98593
life                         60.351
gdp                         1890.22
continent                    Africa
lifecheck1          Greater than 50
Name: 2303, dtype: object
country       Sao Tome and Principe
year                           1987
pop                          110812
life                         61.728
gdp                         1516.53
continent                    Africa
lifecheck1          Greater than 50
Name: 2304, dtype: object
country       Sao Tome and Principe
year                           1992
pop                          125911
life                         62.742
gdp                         1428.78
continent                    Africa
lifecheck1          Greater than 50
Name: 2305, dtype: object
country       Sao Tome and Principe
year                           1997
pop                          145608
life                         63.306
gdp                         1339.08
continent                    Africa
lifecheck1          Greater than 50
Name: 2306, dtype: object
country       Sao Tome and Principe
year                           2002
pop                          170372
life                         64.337
gdp                         1353.09
continent                    Africa
lifecheck1          Greater than 50
Name: 2307, dtype: object
country       Sao Tome and Principe
year                           2007
pop                          199579
life                         65.528
gdp                         1598.44
continent                    Africa
lifecheck1          Greater than 50
Name: 2308, dtype: object
country       Saudi Arabia
year                  1952
pop                4005677
life                39.875
gdp                6459.55
continent             Asia
lifecheck1     50 or below
Name: 2309, dtype: object
country       Saudi Arabia
year                  1957
pop                4419650
life                42.868
gdp                8157.59
continent             Asia
lifecheck1     50 or below
Name: 2310, dtype: object
country       Saudi Arabia
year                  1962
pop                4943029
life                45.914
gdp                11626.4
continent             Asia
lifecheck1     50 or below
Name: 2311, dtype: object
country       Saudi Arabia
year                  1967
pop                5618198
life                49.901
gdp                  16903
continent             Asia
lifecheck1     50 or below
Name: 2312, dtype: object
country          Saudi Arabia
year                     1972
pop                   6472756
life                   53.886
gdp                   24837.4
continent                Asia
lifecheck1    Greater than 50
Name: 2313, dtype: object
country          Saudi Arabia
year                     1977
pop                   8128505
life                    58.69
gdp                   34167.8
continent                Asia
lifecheck1    Greater than 50
Name: 2314, dtype: object
country          Saudi Arabia
year                     1982
pop                  11254672
life                   63.012
gdp                   33693.2
continent                Asia
lifecheck1    Greater than 50
Name: 2315, dtype: object
country          Saudi Arabia
year                     1987
pop                  14619745
life                   66.295
gdp                   21198.3
continent                Asia
lifecheck1    Greater than 50
Name: 2316, dtype: object
country          Saudi Arabia
year                     1992
pop                  16945857
life                   68.768
gdp                   24841.6
continent                Asia
lifecheck1    Greater than 50
Name: 2317, dtype: object
country          Saudi Arabia
year                     1997
pop                  21229759
life                   70.533
gdp                   20586.7
continent                Asia
lifecheck1    Greater than 50
Name: 2318, dtype: object
country          Saudi Arabia
year                     2002
pop                  24501530
life                   71.626
gdp                   19014.5
continent                Asia
lifecheck1    Greater than 50
Name: 2319, dtype: object
country       Saudi Arabia
year                  2007
pop               27601038
life                   NaN
gdp                21654.8
continent             Asia
lifecheck1     50 or below
Name: 2320, dtype: object
country           Senegal
year                 1952
pop               2755589
life               37.278
gdp               1450.36
continent          Africa
lifecheck1    50 or below
Name: 2321, dtype: object
country           Senegal
year                 1957
pop               3054547
life               39.329
gdp               1567.65
continent          Africa
lifecheck1    50 or below
Name: 2322, dtype: object
country           Senegal
year                 1962
pop               3430243
life               41.454
gdp               1654.99
continent          Africa
lifecheck1    50 or below
Name: 2323, dtype: object
country           Senegal
year                 1967
pop               3965841
life               43.563
gdp                1612.4
continent          Africa
lifecheck1    50 or below
Name: 2324, dtype: object
country           Senegal
year                 1972
pop               4588696
life               45.815
gdp               1597.71
continent          Africa
lifecheck1    50 or below
Name: 2325, dtype: object
country           Senegal
year                 1977
pop               5260855
life               48.879
gdp               1561.77
continent          Africa
lifecheck1    50 or below
Name: 2326, dtype: object
country               Senegal
year                     1982
pop                   6147783
life                   52.379
gdp                   1518.48
continent              Africa
lifecheck1    Greater than 50
Name: 2327, dtype: object
country               Senegal
year                     1987
pop                   7171347
life                   55.769
gdp                   1441.72
continent              Africa
lifecheck1    Greater than 50
Name: 2328, dtype: object
country               Senegal
year                     1992
pop                   8307920
life                   58.196
gdp                    1367.9
continent              Africa
lifecheck1    Greater than 50
Name: 2329, dtype: object
country               Senegal
year                     1997
pop                   9535314
life                   60.187
gdp                   1392.37
continent              Africa
lifecheck1    Greater than 50
Name: 2330, dtype: object
country               Senegal
year                     2002
pop                  10870037
life                     61.6
gdp                   1519.64
continent              Africa
lifecheck1    Greater than 50
Name: 2331, dtype: object
country               Senegal
year                     2007
pop                  12267493
life                   63.062
gdp                   1712.47
continent              Africa
lifecheck1    Greater than 50
Name: 2332, dtype: object
country                Serbia
year                     1952
pop                   6860147
life                   57.996
gdp                   3581.46
continent              Europe
lifecheck1    Greater than 50
Name: 2333, dtype: object
country                Serbia
year                     1957
pop                   7271135
life                   61.685
gdp                   4981.09
continent              Europe
lifecheck1    Greater than 50
Name: 2334, dtype: object
country                Serbia
year                     1962
pop                   7616060
life                   64.531
gdp                   6289.63
continent              Europe
lifecheck1    Greater than 50
Name: 2335, dtype: object
country                Serbia
year                     1967
pop                   7971222
life                   66.914
gdp                   7991.71
continent              Europe
lifecheck1    Greater than 50
Name: 2336, dtype: object
country                Serbia
year                     1972
pop                   8313288
life                     68.7
gdp                   10522.1
continent              Europe
lifecheck1    Greater than 50
Name: 2337, dtype: object
country                Serbia
year                     1977
pop                   8686367
life                     70.3
gdp                   12980.7
continent              Europe
lifecheck1    Greater than 50
Name: 2338, dtype: object
country                Serbia
year                     1982
pop                   9032824
life                   70.162
gdp                   15181.1
continent              Europe
lifecheck1    Greater than 50
Name: 2339, dtype: object
country                Serbia
year                     1987
pop                   9230783
life                   71.218
gdp                   15870.9
continent              Europe
lifecheck1    Greater than 50
Name: 2340, dtype: object
country                Serbia
year                     1992
pop                   9826397
life                   71.659
gdp                   9325.07
continent              Europe
lifecheck1    Greater than 50
Name: 2341, dtype: object
country                Serbia
year                     1997
pop                  10336594
life                   72.232
gdp                   7914.32
continent              Europe
lifecheck1    Greater than 50
Name: 2342, dtype: object
country                Serbia
year                     2002
pop                  10111559
life                   73.213
gdp                   7236.08
continent              Europe
lifecheck1    Greater than 50
Name: 2343, dtype: object
country                Serbia
year                     2007
pop                  10150265
life                   74.002
gdp                   9786.53
continent              Europe
lifecheck1    Greater than 50
Name: 2344, dtype: object
country       Sierra Leone
year                  1952
pop                2143249
life                30.331
gdp                879.788
continent           Africa
lifecheck1     50 or below
Name: 2345, dtype: object
country       Sierra Leone
year                  1957
pop                2295678
life                 31.57
gdp                1004.48
continent           Africa
lifecheck1     50 or below
Name: 2346, dtype: object
country       Sierra Leone
year                  1962
pop                2467895
life                32.767
gdp                1116.64
continent           Africa
lifecheck1     50 or below
Name: 2347, dtype: object
country       Sierra Leone
year                  1967
pop                2662190
life                34.113
gdp                1206.04
continent           Africa
lifecheck1     50 or below
Name: 2348, dtype: object
country       Sierra Leone
year                  1972
pop                2879013
life                  35.4
gdp                1353.76
continent           Africa
lifecheck1     50 or below
Name: 2349, dtype: object
country       Sierra Leone
year                  1977
pop                3140897
life                36.788
gdp                1348.29
continent           Africa
lifecheck1     50 or below
Name: 2350, dtype: object
country       Sierra Leone
year                  1982
pop                3464522
life                38.445
gdp                1465.01
continent           Africa
lifecheck1     50 or below
Name: 2351, dtype: object
country       Sierra Leone
year                  1987
pop                3868905
life                40.006
gdp                1294.45
continent           Africa
lifecheck1     50 or below
Name: 2352, dtype: object
country       Sierra Leone
year                  1992
pop                4260884
life                38.333
gdp                 1068.7
continent           Africa
lifecheck1     50 or below
Name: 2353, dtype: object
country       Sierra Leone
year                  1997
pop                4578212
life                39.897
gdp                574.648
continent           Africa
lifecheck1     50 or below
Name: 2354, dtype: object
country       Sierra Leone
year                  2002
pop                5359092
life                41.012
gdp                 699.49
continent           Africa
lifecheck1     50 or below
Name: 2355, dtype: object
country       Sierra Leone
year                  2007
pop                6144562
life                42.568
gdp                862.541
continent           Africa
lifecheck1     50 or below
Name: 2356, dtype: object
country             Singapore
year                     1952
pop                   1127000
life                   60.396
gdp                   2315.14
continent                Asia
lifecheck1    Greater than 50
Name: 2357, dtype: object
country             Singapore
year                     1957
pop                   1445929
life                   63.179
gdp                    2843.1
continent                Asia
lifecheck1    Greater than 50
Name: 2358, dtype: object
country             Singapore
year                     1962
pop                   1750200
life                   65.798
gdp                   3674.74
continent                Asia
lifecheck1    Greater than 50
Name: 2359, dtype: object
country             Singapore
year                     1967
pop                   1977600
life                   67.946
gdp                   4977.42
continent                Asia
lifecheck1    Greater than 50
Name: 2360, dtype: object
country             Singapore
year                     1972
pop                   2152400
life                   69.521
gdp                   8597.76
continent                Asia
lifecheck1    Greater than 50
Name: 2361, dtype: object
country             Singapore
year                     1977
pop                   2325300
life                   70.795
gdp                   11210.1
continent                Asia
lifecheck1    Greater than 50
Name: 2362, dtype: object
country             Singapore
year                     1982
pop                   2651869
life                    71.76
gdp                   15169.2
continent                Asia
lifecheck1    Greater than 50
Name: 2363, dtype: object
country             Singapore
year                     1987
pop                   2794552
life                    73.56
gdp                   18861.5
continent                Asia
lifecheck1    Greater than 50
Name: 2364, dtype: object
country             Singapore
year                     1992
pop                   3235865
life                   75.788
gdp                   24769.9
continent                Asia
lifecheck1    Greater than 50
Name: 2365, dtype: object
country             Singapore
year                     1997
pop                   3802309
life                   77.158
gdp                   33519.5
continent                Asia
lifecheck1    Greater than 50
Name: 2366, dtype: object
country             Singapore
year                     2002
pop                   4197776
life                    78.77
gdp                   36023.1
continent                Asia
lifecheck1    Greater than 50
Name: 2367, dtype: object
country             Singapore
year                     2007
pop                   4553009
life                   79.972
gdp                   47143.2
continent                Asia
lifecheck1    Greater than 50
Name: 2368, dtype: object
country       Slovak Republic
year                     1952
pop                   3558137
life                    64.36
gdp                   5074.66
continent              Europe
lifecheck1    Greater than 50
Name: 2369, dtype: object
country       Slovak Republic
year                     1957
pop                   3844277
life                    67.45
gdp                   6093.26
continent              Europe
lifecheck1    Greater than 50
Name: 2370, dtype: object
country       Slovak Republic
year                     1962
pop                   4237384
life                    70.33
gdp                   7481.11
continent              Europe
lifecheck1    Greater than 50
Name: 2371, dtype: object

Name: 2476, dtype: object
country           Switzerland
year                     1952
pop                   4815000
life                    69.62
gdp                   14734.2
continent              Europe
lifecheck1    Greater than 50
Name: 2477, dtype: object
country           Switzerland
year                     1957
pop                   5126000
life                    70.56
gdp                   17909.5
continent              Europe
lifecheck1    Greater than 50
Name: 2478, dtype: object
country           Switzerland
year                     1962
pop                   5666000
life                    71.32
gdp                   20431.1
continent              Europe
lifecheck1    Greater than 50
Name: 2479, dtype: object
country           Switzerland
year                     1967
pop                   6063000
life                    72.77
gdp                   22966.1
continent              Europe
lifecheck1    Greater than 50
Name: 2480, dtype: object
country           Switzerland
year                     1972
pop                   6401400
life                    73.78
gdp                   27195.1
continent              Europe
lifecheck1    Greater than 50
Name: 2481, dtype: object
country           Switzerland
year                     1977
pop                   6316424
life                    75.39
gdp                   26982.3
continent              Europe
lifecheck1    Greater than 50
Name: 2482, dtype: object
country           Switzerland
year                     1982
pop                   6468126
life                    76.21
gdp                   28397.7
continent              Europe
lifecheck1    Greater than 50
Name: 2483, dtype: object
country           Switzerland
year                     1987
pop                   6649942
life                    77.41
gdp                   30281.7
continent              Europe
lifecheck1    Greater than 50
Name: 2484, dtype: object
country           Switzerland
year                     1992
pop                   6995447
life                    78.03
gdp                   31871.5
continent              Europe
lifecheck1    Greater than 50
Name: 2485, dtype: object
country           Switzerland
year                     1997
pop                   7193761
life                    79.37
gdp                   32135.3
continent              Europe
lifecheck1    Greater than 50
Name: 2486, dtype: object
country           Switzerland
year                     2002
pop                   7361757
life                    80.62
gdp                     34481
continent              Europe
lifecheck1    Greater than 50
Name: 2487, dtype: object
country           Switzerland
year                     2007
pop                   7554661
life                   81.701
gdp                   37506.4
continent              Europe
lifecheck1    Greater than 50
Name: 2488, dtype: object
country             Syria
year                 1952
pop               3661549
life               45.883
gdp               1643.49
continent            Asia
lifecheck1    50 or below
Name: 2489, dtype: object
country             Syria
year                 1957
pop               4149908
life               48.284
gdp               2117.23
continent            Asia
lifecheck1    50 or below
Name: 2490, dtype: object
country                 Syria
year                     1962
pop                   4834621
life                   50.305
gdp                   2193.04
continent                Asia
lifecheck1    Greater than 50
Name: 2491, dtype: object
country                 Syria
year                     1967
pop                   5680812
life                   53.655
gdp                   1881.92
continent                Asia
lifecheck1    Greater than 50
Name: 2492, dtype: object
country                 Syria
year                     1972
pop                   6701172
life                   57.296
gdp                   2571.42
continent                Asia
lifecheck1    Greater than 50
Name: 2493, dtype: object
country                 Syria
year                     1977
pop                   7932503
life                   61.195
gdp                   3195.48
continent                Asia
lifecheck1    Greater than 50
Name: 2494, dtype: object
country                 Syria
year                     1982
pop                       NaN
life                    64.59
gdp                   3761.84
continent                Asia
lifecheck1    Greater than 50
Name: 2495, dtype: object
country                 Syria
year                     1987
pop                  11242847
life                   66.974
gdp                   3116.77
continent                Asia
lifecheck1    Greater than 50
Name: 2496, dtype: object
country                 Syria
year                     1992
pop                  13219062
life                   69.249
gdp                   3340.54
continent                Asia
lifecheck1    Greater than 50
Name: 2497, dtype: object
country                 Syria
year                     1997
pop                  15081016
life                   71.527
gdp                   4014.24
continent                Asia
lifecheck1    Greater than 50
Name: 2498, dtype: object
country                 Syria
year                     2002
pop                  17155814
life                   73.053
gdp                   4090.93
continent                Asia
lifecheck1    Greater than 50
Name: 2499, dtype: object
country                 Syria
year                     2007
pop                  19314747
life                   74.143
gdp                   4184.55
continent                Asia
lifecheck1    Greater than 50
Name: 2500, dtype: object
country                Taiwan
year                     1952
pop                   8550362
life                     58.5
gdp                   1206.95
continent                Asia
lifecheck1    Greater than 50
Name: 2501, dtype: object
country                Taiwan
year                     1957
pop                  10164215
life                     62.4
gdp                   1507.86
continent                Asia
lifecheck1    Greater than 50
Name: 2502, dtype: object
country                Taiwan
year                     1962
pop                  11918938
life                     65.2
gdp                   1822.88
continent                Asia
lifecheck1    Greater than 50
Name: 2503, dtype: object
country                Taiwan
year                     1967
pop                  13648692
life                     67.5
gdp                   2643.86
continent                Asia
lifecheck1    Greater than 50
Name: 2504, dtype: object
country                Taiwan
year                     1972
pop                  15226039
life                    69.39
gdp                   4062.52
continent                Asia
lifecheck1    Greater than 50
Name: 2505, dtype: object
country                Taiwan
year                     1977
pop                  16785196
life                    70.59
gdp                   5596.52
continent                Asia
lifecheck1    Greater than 50
Name: 2506, dtype: object
country                Taiwan
year                     1982
pop                  18501390
life                    72.16
gdp                   7426.35
continent                Asia
lifecheck1    Greater than 50
Name: 2507, dtype: object
country                Taiwan
year                     1987
pop                  19757799
life                     73.4
gdp                   11054.6
continent                Asia
lifecheck1    Greater than 50
Name: 2508, dtype: object
country                Taiwan
year                     1992
pop                  20686918
life                    74.26
gdp                   15215.7
continent                Asia
lifecheck1    Greater than 50
Name: 2509, dtype: object
country                Taiwan
year                     1997
pop                  21628605
life                    75.25
gdp                   20206.8
continent                Asia
lifecheck1    Greater than 50
Name: 2510, dtype: object
country                Taiwan
year                     2002
pop                  22454239
life                    76.99
gdp                   23235.4
continent                Asia
lifecheck1    Greater than 50
Name: 2511, dtype: object
country                Taiwan
year                     2007
pop                  23174294
life                     78.4
gdp                   28718.3
continent                Asia
lifecheck1    Greater than 50
Name: 2512, dtype: object
country          Tanzania
year                 1952
pop               8322925
life               41.215
gdp                716.65
continent          Africa
lifecheck1    50 or below
Name: 2513, dtype: object
country          Tanzania
year                 1957
pop               9452826
life               42.974
gdp               698.536
continent          Africa
lifecheck1    50 or below
Name: 2514, dtype: object
country          Tanzania
year                 1962
pop              10863958
life               44.246
gdp               722.004
continent          Africa
lifecheck1    50 or below
Name: 2515, dtype: object
country          Tanzania
year                 1967
pop                   NaN
life               45.757
gdp               848.219
continent          Africa
lifecheck1    50 or below
Name: 2516, dtype: object
country          Tanzania
year                 1972
pop              14706593
life                47.62
gdp               915.985
continent          Africa
lifecheck1    50 or below
Name: 2517, dtype: object
country          Tanzania
year                 1977
pop              17129565
life               49.919
gdp               962.492
continent          Africa
lifecheck1    50 or below
Name: 2518, dtype: object
country              Tanzania
year                     1982
pop                  19844382
life                   50.608
gdp                   874.243
continent              Africa
lifecheck1    Greater than 50
Name: 2519, dtype: object
country              Tanzania
year                     1987
pop                  23040630
life                   51.535
gdp                   831.822
continent              Africa
lifecheck1    Greater than 50
Name: 2520, dtype: object
country              Tanzania
year                     1992
pop                  26605473
life                    50.44
gdp                   825.682
continent              Africa
lifecheck1    Greater than 50
Name: 2521, dtype: object
country          Tanzania
year                 1997
pop              30686889
life               48.466
gdp               789.186
continent          Africa
lifecheck1    50 or below
Name: 2522, dtype: object
country          Tanzania
year                 2002
pop              34593779
life               49.651
gdp               899.074
continent          Africa
lifecheck1    50 or below
Name: 2523, dtype: object
country              Tanzania
year                     2007
pop                  38139640
life                   52.517
gdp                   1107.48
continent              Africa
lifecheck1    Greater than 50
Name: 2524, dtype: object
country              Thailand
year                     1952
pop                  21289402
life                   50.848
gdp                   757.797
continent                Asia
lifecheck1    Greater than 50
Name: 2525, dtype: object
country              Thailand
year                     1957
pop                  25041917
life                    53.63
gdp                   793.577
continent                Asia
lifecheck1    Greater than 50
Name: 2526, dtype: object
country              Thailand
year                     1962
pop                  29263397
life                   56.061
gdp                    1002.2
continent                Asia
lifecheck1    Greater than 50
Name: 2527, dtype: object
country              Thailand
year                     1967
pop                  34024249
life                   58.285
gdp                   1295.46
continent                Asia
lifecheck1    Greater than 50
Name: 2528, dtype: object
country              Thailand
year                     1972
pop                  39276153
life                   60.405
gdp                   1524.36
continent                Asia
lifecheck1    Greater than 50
Name: 2529, dtype: object
country              Thailand
year                     1977
pop                  44148285
life                   62.494
gdp                   1961.22
continent                Asia
lifecheck1    Greater than 50
Name: 2530, dtype: object
country              Thailand
year                     1982
pop                  48827160
life                   64.597
gdp                   2393.22
continent                Asia
lifecheck1    Greater than 50
Name: 2531, dtype: object
country              Thailand
year                     1987
pop                  52910342
life                   66.084
gdp                   2982.65
continent                Asia
lifecheck1    Greater than 50
Name: 2532, dtype: object
country              Thailand
year                     1992
pop                  56667095
life                   67.298
gdp                    4616.9
continent                Asia
lifecheck1    Greater than 50
Name: 2533, dtype: object
country              Thailand
year                     1997
pop                  60216677
life                   67.521
gdp                   5852.63
continent                Asia
lifecheck1    Greater than 50
Name: 2534, dtype: object
country              Thailand
year                     2002
pop                  62806748
life                   68.564
gdp                   5913.19
continent                Asia
lifecheck1    Greater than 50
Name: 2535, dtype: object
country              Thailand
year                     2007
pop                  65068149
life                   70.616
gdp                    7458.4
continent                Asia
lifecheck1    Greater than 50
Name: 2536, dtype: object
country              Togo
year                 1952
pop                   NaN
life               38.596
gdp               859.809
continent          Africa
lifecheck1    50 or below
Name: 2537, dtype: object
country              Togo
year                 1957
pop               1357445
life               41.208
gdp               925.908
continent          Africa
lifecheck1    50 or below
Name: 2538, dtype: object
country              Togo
year                 1962
pop               1528098
life               43.922
gdp               1067.53
continent          Africa
lifecheck1    50 or below
Name: 2539, dtype: object
country              Togo
year                 1967
pop               1735550
life               46.769
gdp                1477.6
continent          Africa
lifecheck1    50 or below
Name: 2540, dtype: object
country              Togo
year                 1972
pop               2056351
life               49.759
gdp               1649.66
continent          Africa
lifecheck1    50 or below
Name: 2541, dtype: object
country                  Togo
year                     1977
pop                   2308582
life                   52.887
gdp                   1532.78
continent              Africa
lifecheck1    Greater than 50
Name: 2542, dtype: object
country                  Togo
year                     1982
pop                   2644765
life                   55.471
gdp                   1344.58
continent              Africa
lifecheck1    Greater than 50
Name: 2543, dtype: object
country                  Togo
year                     1987
pop                   3154264
life                   56.941
gdp                    1202.2
continent              Africa
lifecheck1    Greater than 50
Name: 2544, dtype: object
country                  Togo
year                     1992
pop                   3747553
life                   58.061
gdp                    1034.3
continent              Africa
lifecheck1    Greater than 50
Name: 2545, dtype: object
country                  Togo
year                     1997
pop                   4320890
life                    58.39
gdp                   982.287
continent              Africa
lifecheck1    Greater than 50
Name: 2546, dtype: object
country                  Togo
year                     2002
pop                   4977378
life                   57.561
gdp                   886.221
continent              Africa
lifecheck1    Greater than 50
Name: 2547, dtype: object
country                  Togo
year                     2007
pop                   5701579
life                    58.42
gdp                    882.97
continent              Africa
lifecheck1    Greater than 50
Name: 2548, dtype: object
country       Trinidad and Tobago
year                         1952
pop                        662850
life                         59.1
gdp                       3023.27
continent                Americas
lifecheck1        Greater than 50
Name: 2549, dtype: object
country       Trinidad and Tobago
year                         1957
pop                        764900
life                         61.8
gdp                       4100.39
continent                Americas
lifecheck1        Greater than 50
Name: 2550, dtype: object
country       Trinidad and Tobago
year                         1962
pop                        887498
life                         64.9
gdp                       4997.52
continent                Americas
lifecheck1        Greater than 50
Name: 2551, dtype: object
country       Trinidad and Tobago
year                         1967
pop                        960155
life                         65.4
gdp                       5621.37
continent                Americas
lifecheck1        Greater than 50
Name: 2552, dtype: object
country       Trinidad and Tobago
year                         1972
pop                        975199
life                         65.9
gdp                       6619.55
continent                Americas
lifecheck1        Greater than 50
Name: 2553, dtype: object
country       Trinidad and Tobago
year                         1977
pop                       1039009
life                         68.3
gdp                       7899.55
continent                Americas
lifecheck1        Greater than 50
Name: 2554, dtype: object
country       Trinidad and Tobago
year                         1982
pop                       1116479
life                       68.832
gdp                       9119.53
continent                Americas
lifecheck1        Greater than 50
Name: 2555, dtype: object
country       Trinidad and Tobago
year                         1987
pop                       1191336
life                       69.582
gdp                        7388.6
continent                Americas
lifecheck1        Greater than 50
Name: 2556, dtype: object
country       Trinidad and Tobago
year                         1992
pop                       1183669
life                       69.862
gdp                       7370.99
continent                Americas
lifecheck1        Greater than 50
Name: 2557, dtype: object
country       Trinidad and Tobago
year                         1997
pop                       1138101
life                       69.465
gdp                       8792.57
continent                Americas
lifecheck1        Greater than 50
Name: 2558, dtype: object
country       Trinidad and Tobago
year                         2002
pop                           NaN
life                       68.976
gdp                       11460.6
continent                Americas
lifecheck1        Greater than 50
Name: 2559, dtype: object
country       Trinidad and Tobago
year                         2007
pop                       1056608
life                       69.819
gdp                       18008.5
continent                Americas
lifecheck1        Greater than 50
Name: 2560, dtype: object
country           Tunisia
year                 1952
pop               3647735
life                 44.6
gdp               1468.48
continent          Africa
lifecheck1    50 or below
Name: 2561, dtype: object
country           Tunisia

Name: 2679, dtype: object
country           Yemen, Rep.
year                     2007
pop                  22211743
life                   62.698
gdp                   2280.77
continent                Asia
lifecheck1    Greater than 50
Name: 2680, dtype: object
country            Zambia
year                 1952
pop               2672000
life               42.038
gdp               1147.39
continent          Africa
lifecheck1    50 or below
Name: 2681, dtype: object
country            Zambia
year                 1957
pop                   NaN
life               44.077
gdp               1311.96
continent          Africa
lifecheck1    50 or below
Name: 2682, dtype: object
country            Zambia
year                 1962
pop               3421000
life               46.023
gdp               1452.73
continent          Africa
lifecheck1    50 or below
Name: 2683, dtype: object
country            Zambia
year                 1967
pop               3900000
life               47.768
gdp               1777.08
continent          Africa
lifecheck1    50 or below
Name: 2684, dtype: object
country                Zambia
year                     1972
pop                   4506497
life                   50.107
gdp                    1773.5
continent              Africa
lifecheck1    Greater than 50
Name: 2685, dtype: object
country                Zambia
year                     1977
pop                   5216550
life                   51.386
gdp                   1588.69
continent              Africa
lifecheck1    Greater than 50
Name: 2686, dtype: object
country                Zambia
year                     1982
pop                   6100407
life                   51.821
gdp                   1408.68
continent              Africa
lifecheck1    Greater than 50
Name: 2687, dtype: object
country                Zambia
year                     1987
pop                   7272406
life                   50.821
gdp                   1213.32
continent              Africa
lifecheck1    Greater than 50
Name: 2688, dtype: object
country            Zambia
year                 1992
pop               8381163
life                 46.1
gdp               1210.88
continent          Africa
lifecheck1    50 or below
Name: 2689, dtype: object
country            Zambia
year                 1997
pop               9417789
life               40.238
gdp               1071.35
continent          Africa
lifecheck1    50 or below
Name: 2690, dtype: object
country            Zambia
year                 2002
pop              10595811
life               39.193
gdp               1071.61
continent          Africa
lifecheck1    50 or below
Name: 2691, dtype: object
country            Zambia
year                 2007
pop              11746035
life               42.384
gdp               1271.21
continent          Africa
lifecheck1    50 or below
Name: 2692, dtype: object
country          Zimbabwe
year                 1952
pop               3080907
life               48.451
gdp               406.884
continent          Africa
lifecheck1    50 or below
Name: 2693, dtype: object
country              Zimbabwe
year                     1957
pop                   3646340
life                   50.469
gdp                   518.764
continent              Africa
lifecheck1    Greater than 50
Name: 2694, dtype: object
country              Zimbabwe
year                     1962
pop                   4277736
life                   52.358
gdp                   527.272
continent              Africa
lifecheck1    Greater than 50
Name: 2695, dtype: object
country              Zimbabwe
year                     1967
pop                   4995432
life                   53.995
gdp                   569.795
continent              Africa
lifecheck1    Greater than 50
Name: 2696, dtype: object
country              Zimbabwe
year                     1972
pop                   5861135
life                   55.635
gdp                   799.362
continent              Africa
lifecheck1    Greater than 50
Name: 2697, dtype: object
country              Zimbabwe
year                     1977
pop                   6642107
life                   57.674
gdp                   685.588
continent              Africa
lifecheck1    Greater than 50
Name: 2698, dtype: object
country              Zimbabwe
year                     1982
pop                   7636524
life                   60.363
gdp                   788.855
continent              Africa
lifecheck1    Greater than 50
Name: 2699, dtype: object
country              Zimbabwe
year                     1987
pop                   9216418
life                   62.351
gdp                   706.157
continent              Africa
lifecheck1    Greater than 50
Name: 2700, dtype: object
country              Zimbabwe
year                     1992
pop                  10704340
life                   60.377
gdp                   693.421
continent              Africa
lifecheck1    Greater than 50
Name: 2701, dtype: object
country          Zimbabwe
year                 1997
pop              11404948
life               46.809
gdp                792.45
continent          Africa
lifecheck1    50 or below
Name: 2702, dtype: object
country          Zimbabwe
year                 2002
pop              11926563
life               39.989
gdp               672.039
continent          Africa
lifecheck1    50 or below
Name: 2703, dtype: object
country          Zimbabwe
year                 2007
pop                   NaN
life               43.487
gdp               469.709
continent          Africa
lifecheck1    50 or below
Name: 2704, dtype: object
0:00:01.571956

In [94]:
start = datetime.now()
for row in df.itertuples():
    print(row)
print(datetime.now()-start)

Pandas(Index=1000, country='Afghanistan', year=1952, pop=8425333.0, life=28.801, gdp=779.4453145, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1001, country='Afghanistan', year=1957, pop=9240934.0, life=nan, gdp=820.8530296, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1003, country='Afghanistan', year=1962, pop=10267083.0, life=31.997, gdp=853.10071, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1004, country='Afghanistan', year=1967, pop=11537966.0, life=34.02, gdp=836.1971382, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1005, country='Afghanistan', year=1972, pop=13079460.0, life=36.088, gdp=739.9811058, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1006, country='Afghanistan', year=1977, pop=14880372.0, life=38.438, gdp=786.11336, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1007, country='Afghanistan', year=1982, pop=nan, life=39.854, gdp=978.0114388, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1008, country='Afghanistan', year=1987, pop=13867957.0, life=40.822, gdp=852.3959448, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1009, country='Afghanistan', year=1992, pop=16317921.0, life=41.674, gdp=649.3413952, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1010, country='Afghanistan', year=1997, pop=22227415.0, life=41.763, gdp=635.341351, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1011, country='Afghanistan', year=2002, pop=25268405.0, life=42.129, gdp=726.7340548, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1012, country='Afghanistan', year=2007, pop=31889923.0, life=43.828, gdp=974.5803384, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1013, country='Albania', year=1952, pop=1282697.0, life=55.23, gdp=1601.056136, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1014, country='Albania', year=1957, pop=1476505.0, life=59.28, gdp=1942.284244, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1015, country='Albania', year=1962, pop=1728137.0, life=64.82, gdp=2312.888958, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1016, country='Albania', year=1967, pop=1984060.0, life=66.22, gdp=2760.196931, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1017, country='Albania', year=1972, pop=2263554.0, life=67.69, gdp=3313.422188, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1018, country='Albania', year=1977, pop=2509048.0, life=68.93, gdp=3533.00391, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1019, country='Albania', year=1982, pop=2780097.0, life=70.42, gdp=3630.880722, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1020, country='Albania', year=1987, pop=3075321.0, life=72.0, gdp=3738.932735, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1021, country='Albania', year=1992, pop=3326498.0, life=71.581, gdp=2497.437901, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1022, country='Albania', year=1997, pop=3428038.0, life=72.95, gdp=3193.054604, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1023, country='Albania', year=2002, pop=3508512.0, life=75.651, gdp=4604.211737, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1024, country='Albania', year=2007, pop=3600523.0, life=76.423, gdp=5937.029526, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1025, country='Algeria', year=1952, pop=9279525.0, life=43.077, gdp=2449.008185, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1026, country='Algeria', year=1957, pop=10270856.0, life=45.685, gdp=3013.976023, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1027, country='Algeria', year=1962, pop=11000948.0, life=48.303, gdp=2550.81688, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1028, country='Algeria', year=1967, pop=12760499.0, life=51.407, gdp=3246.991771, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1029, country='Algeria', year=1972, pop=14760787.0, life=54.518, gdp=4182.663766, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1030, country='Algeria', year=1977, pop=17152804.0, life=58.014, gdp=4910.416756, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1031, country='Algeria', year=1982, pop=20033753.0, life=61.368, gdp=5745.160213, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1032, country='Algeria', year=1987, pop=23254956.0, life=65.799, gdp=5681.358539, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1033, country='Algeria', year=1992, pop=26298373.0, life=67.744, gdp=5023.216647, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1034, country='Algeria', year=1997, pop=29072015.0, life=69.152, gdp=4797.295051, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1035, country='Algeria', year=2002, pop=31287142.0, life=70.994, gdp=5288.040382, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1036, country='Algeria', year=2007, pop=33333216.0, life=72.301, gdp=6223.367465, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1037, country='Angola', year=1952, pop=4232095.0, life=30.015, gdp=3520.610273, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1038, country='Angola', year=1957, pop=4561361.0, life=31.999, gdp=3827.940465, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1039, country='Angola', year=1962, pop=4826015.0, life=34.0, gdp=4269.276742, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1040, country='Angola', year=1967, pop=5247469.0, life=35.985, gdp=5522.776375, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1041, country='Angola', year=1972, pop=5894858.0, life=37.928, gdp=5473.288005, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1042, country='Angola', year=1977, pop=6162675.0, life=39.483, gdp=3008.647355, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1043, country='Angola', year=1982, pop=7016384.0, life=39.942, gdp=2756.953672, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1044, country='Angola', year=1987, pop=7874230.0, life=39.906, gdp=2430.208311, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1045, country='Angola', year=1992, pop=8735988.0, life=40.647, gdp=2627.845685, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1046, country='Angola', year=1997, pop=9875024.0, life=40.963, gdp=2277.140884, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1047, country='Angola', year=2002, pop=10866106.0, life=41.003, gdp=2773.287312, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1048, country='Angola', year=2007, pop=12420476.0, life=42.731, gdp=4797.231267, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1049, country='Argentina', year=1952, pop=17876956.0, life=62.485, gdp=5911.315053, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1050, country='Argentina', year=1957, pop=19610538.0, life=64.399, gdp=6856.856212, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1051, country='Argentina', year=1962, pop=21283783.0, life=65.142, gdp=7133.166023, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1052, country='Argentina', year=1967, pop=22934225.0, life=65.634, gdp=8052.953021, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1053, country='Argentina', year=1972, pop=24779799.0, life=67.065, gdp=9443.038526, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1054, country='Argentina', year=1977, pop=26983828.0, life=68.481, gdp=10079.02674, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1055, country='Argentina', year=1982, pop=29341374.0, life=69.942, gdp=8997.897412, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1056, country='Argentina', year=1987, pop=31620918.0, life=70.774, gdp=9139.671389, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1057, country='Argentina', year=1992, pop=33958947.0, life=71.868, gdp=9308.41871, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1058, country='Argentina', year=1997, pop=36203463.0, life=73.275, gdp=10967.28195, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1059, country='Argentina', year=2002, pop=38331121.0, life=74.34, gdp=8797.640716, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1060, country='Argentina', year=2007, pop=40301927.0, life=75.32, gdp=12779.37964, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1061, country='Australia', year=1952, pop=8691212.0, life=69.12, gdp=10039.59564, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1062, country='Australia', year=1957, pop=9712569.0, life=70.33, gdp=10949.64959, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1063, country='Australia', year=1962, pop=10794968.0, life=70.93, gdp=12217.22686, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1064, country='Australia', year=1967, pop=11872264.0, life=71.1, gdp=14526.12465, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1065, country='Australia', year=1972, pop=13177000.0, life=71.93, gdp=16788.62948, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1066, country='Australia', year=1977, pop=14074100.0, life=73.49, gdp=18334.19751, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1067, country='Australia', year=1982, pop=15184200.0, life=74.74, gdp=19477.00928, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1068, country='Australia', year=1987, pop=16257249.0, life=76.32, gdp=21888.88903, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1069, country='Australia', year=1992, pop=17481977.0, life=77.56, gdp=23424.76683, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1070, country='Australia', year=1997, pop=18565243.0, life=78.83, gdp=26997.93657, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1071, country='Australia', year=2002, pop=19546792.0, life=80.37, gdp=30687.75473, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1072, country='Australia', year=2007, pop=20434176.0, life=81.235, gdp=34435.36744, continent='Oceania', lifecheck1='Greater than 50')
Pandas(Index=1073, country='Austria', year=1952, pop=6927772.0, life=66.8, gdp=6137.076492, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1074, country='Austria', year=1957, pop=6965860.0, life=67.48, gdp=8842.59803, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1075, country='Austria', year=1962, pop=7129864.0, life=69.54, gdp=10750.72111, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1076, country='Austria', year=1967, pop=7376998.0, life=70.14, gdp=12834.6024, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1077, country='Austria', year=1972, pop=7544201.0, life=70.63, gdp=16661.6256, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1078, country='Austria', year=1977, pop=7568430.0, life=72.17, gdp=19749.4223, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1079, country='Austria', year=1982, pop=7574613.0, life=73.18, gdp=21597.08362, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1080, country='Austria', year=1987, pop=7578903.0, life=74.94, gdp=23687.82607, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1081, country='Austria', year=1992, pop=7914969.0, life=76.04, gdp=27042.01868, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1082, country='Austria', year=1997, pop=8069876.0, life=77.51, gdp=29095.92066, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1083, country='Austria', year=2002, pop=8148312.0, life=78.98, gdp=32417.60769, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1084, country='Austria', year=2007, pop=8199783.0, life=79.829, gdp=36126.4927, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1085, country='Bahrain', year=1952, pop=120447.0, life=50.939, gdp=9867.084765, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1086, country='Bahrain', year=1957, pop=138655.0, life=53.832, gdp=11635.79945, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1087, country='Bahrain', year=1962, pop=171863.0, life=56.923, gdp=12753.27514, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1088, country='Bahrain', year=1967, pop=202182.0, life=59.923, gdp=14804.6727, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1089, country='Bahrain', year=1972, pop=230800.0, life=63.3, gdp=18268.65839, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1090, country='Bahrain', year=1977, pop=297410.0, life=65.593, gdp=19340.10196, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1091, country='Bahrain', year=1982, pop=377967.0, life=69.052, gdp=19211.14731, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1092, country='Bahrain', year=1987, pop=454612.0, life=70.75, gdp=18524.02406, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1093, country='Bahrain', year=1992, pop=529491.0, life=72.601, gdp=19035.57917, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1094, country='Bahrain', year=1997, pop=598561.0, life=73.925, gdp=20292.01679, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1095, country='Bahrain', year=2002, pop=656397.0, life=74.795, gdp=23403.55927, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1096, country='Bahrain', year=2007, pop=708573.0, life=75.635, gdp=29796.04834, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1097, country='Bangladesh', year=1952, pop=46886859.0, life=37.484, gdp=684.2441716, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1098, country='Bangladesh', year=1957, pop=51365468.0, life=39.348, gdp=661.6374577, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1099, country='Bangladesh', year=1962, pop=56839289.0, life=41.216, gdp=686.3415538, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1100, country='Bangladesh', year=1967, pop=62821884.0, life=43.453, gdp=721.1860862, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1101, country='Bangladesh', year=1972, pop=70759295.0, life=45.252, gdp=630.2336265, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1102, country='Bangladesh', year=1977, pop=80428306.0, life=46.923, gdp=659.8772322, continent='Asia', lifecheck1='50 or below')
Pandas(Index=1103, country='Bangladesh', year=1982, pop=93074406.0, life=50.009, gdp=676.9818656, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1104, country='Bangladesh', year=1987, pop=103764241.0, life=52.819, gdp=751.9794035, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1105, country='Bangladesh', year=1992, pop=113704579.0, life=56.018, gdp=837.8101643, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1106, country='Bangladesh', year=1997, pop=123315288.0, life=59.412, gdp=972.7700352, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1107, country='Bangladesh', year=2002, pop=135656790.0, life=62.013, gdp=1136.39043, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1108, country='Bangladesh', year=2007, pop=150448339.0, life=64.062, gdp=1391.253792, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=1109, country='Belgium', year=1952, pop=8730405.0, life=68.0, gdp=8343.105127, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1110, country='Belgium', year=1957, pop=8989111.0, life=69.24, gdp=9714.960623, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1111, country='Belgium', year=1962, pop=9218400.0, life=70.25, gdp=10991.20676, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1112, country='Belgium', year=1967, pop=9556500.0, life=70.94, gdp=13149.04119, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1113, country='Belgium', year=1972, pop=9709100.0, life=71.44, gdp=16672.14356, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1114, country='Belgium', year=1977, pop=9821800.0, life=72.8, gdp=19117.97448, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1115, country='Belgium', year=1982, pop=9856303.0, life=73.93, gdp=20979.84589, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1116, country='Belgium', year=1987, pop=9870200.0, life=75.35, gdp=22525.56308, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1117, country='Belgium', year=1992, pop=10045622.0, life=76.46, gdp=25575.57069, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1118, country='Belgium', year=1997, pop=10199787.0, life=77.53, gdp=27561.19663, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1119, country='Belgium', year=2002, pop=10311970.0, life=78.32, gdp=30485.88375, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1120, country='Belgium', year=2007, pop=10392226.0, life=79.441, gdp=33692.60508, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=1121, country='Benin', year=1952, pop=1738315.0, life=38.223, gdp=1062.7522, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1122, country='Benin', year=1957, pop=1925173.0, life=40.358, gdp=959.6010805, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1123, country='Benin', year=1962, pop=nan, life=42.618, gdp=949.4990641, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1124, country='Benin', year=1967, pop=2427334.0, life=44.885, gdp=1035.831411, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1125, country='Benin', year=1972, pop=2761407.0, life=47.014, gdp=1085.796879, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1126, country='Benin', year=1977, pop=3168267.0, life=49.19, gdp=1029.161251, continent='Africa', lifecheck1='50 or below')
Pandas(Index=1127, country='Benin', year=1982, pop=3641603.0, life=50.904, gdp=1277.897616, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1128, country='Benin', year=1987, pop=4243788.0, life=52.337, gdp=1225.85601, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1129, country='Benin', year=1992, pop=4981671.0, life=53.919, gdp=1191.207681, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1130, country='Benin', year=1997, pop=6066080.0, life=54.777, gdp=1232.975292, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1131, country='Benin', year=2002, pop=7026113.0, life=54.406, gdp=1372.877931, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1132, country='Benin', year=2007, pop=8078314.0, life=56.728, gdp=1441.284873, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=1133, country='Bolivia', year=1952, pop=2883315.0, life=40.414, gdp=2677.326347, continent='Americas', lifecheck1='50 or below')
Pandas(Index=1134, country='Bolivia', year=1957, pop=3211738.0, life=41.89, gdp=2127.686326, continent='Americas', lifecheck1='50 or below')
Pandas(Index=1135, country='Bolivia', year=1962, pop=3593918.0, life=43.428, gdp=2180.972546, continent='Americas', lifecheck1='50 or below')
Pandas(Index=1136, country='Bolivia', year=1967, pop=4040665.0, life=45.032, gdp=2586.886053, continent='Americas', lifecheck1='50 or below')
Pandas(Index=1137, country='Bolivia', year=1972, pop=4565872.0, life=46.714, gdp=2980.331339, continent='Americas', lifecheck1='50 or below')
Pandas(Index=1138, country='Bolivia', year=1977, pop=5079716.0, life=50.023, gdp=3548.097832, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=1139, country='Bolivia', year=1982, pop=5642224.0, life=53.859, gdp=3156.510452, continent='Americas', lifecheck1='Greater than 50')

Pandas(Index=2540, country='Togo', year=1967, pop=1735550, life=46.769, gdp=1477.59676, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2541, country='Togo', year=1972, pop=2056351, life=49.759, gdp=1649.660188, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2542, country='Togo', year=1977, pop=2308582, life=52.887, gdp=1532.776998, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2543, country='Togo', year=1982, pop=2644765, life=55.471, gdp=1344.577953, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2544, country='Togo', year=1987, pop=3154264, life=56.941, gdp=1202.201361, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2545, country='Togo', year=1992, pop=3747553, life=58.061, gdp=1034.298904, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2546, country='Togo', year=1997, pop=4320890, life=58.39, gdp=982.2869243, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2547, country='Togo', year=2002, pop=4977378, life=57.561, gdp=886.2205765, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2548, country='Togo', year=2007, pop=5701579, life=58.42, gdp=882.9699438, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2549, country='Trinidad and Tobago', year=1952, pop=662850, life=59.1, gdp=3023.271928, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2550, country='Trinidad and Tobago', year=1957, pop=764900, life=61.8, gdp=4100.3934, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2551, country='Trinidad and Tobago', year=1962, pop=887498, life=64.9, gdp=4997.523971, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2552, country='Trinidad and Tobago', year=1967, pop=960155, life=65.4, gdp=5621.368472, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2553, country='Trinidad and Tobago', year=1972, pop=975199, life=65.9, gdp=6619.551419, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2554, country='Trinidad and Tobago', year=1977, pop=1039009, life=68.3, gdp=7899.554209, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2555, country='Trinidad and Tobago', year=1982, pop=1116479, life=68.832, gdp=9119.528607, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2556, country='Trinidad and Tobago', year=1987, pop=1191336, life=69.582, gdp=7388.597823, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2557, country='Trinidad and Tobago', year=1992, pop=1183669, life=69.862, gdp=7370.990932, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2558, country='Trinidad and Tobago', year=1997, pop=1138101, life=69.465, gdp=8792.573126, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2559, country='Trinidad and Tobago', year=2002, pop=nan, life=68.976, gdp=11460.60023, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2560, country='Trinidad and Tobago', year=2007, pop=1056608, life=69.819, gdp=18008.50924, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2561, country='Tunisia', year=1952, pop=3647735, life=44.6, gdp=1468.475631, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2562, country='Tunisia', year=1957, pop=3950849, life=47.1, gdp=1395.232468, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2563, country='Tunisia', year=1962, pop=4286552, life=49.579, gdp=1660.30321, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2564, country='Tunisia', year=1967, pop=4786986, life=52.053, gdp=1932.360167, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2565, country='Tunisia', year=1972, pop=5303507, life=55.602, gdp=2753.285994, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2566, country='Tunisia', year=1977, pop=6005061, life=59.837, gdp=3120.876811, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2567, country='Tunisia', year=1982, pop=6734098, life=64.048, gdp=3560.233174, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2568, country='Tunisia', year=1987, pop=7724976, life=66.894, gdp=3810.419296, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2569, country='Tunisia', year=1992, pop=8523077, life=70.001, gdp=4332.720164, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2570, country='Tunisia', year=1997, pop=9231669, life=71.973, gdp=4876.798614, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2571, country='Tunisia', year=2002, pop=9770575, life=73.042, gdp=5722.895655, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2572, country='Tunisia', year=2007, pop=10276158, life=73.923, gdp=7092.923025, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2573, country='Turkey', year=1952, pop=22235677, life=43.585, gdp=1969.10098, continent='Europe', lifecheck1='50 or below')
Pandas(Index=2574, country='Turkey', year=1957, pop=25670939, life=48.079, gdp=2218.754257, continent='Europe', lifecheck1='50 or below')
Pandas(Index=2575, country='Turkey', year=1962, pop=29788695, life=52.098, gdp=2322.869908, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2576, country='Turkey', year=1967, pop=33411317, life=54.336, gdp=2826.356387, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2577, country='Turkey', year=1972, pop=37492953, life=57.005, gdp=3450.69638, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2578, country='Turkey', year=1977, pop=42404033, life=59.507, gdp=4269.122326, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2579, country='Turkey', year=1982, pop=nan, life=61.036, gdp=4241.356344, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2580, country='Turkey', year=1987, pop=52881328, life=63.108, gdp=5089.043686, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2581, country='Turkey', year=1992, pop=58179144, life=66.146, gdp=5678.348271, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2582, country='Turkey', year=1997, pop=63047647, life=68.835, gdp=6601.429915, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2583, country='Turkey', year=2002, pop=67308928, life=70.845, gdp=6508.085718, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2584, country='Turkey', year=2007, pop=71158647, life=71.777, gdp=8458.276384, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2585, country='Uganda', year=1952, pop=5824797, life=39.978, gdp=734.753484, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2586, country='Uganda', year=1957, pop=6675501, life=42.571, gdp=774.3710692, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2587, country='Uganda', year=1962, pop=7688797, life=45.344, gdp=767.2717398, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2588, country='Uganda', year=1967, pop=8900294, life=48.051, gdp=908.9185217, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2589, country='Uganda', year=1972, pop=10190285, life=51.016, gdp=950.735869, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2590, country='Uganda', year=1977, pop=11457758, life=50.35, gdp=843.7331372, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2591, country='Uganda', year=1982, pop=12939400, life=49.849, gdp=682.2662268, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2592, country='Uganda', year=1987, pop=15283050, life=51.509, gdp=617.7244065, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2593, country='Uganda', year=1992, pop=18252190, life=48.825, gdp=644.1707969, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2594, country='Uganda', year=1997, pop=21210254, life=44.578, gdp=816.559081, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2595, country='Uganda', year=2002, pop=24739869, life=47.813, gdp=927.7210018, continent='Africa', lifecheck1='50 or below')
Pandas(Index=2596, country='Uganda', year=2007, pop=29170398, life=51.542, gdp=1056.380121, continent='Africa', lifecheck1='Greater than 50')
Pandas(Index=2597, country='United Kingdom', year=1952, pop=nan, life=69.18, gdp=9979.508487, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2598, country='United Kingdom', year=1957, pop=51430000, life=70.42, gdp=11283.17795, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2599, country='United Kingdom', year=1962, pop=53292000, life=70.76, gdp=12477.17707, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2600, country='United Kingdom', year=1967, pop=54959000, life=71.36, gdp=14142.85089, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2601, country='United Kingdom', year=1972, pop=56079000, life=72.01, gdp=15895.11641, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2602, country='United Kingdom', year=1977, pop=56179000, life=72.76, gdp=17428.74846, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2603, country='United Kingdom', year=1982, pop=56339704, life=74.04, gdp=18232.42452, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2604, country='United Kingdom', year=1987, pop=56981620, life=75.007, gdp=21664.78767, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2605, country='United Kingdom', year=1992, pop=57866349, life=76.42, gdp=22705.09254, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2606, country='United Kingdom', year=1997, pop=58808266, life=77.218, gdp=26074.53136, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2607, country='United Kingdom', year=2002, pop=59912431, life=78.471, gdp=29478.99919, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2608, country='United Kingdom', year=2007, pop=60776238, life=79.425, gdp=33203.26128, continent='Europe', lifecheck1='Greater than 50')
Pandas(Index=2609, country='United States', year=1952, pop=157553000, life=68.44, gdp=13990.48208, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2610, country='United States', year=1957, pop=171984000, life=69.49, gdp=14847.12712, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2611, country='United States', year=1962, pop=186538000, life=70.21, gdp=16173.14586, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2612, country='United States', year=1967, pop=198712000, life=70.76, gdp=19530.36557, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2613, country='United States', year=1972, pop=nan, life=71.34, gdp=21806.03594, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2614, country='United States', year=1977, pop=220239000, life=73.38, gdp=24072.63213, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2615, country='United States', year=1982, pop=232187835, life=74.65, gdp=25009.55914, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2616, country='United States', year=1987, pop=242803533, life=75.02, gdp=29884.35041, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2617, country='United States', year=1992, pop=256894189, life=76.09, gdp=32003.93224, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2618, country='United States', year=1997, pop=272911760, life=76.81, gdp=35767.43303, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2619, country='United States', year=2002, pop=287675526, life=77.31, gdp=39097.09955, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2620, country='United States', year=2007, pop=301139947, life=78.242, gdp=42951.65309, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2621, country='Uruguay', year=1952, pop=2252965, life=66.071, gdp=5716.766744, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2622, country='Uruguay', year=1957, pop=2424959, life=67.044, gdp=6150.772969, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2623, country='Uruguay', year=1962, pop=2598466, life=68.253, gdp=5603.357717, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2624, country='Uruguay', year=1967, pop=2748579, life=68.468, gdp=5444.61962, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2625, country='Uruguay', year=1972, pop=2829526, life=68.673, gdp=5703.408898, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2626, country='Uruguay', year=1977, pop=2873520, life=69.481, gdp=6504.339663, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2627, country='Uruguay', year=1982, pop=2953997, life=70.805, gdp=6920.223051, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2628, country='Uruguay', year=1987, pop=3045153, life=71.918, gdp=7452.398969, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2629, country='Uruguay', year=1992, pop=3149262, life=72.752, gdp=8137.004775, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2630, country='Uruguay', year=1997, pop=nan, life=74.223, gdp=9230.240708, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2631, country='Uruguay', year=2002, pop=3363085, life=75.307, gdp=7727.002004, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2632, country='Uruguay', year=2007, pop=3447496, life=76.384, gdp=10611.46299, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2633, country='Venezuela', year=1952, pop=5439568, life=55.088, gdp=7689.799761, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2634, country='Venezuela', year=1957, pop=6702668, life=57.907, gdp=9802.466526, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2635, country='Venezuela', year=1962, pop=8143375, life=60.77, gdp=8422.974165, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2636, country='Venezuela', year=1967, pop=9709552, life=63.479, gdp=9541.474188, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2637, country='Venezuela', year=1972, pop=11515649, life=65.712, gdp=10505.25966, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2638, country='Venezuela', year=1977, pop=13503563, life=67.456, gdp=13143.95095, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2639, country='Venezuela', year=1982, pop=15620766, life=68.557, gdp=11152.41011, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2640, country='Venezuela', year=1987, pop=17910182, life=70.19, gdp=9883.584648, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2641, country='Venezuela', year=1992, pop=20265563, life=71.15, gdp=10733.92631, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2642, country='Venezuela', year=1997, pop=22374398, life=72.146, gdp=10165.49518, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2643, country='Venezuela', year=2002, pop=24287670, life=72.766, gdp=8605.047831, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2644, country='Venezuela', year=2007, pop=26084662, life=73.747, gdp=11415.80569, continent='Americas', lifecheck1='Greater than 50')
Pandas(Index=2645, country='Vietnam', year=1952, pop=26246839, life=40.412, gdp=605.0664917, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2646, country='Vietnam', year=1957, pop=28998543, life=42.887, gdp=676.2854478, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2647, country='Vietnam', year=1962, pop=33796140, life=45.363, gdp=772.0491602, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2648, country='Vietnam', year=1967, pop=39463910, life=47.838, gdp=637.1232887, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2649, country='Vietnam', year=1972, pop=nan, life=50.254, gdp=699.5016441, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2650, country='Vietnam', year=1977, pop=50533506, life=55.764, gdp=713.5371196, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2651, country='Vietnam', year=1982, pop=56142181, life=58.816, gdp=707.2357863, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2652, country='Vietnam', year=1987, pop=62826491, life=62.82, gdp=820.7994449, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2653, country='Vietnam', year=1992, pop=69940728, life=67.662, gdp=989.0231487, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2654, country='Vietnam', year=1997, pop=76048996, life=70.672, gdp=1385.896769, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2655, country='Vietnam', year=2002, pop=80908147, life=73.017, gdp=1764.456677, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2656, country='Vietnam', year=2007, pop=85262356, life=74.249, gdp=2441.576404, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2657, country='West Bank and Gaza', year=1952, pop=1030585, life=43.16, gdp=1515.592329, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2658, country='West Bank and Gaza', year=1957, pop=1070439, life=45.671, gdp=1827.067742, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2659, country='West Bank and Gaza', year=1962, pop=1133134, life=48.127, gdp=2198.956312, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2660, country='West Bank and Gaza', year=1967, pop=1142636, life=51.631, gdp=2649.715007, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2661, country='West Bank and Gaza', year=1972, pop=1089572, life=56.532, gdp=3133.409277, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2662, country='West Bank and Gaza', year=1977, pop=1261091, life=60.765, gdp=3682.831494, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2663, country='West Bank and Gaza', year=1982, pop=1425876, life=64.406, gdp=4336.032082, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2664, country='West Bank and Gaza', year=1987, pop=1691210, life=67.046, gdp=5107.197384, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2665, country='West Bank and Gaza', year=1992, pop=2104779, life=69.718, gdp=6017.654756, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2666, country='West Bank and Gaza', year=1997, pop=nan, life=71.096, gdp=7110.667619, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2667, country='West Bank and Gaza', year=2002, pop=3389578, life=72.37, gdp=4515.487575, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2668, country='West Bank and Gaza', year=2007, pop=4018332, life=73.422, gdp=3025.349798, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2669, country='Yemen, Rep.', year=1952, pop=4963829, life=32.548, gdp=781.7175761, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2670, country='Yemen, Rep.', year=1957, pop=5498090, life=33.97, gdp=804.8304547, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2671, country='Yemen, Rep.', year=1962, pop=6120081, life=35.18, gdp=825.6232006, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2672, country='Yemen, Rep.', year=1967, pop=6740785, life=36.984, gdp=862.4421463, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2673, country='Yemen, Rep.', year=1972, pop=7407075, life=39.848, gdp=1265.047031, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2674, country='Yemen, Rep.', year=1977, pop=8403990, life=44.175, gdp=1829.765177, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2675, country='Yemen, Rep.', year=1982, pop=9657618, life=49.113, gdp=1977.55701, continent='Asia', lifecheck1='50 or below')
Pandas(Index=2676, country='Yemen, Rep.', year=1987, pop=11219340, life=52.922, gdp=1971.741538, continent='Asia', lifecheck1='Greater than 50')
Pandas(Index=2677, country='Yemen, Rep.', year=1992, pop=13367997, life=55.599, gdp=1879.496673, continent='Asia', lifecheck1='Greater than 50')

In [95]:
df.loc[df['life']>50,'lifecheck2'] = 'Greater than 50'

D:\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
D:\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [96]:
df

,country,year,pop,life,gdp,continent,lifecheck1,lifecheck2
index,,,,,,,,
1000,Afghanistan,1952,8.42533e+06,28.801,779.445,Asia,50 or below,NaN
1001,Afghanistan,1957,9.24093e+06,NaN,820.853,Asia,50 or below,NaN
1003,Afghanistan,1962,1.02671e+07,31.997,853.101,Asia,50 or below,NaN
1004,Afghanistan,1967,1.1538e+07,34.02,836.197,Asia,50 or below,NaN
1005,Afghanistan,1972,1.30795e+07,36.088,739.981,Asia,50 or below,NaN
...,...,...,...,...,...,...,...,...
2700,Zimbabwe,1987,9216418,62.351,706.157,Africa,Greater than 50,Greater than 50
2701,Zimbabwe,1992,10704340,60.377,693.421,Africa,Greater than 50,Greater than 50
2702,Zimbabwe,1997,11404948,46.809,792.45,Africa,50 or below,NaN
2703,Zimbabwe,2002,11926563,39.989,672.039,Africa,50 or below,NaN
2704,Zimbabwe,2007,NaN,43.487,469.709,Africa,50 or below,NaN

In [97]:
df['lifecheck2'].fillna('50 or below',inplace=True)

D:\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [98]:
df

,country,year,pop,life,gdp,continent,lifecheck1,lifecheck2
index,,,,,,,,
1000,Afghanistan,1952,8.42533e+06,28.801,779.445,Asia,50 or below,50 or below
1001,Afghanistan,1957,9.24093e+06,NaN,820.853,Asia,50 or below,50 or below
1003,Afghanistan,1962,1.02671e+07,31.997,853.101,Asia,50 or below,50 or below
1004,Afghanistan,1967,1.1538e+07,34.02,836.197,Asia,50 or below,50 or below
1005,Afghanistan,1972,1.30795e+07,36.088,739.981,Asia,50 or below,50 or below
...,...,...,...,...,...,...,...,...
2700,Zimbabwe,1987,9216418,62.351,706.157,Africa,Greater than 50,Greater than 50
2701,Zimbabwe,1992,10704340,60.377,693.421,Africa,Greater than 50,Greater than 50
2702,Zimbabwe,1997,11404948,46.809,792.45,Africa,50 or below,50 or below
2703,Zimbabwe,2002,11926563,39.989,672.039,Africa,50 or below,50 or below
2704,Zimbabwe,2007,NaN,43.487,469.709,Africa,50 or below,50 or below

In [99]:
start = datetime.now()
df.loc[df['life']>50,'lifecheck2'] =' Greater than 50'
df['lifecheck2'].fillna('50 or below',inplace=True)
print(datetime.now()-start)

0:00:00.003961

D:\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-99-039d17ed01a9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['life']>50,'lifecheck2'] =' Greater than 50'
D:\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [100]:
df['total_gdp'] = df['gdp'] * df['pop']

<ipython-input-100-f7ff0f3c5db8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_gdp'] = df['gdp'] * df['pop']

In [102]:
df

,country,year,pop,life,gdp,continent,lifecheck1,lifecheck2,total_gdp
index,,,,,,,,,
1000,Afghanistan,1952,8.42533e+06,28.801,779.445,Asia,50 or below,50 or below,6.56709e+09
1001,Afghanistan,1957,9.24093e+06,NaN,820.853,Asia,50 or below,50 or below,7.58545e+09
1003,Afghanistan,1962,1.02671e+07,31.997,853.101,Asia,50 or below,50 or below,8.75886e+09
1004,Afghanistan,1967,1.1538e+07,34.02,836.197,Asia,50 or below,50 or below,9.64801e+09
1005,Afghanistan,1972,1.30795e+07,36.088,739.981,Asia,50 or below,50 or below,9.67855e+09
...,...,...,...,...,...,...,...,...,...
2700,Zimbabwe,1987,9216418,62.351,706.157,Africa,Greater than 50,Greater than 50,6.50824e+09
2701,Zimbabwe,1992,10704340,60.377,693.421,Africa,Greater than 50,Greater than 50,7.42261e+09
2702,Zimbabwe,1997,11404948,46.809,792.45,Africa,50 or below,50 or below,9.03785e+09
2703,Zimbabwe,2002,11926563,39.989,672.039,Africa,50 or below,50 or below,8.01511e+09
2704,Zimbabwe,2007,NaN,43.487,469.709,Africa,50 or below,50 or below,NaN

In [120]:
df.columns

Index(['country', 'continent', 'year', 'population', 'life exp', 'gdp_cap'], dtype='object')

In [122]:
df.dtypes

country       object
continent     object
year          object
population    object
life exp      object
gdp_cap       object
dtype: object

In [107]:
temp = df[df['year']==df['year'].max()].groupby('continent').size()

In [108]:
temp

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
dtype: int64

In [123]:
temp = df.groupby('country')['life exp'].agg(lambda x:max(x)-min(x))

In [124]:
temp

country
Afghanistan           15.027
Albania               21.193
Algeria               29.224
Angola                12.716
Argentina             12.835
                       ...
Vietnam               33.837
West Bank and Gaza    30.262
Yemen, Rep.           30.150
Zambia                12.628
Zimbabwe              22.362
Name: life exp, Length: 142, dtype: float64

In [128]:
df['year'] = df.year.astype(int)

In [130]:
df['population'] = df.population.astype(float)

In [134]:
df['life'] = df.life.astype(float)
df['gdp_cap'] = df.gdp_cap.astype(float)

In [135]:
df.dtypes

country       object
continent     object
year           int32
pop          float64
life         float64
gdp_cap      float64
dtype: object

In [140]:
temp1 = pd.pivot_table(df,index='year',columns='continent',values='gdp_cap')

In [141]:
temp1

continent       Africa      Americas          Asia        Europe       Oceania
year
1952       1267.459693   4079.062552   5195.484004   5661.057435  10298.085650
1957       1385.236062   4616.043733   5787.732940   6963.012816  11598.522455
1962       1598.078825   4901.541870   5729.369625   8365.486814  12696.452430
1967       2068.494519   5668.253496   5971.173374  10143.823757  14495.021790
1972       2339.615674   6491.334139   8187.468699  12479.575246  16417.333380
1977       2655.967186   7352.007126   7791.314020  14283.979110  17283.957605
1982       2481.592960   7506.737088   7434.135157  15617.896551  18554.709840
1987       2282.668991   7793.400261   7608.226508  17214.310727  20448.040160
1992       2281.810333   8044.934406   8639.690248  17061.568084  20894.045885
1997       2378.759555   8889.300863   9834.093295  19076.781802  24024.175170
2002       2637.400837   9287.677107  10174.090397  21711.732422  26938.778040
2007       3089.032605  11003.031625  12473.026870  25054.481636  29810.188275

In [144]:
temp1 = pd.pivot_table(df,index=['continent','country'],columns='year',values='gdp_cap')

In [145]:
temp1

year                              1952          1957          1962  \
continent country
Africa    Algeria          2449.008185   3013.976023   2550.816880
          Angola           3520.610273   3827.940465   4269.276742
          Benin            1062.752200    959.601080    949.499064
          Botswana          851.241141    918.232535    983.653976
          Burkina Faso      543.255241    617.183465    722.512021
...                                ...           ...           ...
Europe    Switzerland     14734.232750  17909.489730  20431.092700
          Turkey           1969.100980   2218.754257   2322.869908
          United Kingdom   9979.508487  11283.177950  12477.177070
Oceania   Australia       10039.595640  10949.649590  12217.226860
          New Zealand     10556.575660  12247.395320  13175.678000

year                              1967          1972          1977  \
continent country
Africa    Algeria          3246.991771   4182.663766   4910.416756
          Angola           5522.776375   5473.288005   3008.647355
          Benin            1035.831411   1085.796879   1029.161251
          Botswana         1214.709294   2263.611114   3214.857818
          Burkina Faso      794.826560    854.735976    743.387037
...                                ...           ...           ...
Europe    Switzerland     22966.144320  27195.113040  26982.290520
          Turkey           2826.356387   3450.696380   4269.122326
          United Kingdom  14142.850890  15895.116410  17428.748460
Oceania   Australia       14526.124650  16788.629480  18334.197510
          New Zealand     14463.918930  16046.037280  16233.717700

year                              1982          1987          1992  \
continent country
Africa    Algeria          5745.160213   5681.358539   5023.216647
          Angola           2756.953672   2430.208311   2627.845685
          Benin            1277.897616   1225.856010   1191.207681
          Botswana         4551.142150   6205.883850   7954.111645
          Burkina Faso      807.198586    912.063142    931.752773
...                                ...           ...           ...
Europe    Switzerland     28397.715120  30281.704590  31871.530300
          Turkey           4241.356344   5089.043686   5678.348271
          United Kingdom  18232.424520  21664.787670  22705.092540
Oceania   Australia       19477.009280  21888.889030  23424.766830
          New Zealand     17632.410400  19007.191290  18363.324940

year                              1997          2002          2007
continent country
Africa    Algeria          4797.295051   5288.040382   6223.367465
          Angola           2277.140884   2773.287312   4797.231267
          Benin            1232.975292   1372.877931   1441.284873
          Botswana         8647.142313  11003.605080  12569.851770
          Burkina Faso      946.294962   1037.645221   1217.032994
...                                ...           ...           ...
Europe    Switzerland     32135.323010  34480.957710  37506.419070
          Turkey           6601.429915   6508.085718   8458.276384
          United Kingdom  26074.531360  29478.999190  33203.261280
Oceania   Australia       26997.936570  30687.754730  34435.367440
          New Zealand     21050.413770  23189.801350  25185.009110

[142 rows x 12 columns]

In [146]:
temp1.loc['Africa']

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,,,,,,,,,,,,
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994
Burundi,339.296459,379.564628,355.203227,412.977514,464.099504,556.103265,559.603231,621.818819,631.699878,463.115148,446.403513,430.070692
Cameroon,1172.667655,1313.048099,1399.607441,1508.453148,1684.146528,1783.432873,2367.983282,2602.664206,1793.163278,1694.337469,1934.011449,2042.095240
Central African Republic,1071.310713,1190.844328,1193.068753,1136.056615,1070.013275,1109.374338,956.752991,844.876350,747.905525,740.506332,738.690607,706.016537
Chad,1178.665927,1308.495577,1389.817618,1196.810565,1104.103987,1133.984950,797.908101,952.386129,1058.064300,1004.961353,1156.181860,1704.063724
Comoros,1102.990936,1211.148548,1406.648278,1876.029643,1937.577675,1172.603047,1267.100083,1315.980812,1246.907370,1173.618235,1075.811558,986.147879
"Congo, Dem. Rep.",780.542326,905.860230,896.314634,861.593242,904.896068,NaN,673.747818,672.774812,457.719181,312.188423,241.165876,277.551859
"Congo, Rep.",2125.621418,2315.056572,2464.783157,2677.939642,3213.152683,3259.178978,4879.507522,4201.194937,4016.239529,3484.164376,3484.061970,3632.557798
Cote d'Ivoire,1388.594732,1500.895925,1728.869428,2052.050473,2378.201111,2517.736547,2602.710169,2156.956069,1648.073791,1786.265407,1648.800823,1544.750112
Djibouti,2669.529475,2864.969076,3020.989263,3020.050513,3694.212352,3081.761022,2879.468067,2880.102568,2377.156192,1895.016984,1908.260867,2082.481567
Egypt,1418.822445,1458.915272,1693.335853,1814.880728,2024.008147,2785.493582,3503.729636,3885.460710,3794.755195,4173.181797,4754.604414,5581.180998
Equatorial Guinea,375.643123,426.096408,582.841971,915.596003,672.412257,958.566812,927.825343,966.896815,1132.055034,2814.480755,7703.495900,12154.089750
Eritrea,328.940557,344.161886,380.995843,468.794970,514.324208,505.753808,524.875849,521.134133,582.858510,913.470790,765.350001,641.369524
Ethiopia,362.146280,378.904163,419.456416,516.118644,566.243944,556.808383,577.860747,573.741314,421.353465,515.889401,530.053532,690.805576
Gabon,4293.476475,4976.198099,6631.459222,8358.761987,11401.948410,21745.573280,15113.361940,11864.408440,13522.157520,14722.841880,12521.713920,13206.484520
Gambia,485.230659,520.926711,599.650276,734.782912,756.086836,884.755251,835.809611,611.658861,665.624413,653.730170,NaN,752.749726
Ghana,911.298937,1043.561537,1190.041118,NaN,1178.223708,993.223957,876.032569,847.006113,925.060154,1005.245812,1111.984578,1327.608910
Guinea,510.196492,576.267025,686.373674,708.759541,741.666231,NaN,857.250358,805.572472,794.348438,869.449767,945.583584,942.654211
Guinea-Bissau,299.850319,431.790457,522.034373,715.580640,820.224588,764.725963,838.123967,736.415392,745.539871,796.664468,575.704718,579.231743
Kenya,853.540919,944.438315,896.966373,1056.736457,1222.359968,1267.613204,1348.225791,1361.936856,1341.921721,1360.485021,1287.514732,1463.249282
Lesotho,298.846212,335.997115,411.800627,498.639026,496.581592,745.369541,797.263107,773.993214,977.486273,1186.147994,1275.184575,1569.331442
Liberia,575.572996,620.969990,634.195163,713.603648,803.005454,640.322438,572.199569,506.113857,636.622919,609.173951,531.482368,414.507341
Libya,2387.548060,3448.284395,6757.030816,18772.751690,21011.497210,21951.211760,17364.275380,11770.589800,9640.138501,9467.446056,9534.677467,12057.499280
Madagascar,1443.011715,1589.202750,1643.387110,1634.047282,1748.562982,1544.228586,1302.878658,1155.441948,1040.676190,986.295896,894.637082,1044.770126
Malawi,369.165080,416.369806,427.901086,495.514781,584.621971,663.223677,632.803921,635.517363,563.200014,692.275810,665.423119,759.349910
Mali,452.336981,490.382187,496.174343,545.009887,581.368876,686.395269,618.014064,684.171558,739.014375,790.257985,951.409752,1042.581557
Mauritania,743.115910,846.120261,1055.896036,1421.145193,1586.851781,1497.492223,1481.150189,1421.603576,1361.369784,1483.136136,1579.019543,1803.151496
Mauritius,1967.955707,2034.037981,2529.067487,2475.387562,2575.484158,3710.982963,3688.037739,4783.586903,6058.253846,7425.705295,9021.815894,10956.991120
Morocco,1688.203570,1642.002314,1566.353493,1711.044770,1930.194975,2370.619976,2702.620356,2755.046991,2948.047252,2982.101858,3258.495584,3820.175230
Mozambique,468.526038,495.586833,556.686354,566.669154,724.917804,502.319733,462.211415,389.876185,410.896824,472.346077,633.617947,823.685621
Namibia,2423.780443,2621.448058,3173.215595,3793.694753,3746.080948,3876.485958,4191.100511,3693.731337,3804.537999,3899.524260,4072.324751,4811.060429
Niger,761.879376,835.523402,997.766113,1054.384891,954.209236,808.897073,909.722135,668.300023,581.182725,580.305209,601.074501,619.676892
Nigeria,1077.281856,1100.592563,1150.927478,1014.514104,1698.388838,1981.951806,1576.973750,1385.029563,1619.848217,1624.941275,1615.286395,2013.977305
Reunion,2718.885295,2769.451844,3173.723340,4021.175739,5047.658563,4319.804067,5267.219353,5303.377488,6101.255823,6071.941411,6316.165200,7670.122558
Rwanda,NaN,540.289398,597.473073,510.963714,590.580664,670.080601,881.570647,847.991217,737.068595,589.944505,785.653765,863.088464
Sao Tome and Principe,879.583586,860.736903,1071.551119,1384.840593,1532.985254,1737.561657,1890.218117,1516.525457,1428.777814,1339.076036,1353.092390,1598.435089
Senegal,1450.356983,1567.653006,1654.988723,1612.404632,1597.712056,1561.769116,1518.479984,1441.720720,1367.899369,1392.368347,1519.635262,1712.472136
Sierra Leone,879.787736,1004.484437,1116.639877,1206.043465,1353.759762,1348.285159,1465.010784,1294.447788,1068.696278,574.648158,699.489713,862.540756
Somalia,1135.749842,1258.147413,1369.488336,1284.733180,1254.576127,1450.992513,1176.807031,1093.244963,926.960296,930.596428,882.081822,926.141068
South Africa,4725.295531,5487.104219,5768.729717,7114.477971,7765.962636,8028.651439,8568.266228,7825.823398,7225.069258,7479.188244,7710.946444,9269.657808
Sudan,1615.991129,1770.337074,1959.593767,1687.997641,1659.652775,2202.988423,1895.544073,1507.819159,1492.197043,1632.210764,1993.398314,2602.394995
Swaziland,1148.376626,1244.708364,1856.182125,2613.101665,3364.836625,3781.410618,3895.384018,3984.839812,3553.022400,3876.768460,4128.116943,4513.480643
Tanzania,716.650072,698.535607,722.003807,848.218657,915.985059,962.492293,874.242607,831.822079,825.682454,789.186223,899.074211,1107.482182
Togo,859.808657,925.908320,1067.534810,1477.596760,1649.660188,1532.776998,1344.577953,1202.201361,1034.298904,982.286924,886.220576,882.969944
Tunisia,1468.475631,1395.232468,1660.303210,1932.360167,2753.285994,3120.876811,3560.233174,3810.419296,4332.720164,4876.798614,5722.895655,7092.923025
Uganda,734.753484,774.371069,767.271740,908.918522,950.735869,843.733137,682.266227,617.724406,644.170797,816.559081,927.721002,1056.380121
Zambia,1147.388831,1311.956766,1452.725766,1777.077318,1773.498265,1588.688299,1408.678565,1213.315116,1210.884633,1071.353818,1071.613938,1271.211593
Zimbabwe,406.884115,518.764268,527.272182,569.795071,799.362176,685.587682,788.855041,706.157306,693.420786,792.449960,672.038623,469.709298

In [147]:
temp1.loc['Africa','Algeria']

year
1952    2449.008185
1957    3013.976023
1962    2550.816880
1967    3246.991771
1972    4182.663766
1977    4910.416756
1982    5745.160213
1987    5681.358539
1992    5023.216647
1997    4797.295051
2002    5288.040382
2007    6223.367465
Name: (Africa, Algeria), dtype: float64

In [148]:
temp1 = pd.pivot_table(df,index='year',columns='continent',values='gdp_cap',aggfunc=np.sum)

In [149]:
temp1

continent,Africa,Americas,Asia,Europe,Oceania
year,,,,,
1952,64640.444347,101976.563805,171450.972133,169831.723043,20596.17130
1957,72032.275237,115401.093329,190995.187018,208890.384478,23197.04491
1962,83100.098892,122538.546760,189069.197618,250964.604429,25392.90486
1967,105493.220485,141706.337401,197048.721329,304314.712696,28990.04358
1972,121660.015058,162283.353476,270186.467082,374387.257394,32834.66676
1977,132798.359294,183800.178157,257113.362658,428519.373288,34567.91521
1982,129042.833907,187668.427202,245326.460197,468536.896537,37109.41968
1987,118698.787546,194835.006528,251071.474755,516429.321799,40896.08032
1992,118654.137329,201123.360138,285109.778175,511847.042526,41788.09177
1997,123695.496865,222232.521564,324525.078743,572303.454048,48048.35034
2002,134507.442663,232191.927683,335744.983087,651351.972673,53877.55608
2007,160629.695446,275075.790634,411609.886714,751634.449078,59620.37655

In [150]:
temp1 = pd.pivot_table(df,index='year',columns='continent',values='gdp_cap',aggfunc=[np.sum,np.mean])

In [151]:
temp1

                     sum                                               \
continent         Africa       Americas           Asia         Europe
year
1952        64640.444347  101976.563805  171450.972133  169831.723043
1957        72032.275237  115401.093329  190995.187018  208890.384478
1962        83100.098892  122538.546760  189069.197618  250964.604429
1967       105493.220485  141706.337401  197048.721329  304314.712696
1972       121660.015058  162283.353476  270186.467082  374387.257394
1977       132798.359294  183800.178157  257113.362658  428519.373288
1982       129042.833907  187668.427202  245326.460197  468536.896537
1987       118698.787546  194835.006528  251071.474755  516429.321799
1992       118654.137329  201123.360138  285109.778175  511847.042526
1997       123695.496865  222232.521564  324525.078743  572303.454048
2002       134507.442663  232191.927683  335744.983087  651351.972673
2007       160629.695446  275075.790634  411609.886714  751634.449078

                               mean                                            \
continent      Oceania       Africa      Americas          Asia        Europe
year
1952       20596.17130  1267.459693   4079.062552   5195.484004   5661.057435
1957       23197.04491  1385.236062   4616.043733   5787.732940   6963.012816
1962       25392.90486  1598.078825   4901.541870   5729.369625   8365.486814
1967       28990.04358  2068.494519   5668.253496   5971.173374  10143.823757
1972       32834.66676  2339.615674   6491.334139   8187.468699  12479.575246
1977       34567.91521  2655.967186   7352.007126   7791.314020  14283.979110
1982       37109.41968  2481.592960   7506.737088   7434.135157  15617.896551
1987       40896.08032  2282.668991   7793.400261   7608.226508  17214.310727
1992       41788.09177  2281.810333   8044.934406   8639.690248  17061.568084
1997       48048.35034  2378.759555   8889.300863   9834.093295  19076.781802
2002       53877.55608  2637.400837   9287.677107  10174.090397  21711.732422
2007       59620.37655  3089.032605  11003.031625  12473.026870  25054.481636


continent       Oceania
year
1952       10298.085650
1957       11598.522455
1962       12696.452430
1967       14495.021790
1972       16417.333380
1977       17283.957605
1982       18554.709840
1987       20448.040160
1992       20894.045885
1997       24024.175170
2002       26938.778040
2007       29810.188275

In [153]:
temp1 = pd.pivot_table(df,index='year',columns='continent',values='gdp_cap',aggfunc=[lambda life:max(life)-min(life)])

In [154]:
temp1

               <lambda>
continent        Africa      Americas          Asia        Europe     Oceania
year
1952        4426.449319  12592.764943  108051.35290  13760.699555   516.98002
1957        5151.107104  13302.724125  113173.13290  16555.500554  1297.74573
1962        6401.827589  14511.008501   95070.11176  18721.409021   958.45114
1967       18359.774176  18078.307904   80545.88326  20793.791897    62.20572
1972       20547.397706  20151.578994  108990.86700  24334.943290   742.59220
1977       21448.892027  22198.333199   58894.47714  23453.809215  2100.47981
1982       16902.063965  22998.399591   33269.17525  24766.834398  1844.59888
1987       11474.532255  28061.334415   27733.42998  27802.042065  2881.69774
1992       13111.260696  30547.622723   34585.91959  31468.223249  5061.44189
1997       14410.653457  34425.706099   39885.61996  38090.109726  5947.52280
2002       12280.548044  37826.734618   35412.10540  40079.763513  7497.95338
2007       12928.932661  41750.015936   46362.98978  43420.160644  9250.35833

In [155]:
temp = df.copy()

In [156]:
temp['life1'] = temp['life'].shift(4)

In [157]:
temp

           country continent  year         pop    life     gdp_cap   life1
index
1001   Afghanistan      Asia  1952   8425333.0  28.801  779.445314     NaN
1002   Afghanistan      Asia  1957   9240934.0     NaN  820.853030     NaN
1003   Afghanistan      Asia  1962  10267083.0  31.997  853.100710     NaN
1004   Afghanistan      Asia  1967  11537966.0  34.020  836.197138     NaN
1005   Afghanistan      Asia  1972  13079460.0  36.088  739.981106  28.801
...            ...       ...   ...         ...     ...         ...     ...
2700      Zimbabwe    Africa  1987   9216418.0  62.351  706.157306  53.995
2701      Zimbabwe    Africa  1992  10704340.0  60.377  693.420786  55.635
2702      Zimbabwe    Africa  1997  11404948.0  46.809  792.449960  57.674
2703      Zimbabwe    Africa  2002  11926563.0  39.989  672.038623  60.363
2704      Zimbabwe    Africa  2007         NaN  43.487  469.709298  62.351

[1704 rows x 7 columns]

In [158]:
temp['life1'] = temp['life'].shift(-4)

In [159]:
temp

           country continent  year         pop    life     gdp_cap   life1
index
1001   Afghanistan      Asia  1952   8425333.0  28.801  779.445314  36.088
1002   Afghanistan      Asia  1957   9240934.0     NaN  820.853030  38.438
1003   Afghanistan      Asia  1962  10267083.0  31.997  853.100710  39.854
1004   Afghanistan      Asia  1967  11537966.0  34.020  836.197138  40.822
1005   Afghanistan      Asia  1972  13079460.0  36.088  739.981106  41.674
...            ...       ...   ...         ...     ...         ...     ...
2700      Zimbabwe    Africa  1987   9216418.0  62.351  706.157306  43.487
2701      Zimbabwe    Africa  1992  10704340.0  60.377  693.420786     NaN
2702      Zimbabwe    Africa  1997  11404948.0  46.809  792.449960     NaN
2703      Zimbabwe    Africa  2002  11926563.0  39.989  672.038623     NaN
2704      Zimbabwe    Africa  2007         NaN  43.487  469.709298     NaN

[1704 rows x 7 columns]

In [160]:
temp['life_per'] = (temp['life'] - temp['life'].shift(1))/temp['life'].shift(1)
temp['life_per'] = temp['life_per'] * 100

In [161]:
temp

,country,continent,year,pop,life,gdp_cap,life1,life_per
index,,,,,,,,
1001,Afghanistan,Asia,1952,8425333.0,28.801,779.445314,36.088,NaN
1002,Afghanistan,Asia,1957,9240934.0,NaN,820.853030,38.438,NaN
1003,Afghanistan,Asia,1962,10267083.0,31.997,853.100710,39.854,NaN
1004,Afghanistan,Asia,1967,11537966.0,34.020,836.197138,40.822,6.322468
1005,Afghanistan,Asia,1972,13079460.0,36.088,739.981106,41.674,6.078777
...,...,...,...,...,...,...,...,...
2700,Zimbabwe,Africa,1987,9216418.0,62.351,706.157306,43.487,3.293408
2701,Zimbabwe,Africa,1992,10704340.0,60.377,693.420786,NaN,-3.165948
2702,Zimbabwe,Africa,1997,11404948.0,46.809,792.449960,NaN,-22.472133
2703,Zimbabwe,Africa,2002,11926563.0,39.989,672.038623,NaN,-14.569848
2704,Zimbabwe,Africa,2007,NaN,43.487,469.709298,NaN,8.747406

In [162]:
temp.loc[temp['country'] == temp['country'].shift(1),'life_per_correct'] = ((temp['life'] - temp['life'].shift(1))/temp['life'].shift(1))*100

In [164]:
temp.head(20)

,country,continent,year,pop,life,gdp_cap,life1,life_per,life_per_correct
index,,,,,,,,,
1001,Afghanistan,Asia,1952,8425333.0,28.801,779.445314,36.088,NaN,NaN
1002,Afghanistan,Asia,1957,9240934.0,NaN,820.853030,38.438,NaN,NaN
1003,Afghanistan,Asia,1962,10267083.0,31.997,853.100710,39.854,NaN,NaN
1004,Afghanistan,Asia,1967,11537966.0,34.020,836.197138,40.822,6.322468,6.322468
1005,Afghanistan,Asia,1972,13079460.0,36.088,739.981106,41.674,6.078777,6.078777
1006,Afghanistan,Asia,1977,14880372.0,38.438,786.113360,41.763,6.511860,6.511860
1007,Afghanistan,Asia,1982,NaN,39.854,978.011439,42.129,3.683855,3.683855
1008,Afghanistan,Asia,1987,13867957.0,40.822,852.395945,43.828,2.428865,2.428865
1009,Afghanistan,Asia,1992,16317921.0,41.674,649.341395,55.230,2.087110,2.087110
1010,Afghanistan,Asia,1997,22227415.0,41.763,635.341351,59.280,0.213562,0.213562
1011,Afghanistan,Asia,2002,25268405.0,42.129,726.734055,64.820,0.876374,0.876374
1012,Afghanistan,Asia,2007,31889923.0,43.828,974.580338,66.220,4.032851,4.032851
1013,Albania,Europe,1952,1282697.0,55.230,1601.056136,67.690,26.015333,NaN
1014,Albania,Europe,1957,1476505.0,59.280,1942.284244,68.930,7.332971,7.332971
1015,Albania,Europe,1962,1728137.0,64.820,2312.888958,70.420,9.345479,9.345479
1016,Albania,Europe,1967,1984060.0,66.220,2760.196931,72.000,2.159827,2.159827
1017,Albania,Europe,1972,2263554.0,67.690,3313.422188,71.581,2.219873,2.219873
1018,Albania,Europe,1977,2509048.0,68.930,3533.003910,72.950,1.831881,1.831881
1019,Albania,Europe,1982,2780097.0,70.420,3630.880722,75.651,2.161613,2.161613
1020,Albania,Europe,1987,3075321.0,72.000,3738.932735,76.423,2.243681,2.243681

In [166]:
df['lifecheck3'] = np.where(df['life']>50,'Greater than 50','50 or low')

In [167]:
df

,country,continent,year,pop,life,gdp_cap,lifecheck3
index,,,,,,,
1001,Afghanistan,Asia,1952,8425333.0,28.801,779.445314,50 or low
1002,Afghanistan,Asia,1957,9240934.0,NaN,820.853030,50 or low
1003,Afghanistan,Asia,1962,10267083.0,31.997,853.100710,50 or low
1004,Afghanistan,Asia,1967,11537966.0,34.020,836.197138,50 or low
1005,Afghanistan,Asia,1972,13079460.0,36.088,739.981106,50 or low
...,...,...,...,...,...,...,...
2700,Zimbabwe,Africa,1987,9216418.0,62.351,706.157306,Greater than 50
2701,Zimbabwe,Africa,1992,10704340.0,60.377,693.420786,Greater than 50
2702,Zimbabwe,Africa,1997,11404948.0,46.809,792.449960,50 or low
2703,Zimbabwe,Africa,2002,11926563.0,39.989,672.038623,50 or low
2704,Zimbabwe,Africa,2007,NaN,43.487,469.709298,50 or low

In [168]:
count = pd.crosstab(df['continent'],df['lifecheck3'])

In [169]:
count

lifecheck3  50 or low  Greater than 50
continent
Africa            376              248
Americas           29              271
Asia               91              305
Europe              8              352
Oceania             0               24

In [ ]:
#decorators

In [170]:
def parent():
    print('Parent')
    
    def first_child():
        print('first')
        
    def second_child():
        print('second')
        
    second_child()
    first_child()

In [171]:
parent()

Parent
second
first

In [172]:
first_child()

NameError: name 'first_child' is not defined

In [173]:
def parent(num):
    def first_child():
        return 'Hi'
    
    def second_child():
        return 'Hello'
    
    if num == 1:
        return first_child
    else:
        return second_child

In [174]:
parent(1)

In [175]:
parent(2)

In [ ]:
#incomplete
def outer_function():
    message='Hi'
    
    def inner_function():
        print(msg)
    return inner_function

In [ ]:
#decorator

In [177]:
def my_decorator(func):
    def wrapper():
        print('Before')
        func()
        print('After')
    return wrapper

def say_hi():
    print ('Hi')

In [178]:
say_hi = my_decorator(say_hi)
say_hi()

Before
Hi
After

In [179]:
def my_decorator(func):
    def wrapper():
        print('Before')
        func()
        print('After')
    return wrapper

@my_decorator
def say_hi():
    print ('Hi')
    
say_hi()

Before
Hi
After

In [180]:
def do_twice(func):
    def wrapper_do_twice():
        func()
        func()
    return wrapper_do_twice

@do_twice
def say_hi():
    print ('Hi')
    
say_hi()

Hi
Hi

In [187]:
#error
def do_twice(func):
    def wrapper_do_twice():
        func()
        func()
    return wrapper_do_twice

@do_twice
def greet(name):
    print(f"Hello {name}")
    
greet('John')

TypeError: wrapper_do_twice() takes 0 positional arguments but 1 was given

In [189]:
import functools

def decorator(func):
    @functools.wraps(func)
    def wrapper_decorator(*args, **kwargs):
        value = func(*args, **kwargs)
        return value
    return wrapper_decorator

In [191]:
import time

def timer(func):
    @functools.wraps(func)
    def wrapper_timer(*args, **kwargs):
        start_time = time.perf_counter()
        value = func(*args, **kwargs)
        end_time = time.perf_counter()
        run_time = end_time - start_time
        print(f"Finished {func.__name__!r} in {run_time: .4f} secs")
        return value
    return wrapper_timer

@timer
def waste(num_times):
    for _ in range(num_times):
        sum([i**2 for i in  range(10000)])
        
waste(1000)
waste.__doc__
timer.__doc__

Finished 'waste' in  2.3403 secs

In [ ]:
#incomplete
def nat_num(f):
    def helper(x):
        if type(x) == int and x > 0:
            return f(x)
        else:
            raise Exception("Arg not an int")

In [ ]:
#set

In [192]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [193]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [194]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [195]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [196]:
a.intersection(b)

{3, 4, 5}

In [197]:
a & b

{3, 4, 5}

In [198]:
a - b

{1, 2}

In [ ]:
#Numpy Introcution

In [199]:
import numpy as np

In [200]:
my_arr = np.arange(10000000)

In [201]:
my_list = list(range(10000000))

In [202]:
%time for _ in range(10): my_arr2 = my_arr * 2

Wall time: 240 ms

In [203]:
%time for _ in range(10): my_list2 = [x * 2 for x in my_list]

Wall time: 9.54 s

In [204]:
data = np.random.randn(2,3)

In [206]:
data.shape

(2, 3)

In [207]:
data.dtype

dtype('float64')

In [208]:
import sqlite3

In [210]:
connection = sqlite3.connect('company.db')

In [211]:
cursor = connection.cursor()

In [213]:
sql_command =  """CREATE TABLE employee (
staff_num INTEGER PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(20),
gender CHAR(1),
joining DATE,
birth_date DATE
);"""

In [214]:
cursor.execute(sql_command)

In [217]:
sql_command ="""INSERT INTO employee(staff_num, fname, lname, gender, birth_date) VALUES
(NULL,"VIVEK", "SALUNKHE", "M", "1997-04-14")"""

In [218]:
cursor.execute(sql_command)

In [219]:
connection.commit()

In [220]:
connection.close()

In [221]:
connection = sqlite3.connect('company.db')
cursor = connection.cursor()
sql_command = """SELECT * from employee"""

In [223]:
cursor.execute(sql_command)

In [225]:
result = cursor.fetchall()

In [226]:
result

[(1, 'VIVEK', 'SALUNKHE', 'M', None, '1997-04-14')]

In [227]:
df = pd.read_sql_query("SELECT * from employee",connection)

In [228]:
df

   staff_num  fname     lname gender joining  birth_date
0          1  VIVEK  SALUNKHE      M    None  1997-04-14

In [229]:
connection.close()